<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="contentScript">
<script th:inline="javascript">
$(document).ready(function() {
	var _ossName = [[${ossInfo.ossName}]];
	_ossName = _ossName.split("&#034;").join("\"").split("&#039;").join("\'");
	var ossList = [];

	$.ajax({
		url : '/oss/getOssListByName',
		dataType : 'json',
		cache : false,
		data : {ossName : _ossName},
		contentType : 'application/json',
		success : function(data){
            loading.hide();
			$('#_ossList').jqGrid({
				datatype: 'local',
				data : data.ossList,
				jsonReader:{
					repeatitems: false,
					id: 'ossId',
				},
				colNames: ['ID','OSS Name (version)','OSS Version', 'Declared License'],
				colModel: [
					{name: 'ossId', index: 'ossId', key:true, hidden:true},
					{name: 'ossNameVerStr', index: 'ossNameVerStr', align: 'left'},
					{name: 'ossVersion', index: 'ossVersion', width: 100, align: 'left', hidden:true},
					{name: 'licenseName', index: 'licenseName', width: 300, align: 'left'}
				],
				onSelectRow: function(id){
					$.ajax({
						url : '/oss/ossDetailViewAjax',
						dataType : 'html',
						cache : false,
						data : {ossId : id},
						success : function(detailResult){
                            loading.hide();
							$("#ossDetailInfo").html(detailResult);
						},
						error : function(request,status,error){
							alertify.error([[#{msg.common.valid2}]], 0);
						}
					});
				},
				autowidth: true,
				gridview: true,
				viewrecords: true,
				loadonce: true,
				height: 'auto',
				rowNum: [[${@CommonFunction.getCoConstDefVal("DISP_PAGENATION_MAX")}]],
				sortname: 'ossVersion',
				sortorder: 'desc',
				loadComplete: function(data){
                    loading.hide();
					var isSelectedRow = false;
					
					if (data.records > 0) {
						if (data.records < 11) {
							$(".jqGridSet").height(30*data.records + 60);
						} else {
							$(".jqGridSet").height(360);
						}
						var rowIdx = 0, rows = this.rows, rowsCount = rows.length, row, rowid, rowData, className;
						
						for (var _idx=0;_idx<rowsCount;_idx++) {
							row = rows[_idx];
							className = row.className;
							
							if (className.indexOf('jqgrow') !== -1) {
								rowid = row.id;
								rowData = data.rows[rowIdx++];
								
								if (rowData.ossVersion == [[${ossInfo.ossVersion}]]) {
									$('#_ossList').jqGrid("setSelection", rowid);
									$("#_ossList #" +rowid).focus();

									isSelectedRow = true;

									break;
								}
							}
						}
						
						if (!isSelectedRow) {
							for(var _idx=0;_idx<rowsCount;_idx++) {
								row = rows[_idx];
								className = row.className;

								if (className.indexOf('jqgrow') !== -1) {
									rowid = row.id;
									rowData = data.rows[rowIdx++];
									$('#_ossList').jqGrid("setSelection", rowid);

									break;
								}
							}
						}
					}
					
					resizingJqGidSet();
				}
			});
		},
		error : function(){
			alertify.error([[#{msg.common.valid2}]], 0);
		}
	});
	
});
</script>
</th:block>
</html>