<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="script">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
<script th:inline="javascript">
var divisionList = new Array();
var _popup = null;
var isKeyUp = false;
var projectFlag = [[${projectFlag}]];
var partnerFlag = [[${partnerFlag}]];

$(document).ready(function () {
	common_fn.init();
});

var common_fn = {
	init : function(){
		divisionList = [[${@CoCodeManager.getCodeNames(@CommonFunction.getCoConstDefVal('CD_USER_DIVISION'))}]];
		if(typeof divisionList == "string"){
			divisionList = divisionList.replace(/[\[\]]/g, "").split(",");
		}
		$(".select2").select2();
		common_fn.chartReload();
		common_fn.bindEvent();
		
		$("#searchDate").daterangepicker()
		.on('apply.daterangepicker', function(ev, picker) {
			$("input[name='schStartDate']").val(picker.startDate.format('YYYYMMDD'));
			$("input[name='schEndDate']").val(picker.endDate.format('YYYYMMDD'));
			$(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
		})
		.on('cancel.daterangepicker', function(ev, picker) {
			$("input[name='schStartDate']").val("");
			$("input[name='schEndDate']").val("");
			$(this).val("");
		});
	},
	bindEvent : function(){
		$("#divisionalProjectChartSelect").on("change", function(){
			if(common_fn.validation("DIV")){
				chart_fn.divisionalProjectChartOpen();
			}
		});

		$("#mostUsedOssChartDivision, #mostUsedOssChartPieSize").on("change", function(){
			chart_fn.mostUsedOssChartOpen();
		});

		$("#mostUsedLicenseChartDivision, #mostUsedLicenseChartPieSize").on("change", function(){
			chart_fn.mostUsedLicenseChartOpen();
		});

		$("#trdPartyRelatedChartSelect").on("change", function(){
			if(common_fn.validation("TRD")){
				chart_fn.trdPartyRelatedChartOpen();
			}
		});

		$("canvas[id$=Chart]").on("click", function(){
			var id = $(this).attr("id");			
			var url = '/statistics/statisticspopup?'+chart_fn.makeUrl(id);
			
			if(_popup == null || _popup.closed){
				_popup = window.open(url, "statisticsPopup_"+id, "width=900, height=700, toolbar=no, location=no, left=100, top=100, resizable=no");

				if(!_popup || _popup.closed || typeof _popup.closed=='undefined') {
					alertify.alert([[#{msg.common.window.allowpopup}]], function(){});
				}
			}else{
				_popup.close();

				_popup = window.open(url, "statisticsPopup_"+id, "width=900, height=700, toolbar=no, location=no, left=100, top=100, resizable=no");
			}
		});
		
		$("#schStartDate").datepicker({
			dateFormat:"yymmdd",
			onSelect: function(dateString) {
				$("#startDate").val(dateString);
		    }
		});

		$("#schEndDate").datepicker({
			dateFormat:"yymmdd",
			onSelect: function(dateString) {
				$("#endDate").val(dateString);
		    }
		});

		$("#schStatistics").on('click',function(e){
			e.preventDefault();
			
			var date_pattern = /^\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[0-1])$/;
			var schStartDate = $("input[name=schStartDate]").val();
			var schEndDate = $("input[name=schEndDate]").val();
			
			if (schStartDate.length == 8){
				if (!date_pattern.test(schStartDate)){
					alertify.error([[#{msg.common.valid}]], 0);
					$("input[name=schStartDate]").val("");
					return;
				} else {
					var checkLastDate = new Date(schStartDate.substring(0,4), schStartDate.substring(4,6), 0);
					if (parseInt(schStartDate.substring(6,8)) > parseInt(checkLastDate.getDate())){
						alertify.error([[#{msg.common.valid}]], 0);
						$("input[name=schStartDate]").val("");
						return;
					}
				}
			} else {
				alertify.error([[#{msg.common.valid}]], 0);
				$("input[name=schStartDate]").val("");
			}
			
			if (schEndDate.length == 8){
				if (!date_pattern.test(schEndDate)){
					alertify.error([[#{msg.common.valid}]], 0);
					$("input[name=schEndDate]").val("");
					return;
				} else {
					var checkLastDate = new Date(schStartDate.substring(0,4), schStartDate.substring(4,6), 0);
					if (parseInt(schEndDate.substring(6,8)) > parseInt(checkLastDate.getDate())){
						alertify.error([[#{msg.common.valid}]], 0);
						$("input[name=schEndDate]").val("");
						return;
					}
				}
			} else {
				alertify.error([[#{msg.common.valid}]], 0);
				$("input[name=schEndDate]").val("");
			}
			
			$("#startDate").val(schStartDate);
			$("#endDate").val(schEndDate);
			
			if(common_fn.validation("MAIN")){
				common_fn.chartReload();
			}
		});
	},
	chartReload : function(){
		chart_fn.divisionalProjectChartOpen();
		chart_fn.mostUsedOssChartOpen();
		chart_fn.mostUsedLicenseChartOpen();
		chart_fn.updatedOssChartOpen();
		chart_fn.updatedLicenseChartOpen();
		chart_fn.userRelatedChartOpen();
		if ([[${partnerFlag}]]) chart_fn.trdPartyRelatedChartOpen();
	},
	validation : function(type){
		var startDate = $("#startDate").val();
		var endDate = $("#endDate").val();
		
		switch(type){
			case "DIV":
				var divisionType = $("#divisionalProjectChartSelect").val();
				if(startDate.length == 0 || endDate.length == 0){
					alertify.alert([[#{msg.statistics.required.date}]], function(){});
					return false;
				}

				if(+startDate > +endDate){
					alertify.alert([[#{msg.statistics.warn.daterange}]], function(){});
					return false;
				}

				if(divisionType.length == 0){
					alertify.alert([[#{msg.statistics.notice.admin}]], function(){});
					return false;
				}
				
				break;
			case "TRD":
				var divisionType = $("#trdPartyRelatedChartSelect").val();
				if(startDate.length == 0 || endDate.length == 0){
					alertify.alert([[#{msg.statistics.required.date}]], function(){});
					return false;
				}

				if(+startDate > +endDate){
					alertify.alert([[#{msg.statistics.warn.daterange}]], function(){});
					return false;
				}

				if(divisionType.length == 0){
					alertify.alert([[#{msg.statistics.notice.admin}]], function(){});
					return false;
				}
				break;
			case "MAIN":
				var diffNum = +startDate - +endDate;
				
				if(diffNum > 0 && endDate > 0){
					alertify.alert([[#{msg.common.search.check.date}]], function(){});

					return false;
				}
				
				break;
			default:
				break;
		}

		return true;
	}
}

var divisionalProjectChartObject;
var mostUsedOssChartObject;
var mostUsedLicenseChartObject;
var updatedOssChartObject;
var updatedLicenseChartObject;
var trdPartyRelatedChartObject;
var userRelatedChartObject;

var chart_fn = {
		divisionalProjectChartOpen : function (){
			var params = {};
			params["startDate"] = $("#startDate").val();
			params["endDate"] = $("#endDate").val();
			params["categoryType"] = $("#divisionalProjectChartSelect").val();
			params["isRawData"] = "N";
			
			$.ajax({
				url : '/statistics/divisionProjectChart',
				type : 'GET',
				dataType : 'json',
				cache : false,
				data : params,
				success : function(data){
       				var labels = new Array();
       				var datasets = new Array();
					
					var data = data.chartData;
					var obj = new Object();
					var idx = 0;
					
					for(var title in data.titleArray){
						datasets.push({label:data.titleArray[idx], data:data.dataArray[idx] , backgroundColor:data.colorArray[idx]});
						idx++;
					}

       				obj["labels"] = divisionList;
       				obj["datasets"] = datasets;
					
       				if(divisionalProjectChartObject) {
       					divisionalProjectChartObject.data.labels = obj["labels"];
       					divisionalProjectChartObject.data.datasets = obj["datasets"];
       					divisionalProjectChartObject.update();
       				} else {
       					divisionalProjectChartObject = getBarChart($('#divisionalProjectChart').get(0).getContext('2d'), obj);
       				}
				},
				error: function(data){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		},
		mostUsedOssChartOpen : function(){
			var params = {};
			params["startDate"] = $("#startDate").val();
			params["endDate"] = $("#endDate").val();
			params["divisionNo"] = $("#mostUsedOssChartDivision").val();
			params["pieSize"] = $("#mostUsedOssChartPieSize").val();
			params["chartType"] = "OSS";
			params["isRawData"] = "N";
			
			$.ajax({
				url : '/statistics/mostUsedChart',
				type : 'GET',
				dataType : 'json',
				cache : false,
				data : params,
				success : function(data){
       				var obj = new Object();
       				var chartData = new Object();
       				var labels = new Array();
       				var datasets = new Array();
       				var dataArr = new Array();
       				$.each(data.chartData, function(index, value) {
       					labels.push(value.columnName);
       					dataArr.push(value.columnCnt);
       					
       				});
       				datasets.push({label:'Count', data:dataArr, backgroundColor:Object.values(CHART_COLORS)});
       				obj["labels"] = labels;
       				obj["datasets"] = datasets;
       				
       				if(mostUsedOssChartObject) {
       					mostUsedOssChartObject.data.labels = obj["labels"];
       					mostUsedOssChartObject.data.datasets = obj["datasets"];
       					mostUsedOssChartObject.update();
       				} else {
       					mostUsedOssChartObject = getPieChart($('#mostUsedOssChart').get(0).getContext('2d'), obj);
       				}
				},
				error: function(data){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		},
		mostUsedLicenseChartOpen : function(){
			var params = {};
			params["startDate"] = $("#startDate").val();
			params["endDate"] = $("#endDate").val();
			params["divisionNo"] = $("#mostUsedLicenseChartDivision").val();
			params["pieSize"] = $("#mostUsedLicenseChartPieSize").val();
			params["chartType"] = "LICENSE";
			params["isRawData"] = "N";
			
			$.ajax({
				url : '/statistics/mostUsedChart',
				type : 'GET',
				dataType : 'json',
				cache : false,
				data : params,
				success : function(data){
       				var obj = new Object();
       				var chartData = new Object();
       				var labels = new Array();
       				var datasets = new Array();
       				var dataArr = new Array();
       				$.each(data.chartData, function(index, value) {
       					labels.push(value.columnName);
       					dataArr.push(value.columnCnt);
       					
       				});
       				datasets.push({label:'Count', data:dataArr, backgroundColor:Object.values(CHART_COLORS)});
       				obj["labels"] = labels;
       				obj["datasets"] = datasets;
       				
       				if(mostUsedLicenseChartObject) {
       					mostUsedLicenseChartObject.data.labels = obj["labels"];
       					mostUsedLicenseChartObject.data.datasets = obj["datasets"];
       					mostUsedLicenseChartObject.update();
       				} else {
       					mostUsedLicenseChartObject = getPieChart($('#mostUsedLicenseChart').get(0).getContext('2d'), obj);
       				}
				},
				error: function(data){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		},
		updatedOssChartOpen : function(){
			var params = {};
			params["startDate"] = $("#startDate").val();
			params["endDate"] = $("#endDate").val();
			params["categoryType"] = "REV";
			params["chartType"] = "OSS";
			params["isRawData"] = "N";
			
			$.ajax({
				url : '/statistics/updatedChart',
				type : 'GET',
				dataType : 'json',
				cache : false,
				data : params,
				success : function(data){
       				var labels = new Array();
       				var datasets = new Array();
					
					var data = data.chartData;
					var obj = new Object();
					var idx = 0;
					
					for(var title in data.titleArray){
						datasets.push({label:data.titleArray[idx], data:data.dataArray[idx] , backgroundColor:data.colorArray[idx]});
						idx++;
					}

       				obj["labels"] = data.categoryList;
       				obj["datasets"] = datasets;
					
       				if(updatedOssChartObject) {
       					updatedOssChartObject.data.labels = obj["labels"];
       					updatedOssChartObject.data.datasets = obj["datasets"];
       					updatedOssChartObject.update();
       				} else {
       					updatedOssChartObject = getBarChart($('#updatedOssChart').get(0).getContext('2d'), obj);
       				}
				},
				error: function(data){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		},
		updatedLicenseChartOpen : function(){
			var params = {};
			params["startDate"] = $("#startDate").val();
			params["endDate"] = $("#endDate").val();
			params["categoryType"] = "REV";
			params["chartType"] = "LICENSE";
			params["isRawData"] = "N";
			
			$.ajax({
				url : '/statistics/updatedChart',
				type : 'GET',
				dataType : 'json',
				cache : false,
				data : params,
				success : function(data){
       				var labels = new Array();
       				var datasets = new Array();
					
					var data = data.chartData;
					var obj = new Object();
					var idx = 0;
					
					for(var title in data.titleArray){
						datasets.push({label:data.titleArray[idx], data:data.dataArray[idx] , backgroundColor:data.colorArray[idx]});
						idx++;
					}

       				obj["labels"] = data.categoryList;
       				obj["datasets"] = datasets;
					
       				if(updatedLicenseChartObject) {
       					updatedLicenseChartObject.data.labels = obj["labels"];
       					updatedLicenseChartObject.data.datasets = obj["datasets"];
       					updatedLicenseChartObject.update();
       				} else {
       					updatedLicenseChartObject = getBarChart($('#updatedLicenseChart').get(0).getContext('2d'), obj);
       				}
				},
				error: function(data){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		},
		trdPartyRelatedChartOpen : function(){
			var params = {};
			params["startDate"] = $("#startDate").val();
			params["endDate"] = $("#endDate").val();
			params["categoryType"] = $("#trdPartyRelatedChartSelect").val();
			params["isRawData"] = "N";
			
			$.ajax({
				url : '/statistics/trdPartyRelatedChart',
				type : 'GET',
				dataType : 'json',
				cache : false,
				data : params,
				success : function(data){
       				var labels = new Array();
       				var datasets = new Array();
					
					var data = data.chartData;
					var obj = new Object();
					var idx = 0;
					
					for(var title in data.titleArray){
						datasets.push({label:data.titleArray[idx], data:data.dataArray[idx] , backgroundColor:data.colorArray[idx]});
						idx++;
					}

       				obj["labels"] = divisionList;
       				obj["datasets"] = datasets;
					
       				if(trdPartyRelatedChartObject) {
       					trdPartyRelatedChartObject.data.labels = obj["labels"];
       					trdPartyRelatedChartObject.data.datasets = obj["datasets"];
       					trdPartyRelatedChartObject.update();
       				} else {
       					trdPartyRelatedChartObject = getBarChart($('#trdPartyRelatedChart').get(0).getContext('2d'), obj);
       				}
				},
				error: function(data){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		},
		userRelatedChartOpen : function(){
			var params = {};
			params["startDate"] = $("#startDate").val();
			params["endDate"] = $("#endDate").val();
			params["isRawData"] = "N";
			
			$.ajax({
				url : '/statistics/userRelatedChart',
				type : 'GET',
				dataType : 'json',
				cache : false,
				data : params,
				success : function(data){
       				var labels = new Array();
       				var datasets = new Array();
					
					var data = data.chartData;
					var obj = new Object();
					var idx = 0;
					
					for(var title in data.titleArray){
						datasets.push({label:data.titleArray[idx], data:data.dataArray[idx] , backgroundColor:data.colorArray[idx]});
						idx++;
					}

       				obj["labels"] = divisionList;
       				obj["datasets"] = datasets;
					
       				if(userRelatedChartObject) {
       					userRelatedChartObject.data.labels = obj["labels"];
       					userRelatedChartObject.data.datasets = obj["datasets"];
       					userRelatedChartObject.update();
       				} else {
       					userRelatedChartObject = getBarChart($('#userRelatedChart').get(0).getContext('2d'), obj);
       				}
				},
				error: function(data){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		},
		makeUrl : function(chartName){
			var url = "chartName="+chartName;
			var index = 0;
			var startDate = $("#startDate").val();
			var endDate = $("#endDate").val();

			url += "&startDate=" + startDate + "&endDate=" + endDate;
			
			switch(chartName){
				case "divisionalProjectChart":
				case "trdPartyRelatedChart":
					var selectData = $("#"+chartName+"Select").val();
					url += "&categoryType=" + selectData;

					break;
				case "mostUsedOssChart":
				case "mostUsedLicenseChart":
					var checkDivisionData = [];
					$("input[type=checkbox][name="+chartName+"Division]:checked").filter(function(){
						checkDivisionData.push($(this).val());
					});
					var divisionData = "";
					if(checkDivisionData.length > 0){
						divisionData = checkDivisionData
					} else {
						divisionData = $("#"+chartName+"Division").val();
					}
					var pieSize = $("#"+chartName+"PieSize").val();
					var chartType = chartName.replace(/mostUsed(.+)Chart/, "$1").toUpperCase();
					url += "&divisionNo=" + divisionData + "&pieSize=" + pieSize + "&chartType=" + chartType;

					break;
				case "updatedOssChart":
				case "updatedLicenseChart":
					var chartType = chartName.replace(/updated(.+)Chart/, "$1").toUpperCase();
					url += "&categoryType=REV&chartType="+chartType;

					break;
				default:
					break;
			}
			
			return url;
		},
		downloadExcel : function(){
			//var params = chart_fn.makeParams();

			var params = {};
			params["startDate"] = $("#startDate").val();
			params["endDate"] = $("#endDate").val();
			params["isRawData"] = "Y";
			
			console.log(params);
			
			$.ajax({
				url : '/exceldownload/getChartExcel',
				type: "GET",
				dataType : 'json',
				data : params,
				cache : false,
				contentType : 'application/json',
				success: function (data) {
					if("false" == data.isValid) {
				    	alertify.error([[#{msg.common.valid2}]], 0);
					} else {
						window.location = '/exceldownload/getFile?id='+data.validMsg;
					}
				},
				error: function(data){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		},
		makeParams : function(){
			var params = new Array();
			var obj = {};
			var formData = $("#chartForm").serializeArray();
			
			for(var i in formData) {
			    if(formData[i].name.indexOf("StartDate") > -1) {
				    if(Object.keys(obj).length > 0) {
						obj["isRawData"] = "Y";
				    	params.push(obj);
				    	
				    	obj = {};
				    	obj["startDate"] = formData[i].value;

						if(formData[i].name.indexOf("mostUsedOssChart") > -1) {
							obj["chartType"] = "OSS";
						} else if(formData[i].name.indexOf("mostUsedLicenseChart") > -1) {
							obj["chartType"] = "LICENSE";
						} else if(formData[i].name.indexOf("updatedOssChart") > -1) {
							obj["categoryType"] = "REV";
							obj["chartType"] = "OSS";
						} else if(formData[i].name.indexOf("updatedLicenseChart") > -1) {
							obj["categoryType"] = "REV";
							obj["chartType"] = "LICENSE";
						}
				    } else {
				    	obj["startDate"] = formData[i].value;
					}
					
			    }else if(formData[i].name.indexOf("EndDate") > -1){
			    	obj["endDate"] = formData[i].value;
			    }else if(formData[i].name.indexOf("Select") > -1){
			    	obj["categoryType"] = formData[i].value;
				}else if(formData[i].name.indexOf("Division") > -1){
					obj["divisionNo"] = formData[i].value;
				}else if(formData[i].name.indexOf("PieSize") > -1){
					obj["pieSize"] = formData[i].value;
				}
			}
			
			obj["isRawData"] = "Y";
			
	    	params.push(obj);

	    	return JSON.stringify(params);
		}
}
</script>
</th:block>