<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<th:block th:replace="statistics/script :: script"></th:block>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div class="content-wrapper custom-layout">
			<!-- Content Header (Page header) -->
            <section class="content-header"></section>
			<section class="content">
                <div class="container-fluid">
                	<div class="row">
                		<div class="col-md-12">
                            <div class="card card-dark card-outline collapsed-card search-form mb-3">
                                <div class="card-header" style="border-bottom: none;">
                                	<div class="row">
                                		<div class="col-12">
                                        	<div class="form-group">
                                        		<div class="input-group" style="width: 100%;">
                                        			<div class="col-4">
                                                		<div class="input-group-prepend">
                                                    		<span class="input-group-text">
                                                        		<i class="far fa-calendar-alt"></i>
                                                       		</span>
                                                       		<input type="text" class="form-control" id="searchDate" th:value="${#calendars.format(#calendars.createNow(), '01/01/yyyy') + ' - ' + #calendars.format(#calendars.createNow(), '12/31/yyyy')}"/>
                                                  			<input name="schStartDate" id="startDate" type="hidden" th:value="${#calendars.format(#calendars.createNow(), 'yyyy0101')}" />
															<input name="schEndDate" id="endDate" type="hidden" th:value="${#calendars.format(#calendars.createNow(), 'yyyy1231')}" /> 
                                                  			<div class="input-group-append">
                                                     			<button id="schStatistics" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                    		</div>
                                                  		</div>
                                                	</div>
                                                	<div class="col-8">
                                                		<div class="row float-right">
                                                			<button type="button" class="btn btn-lg-light-gray btn-sm width-10rem mr-xm px-3" th:onclick="|chart_fn.downloadExcel()|"><i class="far fa-file-excel mr-2"></i>Export</button>
                                                		</div>
                                                	</div>
                                        		</div>
                                          	</div>
                                      	</div>
                                	</div>
                                </div>
                   			</div>             
                      	</div>
                	</div>
           		</section>
           		
           		<section th:if="${projectFlag}" class="content">
                	<div class="container-fluid">
                		<div class="card card-dark">
                			<div class="row">
                				<div class="col-12">
                					<h6 style="margin: 1rem;" th:text="'Project related'"></h6>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-12">
                					<div class="row">
                						<div class="col-6">
                							<h7 style="margin: 1rem;" th:text="'Divisional Project'"></h6>
                						</div>
                						<div class="col-4"></div>
                						<div class="col-2">
                							<div class="form-group">
                								<select class="form-control select2" id="divisionalProjectChartSelect" name="divisionalProjectChartSelect" style="width: 100%;">
                                    				<option th:value="STT" th:text="Status"></option>
													<option th:value="REV" th:text="Reviewer"></option>
													<option th:value="DST" th:text="'Distribution Type'"></option>
                                    			</select>
                							</div>
                						</div>
                					</div>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-12">
                					<canvas id="divisionalProjectChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                				</div>
                			</div>
                		</div>
                	</div>
           		</section>
           		
           		<section class="content">
                	<div class="container-fluid">
                		<div class="card card-dark">
                			<div class="row">
                				<div class="col-12">
                					<h6 style="margin: 1rem;" th:text="'OSS/License related'"></h6>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-6">
                					<div class="row">
                						<div class="col-6">
                							<div class="row float-left">
                								<div class="col-12">
                									<h7 style="margin: 1rem;" th:text="'Most Used OSS'"></h6>
                								</div>
                							</div>
                						</div>
                						<div class="col-6">
                							<div class="row">
                								<div class="col-2"></div>
                								<div class="col-7">
                									<select class="form-control select2" id="mostUsedOssChartDivision" name="mostUsedOssChartDivision" style="width: 100%;">
                                    					<option th:value="''" th:text="전체"></option>
                                    					<th:block th:utext="${@CoCodeManager.genOption(@CommonFunction.getCoConstDefVal('CD_USER_DIVISION'))}"></th:block>
                                    				</select>
                								</div>
                								<div class="col-3">
                									<select class="form-control select2" id="mostUsedOssChartPieSize" name="mostUsedOssChartPieSize" style="width: 100%;">
                                    					<option th:value="10" th:text="10" th:selected="true"></option>
														<option th:value="30" th:text="30"></option>
														<option th:value="50" th:text="50"></option>
                                    				</select>
                								</div>
                							</div>
                						</div>
                					</div>
                					<div class="row">
                						<div class="col-12">
                							<canvas id="mostUsedOssChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                						</div>
                					</div>
                				</div>
                				<div class="col-6">
                					<div class="row">
                						<div class="col-6">
                							<div class="row float-left">
                								<div class="col-12" style="margin-left:5px;">
                									<h7 style="margin: 1rem;" th:text="'Most Used License'"></h6>
                								</div>
                							</div>
                						</div>
                						<div class="col-6">
                							<div class="row">
                								<div class="col-2"></div>
                								<div class="col-7">
                									<select class="form-control select2" id="mostUsedLicenseChartDivision" name="mostUsedLicenseChartDivision" style="width: 100%;">
                                    					<option th:value="''" th:text="전체"></option>
														<th:block th:utext="${@CoCodeManager.genOption(@CommonFunction.getCoConstDefVal('CD_USER_DIVISION'))}"></th:block>
                                    				</select>
                								</div>
                								<div class="col-3">
                									<select class="form-control select2" id="mostUsedLicenseChartPieSize" name="mostUsedLicenseChartPieSize" style="width: 100%;">
                                    					<option th:value="10" th:text="10" th:selected="true"></option>
														<option th:value="30" th:text="30"></option>
														<option th:value="50" th:text="50"></option>
                                    				</select>
                								</div>
                							</div>
                						</div>
                					</div>
                					<div class="row">
                						<div class="col-12">
                							<canvas id="mostUsedLicenseChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                						</div>
                					</div>
                				</div>
                			</div>
                		</div>
                	</div>
           		</section>
           		
           		<section class="content">
                	<div class="container-fluid">
                		<div class="card card-dark">
                			<div class="row">
                				<div class="col-12">
                					<h6 style="margin: 1rem;" th:text="'Updated OSS'"></h6>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-12">
                					<canvas id="updatedOssChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                				</div>
                			</div>
                		</div>
                	</div>
                </section>
                
                <section class="content">
                	<div class="container-fluid">
                		<div class="card card-dark">
                			<div class="row">
                				<div class="col-12">
                					<h6 style="margin: 1rem;" th:text="'Updated License'"></h6>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-12">
                					<canvas id="updatedLicenseChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                				</div>
                			</div>
                		</div>
                	</div>
                </section>
                
                <section class="content" th:if="${partnerFlag}">
                	<div class="container-fluid">
                		<div class="card card-dark">
                			<div class="row">
                				<div class="col-12">
                					<h6 style="margin: 1rem;" th:text="'3rd Party related'"></h6>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-6">
                					<h6 style="margin: 1rem;" th:text="'기간별 생성된 3rd party 수'"></h6>
                				</div>
                				<div class="col-4"></div>
                				<div class="col-2">
                					<select class="form-control select2" id="trdPartyRelatedChartSelect" name="trdPartyRelatedChartSelect" style="width: 100%;">
                                    	<option th:value="'STT'" th:text="Status" th:selected="true"></option>
										<option th:value="'REV'" th:text="Reviewer"></option>
                                    </select>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-12">
                					<canvas id="trdPartyRelatedChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                				</div>
                			</div>
                		</div>
                	</div>
                </section>
                
                <section class="content">
                	<div class="container-fluid">
                		<div class="card card-dark">
                			<div class="row">
                				<div class="col-12">
                					<h6 style="margin: 1rem;" th:text="'User related'"></h6>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-12">
                					<h6 style="margin: 1rem;" th:text="'조직 별 user 수'"></h6>
                				</div>
                			</div>
                			<div class="row">
                				<div class="col-12">
                					<canvas id="userRelatedChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                				</div>
                			</div>
                		</div>
                	</div>
                </section>
		</div>
	</div>
	<!-- //wrap -->
</body>
</html>