<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="oss.fosslight.repository.ApiLicenseMapper">

    <sql id="limitPage">
        LIMIT #{startIndex}, #{pageListSize}
    </sql>

    <select id="selectLicenseMasterTotalCount" parameterType="oss.fosslight.domain.LicenseMaster" resultType="int">
        SELECT
        COUNT(*)
        FROM
        LICENSE_MASTER T1
        LEFT OUTER JOIN T2_CODE_DTL T2 ON T1.LICENSE_TYPE = T2.CD_DTL_NO
        LEFT JOIN (SELECT LICENSE_ID, GROUP_CONCAT(WEBPAGE) AS WEBPAGE FROM LICENSE_WEBPAGE GROUP BY LICENSE_ID) T3 ON
        T1.LICENSE_ID = T3.LICENSE_ID
        WHERE T1.USE_YN = 'Y'
        AND T2.CD_NO = '201'
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(licenseName)">
            AND
            (

            <choose>
                <when test="@oss.fosslight.util.StringUtil@equalsIgnoreCase(licenseNameAllSearchFlag,'Y')">
                    UPPER(T1.LICENSE_NAME) = UPPER(#{licenseName})
                </when>
                <otherwise>
                    UPPER(T1.LICENSE_NAME) LIKE UPPER(CONCAT('%',REGEXP_REPLACE(#{licenseName}, '_', '\\\\_'),'%'))
                </otherwise>
            </choose>
            OR
            UPPER(T1.LICENSE_NAME) IN (select UPPER(LICENSE_NAME)
            from LICENSE_NICKNAME
            where
            <choose>
                <when test="@oss.fosslight.util.StringUtil@equalsIgnoreCase(licenseNameAllSearchFlag,'Y')">
                    UPPER(LICENSE_NICKNAME) = UPPER(CONCAT(#{licenseName}))
                </when>
                <otherwise>
                    UPPER(LICENSE_NICKNAME) LIKE UPPER(CONCAT('%',REGEXP_REPLACE(#{licenseName}, '_', '\\\\_'),'%'))
                </otherwise>
            </choose>
            )
            OR
            <choose>
                <when test="@oss.fosslight.util.StringUtil@equalsIgnoreCase(licenseNameAllSearchFlag,'Y')">
                    UPPER(T1.SHORT_IDENTIFIER) = UPPER(CONCAT(#{licenseName}))
                </when>
                <otherwise>
                    UPPER(T1.SHORT_IDENTIFIER) LIKE UPPER(CONCAT('%',REGEXP_REPLACE(#{licenseName}, '_', '\\\\_'),'%'))
                </otherwise>
            </choose>

            )
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(licenseType)">
            AND T1.LICENSE_TYPE = #{licenseType}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(licenseText)">
            AND REPLACE(REPLACE(REPLACE(IFNULL(T1.LICENSE_TEXT, ''),'\r\n', ' '),'\n', ' '), ' ', '') LIKE
            CONCAT('%',REPLACE(REPLACE(REPLACE(#{licenseText},'\r\n', ' '),'\n', ' '), ' ', ''),'%')
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(description)">
            AND REPLACE(REPLACE(REPLACE(IFNULL(T1.DESCRIPTION, ''),'\r\n', ' '),'\n', ' '), ' ', '') LIKE
            CONCAT('%',REPLACE(REPLACE(REPLACE(#{description},'\r\n', ' '),'\n', ' '), ' ', ''),'%')
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(webpage)">
            AND (T1.WEBPAGE LIKE CONCAT('%',REGEXP_REPLACE(#{webpage}, '_', '\\\\_'),'%') OR T3.WEBPAGE LIKE
            CONCAT('%',REGEXP_REPLACE(#{webpage}, '_', '\\\\_'),'%'))
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(creator)">
            AND T1.CREATOR LIKE CONCAT('%',#{creator},'%')
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(modifier)">
            AND T1.MODIFIER LIKE CONCAT('%',#{modifier},'%')
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(cStartDate)">
            AND DATE_FORMAT(T1.CREATED_DATE,'%Y%m%d') <![CDATA[>=]]> #{cStartDate}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(cEndDate)">
            AND DATE_FORMAT(T1.CREATED_DATE,'%Y%m%d') <![CDATA[<=]]> #{cEndDate}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(mStartDate)">
            AND DATE_FORMAT(T1.MODIFIED_DATE,'%Y%m%d') <![CDATA[>=]]> #{mStartDate}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(mEndDate)">
            AND DATE_FORMAT(T1.MODIFIED_DATE,'%Y%m%d') <![CDATA[<=]]> #{mEndDate}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(obligationNeedsCheckYn)">
            AND T1.OBLIGATION_NEEDS_CHECK_YN = 'Y'
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(obligationDisclosingSrcYn)">
            AND T1.OBLIGATION_DISCLOSING_SRC_YN = 'Y'
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(obligationNotificationYn)">
            AND T1.OBLIGATION_NOTIFICATION_YN = 'Y' AND IFNULL(T1.OBLIGATION_DISCLOSING_SRC_YN, 'N') = 'N'
        </if>
        <if test="@oss.fosslight.util.StringUtil@equalsIgnoreCase(obligationType,'NONE')">
            AND IFNULL(T1.OBLIGATION_NEEDS_CHECK_YN, 'N') = 'N'
            AND IFNULL(T1.OBLIGATION_NOTIFICATION_YN, 'N') = 'N'
            AND IFNULL(T1.OBLIGATION_DISCLOSING_SRC_YN, 'N') = 'N'
        </if>
        /* 2018-07-25 choye 추가 */
        <if test="arrRestriction != null">
            AND
            <foreach collection="arrRestriction" item="item" open="(" close=")" separator="OR">
                FIND_IN_SET(#{item}, T1.RESTRICTION)
            </foreach>
        </if>
    </select>

    <select id="selectLicenseList" parameterType="oss.fosslight.domain.LicenseMaster"
            resultType="oss.fosslight.domain.LicenseMaster">
        SELECT
        T1.LICENSE_ID
        , T1.LICENSE_NAME
        , T2.CD_DTL_NM AS LICENSE_TYPE
        , CONCAT(
        IF( T1.OBLIGATION_NOTIFICATION_YN='Y' ,'<![CDATA[<span class=\"iconSet ops\" title=\"Notice\"></span>]]>', '')
        , IF( T1.OBLIGATION_DISCLOSING_SRC_YN='Y' ,'
        <![CDATA[<span class=\"iconSet man\" title=\"Source Code\"></span>]]>', '')
        ) AS OBLIGATION
        , CONCAT(
        IF( T1.OBLIGATION_NOTIFICATION_YN='Y' ,'Y', 'N')
        , IF( T1.OBLIGATION_DISCLOSING_SRC_YN='Y' ,'Y', 'N')
        , IF( T1.OBLIGATION_NEEDS_CHECK_YN='Y' ,'Y', 'N')
        ) AS OBLIGATION_CHECKS
        , T1.SHORT_IDENTIFIER
        , T1.WEBPAGE
        , T1.DESCRIPTION
        , T1.LICENSE_TEXT
        , T1.ATTRIBUTION
        , IFNULL((SELECT USER_NAME FROM T2_USERS WHERE T1.CREATOR = USER_ID), T1.CREATOR) AS CREATOR
        , IFNULL((SELECT USER_NAME FROM T2_USERS WHERE T1.MODIFIER = USER_ID), T1.MODIFIER) AS MODIFIER
        , T1.CREATED_DATE
        , T1.MODIFIED_DATE
        , T1.RESTRICTION
        FROM
        LICENSE_MASTER T1
        LEFT OUTER JOIN T2_CODE_DTL T2 ON T1.LICENSE_TYPE = T2.CD_DTL_NO
        LEFT JOIN (SELECT LICENSE_ID, GROUP_CONCAT(WEBPAGE) AS WEBPAGE FROM LICENSE_WEBPAGE GROUP BY LICENSE_ID) T3 ON
        T1.LICENSE_ID = T3.LICENSE_ID
        WHERE T1.USE_YN = 'Y'
        AND T2.CD_NO = '201'
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(licenseName)">
            AND (
            <choose>
                <when test="@oss.fosslight.util.StringUtil@equalsIgnoreCase(licenseNameAllSearchFlag,'Y')">
                    UPPER(T1.LICENSE_NAME) = UPPER(#{licenseName})
                </when>
                <otherwise>
                    UPPER(T1.LICENSE_NAME) LIKE UPPER(CONCAT('%',REGEXP_REPLACE(#{licenseName}, '_', '\\\\_'),'%'))
                </otherwise>
            </choose>
            OR UPPER(T1.LICENSE_NAME) IN (select UPPER(LICENSE_NAME)
            from LICENSE_NICKNAME
            where
            <choose>
                <when test="@oss.fosslight.util.StringUtil@equalsIgnoreCase(licenseNameAllSearchFlag,'Y')">
                    UPPER(LICENSE_NICKNAME) = UPPER(CONCAT(#{licenseName}))
                </when>
                <otherwise>
                    UPPER(LICENSE_NICKNAME) LIKE UPPER(CONCAT('%',REGEXP_REPLACE(#{licenseName}, '_', '\\\\_'),'%'))
                </otherwise>
            </choose>
            )
            OR
            <choose>
                <when test="@oss.fosslight.util.StringUtil@equalsIgnoreCase(licenseNameAllSearchFlag,'Y')">
                    UPPER(T1.SHORT_IDENTIFIER) = UPPER(CONCAT(#{licenseName}))
                </when>
                <otherwise>
                    UPPER(T1.SHORT_IDENTIFIER) LIKE UPPER(CONCAT('%',REGEXP_REPLACE(#{licenseName}, '_', '\\\\_'),'%'))
                </otherwise>
            </choose>
            )
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(licenseType)">
            AND T1.LICENSE_TYPE = #{licenseType}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(licenseText)">
            AND REPLACE(REPLACE(REPLACE(IFNULL(T1.LICENSE_TEXT, ''),'\r\n', ' '),'\n', ' '), ' ', '') LIKE
            CONCAT('%',REPLACE(REPLACE(REPLACE(#{licenseText},'\r\n', ' '),'\n', ' '), ' ', ''),'%')
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(description)">
            AND REPLACE(REPLACE(REPLACE(IFNULL(T1.DESCRIPTION, ''),'\r\n', ' '),'\n', ' '), ' ', '') LIKE
            CONCAT('%',REPLACE(REPLACE(REPLACE(#{description},'\r\n', ' '),'\n', ' '), ' ', ''),'%')
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(webpage)">
            AND (T1.WEBPAGE LIKE CONCAT('%',REGEXP_REPLACE(#{webpage}, '_', '\\\\_'),'%') OR T3.WEBPAGE LIKE
            CONCAT('%',REGEXP_REPLACE(#{webpage}, '_', '\\\\_'),'%'))
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(creator)">
            AND T1.CREATOR LIKE CONCAT('%',#{creator},'%')
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(modifier)">
            AND T1.MODIFIER LIKE CONCAT('%',#{modifier},'%')
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(cStartDate)">
            AND DATE_FORMAT(T1.CREATED_DATE,'%Y%m%d') <![CDATA[>=]]> #{cStartDate}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(cEndDate)">
            AND DATE_FORMAT(T1.CREATED_DATE,'%Y%m%d') <![CDATA[<=]]> #{cEndDate}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(mStartDate)">
            AND DATE_FORMAT(T1.MODIFIED_DATE,'%Y%m%d') <![CDATA[>=]]> #{mStartDate}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(mEndDate)">
            AND DATE_FORMAT(T1.MODIFIED_DATE,'%Y%m%d') <![CDATA[<=]]> #{mEndDate}
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(obligationNeedsCheckYn)">
            AND T1.OBLIGATION_NEEDS_CHECK_YN = 'Y'
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(obligationDisclosingSrcYn)">
            AND T1.OBLIGATION_DISCLOSING_SRC_YN = 'Y'
        </if>
        <if test="!@oss.fosslight.util.StringUtil@isEmpty(obligationNotificationYn)">
            AND T1.OBLIGATION_NOTIFICATION_YN = 'Y' AND IFNULL(T1.OBLIGATION_DISCLOSING_SRC_YN, 'N') = 'N'
        </if>
        <if test="@oss.fosslight.util.StringUtil@equalsIgnoreCase(obligationType,'NONE')">
            AND IFNULL(T1.OBLIGATION_NEEDS_CHECK_YN, 'N') = 'N'
            AND IFNULL(T1.OBLIGATION_NOTIFICATION_YN, 'N') = 'N'
            AND IFNULL(T1.OBLIGATION_DISCLOSING_SRC_YN, 'N') = 'N'
        </if>
        <if test="arrRestriction != null">
            AND
            <foreach collection="arrRestriction" item="item" open="(" close=")" separator="OR">
                FIND_IN_SET(#{item}, T1.RESTRICTION)
            </foreach>
        </if>
        <if test="sortField eq 'licenseId'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.LICENSE_ID ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.LICENSE_ID DESC
            </if>
        </if>
        <if test="sortField eq 'licenseName'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.LICENSE_NAME ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.LICENSE_NAME DESC
            </if>
        </if>
        <if test="sortField eq 'shortIdentifier'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.SHORT_IDENTIFIER ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.SHORT_IDENTIFIER DESC
            </if>
        </if>
        <if test="sortField eq 'licenseType'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.LICENSE_TYPE ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.LICENSE_TYPE DESC
            </if>
        </if>
        <if test="sortField eq 'webpage'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.WEBPAGE ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.WEBPAGE DESC
            </if>
        </if>
        <if test="sortField eq 'description'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.DESCRIPTION ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.DESCRIPTION DESC
            </if>
        </if>
        <if test="sortField eq 'creator'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.CREATOR ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.CREATOR DESC
            </if>
        </if>
        <if test="sortField eq 'modifier'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.MODIFIER ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.MODIFIER DESC
            </if>
        </if>
        <if test="sortField eq 'createdDate'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.CREATED_DATE ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.CREATED_DATE DESC
            </if>
        </if>
        <if test="sortField eq 'modifiedDate'">
            <if test="sortOrder eq 'asc'">
                ORDER BY T1.MODIFIED_DATE ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY T1.MODIFIED_DATE DESC
            </if>
        </if>
        <if test="sortField eq 'obligation'">
            <if test="sortOrder eq 'asc'">
                ORDER BY
                OBLIGATION_CHECKS ASC
            </if>
            <if test="sortOrder eq 'desc'">
                ORDER BY
                OBLIGATION_CHECKS DESC
            </if>
        </if>
        <include refid="limitPage"/>
    </select>
</mapper>
