<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="oss.fosslight.repository.ApiPartnerMapper">
	
	<select id="selectPartnerMasterCount" parameterType="hashMap" resultType="int">
		SELECT COUNT(*) FROM (
			SELECT 
				t1.PARTNER_ID
				, t1.STATUS
				, t1.PARTNER_NAME
				, t1.SOFTWARE_NAME
				, t1.SOFTWARE_VERSION
				, t1.DELIVERY_FORM
				, t1.PUBLIC_YN
				, t1.DESCRIPTION
				, t1.COMMENT
				, t1.CONFIRMATION_FILE_ID
				, t1.OSS_FILE_ID
				, t1.REVIEWER
				, t1.USE_YN
				, t1.CREATOR
				, t1.CREATED_DATE
				, t1.MODIFIER
				, t1.MODIFIED_DATE
				, t3.CD_DTL_NM AS DIVISION
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE A1.FILE_SEQ = t1.CONFIRMATION_FILE_ID) as FILE_NAME
				, (SELECT A2.ORIG_NM FROM T2_FILE A2 WHERE A2.FILE_SEQ = t1.OSS_FILE_ID) as FILE_NAME2
			FROM 
				PARTNER_MASTER t1
				LEFT JOIN T2_USERS t2 ON t1.CREATOR = t2.USER_ID
				LEFT JOIN (SELECT * FROM T2_CODE_DTL WHERE CD_NO = '200') t3 ON t1.DIVISION = t3.CD_DTL_NO
				LEFT JOIN PARTNER_WATCHER t4 ON t1.PARTNER_ID = t4.PARTNER_ID
				LEFT JOIN OSS_COMPONENTS t5 ON t1.PARTNER_ID = t5.REFERENCE_ID AND t5.REFERENCE_DIV = '20'
				LEFT JOIN OSS_COMPONENTS_LICENSE t6  ON t5.COMPONENT_ID = t6.COMPONENT_ID
			WHERE
				t1.USE_YN = 'Y'
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(createDateFrom)">
				AND DATE_FORMAT(t1.CREATED_DATE,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{createDateFrom},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(createDateTo)">
				AND DATE_FORMAT(t1.CREATED_DATE,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{createDateTo},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(updateDateFrom)">
				AND DATE_FORMAT(t1.MODIFIED_DATE,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{updateDateFrom},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(updateDateTo)">
				AND DATE_FORMAT(t1.MODIFIED_DATE,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{updateDateTo},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(division)">
				AND (
					t3.CD_DTL_NM = #{division}
					OR t3.CD_DTL_NO = #{division}
				)
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(status)">
				AND t1.STATUS = #{status}
				</if>
				GROUP BY t1.PARTNER_ID
			  ) RESULT
	    WHERE 1 = 1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(creator)">
		  AND (
		  		 RESULT.CREATOR IN (SELECT X.USER_ID 
		                              FROM T2_USERS X 
		                             WHERE X.USER_NAME LIKE CONCAT('%', #{creator}, '%'))
		         OR RESULT.CREATOR LIKE CONCAT('%', #{creator}, '%')
		      ) 
		</if>
	</select>
	
	<select id="selectPartnerMaster" parameterType="hashMap" resultType="oss.fosslight.domain.CamelMap">
		SELECT RESULT.PARTNER_ID
		     , RESULT.PARTNER_NAME
		     , RESULT.SOFTWARE_NAME
		     , RESULT.SOFTWARE_VERSION
		     , RESULT.STATUS
		     , DATE_FORMAT(RESULT.MODIFIED_DATE, '%Y-%m-%d') AS MODIFIED_DATE
		     , DATE_FORMAT(RESULT.CREATED_DATE, '%Y-%m-%d') AS CREATED_DATE
		     , RESULT.DELIVERY_FORM
		     , RESULT.DESCRIPTION
		     , RESULT.CREATOR
		     , RESULT.REVIEWER
		     , RESULT.DIVISION
		     , IFNULL(RESULT.PRJ_ID, '') AS PRJ_ID
		     , RESULT.AGREEMENT_FILE
		     , RESULT.CHECKLIST_FILE
		     , RESULT.DOCUMENTS_FILE
     	  FROM (SELECT t1.PARTNER_ID
					 , t1.PARTNER_NAME
					 , t1.SOFTWARE_NAME
     	             , t1.SOFTWARE_VERSION
					 , CASE
					 		WHEN t1.STATUS = 'PROG' THEN 'Progress'
							WHEN t1.STATUS = 'REQ' THEN 'Request'
							WHEN t1.STATUS = 'REV' THEN 'Review'
							WHEN t1.STATUS = 'CONF' THEN 'Confirm' 
						END AS STATUS
					 , t1.MODIFIED_DATE								
					 , t1.CREATED_DATE
     	             , t1.DELIVERY_FORM
     	             , t1.DESCRIPTION
					 , t1.CREATOR
					 , t2.USER_NAME
     	             , t1.REVIEWER
					 , t3.CD_DTL_NM AS DIVISION
					 , (SELECT GROUP_CONCAT(DISTINCT PRJ_ID) FROM PROJECT_PARTNER_MAP WHERE PARTNER_ID = t1.PARTNER_ID) AS PRJ_ID
					 , (SELECT t7.ORIG_NM FROM T2_FILE t7 WHERE t1.CONFIRMATION_FILE_ID = t7.FILE_SEQ) AS AGREEMENT_FILE
     	             , (SELECT t7.ORIG_NM FROM T2_FILE t7 WHERE t1.OSS_FILE_ID = t7.FILE_SEQ) AS CHECKLIST_FILE
		             , (SELECT GROUP_CONCAT(t8.ORIG_NM SEPARATOR ', ') FROM T2_FILE t8 WHERE t1.DOCUMENTS_FILE_ID = t8.FILE_ID) AS DOCUMENTS_FILE
				  FROM PARTNER_MASTER t1
				  LEFT JOIN T2_USERS t2 ON t1.CREATOR = t2.USER_ID
				  LEFT JOIN (SELECT * FROM T2_CODE_DTL WHERE CD_NO = '200') t3 ON t1.DIVISION = t3.CD_DTL_NO
				  LEFT JOIN PARTNER_WATCHER t4 ON t1.PARTNER_ID = t4.PARTNER_ID
				  LEFT JOIN OSS_COMPONENTS t5 ON t1.PARTNER_ID = t5.REFERENCE_ID AND t5.REFERENCE_DIV = '20'
				  LEFT JOIN OSS_COMPONENTS_LICENSE t6  ON t5.COMPONENT_ID = t6.COMPONENT_ID
				 WHERE t1.USE_YN = 'Y'
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(createDateFrom)">
					AND DATE_FORMAT(t1.CREATED_DATE,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{createDateFrom},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(createDateTo)">
					AND DATE_FORMAT(t1.CREATED_DATE,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{createDateTo},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(updateDateFrom)">
					AND DATE_FORMAT(t1.MODIFIED_DATE,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{updateDateFrom},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(updateDateTo)">
					AND DATE_FORMAT(t1.MODIFIED_DATE,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{updateDateTo},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(division)">
				   AND (
						t3.CD_DTL_NM = #{division}
						OR t3.CD_DTL_NO = #{division}
					)
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(status)">
				   AND t1.STATUS = #{status}
				</if>
				 GROUP BY t1.PARTNER_ID
			  ) RESULT
	    WHERE 1 = 1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(creator)">
		  AND (
		  		 RESULT.CREATOR IN (SELECT X.USER_ID 
		                              FROM T2_USERS X 
		                             WHERE X.USER_NAME LIKE CONCAT('%', #{creator}, '%'))
		         OR RESULT.CREATOR LIKE CONCAT('%', #{creator}, '%')
		      ) 
		</if>
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(partnerIdList)">
			<foreach item="item" index="index" collection="partnerIdList" open=" AND (" close=")" separator="OR">
		     	RESULT.PARTNER_ID = #{item}
		    </foreach>
		</if>
		ORDER BY RESULT.PARTNER_ID DESC
		LIMIT 0, 1000
	</select>
	
	<select id="existPartnertCnt" parameterType="hashMap" resultType="int">
		SELECT COUNT(*)
		FROM
		(
			SELECT T1.PARTNER_ID
				, T1.PARTNER_NAME
				, T1.SOFTWARE_NAME
				, CASE WHEN T1.STATUS = 'PROG' THEN 'Progress'
					   WHEN T1.STATUS = 'REQ' THEN 'Request'
					   WHEN T1.STATUS = 'REV' THEN 'Review'
					   WHEN T1.STATUS = 'CONF' THEN 'Confirm' 
				END AS STATUS
				, T1.MODIFIED_DATE
				, T1.CREATED_DATE
				, T1.CREATOR
			FROM PARTNER_MASTER T1
			WHERE T1.USE_YN = 'Y'
			<if test="@oss.fosslight.util.StringUtil@notEquals('ROLE_ADMIN', userRole)">
				AND (
					T1.CREATOR = #{userId} 
					OR EXISTS (
						SELECT 1 
						FROM PARTNER_WATCHER A1 
						WHERE A1.PARTNER_ID = T1.PARTNER_ID AND (A1.USER_ID = #{userId} OR (A1.USER_ID = 'all' AND A1.DIVISION = (SELECT DIVISION FROM T2_USERS A2 WHERE A2.USER_ID = #{userId}) ))
					)
				<if test="@oss.fosslight.util.StringUtil@notEquals('N', readOnly)">
					OR PUBLIC_YN = 'Y'
				</if>
				)
			</if>
		) RESULT
		WHERE 1=1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(partnerIdList)">
			<foreach item="item" index="index" collection="partnerIdList" open=" AND (" close=")" separator="OR">
		     	RESULT.PARTNER_ID = #{item}
		    </foreach>
		</if>
	</select>
	
	<select id="existsWatcherByEmail" parameterType="string" resultType="int">
		SELECT COUNT(1) 
		FROM PARTNER_WATCHER WAT
		LEFT JOIN T2_USERS USR
		ON WAT.USER_ID = USR.USER_ID
		AND USR.USE_YN = 'Y'
		WHERE WAT.PARTNER_ID = #{partnerId}
		AND (WAT.EMAIL = #{email} OR USR.EMAIL = #{email})
	</select>
	
	<insert id="insertWatcher" parameterType="hashMap">
		INSERT INTO PARTNER_WATCHER (PARTNER_ID, DIVISION, USER_ID, EMAIL) VALUES (#{partnerId}, #{division}, #{userId}, #{partnerEmail})
	</insert>
</mapper>