<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="oss.fosslight.repository.ApiPartnerMapper">
	
	<select id="selectPartnerMasterCount" parameterType="hashMap" resultType="int">
		SELECT COUNT(*) FROM (
			SELECT 
				t1.PARTNER_ID
				, t1.STATUS
				, t1.PARTNER_NAME
				, t1.SOFTWARE_NAME
				, t1.SOFTWARE_VERSION
				, t1.DELIVERY_FORM
				, t1.PUBLIC_YN
				, t1.DESCRIPTION
				, t1.COMMENT
				, t1.CONFIRMATION_FILE_ID
				, t1.OSS_FILE_ID
				, t1.REVIEWER
				, t1.USE_YN
				, t1.CREATOR
				, t1.CREATED_DATE
				, t1.MODIFIER
				, t1.MODIFIED_DATE
				, t3.CD_DTL_NM AS DIVISION
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE A1.FILE_SEQ = t1.CONFIRMATION_FILE_ID) as FILE_NAME
				, (SELECT A2.ORIG_NM FROM T2_FILE A2 WHERE A2.FILE_SEQ = t1.OSS_FILE_ID) as FILE_NAME2
			FROM 
				PARTNER_MASTER t1
				LEFT JOIN T2_USERS t2 ON t1.CREATOR = t2.USER_ID
				LEFT JOIN (SELECT * FROM T2_CODE_DTL WHERE CD_NO = '200') t3 ON t1.DIVISION = t3.CD_DTL_NO
				LEFT JOIN PARTNER_WATCHER t4 ON t1.PARTNER_ID = t4.PARTNER_ID
				LEFT JOIN OSS_COMPONENTS t5 ON t1.PARTNER_ID = t5.REFERENCE_ID AND t5.REFERENCE_DIV = '20'
				LEFT JOIN OSS_COMPONENTS_LICENSE t6  ON t5.COMPONENT_ID = t6.COMPONENT_ID
			WHERE
				t1.USE_YN = 'Y'
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(createDateFrom)">
				AND DATE_FORMAT(t1.CREATED_DATE,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{createDateFrom},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(createDateTo)">
				AND DATE_FORMAT(t1.CREATED_DATE,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{createDateTo},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(updateDateFrom)">
				AND DATE_FORMAT(t1.MODIFIED_DATE,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{updateDateFrom},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(updateDateTo)">
				AND DATE_FORMAT(t1.MODIFIED_DATE,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{updateDateTo},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(division)">
				AND (
					t3.CD_DTL_NM = #{division}
					OR t3.CD_DTL_NO = #{division}
				)
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(status)">
				AND t1.STATUS = #{status}
				</if>
				GROUP BY t1.PARTNER_ID
			  ) RESULT
	    WHERE 1 = 1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(creator)">
		  AND (
		  		 RESULT.CREATOR IN (SELECT X.USER_ID 
		                              FROM T2_USERS X 
		                             WHERE X.USER_NAME LIKE CONCAT('%', #{creator}, '%'))
		         OR RESULT.CREATOR LIKE CONCAT('%', #{creator}, '%')
		      ) 
		</if>
	</select>
	
	<select id="selectPartnerMaster" parameterType="hashMap" resultType="oss.fosslight.domain.CamelMap">
		SELECT RESULT.PARTNER_ID
		     , RESULT.PARTNER_NAME
		     , RESULT.SOFTWARE_NAME
		     , RESULT.STATUS
		     , DATE_FORMAT(RESULT.MODIFIED_DATE, '%Y-%m-%d') AS MODIFIED_DATE
		     , DATE_FORMAT(RESULT.CREATED_DATE, '%Y-%m-%d') AS CREATED_DATE
		     , RESULT.USER_NAME AS CREATOR
		     , RESULT.DIVISION
		     , IFNULL(RESULT.PRJ_ID, '') AS PRJ_ID
     	  FROM (SELECT t1.PARTNER_ID
					 , t1.PARTNER_NAME
					 , t1.SOFTWARE_NAME
					 , CASE
					 		WHEN t1.STATUS = 'PROG' THEN 'Progress'
							WHEN t1.STATUS = 'REQ' THEN 'Request'
							WHEN t1.STATUS = 'REV' THEN 'Review'
							WHEN t1.STATUS = 'CONF' THEN 'Confirm' 
						END AS STATUS
					 , t1.MODIFIED_DATE								
					 , t1.CREATED_DATE
					 , t1.CREATOR
					 , t2.USER_NAME
					 , t3.CD_DTL_NM AS DIVISION
					 , (SELECT GROUP_CONCAT(DISTINCT PRJ_ID) FROM PROJECT_PARTNER_MAP WHERE PARTNER_ID = t1.PARTNER_ID) AS PRJ_ID
				  FROM PARTNER_MASTER t1
				  LEFT JOIN T2_USERS t2 ON t1.CREATOR = t2.USER_ID
				  LEFT JOIN (SELECT * FROM T2_CODE_DTL WHERE CD_NO = '200') t3 ON t1.DIVISION = t3.CD_DTL_NO
				  LEFT JOIN PARTNER_WATCHER t4 ON t1.PARTNER_ID = t4.PARTNER_ID
				  LEFT JOIN OSS_COMPONENTS t5 ON t1.PARTNER_ID = t5.REFERENCE_ID AND t5.REFERENCE_DIV = '20'
				  LEFT JOIN OSS_COMPONENTS_LICENSE t6  ON t5.COMPONENT_ID = t6.COMPONENT_ID
				 WHERE t1.USE_YN = 'Y'
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(createDateFrom)">
					AND DATE_FORMAT(t1.CREATED_DATE,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{createDateFrom},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(createDateTo)">
					AND DATE_FORMAT(t1.CREATED_DATE,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{createDateTo},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(updateDateFrom)">
					AND DATE_FORMAT(t1.MODIFIED_DATE,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{updateDateFrom},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(updateDateTo)">
					AND DATE_FORMAT(t1.MODIFIED_DATE,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{updateDateTo},'%Y%m%d')
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(division)">
				   AND (
						t3.CD_DTL_NM = #{division}
						OR t3.CD_DTL_NO = #{division}
					)
				</if>
				<if test="!@oss.fosslight.util.StringUtil@isEmpty(status)">
				   AND t1.STATUS = #{status}
				</if>
				 GROUP BY t1.PARTNER_ID
			  ) RESULT
	    WHERE 1 = 1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(creator)">
		  AND (
		  		 RESULT.CREATOR IN (SELECT X.USER_ID 
		                              FROM T2_USERS X 
		                             WHERE X.USER_NAME LIKE CONCAT('%', #{creator}, '%'))
		         OR RESULT.CREATOR LIKE CONCAT('%', #{creator}, '%')
		      ) 
		</if>
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(partnerIdList)">
			<foreach item="item" index="index" collection="partnerIdList" open=" AND (" close=")" separator="OR">
		     	RESULT.PARTNER_ID = #{item}
		    </foreach>
		</if>
		ORDER BY RESULT.PARTNER_ID DESC
		LIMIT 0, 1000
	</select>
</mapper>