<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="oss.fosslight.repository.BinaryDataHistoryMapper">

	<sql id="limitPage">
		LIMIT #{startIndex}, #{pageListSize}
	</sql>
    <sql id="orderby">
        ORDER BY ${sidx} ${sord}
    </sql>
    
	<sql id="filters">
		<foreach collection="filtersMap.rules" item="item">
			AND
			<choose>
				<when test="@oss.fosslight.util.StringUtil@equals('actionId', item.field)">
					ACTION_ID
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('actionType', item.field)">
					ACTION_TYPE
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('binaryName', item.field)">
					FILE_NAME
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('filePath', item.field)">
					PATH_NAME
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('sourcePath', item.field)">
					SOURCE_PATH
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('checkSum', item.field)">
					CHECK_SUM
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('tlsh', item.field)">
					TLSH_CHECK_SUM
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('ossName', item.field)">
					OSS_NAME
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('ossVersion', item.field)">
					OSS_VERSION
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('license', item.field)">
					LICENSE
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('parentname', item.field)">
					PARENT_NAME
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('platformname', item.field)">
					PLATFORM_NAME
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('platformversion', item.field)">
					PLATFORM_VERSION
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('updatedate', item.field)">
					UPDATE_DATE
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('createdDate', item.field)">
					CREATED_DATE
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('modifier', item.field)">
					MODIFIER
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('comment', item.field)">
					COMMENT
				</when>
			</choose>
			<choose>
				<when test="@oss.fosslight.util.StringUtil@equals('eq', item.op)">
					= #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('ne', item.op)">
					<![CDATA[<>]]> #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('bw', item.op)">
					LIKE CONCAT(#{item.data}, '%')
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('bn', item.op)">
					NOT LIKE CONCAT(#{item.data}, '%')
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('ew', item.op)">
					LIKE CONCAT('%', #{item.data})
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('en', item.op)">
					NOT LIKE CONCAT('%', #{item.data})
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('cn', item.op)">
					LIKE CONCAT('%', #{item.data}, '%')
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('nc', item.op)">
					NOT LIKE CONCAT('%', #{item.data}, '%')
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('lt', item.op)">
					<![CDATA[<]]> #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('le', item.op)">
					<![CDATA[<=]]> #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('gt', item.op)">
					<![CDATA[>]]> #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('ge', item.op)">
					<![CDATA[>=]]> #{item.data}
				</when>
				<otherwise>

				</otherwise>
			</choose>
		</foreach>
    </sql>

    <select id="selectBinaryDataHistoryTotalCount" parameterType="oss.fosslight.domain.BinaryAnalysisResult" resultType="int">
    SELECT
    	COUNT(1)
    FROM
    	BINARY_DATA_HIS
    WHERE 1=1
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(filename)">
    		AND FILE_NAME LIKE CONCAT('%', #{filename}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(parentname)">
    		AND PARENT_NAME LIKE CONCAT('%', #{parentname}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(ossName)">
    		AND OSS_NAME LIKE CONCAT('%', #{ossName}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(schStartDate)">
    		AND UPDATE_DATE <![CDATA[>=]]> #{schStartDate}
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(schEndDate)">
    		AND UPDATE_DATE <![CDATA[<=]]> #{schEndDate}
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(platformname)">
    		AND PLATFORM_NAME LIKE CONCAT('%', #{platformname}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(ossVersion)">
    		AND OSS_VERSION = #{ossVersion}
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(checkSum)">
    		AND CHECK_SUM LIKE CONCAT('%', #{checkSum}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(tlsh)">
    		AND TLSH_CHECK_SUM LIKE CONCAT('%', #{tlsh}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(platformversion)">
    		AND PLATFORM_VERSION = #{platformversion}
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(license)">
    		AND LICENSE LIKE CONCAT('%', #{license}, '%')
    	</if>
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(filterCondition)">
			<include refid="filters"/>
		</if>
    </select>
	<select id="selectBinaryDataHistoryList" parameterType="oss.fosslight.domain.BinaryAnalysisResult" resultType="oss.fosslight.domain.BinaryAnalysisResult">
		SELECT
			ACTION_ID
			, (CASE WHEN ACTION_TYPE = 'MODIFY_DEL' THEN 'DELETE' ELSE ACTION_TYPE END) AS ACTION_TYPE
			, FILE_NAME AS BINARY_NAME
			, PATH_NAME AS FILE_PATH
			, SOURCE_PATH
			, CHECK_SUM
			, TLSH_CHECK_SUM AS TLSH
			, OSS_NAME
			, OSS_VERSION
			, LICENSE
			, PARENT_NAME
			, PLATFORM_NAME
			, PLATFORM_VERSION
			, UPDATE_DATE
			, CREATED_DATE
			, COMMENT
			, IF(ACTION_TYPE='MODIFY' OR ACTION_TYPE='MODIFY_DEL', MODIFIER , '') AS MODIFIER
		FROM BINARY_DATA_HIS
		WHERE 1=1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(filename)">
    		AND FILE_NAME LIKE CONCAT('%', #{filename}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(parentname)">
    		AND PARENT_NAME LIKE CONCAT('%', #{parentname}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(ossName)">
    		AND OSS_NAME LIKE CONCAT('%', #{ossName}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(schStartDate)">
    		AND UPDATE_DATE <![CDATA[>=]]> #{schStartDate}
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(schEndDate)">
    		AND UPDATE_DATE <![CDATA[<=]]> #{schEndDate}
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(platformname)">
    		AND PLATFORM_NAME LIKE CONCAT('%', #{platformname}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(ossVersion)">
    		AND OSS_VERSION = #{ossVersion}
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(checkSum)">
    		AND CHECK_SUM LIKE CONCAT('%', #{checkSum}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(tlsh)">
    		AND TLSH_CHECK_SUM LIKE CONCAT('%', #{tlsh}, '%')
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(platformversion)">
    		AND PLATFORM_VERSION = #{platformversion}
    	</if>
    	<if test="!@oss.fosslight.util.StringUtil@isEmpty(license)">
    		AND LICENSE LIKE CONCAT('%', #{license}, '%')
    	</if>
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(filterCondition)">
			<include refid="filters"/>
		</if>
		<include refid="orderby"/>
		<include refid="limitPage"/>
	</select>
    
</mapper>
