<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="oss.fosslight.repository.MailManagerMapper">

	<insert id="insertEmailHistory" parameterType="oss.fosslight.domain.CoMail" useGeneratedKeys="true" keyProperty="sndSeq">
		INSERT INTO 
			EMAIL_SND_HIS(
				MSG_TYPE			/* 메시지구분 */
				, EML_TITLE			/* 이메일 제목 */
				, EML_MESSAGE		/* 이메일 내용 */
				, EML_FROM			/* 발신자 */
				, EML_TO			/* 수신자 */
				, EML_CC			/* 참조자 */
				, EML_BCC			/* 숨은참조자 */
				, SND_STATUS		/* 발송상태(전송:S, 완료:C, 전송 시간 초과: G, 전송실패: F) */
				, USE_FLAG			/* 사용여부 */
				, CREATION_DATE		/* 등록일 */
				, CREATION_USER_ID	/* 등록자 */
				, LAST_UPDATE_DATE	/* 수정일 */
				, LAST_UPDATE_USER_ID /* 수정자 */
			)
			VALUES(
				#{msgType}			/* 메시지구분 */
				, #{emlTitle}		/* 이메일 제목 */
				, #{emlMessage}		/* 이메일 내용 */
				, #{emlFrom}		/* 발신자 */
				, #{strToIds}		/* 수신자들 */
				, #{strToCcIds}		/* 참조자들 */
				, #{strToBccIds}	/* 숨은참조자들 */
				, 'S'				/* 발송상태(전송:S, 완료:C, 전송 시간 초과: G, 전송실패: F) */
				, 'Y'				/* 사용여부 */
				, now()				/* 등록일 */
				, #{creationUserId}	/* 등록자 */
				, now()				/* 수정일 */
				, #{creationUserId}	/* 수정자 */
			)
	</insert>

	<update id="updateSendStatus" parameterType="oss.fosslight.domain.CoMail">
		UPDATE EMAIL_SND_HIS SET SND_STATUS = #{sndStatus} WHERE SND_SEQ = #{sndSeq}
	</update>
	
	<update id="updateErrorMsg" parameterType="oss.fosslight.domain.CoMail">
		UPDATE EMAIL_SND_HIS SET SND_STATUS = #{sndStatus}, ERROR_MSG = #{errorMsg} WHERE SND_SEQ = #{sndSeq}
	</update>
	
	<update id="updateSendMailRunTimeout" parameterType="oss.fosslight.domain.CoMail">
		UPDATE EMAIL_SND_HIS SET SND_STATUS = 'G', USE_FLAG = 'N' 
		WHERE USE_FLAG = 'Y' AND SND_STATUS = 'S' AND CREATION_DATE <![CDATA[<]]> DATE_ADD(now(), INTERVAL -30 MINUTE)
	</update>
	
	<select id="selectMailAddrFromIds" parameterType="Map" resultType="String">
		SELECT EMAIL FROM T2_USERS
		WHERE USE_YN = 'Y' AND USER_ID IN 
		<foreach collection="idArr" index="index" separator="," open="(" close=")">
			'${idArr[index]}'
		</foreach>
	</select>
	<select id="selectAdminMailAddr" resultType="String">
	/* MailManagerMapper.selectAdminMailAddr */
		SELECT DISTINCT T1.EMAIL FROM T2_USERS T1 
		INNER JOIN T2_AUTHORITIES T2 ON T1.USER_ID = T2.USER_ID AND T2.AUTHORITY = 'ROLE_ADMIN' 
		WHERE T1.USE_YN = 'Y' AND IFNULL(T1.EMAIL, '') <![CDATA[<>]]> ''
	</select>
	<select id="getProjectInfo" parameterType="String" resultType="oss.fosslight.domain.Project">
	SELECT * FROM PROJECT_MASTER WHERE PRJ_ID = #{prjId}
	</select>
	<select id="setProjectWatcherMailList" parameterType="String" resultType="String">
		SELECT DISTINCT T1.EMAIL
		FROM T2_USERS T1
		INNER JOIN PROJECT_WATCHER T2 ON T1.DIVISION = T2.DIVISION
		WHERE T1.USE_YN = 'Y' AND T2.PRJ_ID = #{prjId} AND T1.USER_ID = T2.USER_ID
		UNION
		SELECT DISTINCT T1.EMAIL
		FROM T2_USERS T1 INNER JOIN PROJECT_WATCHER T2 ON T1.EMAIL = T2.EMAIL
		WHERE T1.USE_YN = 'Y' AND T2.PRJ_ID = #{prjId}
		UNION
		SELECT T1.EMAIL FROM T2_USERS T1 INNER JOIN PROJECT_MASTER T2 ON T1.USER_ID = T2.CREATOR
		WHERE T1.USE_YN = 'Y' AND T2.PRJ_ID = #{prjId}
	</select>
	<select id="setProjectWatcherMailListNotCheckDivision" parameterType="String" resultType="String">
		SELECT DISTINCT T1.EMAIL
		FROM T2_USERS T1
		INNER JOIN PROJECT_WATCHER T2 ON T1.USER_ID = T2.USER_ID
		WHERE T1.USE_YN = 'Y' AND T2.PRJ_ID = #{prjId}
		UNION
		SELECT DISTINCT T1.EMAIL
		FROM T2_USERS T1 INNER JOIN PROJECT_WATCHER T2 ON T1.EMAIL = T2.EMAIL
		WHERE T1.USE_YN = 'Y' AND T2.PRJ_ID = #{prjId}
		UNION
		SELECT T1.EMAIL FROM T2_USERS T1 INNER JOIN PROJECT_MASTER T2 ON T1.USER_ID = T2.CREATOR
		WHERE T1.USE_YN = 'Y' AND T2.PRJ_ID = #{prjId}
	</select>
	<select id="getPartnerInfo" parameterType="String" resultType="oss.fosslight.domain.PartnerMaster">
	SELECT * FROM PARTNER_MASTER WHERE PARTNER_ID = #{partnerId}
	</select>
	<select id="setPartnerWatcherMailList" parameterType="String" resultType="String">
		SELECT DISTINCT T1.EMAIL
		FROM T2_USERS T1
		INNER JOIN PARTNER_WATCHER T2 ON T1.DIVISION = T2.DIVISION
		WHERE T1.USE_YN = 'Y' AND T2.PARTNER_ID = #{partnerId} AND T1.USER_ID = T2.USER_ID
		UNION
		SELECT T1.EMAIL FROM T2_USERS T1 INNER JOIN PARTNER_MASTER T2 ON T1.USER_ID = T2.CREATOR
		WHERE T1.USE_YN = 'Y' AND T2.PARTNER_ID = #{partnerId}
	</select>
	<select id="binaryWatcherMailList" parameterType="String" resultType="String">
		SELECT DISTINCT T1.EMAIL
		FROM T2_USERS T1
		INNER JOIN BAT_WATCHER T2 ON T1.DIVISION = T2.DIVISION
		WHERE T1.USE_YN = 'Y' AND T2.BAT_ID = #{batId} AND T1.USER_ID = T2.USER_ID
		UNION
		SELECT T1.EMAIL FROM T2_USERS T1 INNER JOIN BINARY_MASTER T2 ON T1.USER_ID = T2.CREATOR
		WHERE T1.USE_YN = 'Y' AND T2.BAT_ID = #{batId}
	</select>
	
	<select id="getOssInfoById" parameterType="String" resultType="oss.fosslight.domain.OssMaster">SELECT * FROM OSS_COMMON OC INNER JOIN OSS_VERSION OV ON OC.OSS_COMMON_ID = OV.OSS_COMMON_ID WHERE OV.OSS_ID = #{ossId}</select>
	<select id="getLicenseInfoById" parameterType="String" resultType="oss.fosslight.domain.LicenseMaster">SELECT * FROM LICENSE_MASTER WHERE LICENSE_ID = #{licenseId}</select>
	<select id="getProjectInfoById" parameterType="String" resultType="oss.fosslight.domain.Project">SELECT * FROM PROJECT_MASTER WHERE PRJ_ID = #{prjId}</select>
	<select id="getSelfCheckProjectInfoById" parameterType="String" resultType="oss.fosslight.domain.Project">SELECT * FROM PRE_PROJECT_MASTER WHERE PRJ_ID = #{prjId}</select>
	<select id="getBinaryInfo" parameterType="String" resultType="oss.fosslight.domain.BinaryMaster">SELECT T1.*, T2.ORIG_NM as BINARY_FILE_NAME FROM BINARY_MASTER T1 INNER JOIN T2_FILE T2 ON T1.BINARY_FILE_ID = T2.FILE_SEQ WHERE T1.BAT_ID = #{batId}</select>
	<select id="getDistributeReservedUser" parameterType="String" resultType="String">
		SELECT DISTRIBUTE_RESERVED_USER AS RESERVER
		FROM PROJECT_MASTER
		WHERE PRJ_ID = #{prjId}
	</select>
	
	<select id="getTempMail" resultType="oss.fosslight.domain.CamelMap">
		SELECT MAIL_SEQ
			 , MAIL_TYPE
			 , PARAM_PRJ_ID
			 , PARAM_BAT_ID
			 , PARAM_EXPANSION1
			 , PARAM_EXPANSION2
			 , PARAM_EXPANSION3
			 , COMMENT
			 , PARAM_PRJ_INFO
			 , CREATOR
			 , MODIFIER
			 , TO_IDS
		  FROM EMAIL_SND_TEMP
	</select>
	<delete id="deleteTempMail" parameterType="String">
		DELETE FROM EMAIL_SND_TEMP WHERE MAIL_SEQ = #{mailSeq}
	</delete>
	<select id="setSelfCheckWatcherMailListNotCheckDivision" parameterType="String" resultType="String">
		SELECT DISTINCT T1.EMAIL
		FROM T2_USERS T1
		INNER JOIN PRE_PROJECT_WATCHER T2 ON T1.USER_ID = T2.USER_ID
		WHERE T1.USE_YN = 'Y' AND T2.PRJ_ID = #{prjId}
		UNION
		SELECT DISTINCT T1.EMAIL
		FROM T2_USERS T1 INNER JOIN PRE_PROJECT_WATCHER T2 ON T1.EMAIL = T2.EMAIL
		WHERE T1.USE_YN = 'Y' AND T2.PRJ_ID = #{prjId}
		UNION
		SELECT T1.EMAIL FROM T2_USERS T1 INNER JOIN PRE_PROJECT_MASTER T2 ON T1.USER_ID = T2.CREATOR
		WHERE T1.USE_YN = 'Y' AND T2.PRJ_ID = #{prjId}
	</select>
	
	<select id="getComponentOssBasicInfo" parameterType="String" resultType="Map">
		SELECT T1.CREATOR
				, T1.CREATED_DATE
				, T1.OSS_ID, T1.OSS_NAME
				, T1.OSS_VERSION
				, IFNULL((SELECT GROUP_CONCAT(D.DOWNLOAD_LOCATION ORDER BY D.OSS_DL_IDX ASC) FROM OSS_DOWNLOADLOCATION D WHERE D.OSS_COMMON_ID = T1.OSS_COMMON_ID), T1.DOWNLOAD_LOCATION) AS DOWNLOAD_LOCATION
				, IFNULL((SELECT GROUP_CONCAT(D.PURL ORDER BY D.OSS_DL_IDX ASC) FROM OSS_DOWNLOADLOCATION D WHERE D.OSS_COMMON_ID = T1.OSS_COMMON_ID), '') AS PURL
				, T1.HOMEPAGE
				, T1.SUMMARY_DESCRIPTION
				, T1.ATTRIBUTION
				, T1.IMPORTANT_NOTES
				, T1.COPYRIGHT
				, T1.LICENSE_TYPE AS OSS_LICENSE_TYPE
				, T1.OBLIGATION_TYPE AS OSS_OBLIGATION_TYPE
				, GROUP_CONCAT(T4.OSS_NICKNAME SEPARATOR '\n') AS OSS_NICKNAME
				, T2.LICENSE_ID
				, T2.OSS_LICENSE_IDX
				, T2.OSS_LICENSE_COMB
				, T2.OSS_COPYRIGHT
				, T2.OSS_LICENSE_TEXT
				, IF(IFNULL(T3.SHORT_IDENTIFIER, '') = '', T3.LICENSE_NAME, T3.SHORT_IDENTIFIER) AS LICENSE_NAME
				, T3.LICENSE_TYPE
				, SUB1.OSS_TYPE
				, IFNULL((SELECT GROUP_CONCAT(IF(LM.SHORT_IDENTIFIER = '' OR LM.SHORT_IDENTIFIER IS NULL, LM.LICENSE_NAME, LM.SHORT_IDENTIFIER) ORDER BY OSS_LICENSE_IDX ASC) FROM OSS_LICENSE_DETECTED ODT INNER JOIN LICENSE_MASTER LM ON ODT.LICENSE_ID = LM.LICENSE_ID WHERE ODT.OSS_ID = T1.OSS_ID), '') AS DETECTED_LICENSE
				, (SELECT GROUP_CONCAT(CPE23URI) FROM OSS_INCLUDE_CPE WHERE OSS_COMMON_ID = T1.OSS_COMMON_ID) AS INCLUDE_CPE
				, (SELECT GROUP_CONCAT(CPE23URI) FROM OSS_EXCLUDE_CPE WHERE OSS_COMMON_ID = T1.OSS_COMMON_ID) AS EXCLUDE_CPE
				, (SELECT GROUP_CONCAT(OSS_VERSION_ALIAS) FROM OSS_VERSION_ALIAS WHERE OSS_ID = T1.OSS_ID) AS OSS_VERSION_ALIAS
				, T1.RESTRICTION
		FROM OSS_MASTER T1
		INNER JOIN OSS_LICENSE_DECLARED T2 
		ON T1.OSS_ID = T2.OSS_ID
		INNER JOIN LICENSE_MASTER T3 
		ON T2.LICENSE_ID = T3.LICENSE_ID
		LEFT OUTER JOIN OSS_NICKNAME T4 
		ON T1.OSS_COMMON_ID = T4.OSS_COMMON_ID
		INNER JOIN (
			SELECT OSS_ID, CONCAT(IF(MULTI_LICENSE_FLAG = 'N', '0', '1'), IF(DUAL_LICENSE_FLAG = 'N', '0', '1'), IF(VERSION_DIFF_FLAG = 'N', '0', '1')) AS OSS_TYPE
			FROM OSS_MASTER_LICENSE_FLAG
		) SUB1
		ON T1.OSS_ID = SUB1.OSS_ID
		WHERE T1.OSS_ID = #{ossId}
		GROUP BY OSS_ID, OSS_LICENSE_IDX
	</select>
	
	<select id="getComponentLicenseBasicInfo" parameterType="String" resultType="Map">
		SELECT T1.LICENSE_ID
				, T1.LICENSE_NAME
				, T1.LICENSE_TYPE
				, T1.OBLIGATION_DISCLOSING_SRC_YN
				, T1.OBLIGATION_NOTIFICATION_YN
				, T1.OBLIGATION_NEEDS_CHECK_YN
				, T1.SHORT_IDENTIFIER
				, GROUP_CONCAT(T2.WEBPAGE ORDER BY SORT_ORDER ASC) AS WEBPAGE
				, T1.DESCRIPTION
				, T1.LICENSE_TEXT
				, T1.ATTRIBUTION
				, T1.USE_YN
				, T1.CREATOR
				, T1.CREATED_DATE
				, T1.MODIFIER
				, T1.MODIFIED_DATE
				, T1.REQ_LICENSE_TEXT_YN
				, T1.RESTRICTION
				, T1.LICENSE_NICKNAME
				, T1.DISCLOSING_SRC
		FROM (
			SELECT T1.*, GROUP_CONCAT(T2.LICENSE_NICKNAME) AS LICENSE_NICKNAME
			FROM LICENSE_MASTER T1
			LEFT OUTER JOIN LICENSE_NICKNAME T2
			ON T1.LICENSE_ID = T2.LICENSE_ID
			WHERE T1.LICENSE_ID = #{licenseId}
		) T1
		LEFT JOIN LICENSE_WEBPAGE T2
		ON T1.LICENSE_ID = T2.LICENSE_ID
	</select>
	
	<select id="getComponentProjectBasicInfo" parameterType="String" resultType="Map">
		SELECT T1.*, T3.USER_NAME AS SECPERSON_NM, T2.NOTICE_TYPE
		FROM PROJECT_MASTER T1
		LEFT OUTER JOIN OSS_NOTICE T2 
		ON T1.PRJ_ID = T2.PRJ_ID
		LEFT JOIN T2_USERS T3 
		ON T1.SECPERSON = T3.USER_ID
		WHERE T1.PRJ_ID = #{prjId}
	</select>
	
	<select id="getComponentSelfCheckBasicInfo" parameterType="String" resultType="Map">
		SELECT * FROM PRE_PROJECT_MASTER WHERE PRJ_ID = #{prjId}
	</select>
	
	<select id="getComponentProjectDistributionInfo" parameterType="String" resultType="Map">
		SELECT T1.DISTRIBUTE_NAME
				, T1.DISTRIBUTE_MASTER_CATEGORY
				, T1.DISTRIBUTE_SOFTWARE_TYPE
				, T1.DISTRIBUTE_DEPLOY_TIME
				, T1.DISTRIBUTE_DEPLOY_YN
				, T1.DISTRIBUTE_DEPLOY_MODEL_YN
				, T1.DISTRIBUTE_DEPLOY_ERROR_MSG
				, T1.DISTRIBUTE_TARGET
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE A1.FILE_SEQ = T1.PACKAGE_FILE_ID) AS PACKAGE_FILE_ID
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE A1.FILE_SEQ = T1.PACKAGE_FILE_ID2) AS PACKAGE_FILE_ID2
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE A1.FILE_SEQ = T1.PACKAGE_FILE_ID3) AS PACKAGE_FILE_ID3
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE A1.FILE_SEQ = T1.PACKAGE_FILE_ID4) AS PACKAGE_FILE_ID4
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE A1.FILE_SEQ = T1.PACKAGE_FILE_ID5) AS PACKAGE_FILE_ID5
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE A1.FILE_SEQ = T1.NOTICE_FILE_ID) AS NOTICE_FILE_ID
		FROM PROJECT_MASTER T1
		WHERE T1.PRJ_ID = #{prjId}
	</select>
	
	<select id="getComponentProjectModelInfo" parameterType="String" resultType="Map">
		SELECT T1.*, T2.DISTRIBUTE_TARGET
		FROM PROJECT_MODEL T1
		INNER JOIN PROJECT_MASTER T2
		ON T1.PRJ_ID = T2.PRJ_ID
		WHERE T1.PRJ_ID = #{prjId}
		ORDER BY CASE WHEN T1.DEL_YN = 'Y' THEN 2 ELSE 1 END, CATEGORY, SUBCATEGORY, MODEL_NAME
	</select>
	
	<select id="getComponentPartnerBasicInfo" parameterType="String" resultType="Map">
		SELECT T1.PARTNER_ID
				, T1.STATUS
				, T1.PARTNER_NAME
				, T1.SOFTWARE_NAME
				, T1.SOFTWARE_VERSION
				, T1.DELIVERY_FORM
				, T1.PUBLIC_YN
				, T1.DESCRIPTION
				, T1.COMMENT
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE T1.CONFIRMATION_FILE_ID = A1.FILE_SEQ) AS CONFIRMATION_FILE_ID
				, (SELECT A1.ORIG_NM FROM T2_FILE A1 WHERE T1.OSS_FILE_ID = A1.FILE_SEQ) AS OSS_FILE_ID
				, T1.REVIEWER
				, T1.CREATOR
				, T1.CREATED_DATE
				, T1.MODIFIER
				, T1.MODIFIED_DATE
				, T1.DIVISION
		FROM PARTNER_MASTER T1
		WHERE T1.PARTNER_ID = #{partnerId}
	</select>
	
	<select id="getComponentPartnerOssList" parameterType="String" resultType="Map">
		SELECT T1.COMPONENT_ID
				, T1.REFERENCE_ID
				, T1.REFERENCE_DIV
				, T1.COMPONENT_IDX
				, T1.OSS_ID
				, T1.OSS_NAME
				, T1.OSS_VERSION
				, T1.DOWNLOAD_LOCATION
				, T1.HOMEPAGE
				, T1.FILE_PATH
				, T1.EXCLUDE_YN
				, GROUP_CONCAT(T1.COPYRIGHT SEPARATOR '\r\n') AS COPYRIGHT
				, T1.BINARY_NAME
				, T1.BINARY_SIZE
				, T1.BINARY_NOTICE
				, T1.CUSTOM_BINARY_YN
				, T1.REF_PARTNER_ID
				, T1.REF_PRJ_ID
				, T1.REF_BAT_ID
				, T1.REF_COMPONENT_ID
				, T1.REPORT_FILE_ID
				, T1.MERGE_PRE_DIV
				, T1.OBLIGATION_TYPE
				, T1.BAT_STRING_MATCH_PERCENTAGE
				, T1.BAT_PERCENTAGE
				, T1.BAT_SCORE
				, T1.BAT_CHECKSUM
				, T1.VERIFY_FILE_COUNT
				, T1.VERIFIED_YN
				, T1.CREATED_DATE
				, T1.MODIFIED_DATE
				, T1.COMMENTS
				, T1.REF_DIV
				, GROUP_CONCAT(T2.LICENSE_NAME) AS LICENSE_NAME
				, GROUP_CONCAT(T2.LICENSE_ID ORDER BY T2.COMPONENT_LICENSE_ID) AS LICENSE_ID_LIST
		FROM OSS_COMPONENTS T1
		INNER JOIN OSS_COMPONENTS_LICENSE T2
		ON T1.COMPONENT_ID = T2.COMPONENT_ID
		AND IFNULL(T2.EXCLUDE_YN, 'N') = 'N'
		WHERE REFERENCE_ID = #{partnerId}
		AND REFERENCE_DIV = '20'
		AND MERGE_PRE_DIV IS NULL
		AND T1.OBLIGATION_TYPE != '11'
		AND IFNULL(T1.EXCLUDE_YN, 'N') = 'N'
		GROUP BY COMPONENT_ID
		ORDER BY COMPONENT_ID
	</select>
	
	<select id="getComponentDiscloseOssInfo" parameterType="String" resultType="Map">
		SELECT T1.COMPONENT_ID
				, T1.REFERENCE_ID
				, T1.REFERENCE_DIV
				, T1.COMPONENT_IDX
				, T1.OSS_ID
				, T1.OSS_NAME
				, T1.OSS_VERSION
				, T1.DOWNLOAD_LOCATION
				, T1.HOMEPAGE
				, T1.FILE_PATH
				, T1.EXCLUDE_YN
				, T1.BINARY_NAME
				, T1.BINARY_SIZE
				, T1.BINARY_NOTICE
				, T1.CUSTOM_BINARY_YN
				, T1.REF_PARTNER_ID
				, T1.REF_PRJ_ID
				, T1.REF_BAT_ID
				, T1.REF_COMPONENT_ID
				, T1.REPORT_FILE_ID
				, T1.MERGE_PRE_DIV
				, T1.OBLIGATION_TYPE
				, T1.BAT_STRING_MATCH_PERCENTAGE
				, T1.BAT_PERCENTAGE
				, T1.BAT_SCORE
				, T1.BAT_CHECKSUM
				, T1.VERIFY_FILE_COUNT
				, T1.VERIFIED_YN
				, T1.CREATED_DATE
				, T1.MODIFIED_DATE
				, T1.COMMENTS
				, T1.REF_DIV
				, GROUP_CONCAT(T2.LICENSE_NAME) AS LICENSE_NAME
				, GROUP_CONCAT(T2.LICENSE_ID ORDER BY T2.COMPONENT_LICENSE_ID) AS LICENSE_ID_LIST
		FROM OSS_COMPONENTS T1
		INNER JOIN OSS_COMPONENTS_LICENSE T2
		ON T1.COMPONENT_ID = T2.COMPONENT_ID
		AND IFNULL(T2.EXCLUDE_YN, 'N') = 'N'
		WHERE REFERENCE_ID = #{partnerId}
		AND REFERENCE_DIV = '20'
		AND MERGE_PRE_DIV IS NULL
		AND T1.OBLIGATION_TYPE = '11'
		AND IFNULL(T1.EXCLUDE_YN, 'N') = 'N'
		GROUP BY COMPONENT_ID
		ORDER BY COMPONENT_ID
	</select>
	
	<select id="getComponentNotDiscloseOssInfo" parameterType="String" resultType="Map">
		SELECT T1.COMPONENT_ID
				, T1.REFERENCE_ID
				, T1.REFERENCE_DIV
				, T1.COMPONENT_IDX
				, T1.OSS_ID
				, T1.OSS_NAME
				, T1.OSS_VERSION
				, T1.DOWNLOAD_LOCATION
				, T1.HOMEPAGE
				, T1.FILE_PATH
				, T1.EXCLUDE_YN
				, GROUP_CONCAT(T1.COPYRIGHT SEPARATOR '\r\n') AS COPYRIGHT
				, T1.BINARY_NAME
				, T1.BINARY_SIZE
				, T1.BINARY_NOTICE
				, T1.CUSTOM_BINARY_YN
				, T1.REF_PARTNER_ID
				, T1.REF_PRJ_ID
				, T1.REF_BAT_ID
				, T1.REF_COMPONENT_ID
				, T1.REPORT_FILE_ID
				, T1.MERGE_PRE_DIV
				, T1.OBLIGATION_TYPE
				, T1.BAT_STRING_MATCH_PERCENTAGE
				, T1.BAT_PERCENTAGE
				, T1.BAT_SCORE
				, T1.BAT_CHECKSUM
				, T1.VERIFY_FILE_COUNT
				, T1.VERIFIED_YN
				, T1.CREATED_DATE
				, T1.MODIFIED_DATE
				, T1.COMMENTS
				, T1.REF_DIV
				, GROUP_CONCAT(T2.LICENSE_NAME) AS LICENSE_NAME
				, GROUP_CONCAT(T2.LICENSE_ID ORDER BY T2.COMPONENT_LICENSE_ID) AS LICENSE_ID_LIST
		FROM OSS_COMPONENTS T1
		INNER JOIN OSS_COMPONENTS_LICENSE T2
		ON T1.COMPONENT_ID = T2.COMPONENT_ID
		AND IFNULL(T2.EXCLUDE_YN, 'N') = 'N'
		WHERE REFERENCE_ID = #{partnerId}
		AND REFERENCE_DIV = '20'
		AND MERGE_PRE_DIV IS NULL
		AND T1.OBLIGATION_TYPE != '11'
		AND IFNULL(T1.EXCLUDE_YN, 'N') = 'N'
		GROUP BY COMPONENT_ID
		ORDER BY COMPONENT_ID
	</select>
	
	<select id="getComponentBatResult" parameterType="String" resultType="Map">
		SELECT T1.BAT_ID
				, T1.BAT_STATUS
				, T1.SOFTWARE_NAME
				, T1.SOFTWARE_VERSION
				, T1.PARTNER_NAME
				, T1.PRJ_ID
				, T1.BAT_ERROR_MSG
				, T1.CREATOR
				, (SELECT T3.ORIG_NM FROM T2_FILE T3 WHERE T1.BINARY_FILE_ID = T3.FILE_SEQ) AS BINARY_FILE_ID
				, (SELECT COUNT(T2.BAT_RESULT_ID) FROM BINARY_ANALYSIS_RESULT T2 WHERE T1.BAT_ID = T2.BAT_ID) AS BAT_RESULT_COUNT
		FROM BINARY_MASTER T1
		WHERE T1.BAT_ID = #{batId}
	</select>
	
	<select id="getComponentVulnerabilityProject" parameterType="String" resultType="Map">
		<![CDATA[
		SELECT RTN.OSS_ID
				, RTN.OSS_NAME
				, RTN.OSS_VERSION
				, RTN.CVSS_SCORE
				, RTN.CVE_ID
				, RTN.VULN_SUMMARY
				, RTN.PATCH_LINK
				, RTN.MODI_DATE
				, RTN.PUBL_DATE
		FROM (
			SELECT T2.OSS_ID
					, T2.OSS_NAME
					, T2.OSS_VERSION
					, T4.CVSS_SCORE
					, T4.CVE_ID
					, T5.VULN_SUMMARY
					, (SELECT GROUP_CONCAT(DISTINCT SUB_T6.PATCH_LINK) FROM NVD_DATA_PATCH_LINK SUB_T6 WHERE SUB_T6.CVE_ID = T4.CVE_ID) AS PATCH_LINK
					, DATE_FORMAT(T5.MODI_DATE, '%Y-%m-%d') AS MODI_DATE
					, DATE_FORMAT(T5.PUBL_DATE, '%Y-%m-%d') AS PUBL_DATE
			FROM PROJECT_MASTER T1
			INNER JOIN OSS_COMPONENTS T2
			ON T1.PRJ_ID = T2.REFERENCE_ID
			AND T2.REFERENCE_DIV = (SELECT CASE WHEN NOTICE_TYPE = '80' THEN '17' ELSE '13' END REFERENCE_DIV FROM OSS_NOTICE WHERE PRJ_ID = #{prjId})
			AND T2.EXCLUDE_YN <> 'Y'
			INNER JOIN OSS_MASTER T3
			ON IFNULL(T2.REF_OSS_NAME, T2.OSS_NAME) = T3.OSS_NAME
			AND IFNULL(T2.OSS_VERSION, '') = IFNULL(T3.OSS_VERSION, '')
			AND T3.USE_YN = 'Y'
			INNER JOIN OSS_DISCOVERED_SND_EMAIL T4
			ON T3.OSS_ID = T4.OSS_ID
			AND T4.SND_YN != 'Y'
			LEFT JOIN NVD_CVE_V3 T5
			ON T4.CVE_ID = T5.CVE_ID
			WHERE T1.PRJ_ID = #{prjId}
		) RTN
		GROUP BY RTN.OSS_ID, RTN.CVE_ID
		ORDER BY RTN.OSS_NAME, RTN.CVSS_SCORE DESC, RTN.MODI_DATE DESC
		]]>
	</select>
	
	<select id="getComponentVulnerabilityOssInfo" resultType="Map">
		SELECT T0.OSS_ID
				, T1.OSS_NAME
				, T1.OSS_VERSION
				, T2.CVE_ID
				, T2.CVSS_SCORE
				, T2.VULN_SUMMARY
				, (SELECT GROUP_CONCAT(DISTINCT SUB_T3.PATCH_LINK) FROM NVD_DATA_PATCH_LINK SUB_T3 WHERE SUB_T3.CVE_ID = T0.CVE_ID) AS PATCH_LINK
				, DATE_FORMAT(T2.MODI_DATE, '%Y-%m-%d') AS MODI_DATE
				, DATE_FORMAT(T2.PUBL_DATE, '%Y-%m-%d') AS PUBL_DATE
		FROM OSS_DISCOVERED_SND_EMAIL T0
		INNER JOIN OSS_MASTER T1
		ON T0.OSS_ID = T1.OSS_ID
		AND T0.SND_YN = 'N'
		AND T1.USE_YN = 'Y'
		LEFT JOIN NVD_CVE_V3 T2
		ON T0.CVE_ID = T2.CVE_ID
		WHERE CONCAT(UPPER(T1.OSS_NAME), '_', T1.OSS_VERSION) IN
		<foreach collection="ossKey" item="key" open="(" separator="," close=")">
			#{key}
		</foreach>
		GROUP BY T0.OSS_ID, T2.CVE_ID
		ORDER BY T1.OSS_NAME, T1.OSS_VERSION, T2.CVSS_SCORE DESC
	</select>
	
	<select id="getComponentVulnerabilityRecalculatedAll" resultType="Map">
	<![CDATA[
		SELECT T3.OSS_ID
				, T1.OSS_NAME
				, T1.OSS_VERSION
				, CONCAT(T3.CVE_ID, ' -> ', IF(T3.CVE_ID_TO = '' OR T3.CVE_ID_TO IS NULL, 'NONE', T3.CVE_ID_TO)) AS CVE_ID
				, CONCAT(CAST(T3.CVSS_SCORE AS DECIMAL(10, 1)), ' -> ', CAST(T3.CVSS_SCORE_TO AS DECIMAL(10, 1))) AS CVSS_SCORE
				, T2.VULN_SUMMARY
				, DATE_FORMAT(T2.MODI_DATE, '%Y-%m-%d') AS MODI_DATE
				, DATE_FORMAT(T2.PUBL_DATE, '%Y-%m-%d') AS PUBL_DATE
		FROM OSS_MASTER T1
		LEFT JOIN NVD_CVE_V3 T2
		ON T1.CVE_ID = T2.CVE_ID
		INNER JOIN NVD_OSS_HIS T3
		ON T1.OSS_ID = T3.OSS_ID
		AND T3.REG_DT > ADDDATE(SYSDATE(), INTERVAL - 1 DAY)
		AND CAST(T3.CVSS_SCORE AS DECIMAL(10, 1)) > CAST(T3.CVSS_SCORE_TO AS DECIMAL(10, 1))
		AND T3.CVSS_SCORE_TO != '10.0'
		AND CAST(T3.CVSS_SCORE AS DECIMAL(10, 1)) >= 7.0
		AND CAST(T3.CVSS_SCORE_TO AS DECIMAL(10, 1)) < 7.0
		GROUP BY OSS_ID, CVE_ID
		ORDER BY OSS_NAME, OSS_VERSION, CVSS_SCORE DESC
	]]>
	</select>
	
	<select id="getComponentVulnerabilityRecalculated" parameterType="String" resultType="Map">
	<![CDATA[
		SELECT RTN.OSS_ID
				, RTN.OSS_NAME
				, RTN.OSS_VERSION
				, RTN.CVSS_SCORE
				, RTN.CVE_ID
				, RTN.VULN_SUMMARY
				, RTN.MODI_DATE
				, RTN.PUBL_DATE
		FROM (
			SELECT T2.OSS_ID
					, T2.OSS_NAME
					, T2.OSS_VERSION
					, T4.CVSS_SCORE
					, T4.CVE_ID
					, T5.VULN_SUMMARY
					, DATE_FORMAT(T5.MODI_DATE, '%Y-%m-%d') AS MODI_DATE
					, DATE_FORMAT(T5.PUBL_DATE, '%Y-%m-%d') AS PUBL_DATE
					, CAST(HIS.CVSS_SCORE AS DECIMAL(10, 1)) AS HIS_CVSS_SCORE
					, CAST(HIS.CVSS_SCORE_TO AS DECIMAL(10, 1)) AS HIS_CVSS_SCORE_TO
			FROM PROJECT_MASTER T1
			INNER JOIN OSS_COMPONENTS T2
			ON T1.PRJ_ID = T2.REFERENCE_ID
			AND T2.REFERENCE_DIV = '50'
			AND T2.EXCLUDE_YN <> 'Y'
			INNER JOIN OSS_MASTER T4
			ON T2.OSS_NAME = T4.OSS_NAME
			AND T2.OSS_VERSION = T4.OSS_VERSION
			AND T4.VULN_YN = 'Y'
			AND T4.USE_YN = 'Y'
			AND T4.VULN_DATE > ADDDATE(SYSDATE(), INTERVAL - 2 DAY)
			LEFT JOIN NVD_CVE_V3 T5
			ON T4.CVE_ID = T5.CVE_ID
			INNER JOIN NVD_OSS_HIS HIS
			ON IFNULL(T4.OSS_NAME, T2.OSS_NAME) = HIS.OSS_NAME
			AND T2.OSS_VERSION = HIS.OSS_VERSION
			AND HIS.REG_DT > ADDDATE(SYSDATE(), INTERVAL - 1 DAY)
			WHERE T1.PRJ_ID = #{prjId}
		) RTN
		WHERE RTN.HIS_CVSS_SCORE_TO < RTN.HIS_CVSS_SCORE
		AND HIS_CVSS_SCORE >= #{standardScore}
		AND HIS_CVSS_SCORE_TO < #{standardScore}
		GROUP BY RTN.OSS_ID
		ORDER BY RTN.OSS_NAME
	]]>
	</select>
	
	<select id="getComponentVulnerabilityRemoveRecalculated" parameterType="String" resultType="Map">
	<![CDATA[
		SELECT RTN.OSS_ID
				, RTN.OSS_NAME
				, RTN.OSS_VERSION
				, IFNULL(RTN.CVSS_SCORE, '') AS CVSS_SCORE
				, IFNULL(RTN.CVE_ID, '') AS CVE_ID
				, IFNULL(RTN.VULN_SUMMARY, '') AS VULN_SUMMARY
				, IFNULL(RTN.MODI_DATE, '') AS MODI_DATE
				, IFNULL(RTN.PUBL_DATE, '') AS PUBL_DATE
		FROM (
			SELECT T2.OSS_ID
					, T2.OSS_NAME
					, T2.OSS_VERSION
					, T4.CVSS_SCORE
					, T4.CVE_ID
					, T5.VULN_SUMMARY
					, DATE_FORMAT(T5.MODI_DATE, '%Y-%m-%d') AS MODI_DATE
					, DATE_FORMAT(T5.PUBL_DATE, '%Y-%m-%d') AS PUBL_DATE
					, CAST(HIS.CVSS_SCORE AS DECIMAL(10, 1)) AS HIS_CVSS_SCORE
					, CAST(HIS.CVSS_SCORE_TO AS DECIMAL(10, 1)) AS HIS_CVSS_SCORE_TO
			FROM PROJECT_MASTER T1
			INNER JOIN OSS_COMPONENTS T2
			ON T1.PRJ_ID = T2.REFERENCE_ID
			AND T2.REFERENCE_DIV = '50'
			AND T2.EXCLUDE_YN <> 'Y'
			INNER JOIN OSS_MASTER T4
			ON T2.OSS_NAME = T4.OSS_NAME
			AND T2.OSS_VERSION = T4.OSS_VERSION
			AND T4.VULN_YN = 'N'
			AND T4.USE_YN = 'Y'
			AND T4.VULN_DATE IS NULL
			LEFT JOIN NVD_CVE_V3 T5
			ON T4.CVE_ID = T5.CVE_ID
			INNER JOIN NVD_OSS_HIS HIS
			ON IFNULL(T4.OSS_NAME, T2.OSS_NAME) = HIS.OSS_NAME
			AND T2.OSS_VERSION = HIS.OSS_VERSION
			AND HIS.REG_DT > ADDDATE(SYSDATE(), INTERVAL - 3 DAY)
			WHERE T1.PRJ_ID = #{prjId}
		) RTN
		WHERE RTN.HIS_CVSS_SCORE_TO < RTN.HIS_CVSS_SCORE
		AND HIS_CVSS_SCORE >= #{standardScore}
		AND HIS_CVSS_SCORE_TO < #{standardScore}
		GROUP BY RTN.OSS_ID
		ORDER BY RTN.OSS_NAME
	]]>
	</select>
 </mapper>
