<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="oss.fosslight.repository.SearchMapper">

    <select id="selectProjectSearchFilter" resultType="java.lang.String">
        SELECT FILTER
        FROM SEARCH
        WHERE SEARCH_TYPE = 'PROJECT' AND USER_ID = #{userId}
    </select>


    <select id="selectSelfCheckSearchFilter" resultType="java.lang.String">
        SELECT FILTER
        FROM SEARCH
        WHERE SEARCH_TYPE = 'SELF_CHECK' AND USER_ID = #{userId}
    </select>


    <select id="selectPartnerSearchFilter" resultType="java.lang.String">
        SELECT FILTER
        FROM SEARCH
        WHERE SEARCH_TYPE = 'THIRD_PARTY' AND USER_ID = #{userId}
    </select>


    <select id="selectOssSearchFilter" resultType="java.lang.String">
        SELECT FILTER
        FROM SEARCH
        WHERE SEARCH_TYPE = 'OSS' AND USER_ID = #{userId}
    </select>


    <select id="selectLicenseSearchFilter" resultType="java.lang.String">
        SELECT FILTER
        FROM SEARCH
        WHERE SEARCH_TYPE = 'LICENSE' AND USER_ID = #{userId}
    </select>


    <select id="selectSearchFilter" resultType="java.lang.String">
        SELECT FILTER
        FROM SEARCH
        WHERE USER_ID = #{userId} AND SEARCH_TYPE = #{type}
    </select>

    <insert id="upsertSearchFilter">
        INSERT
        INTO SEARCH
        (
            FILTER,
            SEARCH_TYPE,
            USER_ID
        )
        VALUES
        (
            #{jsonfilter},
            #{type},
            #{userId}
        )
        ON DUPLICATE KEY UPDATE
            FILTER = #{jsonfilter},
            UPDATED_TIME = NOW()
    </insert>

    <select id="selectUserColumns" resultType="java.lang.String">
        SELECT COLUMNS
        FROM USER_COLUMNS
        WHERE USER_ID = #{userId} AND LIST_TYPE = #{listType}
    </select>

    <insert id="insertUserColumns">
        INSERT INTO USER_COLUMNS
        (
            COLUMNS,
            LIST_TYPE,
            USER_ID
        )
        VALUES
        (
            #{columns},
            #{listType},
            #{userId}
        )
        ON DUPLICATE KEY UPDATE
            COLUMNS = #{columns},
            UPDATED_DATE = NOW()
    </insert>
</mapper>