<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="oss.fosslight.repository.SentMailMapper">

	<sql id="limitPage">
		LIMIT #{startIndex}, #{pageListSize}
	</sql>
    <sql id="orderby">
        ORDER BY
		<choose>
			<when test="@oss.fosslight.util.StringUtil@equals('MSG_TYPE', sidx)">
				MSG_TYPE
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('SND_STATUS', sidx)">
				SND_STATUS
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('EML_TITLE', sidx)">
				EML_TITLE
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('CREATION_DATE', sidx)">
				CREATION_DATE
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('CREATION_USER', sidx)">
				CREATION_USER
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('ERROR_MSG', sidx)">
				ERROR_MSG
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('EML_TO', sidx)">
				EML_TO
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('EML_CC', sidx)">
				EML_CC
			</when>
		</choose>
		<choose>
			<when test="@oss.fosslight.util.StringUtil@equals('asc', sord)">
				ASC
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('desc', sord)">
				DESC
			</when>
		</choose>
    </sql>
    
    <select id="selectSentMailTotalCount" parameterType="oss.fosslight.domain.CoMail" resultType="int">
    SELECT
    	COUNT(1)
    FROM
    	EMAIL_SND_HIS
    WHERE 1=1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(filterCondition)">
			${filterCondition}
		</if>
    </select>
	<select id="selectSentMailList" parameterType="oss.fosslight.domain.CoMail" resultType="oss.fosslight.domain.CoMail">
		SELECT SND_SEQ, MSG_TYPE, RCR_NAME, REPLACE(EML_TO, '|', ', ') AS EML_TO, SND_NAME, EML_FROM, REPLACE(EML_CC, '|', ', ') AS EML_CC, EML_BCC, EML_TITLE, EML_MESSAGE, SND_STATUS, USE_FLAG, 
 DATE_FORMAT(CREATION_DATE, '%Y-%m-%d %H:%i') AS CREATION_DATE, CREATION_USER_ID, LAST_UPDATE_DATE, LAST_UPDATE_USER_ID, FILE_SEQ, IQR_SEQ, IQR_HIS_SEQ, USER_SEQ, ERROR_MSG
		FROM EMAIL_SND_HIS
		WHERE 1=1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(filterCondition)">
			${filterCondition}
		</if>
		<include refid="orderby"/>
		<include refid="limitPage"/>
	</select>
    
</mapper>
