<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="oss.fosslight.repository.SentMailMapper">

	<sql id="limitPage">
		LIMIT #{startIndex}, #{pageListSize}
	</sql>
    <sql id="orderby">
        ORDER BY
		<choose>
			<when test="@oss.fosslight.util.StringUtil@equals('MSG_TYPE', sidx)">
				MSG_TYPE
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('SND_STATUS', sidx)">
				SND_STATUS
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('EML_TITLE', sidx)">
				EML_TITLE
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('CREATION_DATE', sidx)">
				CREATION_DATE
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('CREATION_USER_ID', sidx)">
				CREATION_USER_ID
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('ERROR_MSG', sidx)">
				ERROR_MSG
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('EML_TO', sidx)">
				EML_TO
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('EML_CC', sidx)">
				EML_CC
			</when>
		</choose>
		<choose>
			<when test="@oss.fosslight.util.StringUtil@equals('asc', sord)">
				ASC
			</when>
			<when test="@oss.fosslight.util.StringUtil@equals('desc', sord)">
				DESC
			</when>
		</choose>
    </sql>

	<sql id="filters">
		<foreach collection="filtersMap.rules" item="item">
			AND
			<choose>
				<when test="@oss.fosslight.util.StringUtil@equals('msgType', item.field)">
					MSG_TYPE
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('sndStatus', item.field)">
					SND_STATUS
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('emlTitle', item.field)">
					EML_TITLE
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('creationDate', item.field)">
					DATE_FORMAT(CREATION_DATE, '%Y-%m-%d')
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('creationUserId', item.field)">
					CREATION_USER_ID
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('errorMsg', item.field)">
					ERROR_MSG
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('emlTo', item.field)">
					EML_TO
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('emlCc', item.field)">
					EML_CC
				</when>
			</choose>
			<choose>
				<when test="@oss.fosslight.util.StringUtil@equals('eq', item.op)">
					= #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('ne', item.op)">
					<![CDATA[<>]]> #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('bw', item.op)">
					LIKE CONCAT(#{item.data}, '%')
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('bn', item.op)">
					NOT LIKE CONCAT(#{item.data}, '%')
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('ew', item.op)">
					LIKE CONCAT('%', #{item.data})
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('en', item.op)">
					NOT LIKE CONCAT('%', #{item.data})
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('cn', item.op)">
					LIKE CONCAT('%', #{item.data}, '%')
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('nc', item.op)">
					NOT LIKE CONCAT('%', #{item.data}, '%')
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('lt', item.op)">
					<![CDATA[<]]> #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('le', item.op)">
					<![CDATA[<=]]> #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('gt', item.op)">
					<![CDATA[>]]> #{item.data}
				</when>
				<when test="@oss.fosslight.util.StringUtil@equals('ge', item.op)">
					<![CDATA[>=]]> #{item.data}
				</when>
				<otherwise>

				</otherwise>
			</choose>
		</foreach>
    </sql>
    
    <select id="selectSentMailTotalCount" parameterType="oss.fosslight.domain.CoMail" resultType="int">
    SELECT
    	COUNT(1)
    FROM
    	EMAIL_SND_HIS
    WHERE 1=1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(filterCondition)">
			<include refid="filters"/>
		</if>
    </select>
	<select id="selectSentMailList" parameterType="oss.fosslight.domain.CoMail" resultType="oss.fosslight.domain.CoMail">
		SELECT SND_SEQ, MSG_TYPE, RCR_NAME, REPLACE(EML_TO, '|', ', ') AS EML_TO, SND_NAME, EML_FROM, REPLACE(EML_CC, '|', ', ') AS EML_CC, EML_BCC, EML_TITLE, EML_MESSAGE, SND_STATUS, USE_FLAG, 
 DATE_FORMAT(CREATION_DATE, '%Y-%m-%d %H:%i') AS CREATION_DATE, CREATION_USER_ID, LAST_UPDATE_DATE, LAST_UPDATE_USER_ID, FILE_SEQ, IQR_SEQ, IQR_HIS_SEQ, USER_SEQ, ERROR_MSG
		FROM EMAIL_SND_HIS
		WHERE 1=1
		<if test="!@oss.fosslight.util.StringUtil@isEmpty(filterCondition)">
			<include refid="filters"/>
		</if>
		<include refid="orderby"/>
		<include refid="limitPage"/>
	</select>
    
</mapper>
