<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="contentScript">
<script th:inline="javascript">
var androidGridCompleteFlag = false;

$(document).ready(function () {
	com_evt.init();
	binAndroid_evt.init();
	bat_evt.init();
	fn.displayProjectInfo();
	
	activeTab = "binAndroidDiv";
	
	$("[id^=tabMenu]").on("click", function() {
		var tabId = $(this).attr("id");
		tabId = tabId.replace("tabMenu", "");
		
		let firstChar = tabId[0];
		let firstCharLower = firstChar.toLowerCase();
		let leftChar = tabId.slice(1, tabId.length);
		activeTab = firstCharLower + leftChar + "Div";
		
		$("[name=gridArea]").hide();
		$("#gridArea"+tabId).show();
	});
});

	var fn = {
		displayProjectInfo : function() {
				var display = "";
				
				var pNm = [[${project.prjName}]];
				var pVer = [[${project.prjVersion}]];
				if ("" != pVer && pVer != null) pNm += " (v" + pVer + ")";
				
				// project name
				var prjName = "<span class=\"description-percentage text-lg text-dark-gray\">";
				prjName += "<a class=\"text-dark-gray text-bold hover-line urlLink goToEditLink\" style=\"cursor: pointer;\" onclick=\"fn.mvEditTab(" + [[${project.prjId}]] + ")\" title=\"" + pNm + "\">" + pNm + "</a></span>";
				display += prjName;
				
				// status
				var status = "<span class=\"ml-2\"> | </span>";
				var projectStatus = [[${project.status}]];
				var customStatus = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_PROJECT_STATUS'), project.status)}]];
				
				switch(projectStatus){
				case 'REQ':
					status += "<span class=\"text-pink text-bold ml-2\">" + customStatus + "</span>";

					break;
				case 'REV':
					status += "<span class=\"text-yellow text-bold ml-2\">" + customStatus + "</span>";

					break;
				case 'DROP':
					status += "<span class=\"text-gray text-bold ml-2\">" + customStatus + "</span>";

					break;
				case 'FREV':
					status += "<span class=\"text-purple text-bold ml-2\">" + customStatus + "</span>";

					break;
				case 'COMP':
					status += "<span class=\"text-dark-blue text-bold ml-2\">" + customStatus + "</span>";

					break;
				default:
					status += "<span class=\"text-success text-bold ml-2\">" + customStatus + "</span>";

					break;
				}
				display += status;
				
				// osc progress
				var identificationStatus = [[${project.identificationStatus}]];
				identificationStatus = identificationStatus||"";
				var verificationStatus = [[${project.verificationStatus}]];
				verificationStatus = verificationStatus||"";
				var destributionStatus = [[${project.destributionStatus}]];
				destributionStatus = destributionStatus||"";
				var statusRequestYn = [[${project.statusRequestYn}]];
				statusRequestYn = statusRequestYn||"";
				
				var oscProgress = "<span class=\"ml-2\"> | </span>";
				if ("" != identificationStatus) {
					if ("DROP" == projectStatus) {
						if ("CONF" == identificationStatus) {
							oscProgress += '<span class="badge badge-gray size-sm width-6rem px-1 ml-2 customShadow">Identification</span>';
						} else {
							oscProgress += '<span class="badge badge-outline-gray-white size-sm width-6rem px-1 ml-2 customShadow">Identification</span>';
						}
					} else if ("FREV" == projectStatus) {
						oscProgress += "<span class=\"badge badge-outline-dark-blue hover-light-btn size-sm width-6rem px-1 ml-2 customShadow\" style=\"cursor:pointer;\" ";
						if ("Y" == [[${project.androidFlag}]]) {
							oscProgress += "onclick=\"createTabInFrame('"+[[${project.prjId}]]+"_Identify', '/project/identification/" + [[${project.prjId}]] + "/4')\">Identification</span>";
						} else {
							oscProgress += "onclick=\"createTabInFrame('"+[[${project.prjId}]]+"_Identify', '/project/identification/" + [[${project.prjId}]] + "/5')\">Identification</span>";
						}
					} else {
						var initDiv = "4";
						
						if ("CONF" == identificationStatus) {
							oscProgress += "<span class=\"badge badge-outline-dark-blue hover-light-btn size-sm width-6rem px-1 ml-2 customShadow\" style=\"cursor:pointer;\" ";
							oscProgress += "onclick=\"createTabInFrame('"+[[${project.prjId}]]+"_Identify', '/project/identification/" + [[${project.prjId}]] + "/" + initDiv + "')\">Identification</span>";
						} else if ("PROG" == projectStatus) {
							oscProgress += "<span class=\"badge badge-success hover-success-btn size-sm width-6rem px-1 ml-2 customShadow\" style=\"cursor:pointer;\" ";
							oscProgress += "onclick=\"createTabInFrame('"+[[${project.prjId}]]+"_Identify', '/project/identification/" + [[${project.prjId}]] + "/" + initDiv + "')\">Identification</span>";
						} else if ("REQ" == projectStatus) {
							oscProgress += "<span class=\"badge badge-pink hover-pink-btn size-sm width-6rem px-1 ml-2 customShadow\" style=\"cursor:pointer;\" ";
							oscProgress += "onclick=\"createTabInFrame('"+[[${project.prjId}]]+"_Identify', '/project/identification/" + [[${project.prjId}]] + "/" + initDiv + "')\">Identification</span>";
						} else if ("REV" == projectStatus) {
							oscProgress += "<span class=\"badge badge-yellow hover-yellow-btn size-sm width-6rem px-1 ml-2 customShadow\" style=\"cursor:pointer;\" ";
							oscProgress += "onclick=\"createTabInFrame('"+[[${project.prjId}]]+"_Identify', '/project/identification/" + [[${project.prjId}]] + "/" + initDiv + "')\">Identification</span>";
						}
					}
				} else {
					if ("DROP" == projectStatus) {
						oscProgress += '<span class="badge badge-success hover-success-btn size-sm width-6rem px-1 ml-2 customShadow">Identification</span>';
					} else {
						oscProgress += "<span class=\"badge badge-success hover-success-btn size-sm width-6rem px-1 ml-2 customShadow\" style=\"cursor:pointer;\" ";
						oscProgress += "onclick=\"createTabInFrame('"+[[${project.prjId}]]+"_Identify', '/project/identification/" + [[${project.prjId}]] + "/4')\">Identification</span>";
					}
				}
				
				if ("CONF" != identificationStatus) {
					oscProgress += '<span class="text-gray-white text-bold text-md ml-2">&gt;</span>';
					oscProgress += '<span class="badge badge-outline-gray-white size-sm width-6rem px-1 ml-2">Packaging</span>';
				} else {
					oscProgress += '<span class="text-blue-gray text-bold text-md ml-2">&gt;</span>';
					if ("DROP" == projectStatus) {
						if ("CONF" == verificationStatus) {
							oscProgress += '<span class="badge badge-gray size-sm width-6rem px-1 ml-2">Packaging</span>';
						} else {
							oscProgress += '<span class="badge badge-outline-gray-white size-sm width-6rem px-1 ml-2">Packaging</span>';
						}
					} else {
						if ("" == verificationStatus) {
							if ("COMP" == projectStatus || "Y" == statusRequestYn) {
								oscProgress += '<span class="badge badge-outline-gray-white size-sm width-6rem px-1 ml-2">Packaging</span>';
							} else if ("" != identificationStatus) {
								oscProgress += "<span class='badge badge-success hover-success-btn size-sm width-6rem px-1 ml-2' style='cursor:pointer;' onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Packaging', '/project/verification/" + [[${project.prjId}]] + "')\">Packaging</span>";
							}
						} else if ("PROG" == verificationStatus) {
							if ("COMP" == projectStatus || "Y" == statusRequestYn) {
								oscProgress += '<span class="badge badge-outline-gray-white size-sm width-6rem px-1 ml-2">Packaging</span>';
							} else {
								oscProgress += "<span class='badge badge-success hover-success-btn size-sm width-6rem px-1 ml-2' style='cursor:pointer;' onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Packaging', '/project/verification/" + [[${project.prjId}]] + "')\">Packaging</span>";
							}
						} else if ("REV" == verificationStatus) {
							oscProgress += "<span class='badge badge-yellow hover-yellow-btn size-sm width-6rem px-1 ml-2' style='cursor:pointer;' onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Packaging', '/project/verification/" + [[${project.prjId}]] + "')\">Packaging</span>";
						} else if ("REQ" == verificationStatus) {
							oscProgress += "<span class='badge badge-pink hover-pink-btn size-sm width-6rem px-1 ml-2' style='cursor:pointer;' onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Packaging', '/project/verification/" + [[${project.prjId}]] + "')\">Packaging</span>";
						} else if ("NA" == verificationStatus || "DROP" == verificationStatus) {
							oscProgress += '<span class="badge badge-outline-gray-white size-sm width-6rem px-1 ml-2">Packaging</span>';
						} else {
							if ("CONF" == verificationStatus) {
								oscProgress += "<span class='badge badge-outline-dark-blue hover-light-btn size-sm width-6rem px-1 ml-2' style='cursor:pointer;' onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Packaging', '/project/verification/" + [[${project.prjId}]] + "')\">Packaging</span>";
							} else {
								if ("NA" == [[${project.distributeTarget}]]) {
									oscProgress += '<span class="badge badge-outline-gray-white size-sm width-6rem px-1 ml-2">Packaging</span>';
								} else {
									if ("PROG" == projectStatus) {
										oscProgress += "<span class='badge badge-success hover-success-btn size-sm width-6rem px-1 ml-2' style='cursor:pointer;' onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Packaging', '/project/verification/" + [[${project.prjId}]] + "')\">Packaging</span>";
									} else if ("REQ" == projectStatus) {
										oscProgress += "<span class='badge badge-pink hover-pink-btn size-sm width-6rem px-1 ml-2' style='cursor:pointer;' onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Packaging', '/project/verification/" + [[${project.prjId}]] + "')\">Packaging</span>";
									} else if ("REV" == projectStatus) {
										oscProgress += "<span class='badge badge-yellow hover-yellow-btn size-sm width-6rem px-1 ml-2' style='cursor:pointer;' onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Packaging', '/project/verification/" + [[${project.prjId}]] + "')\">Packaging</span>";
									} else if ("FREV" == projectStatus) {
										oscProgress += "<span class='badge badge-outline-dark-blue hover-light-btn size-sm width-6rem px-1 ml-2' style='cursor:pointer;' onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Packaging', '/project/verification/" + [[${project.prjId}]] + "')\">Packaging</span>";
									}
								}
							}
						}
					}
				}
				
				display += oscProgress;
				
				// vulnerability score
				var standardScore = [[${@CoCodeManager.getCodeExpString(@CommonFunction.getCoConstDefVal('CD_SECURITY_VULNERABILITY_SCORE'), @CommonFunction.getCoConstDefVal('CD_SECURITY_VULNERABILITY_DETAIL_SCORE'))}]];
				var vulnerability = "<span class=\"ml-2\"> | </span>";
				
				var cvssScore = [[${project.cvssScore}]];
				var secCode = [[${project.secCode}]];
				var secCvssScore = [[${project.secCvssScore}]];
				
				if (secCvssScore != null && (secCode != null && "Fixed" != secCode)) {
					cvssScore = secCvssScore;
				}
				
				if (secCode != null) {
					if ("Fixed" == secCode) {
						if (cvssScore != null && cvssScore != 0) {
							vulnerability += "<span class=\"badge badge-cherry size-sm width-9rem pointer px-1 ml-2\" onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Security', '/project/security/" + [[${project.prjId}]] + "')\">Resolved(" + cvssScore + ")</span>";
						} else {
							vulnerability += "<span class=\"badge badge-cherry size-sm width-9rem pointer px-1 ml-2\" onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Security', '/project/security/" + [[${project.prjId}]] + "')\">Resolved(N/A)</span>";
						}
					} else {
						if (cvssScore >= standardScore) {
							vulnerability += "<span class=\"badge badge-dark-gray size-sm width-9rem pointer px-1 ml-2\" onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Security', '/project/security/" + [[${project.prjId}]] + "')\">Need to resolve(" + cvssScore + ")</span>";
						} else {
							if (cvssScore != null && cvssScore != 0) {
								vulnerability += "<span class=\"badge badge-cerebral-gray size-sm width-9rem pointer px-1 ml-2\" onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Security', '/project/security/" + [[${project.prjId}]] + "')\">Discovered(" + cvssScore + ")</span>";
							} else {
								vulnerability += "<span class=\"badge badge-cerebral-gray size-sm width-9rem pointer px-1 ml-2\" onclick=\"createTabInFrame('" + [[${project.prjId}]] + "_Security', '/project/security/" + [[${project.prjId}]] + "')\">Discovered(N/A)</span>";
							}
						}
					}
				} else {
					if (cvssScore != null && cvssScore != 0) {
						vulnerability += "<span class=\"badge badge-cerebral-gray size-sm width-9rem px-1 ml-2\">Discovered("+cvssScore+")</span>";
					} else {
						vulnerability += "<span class=\"badge badge-cerebral-gray size-sm width-9rem px-1 ml-2\">Discovered(N/A)</span>";
					}
				}
				
				display += vulnerability;
				$("#displayProjectInfo").html(display);
				
				if ($(".goToEditLink").width() > 300) {
					$(".goToEditLink").addClass("ellipsis");
				}
		},
		mvEditTab : function(prjId){
			createTabInFrame(prjId+'_Project', '/project/edit/'+prjId);
		},
	    handleUserCommentPopupOpen: function () {
	        // 코멘트 팝업
	        const param = {
	            "referenceDiv" : [[${@CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_IDENTIFICATION_USER')}]],
	            "referenceId" : [[${project.prjId}]]
	        }
	        getAjaxJsonData(param, "/comment/getDivUserComment", "html", function (res) {
	        	if(!alertify.editDialog){
	        		alertify.dialog('editDialog', function () {
	            		return {
	    					setup: function() {
	    						var settings = alertify.confirm().settings;
	    					
	    						for (var prop in settings) {
	    							this.settings[prop] = settings[prop];
	    						}
	    					
	    						var setup = alertify.confirm().setup();
	    						setup.buttons = [];
	    						setup.focus.element = 0;
	    					
	    						return setup;
	    					},
	    			    	hooks: {
	    			    		onshow: function() {
	    			        		this.elements.dialog.style.maxWidth = 'none';
	    			          		this.elements.dialog.style.width = '700px';
	    			        	}
	    					}
	    				};
	             	}, false, 'confirm');
	        	}

	        	alertify.editDialog(res);
	        	
	            },
	            null,
	            function () {
	                $("#modifiedCommentInPjtEditor").summernote({
	                    height: 180,
	                    callbacks: {
	                        onInit: function () {
	                            $(this).summernote('code', $("#userContents").val());
	                        }
	                    }
	                });
	            });
	    },
	    sendEditor: function (type) {
	        //코멘트 저장
	        var editorVal = replaceWithLink($("#modifiedCommentInPjtEditor").summernote('code'));
	        
	        if (!editorVal || editorVal == "") {
	            alertify.alert([[#{msg.project.enter.comment}]], function () {});
	            return false;
	        }
	        var referenceId = [[${project.prjId}]]
	        var param = {referenceId: referenceId, referenceDiv: [[${@CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_IDENTIFICAITON_HIS')}]], contents: editorVal, mailSendType: type, expansion1 : $(".nav-link.active").text()};
	        
	        $.ajax({
	            url: '/project/sendComment',
	            type: 'POST',
	            dataType: 'json',
	            cache: false,
	            data: param,
	            success: function (json) {
	                if (json.isValid == 'false') {
	                    alertify.error([[#{msg.common.valid2}]], 0);
	                } else {
	                    alertify.success([[#{msg.project.sent.comments.success}]]);
	                    $("#modifiedCommentInPjtEditor").summernote('code', '');
	                    $("#userContents").val('');
	                    $('.ajs-close').trigger("click");
	                    fn_comment.getCommentList(commentsParam);
	                    
	                    if (_popupComment == null || _popupComment.closed) {
	                    } else {
	                    	_popupComment.callbackFunction();
	                    }
	                }
	            },
	            error: function () {
	                alertify.error([[#{msg.common.valid2}]], 0);
	            }
	        });
	    },
	    saveEditor: function () {
	        //코멘트 임시저장
	        var editorVal = replaceWithLink($("#modifiedCommentInPjtEditor").summernote('code'));

	        var referenceId = [[${project.prjId}]]
	        var param = {
	            referenceId: referenceId
	            , referenceDiv: [[${@CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_IDENTIFICATION_USER')}]]
	            , contents: editorVal
	        };
	        $.ajax({
	            url: "/project/saveComment",
	            type: "POST",
	            dataType: "json",
	            cache: false,
	            data: param,
	            success: function (json) {
	                if (json.isValid == 'false') {
	                    alertify.error([[#{msg.common.valid2}]], 0);
	                } else {
	                    alertify.success([[#{msg.common.success}]]);
	                    $("#userContents").val(editorVal);
	                    $('.ajs-close').trigger("click");
	                }
	            },
	            error: function () {
	                alertify.error([[#{msg.common.valid2}]], 0);
	            }
	        });
	    }
	}
</script>
</th:block>
</html>