<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="contentScript">
<script th:inline="javascript">
var partnerFlag = [[${partnerFlag}]];
var batFlag = [[${batFlag}]];
var newPrjFlag = [[${newPrjFlag}]];

$(document).ready(function () {
	com_evt.init();
	if (partnerFlag) party_evt.init();
	dep_evt.init();
	src_evt.init();
	bin_evt.init();
	bom_evt.init();
	if (batFlag) bat_evt.init();
	
	$("[id^=tabMenu]").on("click", function() {
		var tabId = $(this).attr("id");
		tabId = tabId.replace("tabMenu", "");
		$("[name=gridArea]").hide();
		
		var applicable = $("#applicable" + tabId).is(':checked');
		$("#gridArea"+tabId).show();
		
		if (applicable) {
			var btnClass = "." + tabId.toLowerCase() + "Btn";
			$(btnClass).hide();
		}
	});

//	if ("N" == newPrjFlag) $("#expandBtn").trigger("click");
	
	$('.btnCommentHistory').on('click', function (e) {
        e.preventDefault();
        var _rDiv = [[${@CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_IDENTIFICAITON_HIS')}]];
        openCommentHistory('/comment/popup/prj/' + _rDiv + '/' + [[${project.prjId}]]);
    });
});

/* identification 코멘트 관련 함수 */
var fn = {
    handleUserCommentPopupOpen: function () {
        // 코멘트 팝업
        const param = {
            "referenceDiv" : [[${@CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_PACKAGING_USER')}]],
            "referenceId" : [[${project.prjId}]]
        }
        getAjaxJsonData(param, "/comment/getDivUserComment", "html", function (res) {
                if (!alertify.editDialog) {
                    alertify.dialog('editDialog', function () {
                        return {
                            main: function (content) {
                                this.setContent(content);
                            },
                            setup: function () {
                                return {
                                    buttons: [],
                                    focus: {element: 0}
                                };
                            }
                        };
                    });
                }

                editDailog = alertify.editDialog(res).set('resizable', true).resizeTo('25%', 380);
            },
            null,
            function () {
                $("#modifiedCommentInPjtEditor").summernote({
                    height: 100,
                    callbacks: {
                        onInit: function () {
                            $(this).summernote('code', $("#contents").val());
                        }
                    }
                });
            });
    },
    sendEditor: function (type) {
        //코멘트 저장
        var editorVal = replaceWithLink($("#modifiedCommentInPjtEditor").summernote('code'));
        
        if (!editorVal || editorVal == "") {
            alertify.alert([[#{msg.project.enter.comment}]], function () {
            });
            return false;
        }
        var referenceId = [[${project.prjId}]]
        var param = {referenceId: referenceId, referenceDiv: '10', contents: editorVal, mailSendType: type, expansion1 : $(".nav-link.active").text()};

        $.ajax({
            url: '/project/sendComment',
            type: 'POST',
            dataType: 'json',
            cache: false,
            data: param,
            success: function (json) {
                if (json.isValid == 'false') {
                    alertify.error([[#{msg.common.valid2}]], 0);
                } else {
                    alertify.success([[#{msg.project.sent.comments.success}]]);
                    $("#userComment").val('');
                    editDailog.close();
                }
            },
            error: function () {
                alertify.error([[#{msg.common.valid2}]], 0);
            }
        });
    },
    saveEditor: function () {
        //코멘트 임시저장
        var editorVal = replaceWithLink($("#modifiedCommentInPjtEditor").summernote('code'));

        var referenceId = [[${project.prjId}]]
        var param = {
            referenceId: referenceId
            , referenceDiv: '11'
            , contents: editorVal
        };
        $.ajax({
            url: "/project/saveComment",
            type: "POST",
            dataType: "json",
            cache: false,
            data: param,
            success: function (json) {
                if (json.isValid == 'false') {
                    alertify.error([[#{msg.common.valid2}]], 0);
                } else {
                    alertify.success([[#{msg.common.success}]]);
                }
                $("#userComment").val(editorVal);
                editDailog.close();
            },
            error: function () {
                alertify.error([[#{msg.common.valid2}]], 0);
            }
        });
    },
}
</script>
</th:block>
</html>