<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="project/list-header :: headerFragment"></th:block>
<th:block th:replace="fragments/gridCommonFn :: gridCommonFn"></th:block>
<th:block th:replace="project/list-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <div class="content-wrapper custom-layout">
            <!-- Content Header (Page header) -->
            <section class="content-header"></section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                	<form id="projectSearch" name="projectSearch">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-dark card-outline collapsed-card search-form mb-3">
                                <div class="card-header" style="border-bottom: none;">
                                    <div class="row">
                                        <div class="col-md-7 d-flex">
                                        	<div class="row" style="width: 100%;">
                                        		<div class="col-12">
                                        			<div class="input-group">
                                                		<input type="search"  class="form-control autoComProjectNm" name="prjName" placeholder="Project Name" th:value="${searchBean?.prjName}">
                                                		<div class="input-group-append">
                                                    		<button id="search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                		</div>
                                            		</div>
                                        		</div>
                                        	</div>
                                   		</div>
                                        <div class="col-md-3 d-flex justify-content-start pl-3">
                                        	<div class="input-group-append d-flex align-items-center">
                                            	<a class="text-blue-gray" data-card-widget="collapse" title="Collapse" style="font-size: 1rem;" th:text="'+ Advanced Search'"></a>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn-group float-right mt-1">
                                                <button type="button" class="btn btn-danger px-3 btn-sm helpBtnL"><strong th:text="Help"></strong></button>
                                                <button type="button" class="btn btn-danger btn-sm dropdown-toggle dropdown-icon helpBtnR" data-toggle="dropdown">
                                                    <span class="sr-only" th:text="'Toggle Dropdown'"></span>
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item" href="#" th:onclick="|openHelpGuideLink('Project_List_Main')|" th:text="'How to use FossLight Hub'"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body py-1">
										<div class="row">
                                            <div class="col-4">
                                                <div class="form-group mb-2">
                                                    <input type="text" name="prjId" class="form-control" placeholder="ID" th:value="${searchBean?.prjId}">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group mb-2">
                                                    <div class="input-group" style="width: 100%;">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-calendar-alt"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Created Date" id="createdDate">
                                                        <input name="schStartDate" id="schStartDate" type="hidden" th:value="${searchBean?.schStartDate}" />
														<input name="schEndDate" id="schEndDate" type="hidden" th:value="${searchBean?.schEndDate}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group mb-2">
                                                    <select class="form-control select2" id="division" name="prjDivision" style="width: 100%">
                                                    	<option th:value="''"></option>
                                                    	<th:block th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_USER_DIVISION'))}">
                                                    		<option th:value="${option.cdDtlNo}" th:text="${option?.cdDtlNm}"
                                                                    th:selected="${searchBean?.prjDivision != null and option.cdDtlNo == searchBean?.prjDivision}"></option>
                                                    	</th:block>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group mb-2">
                                                	<div class="input-group">
                                                    	<input type="text" class="form-control autoComCreatorDivision" placeholder="Creator" name="creator" th:value="${searchBean?.creator}" />
                                                	</div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group mb-2">
                                                	<div class="input-group">
                                                    	<input type="text" class="form-control autoComReviewer" placeholder="Reviewer" name="reviewer" th:value="${searchBean?.reviewer}" />
                                                	</div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group mb-2">
                                                	<div class="input-group">
                                                    	<input type="text" class="form-control" placeholder="Watcher" name="watchers" th:value="${searchBean.watchers != null} ? ${searchBean.watchers[0]}" />
                                                	</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group mb-2">
                                                    <select class="select2" name="networkServerType" id="networkServerTypeSelect"
                                                            style="width: 100%;">
                                                        <option value=""></option>
                                                        <option value="Y" th:selected="${#strings.equals(searchBean.networkServerType, 'Y')}" th:text="|Yes|"></option>
                                                        <option value="N" th:selected="${#strings.equals(searchBean.networkServerType, 'N')}" th:text="|No|"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group mb-2">
                                                    <th:block th:with="statusArray=${#strings.arraySplit(searchBean.statuses, ',')}">
                                                        <select class="form-control select2" multiple="multiple" id="prjStatusSelect" name="statuses" style="width: 100%;">
                                                            <option th:value="''"></option>
                                                            <option th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_PROJECT_STATUS'))}"
                                                                    th:text="${option.cdDtlNm}"
                                                                    th:value="${option.cdDtlNo}"
                                                                    th:selected="${statusArray != null and #arrays.contains(statusArray, option.cdDtlNo)}">
                                                            </option>
                                                        </select>
                                                    </th:block>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group mb-2">
                                                    <select class="form-control select2" style="width: 100%;" id="priority" name="priority">
                                                    	<option th:value="''"></option>
                                                        <option th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_PROJECT_PRIORITY'))}"
                                                            	th:value="${option.cdDtlNo}" 
                                                            	th:text="${option.cdDtlNm}" 
                                                            	th:selected="${searchBean?.priority != null and option.cdDtlNo == searchBean?.priority}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        	<div class="col-4">
                                                <div class="form-group mb-2">
                                                	<div class="input-group">
                                                    	<input type="text" class="form-control" placeholder="Model Name" name="modelName" th:value="${searchBean?.modelName}"/>
                                                	</div>
                                                </div>
                                            </div>
                                            <div sec:authorize="!hasRole('ROLE_ADMIN')" class="col-4 d-flex justify-content-start mx-2">
                                            	<div class="form-group mb-2 d-flex align-items-center">
                                                    <div class="form-check mb-1" style="font-size: .85rem">
                                                        <input class="form-check-input text-orange" type="checkbox" id="checkbox3" name="publicYn" th:checked="${searchBean.publicYn == 'N'}">
                                                        <label class="form-check-label text-lg-gray" for="checkbox3" th:text="'View My Projects Only'"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                       <a class="small-box-footer mb-2" href="#" id="moreInfoBtn">More <i class="fas fa-arrow-circle-down"></i></a>
                                       <div class="more-search" id="moreSearchContent" style="display: none">
                                           <div class="row">
                                               <div class="col-md-4">
                                                   <div class="form-group mb-2">
                                                       <input type="search" name="ossName" class="form-control autoComOss" th:placeholder="|OSS Name|" th:value="${searchBean?.ossName}">
                                                   </div>
                                               </div>
                                               <div class="col-md-4">
                                                   <div class="form-group mb-2">
                                                       <input type="search" name="ossVersion" class="form-control autoComOssVersion" th:placeholder="|OSS Version|" th:value="${searchBean?.ossVersion}">
                                                   </div>
                                               </div>
                                               <div class="col-md-4">
                                                   <div class="form-group mb-2">
                                                       <input type="search" name="licenseName" class="form-control autoComLicense" th:placeholder="|License Name|" th:value="${searchBean?.licenseName}">
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="row">
                                               <div class="col-md-4">
                                                   <div class="form-group mb-2">
                                                       <textarea class="form-control" name="comment" th:placeholder="|Additional Information|" rows="3" th:utext="${searchBean?.comment}"></textarea>
                                                   </div>
                                               </div>
                                               <div class="col-md-4">
                                                   <div class="form-group mb-2">
                                                       <textarea class="form-control" name="userComment" th:placeholder="|Comment|" rows="3" th:utext="${searchBean?.userComment}"></textarea>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="row">
                                               <div class="col-md-4">
                                                   <div class="form-group mb-2">
                                                       <input type="search" name="schBinaryName" class="form-control" th:placeholder="|Binary Name|" th:value="${searchBean?.schBinaryName}">
                                                   </div>
                                               </div>
                                               <th:block th:if="${partnerFlag}">
                                               <div class="col-md-4">
                                                   <div class="form-group mb-2">
                                                       <input type="search" name="refPartnerId" class="form-control" th:placeholder="|3rd party|" th:value="${searchBean?.refPartnerId}">
                                                   </div>
                                               </div>
                                               </th:block>
                                           </div>
                                       </div>
                                   </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
					</form>

                    <div class="row px-1">
                        <div class="col-md-6">
                            <div class="row">
                            	<button type="button" class="btn btn-yellow-01 btn-sm width-10rem mr-xm px-3" th:onclick="|fn.copy()|" th:text="Copy"></button>
                                <div class="btn-group btn-group-sm width-10rem mr-xm" id="ChangeContainer">
                                    <button type="button" class="btn btn-yellow-03 px-3" th:text="Change"></button>
                                    <button type="button" class="btn btn-yellow-03 dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                        <span class="sr-only" th:text="'Toggle Dropdown'"></span>
                                    </button>
                                    <div class="dropdown-menu" id="ChangeList" role="menu">
                                        <a class="dropdown-item" href="#" th:onclick="|fn.checkProjectStatus()|" th:text="Status"></a>
                                        <a class="dropdown-item" href="#" th:onclick="|fn.changeDivision()|" th:text="Division"></a>
                                        <a class="dropdown-item" href="#" th:onclick="|fn.changeWatcher()|" th:text="Watcher"></a>
                                    </div>
                                </div>
                            	<button type="button" class="btn btn-yellow-01 btn-sm width-10rem mr-xm px-3" th:onclick="|fn.bomCompare()|" th:text="'BOM Compare'"></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row float-right">
                           		<button type="button" class="btn btn-teal-01 btn-sm width-6rem mr-xm px-3" th:onclick="|fn.downloadExcel()|"><i class="far fa-file-excel mr-2"></i>Export</button>
                                <button type="button" class="btn btn-dark-01 btn-sm width-6rem mr-xm px-3" th:onclick="|createTabInFrame('New_Project', '/project/edit')|" th:text="Add"></button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="col-sm-12 jqGridSet" id="projectGrid">
                                <table id="list"><tr><td></td></tr></table>
                                <div id="pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- loading bar -->
                <th:block th:replace="fragments/common-fragments :: loadingWrapFragment"></th:block>
                <!-- /. loading bar -->
            </section>
        </div>
    </div>
    </div>
</body>
</html>