<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="project/security-header :: headerFragment"></th:block>
<th:block th:replace="fragments/gridCommonFn :: gridCommonFn"></th:block>
<th:block th:replace="project/security-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <div class="content-wrapper custom-layout">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8 text-left mt-2">
                            <span class="description-percentage text-dark-gray" id="prjName"><b></b></span>
                            <span class="text-lg-gray text-smaller mx-1" id="creator"></span>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Main content -->
            <section class="content">
            	<div class="container-fluid">
                    <div class="card card-dark card-tabs">
                        <div class="card-header p-0 pt-1" style="display:inline-block;">
                        	<div class="float-left" style="display:inline;">
                            	<ul class="nav nav-tabs" id="menu-tab" role="tablist">
                                	<li class="nav-item">
                                    	<a class="nav-link active" id="tabMenuTotal" data-toggle="pill" href="#menu-total" role="tab" aria-controls="menu-total" aria-selected="true" th:text="Total"></a>
                                	</li>
                                	<li class="nav-item">
                                    	<a class="nav-link" id="tabMenuFixed" data-toggle="pill" href="#menu-fixed" role="tab" aria-controls="menu-fixed" aria-selected="false" th:text="Fixed"></a>
                                	</li>
                                	<li class="nav-item">
                                    	<a class="nav-link" id="tabMenuNotFixed" data-toggle="pill" href="#menu-not-fixed" role="tab" aria-controls="menu-not-fixed" aria-selected="false" th:text="'Not Fixed'"></a>
                                	</li>
                            	</ul>
                        	</div>
                        	<div class="float-right mr-3" style="margin-top: .35rem">
                                <button type="button" class="btn btn-purple btn-xs px-3 btnCommentHistory" data-toggle="on" th:text="'Show Comment History'"></button>
                                <button type="button" class="btn btn-default btn-xs px-3 commentBtn" data-toggle="off" th:text="'Comment Edit'"></button>
                            </div>
                        </div>
                    </div>

					<div class="row pl-2" name="gridArea" id="gridAreaTotal" style="width: 100%; display: none;">
                        <!-- buttons -->
                        <div class="col-md-12 mb-3 pl-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row float-left pl-2">
                                        <button type="button" class="btn btn-yellow-04 btn-sm width-10rem mr-xm px-3" th:onclick="|sec_com_fn.bulkEdit('total')|" th:text="'Bulk Edit'"></button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row float-right">
                                        <button type="button" class="btn btn-yellow-04 btn-sm width-6rem mr-xm px-3" th:onclick="|com_fn.downloadExcel('total')|" th:text="Export"></button>
                                        <button type="button" class="btn btn-teal-01 btn-sm width-6rem px-3" th:onclick="|total.save()|" th:text="Save"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- grids -->
                        <div class="col-md-12 outerJqGridSet">
                            <table id="totalList"><tr><td></td></tr></table>
                            <div id="totalListPager"></div>
                        </div>
                    </div>
                    
                    <div class="row pl-2" name="gridArea" id="gridAreaFixed" style="width: 100%;display: none;">
                        <!-- buttons -->
                        <div class="col-md-12 mb-3 pl-2">
                            <div class="row">
                            	<div class="col-md-6">
                                    <div class="row float-left pl-2">
                                        <button type="button" class="btn btn-yellow-04 btn-sm width-10rem mr-xm px-3" th:onclick="|sec_com_fn.bulkEdit('fixed')|" th:text="'Bulk Edit'"></button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row float-right">
                                        <button type="button" class="btn btn-yellow-04 btn-sm width-6rem mr-xm px-3" th:onclick="|com_fn.downloadExcel('fixed')|" th:text="Export"></button>
                                        <button type="button" class="btn btn-teal-01 btn-sm width-6rem px-3" th:onclick="|fixed.save()|" th:text="Save"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- grids -->
                        <div class="col-md-12 outerJqGridSet">
                            <table id="fixedList"><tr><td></td></tr></table>
                            <div id="fixedListPager"></div>
                        </div>
                    </div>
                    
                    <div class="row pl-2" name="gridArea" id="gridAreaNotFixed" style="width: 100%; display: none;">
                        <!-- buttons -->
                        <div class="col-md-12 mb-3 pl-2">
                            <div class="row">
                            	<div class="col-md-6">
                                    <div class="row float-left pl-2">
                                        <button type="button" class="btn btn-yellow-04 btn-sm width-10rem mr-xm px-3" th:onclick="|sec_com_fn.bulkEdit('notFixed')|" th:text="'Bulk Edit'"></button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row float-right">
                                        <button type="button" class="btn btn-yellow-04 btn-sm width-6rem mr-xm px-3" th:onclick="|com_fn.downloadExcel('notfixed')|" th:text="Export"></button>
                                        <button type="button" class="btn btn-teal-01 btn-sm width-6rem px-3" th:onclick="|notFixed.save()|" th:text="Save"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- grids -->
                        <div class="col-md-12 outerJqGridSet">
                            <table id="notFixedList"><tr><td></td></tr></table>
                            <div id="notFixedListPager"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- modal -->
            <div class="modal fade" id="modal-comment">
                <!-- modal dialog -->
                <div class="modal-dialog modal-lg">
                    <!-- modal-content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Comment</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <textarea id="compose-textarea-03" class="form-control" style="height: 800px" rows="3">
                                <ul>
                                    <li>List item one</li>
                                    <li>List item two</li>
                                    <li>List item three</li>
                                    <li>List item four</li>
                                </ul>
                            </textarea>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--/. modal -->
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <!-- /.control-sidebar -->
    </div>
    
    <form id="secBulkEditForm">
		<input type="hidden" name="rowId" value=""/>
		<input type="hidden" name="gridId" value=""/>
		<input type="hidden" name="target" value=""/>
	</form>
</body>
</html>