<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="project/security-header :: headerFragment"></th:block>
<th:block th:replace="fragments/gridCommonFn :: gridCommonFn"></th:block>
<th:block th:replace="project/security-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <div class="custom-layout multi-grid-page">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                    	<div class="d-flex align-items-center mt-2 ml-2" id="displayProjectInfo"></div>
                    	<div class="float-right align-items-center mt-2" style="margin-left: auto;">
<!--                        <div class="helpLink f-left dropdown float-right px-1">
                                <a class="help-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:text="|Help|"></a>
                                <div class="dropdown-menu mt-0">
                                    <a class="dropdown-item text-dark" href="#" th:onclick="|openHelpGuideLink('Project_List_Security')|">How to use FossLight Hub</a>
                                </div>
                            </div> -->
                            <div class="float-right">
                        		<button class="btn btn-outline-secondary btn-sm width-6rem px-1" th:onclick="|fn_comment.activateCommentArea()|"><i class="fas fa-comments pt-1"></i> Comment</button>
                        	</div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Main content -->
            <section class="content">
            	<div class="container-fluid">
            	<div class="row">
            	<div class="contents-area col-9">
            		<input type="hidden" name="prjId" th:value="${project.prjId}"/>
            		<div class="topper-content">
                    	<div class="card card-secondary card-tabs">
                       		<div class="card-header d-flex p-0 pt-1">
                        		<div class="d-flex align-items-center">
                            		<ul class="nav nav-tabs" id="menu-tab" role="tablist">
                                		<li class="nav-item">
                                    		<a class="nav-link" id="tabMenuTotal" data-toggle="pill" href="#menu-total" role="tab" aria-controls="menu-total" aria-selected="true" th:text="|Need to resolve|"></a>
                                		</li>
                                		<li class="nav-item">
	                                    	<a class="nav-link" id="tabMenuFullDiscovered" data-toggle="pill" href="#menu-fullDiscovered" role="tab" aria-controls="menu-fullDiscovered" aria-selected="true" th:text="|Full Discovered|"></a>
	                                	</li>
                            		</ul>
                        		</div>
                        		<div class="d-flex-align" style="margin-left: auto;">
	                        		<span th:if="${project.statusPermission > 0}" class="ml-2 mr-2 px-2 pointer" id="save" th:onclick="|total.save()|" title="save">
										<i class="fas fa-save customIcon2"></i>
									</span>
	                        	</div>
                        	</div>
                        	<div class="card-body">
	                        	<div class="tab-content" id="security-tabContent">
	                        		<div class="tab-pane fade" id="menu-total" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
	                        			<div class="ml-2 mb-1" th:text="${@CommonFunction.getCustomMessage('msg.project.security.tab.resolve', @CoCodeManager.getCodeExpString(@CommonFunction.getCoConstDefVal('CD_SECURITY_VULNERABILITY_SCORE'), @CommonFunction.getCoConstDefVal('CD_SECURITY_VULNERABILITY_DETAIL_SCORE')))}"></div>
	                        			<div class="card-body bg-ivory">
		                        			<div name="content_total" id="totalUploadSearch">
		                        				<form id="totalUploadForm" class="totalBtn">
													<input type="hidden" id="scrtCsvFileId" th:value="${project.scrtCsvFileId}"/>
												</form>
												<div class="row mt-4" id="content-total">
													<div class="col-12">
														<div class="row">
															<div class="col-lg-3 pl-3 mt-1">
																<strong th:text="'FOSSLight Security Report'"></strong>
															</div>
															<div class="col-lg-4 fileUploader">
																<div class="row">
																	<div class="col-lg-12">
																		<div class="fileuploader" id="scrtCsvFile" th:text="Upload"></div>
																	</div>
																</div>
															</div>
															<div class="col-lg-5">
																<div class="ajax-file-upload-container" style="margin-top: 0px; width: 100%;">
																	<ul class="scrtFileArea">
																		<th:block th:if="${project.scrtCsvFile != null}">
																			<th:block th:each="scrtCsvFile : ${project.scrtCsvFile}">
																				<li th:if="${scrtCsvFile.delYn eq 'N'}">
																					<a class="ajax-file-upload-filename" th:text="${scrtCsvFile.origNm}" th:href="@{'/download/' + ${scrtCsvFile.fileSeq} + '/' + ${scrtCsvFile.logiNm}}"></a>
																					<input type="hidden" class="scrtCsvFileSeq" th:value="${scrtCsvFile.fileSeq}" />
																					<span class="badge bg-danger" style="cursor: pointer;" th:onclick="|com_fn.deleteFiles(this, '1')|" th:text="X"></span>
																					<br>[[${scrtCsvFile.createdDate}]]</li>
																			</th:block>
																		</th:block>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
	                        			</div>
	                        		</div>
	                        		<div class="tab-pane fade" id="menu-fullDiscovered" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
	                        			<div class="ml-2" th:text="#{msg.project.security.tab.discovered}"></div>
	                        		</div>
	                        	</div>
	                        </div>
                    	</div>
                    </div>
					<div class="bottom-component">
						<div class="row pl-2 grid-area" name="gridArea" id="gridAreaTotal" style="width: 100%; display: none;">
                        	<div class="col-md-12 jqGridSet">
                            	<table id="totalList"><tr><td></td></tr></table>
                            	<div id="totalListPager"></div>
                        	</div>
                    	</div>
                    
                  		<div class="row pl-2 grid-area" name="gridArea" id="gridAreaFullDiscovered" style="width: 100%;display: none;">
	                    	<div class="col-md-12 jqGridSet">
	                            <table id="fullDiscoveredList"><tr><td></td></tr></table>
 	                            <div id="fullDiscoveredListPager"></div>
 	                        </div>
	                    </div>
                    </div>
                </div>
                <div class="col-lg-3 comment-area">
                	<div class="card card-lg-red" style="position:sticky;top:10px;">
                     	<div class="card-header">
                           	<h3 class="card-title" th:text="Comment"></h3>
                           	<div class="card-tools">
                           		<button type="button" class="btn btn-tool text-white commentBtn"><i class="fas fa-plus-circle"></i></button>
                            	<button type="button" class="btn btn-tool text-white" th:onclick="|fn_comment.showCommentHistory()|"><i class="fas fa-external-link-alt"></i></button>
                            	<button type="button" class="btn btn-tool text-white" th:onclick="|fn_comment.activateCommentArea()|"><i class="fas fa-times"></i></button>
                           	</div>
                      	</div>
                      	<div class="card-body comment-card-body pt-0" style="padding-bottom: 0;">
                           	<div clas="row">
                               	<div clas="col-md-12" id="commentList"></div>
                         	</div>
                  		</div>
                    </div>
               	</div>
                </div>
                </div>
                <th:block th:replace="fragments/common-fragments :: loadingWrapFragment"></th:block>
            </section>
        </div>
    </div>
    
    <th:block th:replace="project/view/sheetSelectView"></th:block>
    
    <form id="secBulkEditForm">
		<input type="hidden" name="rowId" value=""/>
		<input type="hidden" name="gridId" value=""/>
		<input type="hidden" name="target" value=""/>
	</form>
</body>
</html>