<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="viewScript">
    <script th:inline="javascript">
        var lastsel;
        var arr = new Array();
        var distributionStatus = [[${project.destributionStatus}]];
        var etcDomain = [[${@CommonFunction.getCoConstDefVal('CD_DTL_ECT_DOMAIN')}]];
        var osTypeEtc = [[${@CommonFunction.getCoConstDefVal('CD_OS_TYPE_ETC')}]];
        var divisionEmptyCd = [[${@CommonFunction.getCoConstDefVal('CD_USER_DIVISION_EMPTY')}]];
        var permission = [[${projectPermission}]];
        var isReadOnly = [[${isReadOnly}]];
        var detail = [[${detail}]];

        $(document).ready(function() {
            if(isReadOnly) {
                var identificationStatus = detail.identificationStatus;
                var verificaitonStatus = detail.verificationStatus;
                var distributionStatus = detail.destributionStatus;
                var dropYn = detail.dropYn;

                var identVal = "";
                if (identificationStatus) {
                    if (identificationStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_PROGRESS')}]]) {
                        identVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_PROGRESS'))}]];
                        $("#identificationStatus").text("Identification : " + identVal).css('background-color', 'rgb(157, 165, 184)').css('color', 'rgb(255, 255, 255)');
                    } else if (identificationStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_REQUEST')}]]) {
                        identVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_REQUEST'))}]];
                        $("#identificationStatus").text("Identification : " + identVal).css('background-color', 'rgb(109, 126, 156)').css('color', 'rgb(255, 255, 255)');
                    } else if (identificationStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_REVIEW')}]]) {
                        identVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_REVIEW'))}]];
                        $("#identificationStatus").text("Identification : " + identVal).css('background-color', 'rgb(109, 126, 156)').css('color', 'rgb(255, 255, 255)');
                    } else if (identificationStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]]) {
                        identVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM'))}]];
                        $("#identificationStatus").text("Identification : " + identVal).css('background-color', 'rgb(56, 79, 123)').css('color', 'rgb(255, 255, 255)');
                    }
                } else {
                    $("#identificationStatus").text("Identification").addClass("btn-default");
                }

                var verifyVal = "";
                if (verificaitonStatus) {
                    if (identificationStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]]) {
                        if ((identificationStatus != [[${@CommonFunction.getCoConstDefVal('CD_DTL_PROJECT_STATUS_COMPLETE')}]]
                                || identificationStatus != [[${@CommonFunction.getCoConstDefVal('CD_DTL_PROJECT_STATUS_DROP')}]])
                            && projectInfo.statusRequestYn == "N"
                            && verificaitonStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_PROGRESS')}]]) {
                            verifyVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_PROGRESS'))}]];
                            $("#verificationStatus").val("Verification : " + verifyVal).css('background-color', 'rgb(157, 165, 184)').css('color', 'rgb(255, 255, 255)');
                        } else if (verificaitonStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_REQUEST')}]]) {
                            verifyVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_REQUEST'))}]];
                            $("#verificationStatus").val("Verification : " + verifyVal).css('background-color', 'rgb(109, 126, 156)').css('color', 'rgb(255, 255, 255)');
                        } else if (verificaitonStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_REVIEW')}]]) {
                            verifyVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_REVIEW'))}]];
                            $("#verificationStatus").val("Verification : " + verifyVal).css('background-color', 'rgb(109, 126, 156)').css('color', 'rgb(255, 255, 255)');
                        } else if (verificaitonStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]]) {
                            verifyVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM'))}]];
                            $("#verificationStatus").val("Verification : " + verifyVal).css('background-color', 'rgb(56, 79, 123)').css('color', 'rgb(255, 255, 255)');
                        }
                    }
                } else {
                    $("#verificationStatus").text("Verification").removeClass("btn-teal-02").addClass("btn-default");
                }

                var distributeVal = "";
                if (distributionStatus) {
                    if (identificationStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]] && verificaitonStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]]) {
                        if (distributionStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_DISTRIBUTE_STATUS_PROGRESS')}]]
                            && projectInfo.distributeTarget != "NA") {
                            distributeVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_DISTRIBUTE_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_DISTRIBUTE_STATUS_PROGRESS'))}]];
                            $("#destributionStatus").val("Distribution : " + distributeVal).css('background-color', 'rgb(157, 165, 184)').css('color', 'rgb(255, 255, 255)');
                        } else if (distributionStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_DISTRIBUTE_STATUS_RESERVE')}]]) {
                            distributeVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_DISTRIBUTE_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_DISTRIBUTE_STATUS_RESERVE'))}]];
                            $("#destributionStatus").val("Distribution : " + distributeVal).css('background-color', 'rgb(109, 126, 156)').css('color', 'rgb(255, 255, 255)');
                        } else if (distributionStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_DISTRIBUTE_STATUS_DEPLOIDED')}]]) {
                            distributeVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_DISTRIBUTE_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_DISTRIBUTE_STATUS_DEPLOIDED'))}]];
                            $("#destributionStatus").val("Distribution : " + distributeVal).css('background-color', 'rgb(56, 79, 123)').css('color', 'rgb(255, 255, 255)');
                        } else if (distributionStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_DISTRIBUTE_STATUS_FAILED')}]]) {
                            distributeVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_DISTRIBUTE_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_DISTRIBUTE_STATUS_FAILED'))}]];
                            $("#destributionStatus").val("Distribution : " + distributeVal).addClass("btnPG wauto");
                        }
                    }
                } else {
                    $("#destributionStatus").text("Distribution").removeClass("btn-teal-02").addClass("btn-default");
                }

                // NA 처리
                if (verificaitonStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_NA')}]]) {
                    verifyVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_NA'))}]];
                    $("#verificationStatus").text("Verification : " + verifyVal);
                }

                if (distributionStatus == "${ct:getConstDef('CD_DTL_DISTRIBUTE_STATUS_NA')}") {
                    distributeVal = [[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_DISTRIBUTE_STATUS'), @CommonFunction.getCoConstDefVal('CD_DTL_DISTRIBUTE_STATUS_NA'))}]];
                    $("#destributionStatus").text("Distribution : " + distributeVal);
                }

                // Drop	Project check
                if (identificationStatus != [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]]
                    && dropYn == "Y") {
                    $("#identificationStatus").text("Identification : Drop");
                    $("#verificationStatus").text("Verification : N/A");
                    $("#destributionStatus").text("Distribution : N/A");
                }

                if (identificationStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]]
                    && verificaitonStatus != [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]]
                    && dropYn == "Y") {
                    $("#verificationStatus").text("Verification : Drop");
                    $("#destributionStatus").text("Distribution : N/A");
                }

                if (identificationStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]]
                    && verificaitonStatus == [[${@CommonFunction.getCoConstDefVal('CD_DTL_IDENTIFICATION_STATUS_CONFIRM')}]]
                    && dropYn == "Y") {
                    $("#destributionStatus").text("Distribution : Drop");
                }
            }
        });
    </script>
</th:block>