<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <div class="custom-layout ml-2 mr-2" style="height: auto">
            <section class="content">
            	<div class="card col-md-9 mt-2">
            		<div class="card-header" style="border-bottom : 0">
						<h3 class="card-title">Project Basic Information</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<div class="table-responsive">
									<table class="table">
										<tbody>
											<tr class="text-smaller">
												<th style="width: 30%" th:text="#{msg.common.field.project.name}"></th>
												<td th:text="${project?.prjName}"></td>
											</tr>
											<tr class="text-smaller">
												<th th:text="#{msg.common.field.project.version}"></th>
												<td th:text="${project?.prjVersion}"></td>
											</tr>
											<tr class="text-smaller">
												<th th:text="#{msg.common.field.OS}"></th>
												<td>
													<th:block th:each="code : ${@CoCodeManager.getValues(@CommonFunction.getCoConstDefVal('CD_OS_TYPE'))}">
														<th:block th:if="${code[0] == project.osType and code[0] != @CommonFunction.getCoConstDefVal('CD_OS_TYPE_ETC')}">
															<span th:text="${code[1]}"></span>
														</th:block>
														<th:block th:if="${project.osType == @CommonFunction.getCoConstDefVal('CD_OS_TYPE_ETC') and code[0] == @CommonFunction.getCoConstDefVal('CD_OS_TYPE_ETC')}">
															<span th:text="${project.osTypeEtc}"></span>
														</th:block>
													</th:block>
												</td>
											</tr>
											<tr th:if="${project.viewOnlyFlag != 'Y'}" class="text-smaller">
												<th th:text="#{msg.common.field.permission}"></th>
												<td>
													<th:block th:if="${project != null and project.publicYn != 'N'}">
														<span th:text="'View > Everyone'"></span><br>
													</th:block>
													<th:block th:unless="${project != null and project.publicYn != 'N'}">
														<span th:text="'View > Creator & Watcher'"></span><br>	
													</th:block>
													<span th:text="'Edit > Creator & Watcher only'"></span>
												</td>
											</tr>
											<tr class="text-smaller">
												<th th:text="#{msg.common.field.distributionType}"></th>
												<td>
													<th:block th:each="code : ${@CoCodeManager.getValues(@CommonFunction.getCoConstDefVal('CD_DISTRIBUTION_TYPE'))}">
														<th:block th:if="${code[0] == project.distributionType}">
															<span th:text="${code[1]}"></span>
														</th:block>
													</th:block>
													<br>
													<span th:text="'- Network service only ? '"></span><span th:if="${project.networkServerType == 'Y'}" th:text="Yes"></span><span th:if="${project.networkServerType != 'Y'}" th:text="No"></span>
												</td>
											</tr>
											<tr class="text-smaller">
												<th th:text="'Distribution Site'"></th>
												<td>
													<th:block th:each="code, status : ${@CoCodeManager.getValues(@CommonFunction.getCoConstDefVal('CD_DISTRIBUTE_CODE'))}"></th:block>
														<th:block th:if="${project.distributeDeployTime != null or project.destributionStatus == 'RSV'}">
															<th:block th:if="${status.index == 0}">
																<th:block th:if="${project.distributeTarget == null or project.distributeTarget == code[0]}" th:text="${code[1]}"></th:block>
															</th:block>
															<th:block th:if="${status.index != 0}">
																<th:block th:if="${project.distributeTarget == code[0]}" th:text="${code[1]}"></th:block>
															</th:block>
														</th:block>
														<th:block th:unless="${project.distributeDeployTime != null or project.destributionStatus == 'RSV'}">
															<th:block th:if="${status.index == 0}">
																<th:block th:if="${project.distributeTarget == null or project.distributeTarget == code[0]}" th:text="${code[1]}"></th:block>
															</th:block>
															<th:block th:if="${status.index != 0}">
																<th:block th:if="${project.distributeTarget == code[0]}" th:text="${code[1]}"></th:block>
															</th:block>
														</th:block>
													</th:block>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="table-responsive">
									<table class="table">
										<tbody>
											<tr class="text-smaller">
												<th style="width: 30%" th:text="#{msg.common.field.project.status}"></th>
												<td>
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="info-box bg-light">
																<div class="info-box-content">
																	<span class="info-box-text text-center text-muted">Identification</span>
																</div>
															</div>
														</div>
														<div class="col-12 col-sm-4">
															<div class="info-box bg-light">
																<div class="info-box-content">
																	<span class="info-box-text text-center text-muted">Verification</span>
																</div>
															</div>
														</div>
														<div class="col-12 col-sm-4">
															<div class="info-box bg-light">
																<div class="info-box-content">
																	<span class="info-box-text text-center text-muted">Distribution</span>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="table-responsive">
									<table class="table">
										<tbody>
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
            </section>
        </div>
    </div>
</body>
</html>