<!DOCTYPE>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<style type='text/css'>
			.notice_body table.gridtable {border:1px solid #666666;width:100%;color:#333333;border-collapse: separate;border-spacing:0;}
			.notice_body table.gridtable th {border-bottom: 1px solid #666666;padding: 8px;height:25px;font-size:12px;background-color: #dedede;}
			.notice_body table.gridtable td {padding: 8px;font-size:12px;background-color: #ffffff;}
			.notice_body table.gridtable td p,
			.notice_body table.gridtable td b {padding:0;font-size:12px;}
			.notice_body table.texttable {color:#333333;border-width: 0px;}
			.notice_body table.texttable td {border-width: 0px;padding: 8px;}

			/**/
			.notice_body, .notice_body * {margin:0;font-family: arial,sans-serif;font-size:12px;color:#333 !important;}
			/*body * {white-space: nowrap;}*/
			.notice_body b {font-size:1.25em;color:#000;}
			.notice_body p {margin:0;padding:10px;}
			.notice_body h2.notice_title {position: relative;margin: 0;padding: 1.25em 1em 1em;overflow:hidden;font-size:1.25em;color: #fff;background: #980432;}
			.notice_body h2.notice_title *, .notice_body h2.notice_title sup {font-size:12px;color:#fff !important;}
			.left {float:left;}
			.right {float:right;}
			.notice_body .bdTop {margin-top:30px;padding-top:30px;border-top:1px solid #888;}
			caption {display:none;}
			th:not(:last-child),td:not(:last-child) {border-right: 1px solid #666666;}
			tr:not(:last-child) td {border-bottom: 1px solid #666666;}
			/*.bdTop b {font-style: italic;}*/
		</style>
	</head>
	<body>
		<div class="notice_body">
			<h2 class="notice_title">
				<strong class="left">Open Source Software Notice</strong>
				<span class="right"><sup th:text="${noticeTitle}"></sup></span>
			</h2>
			<th:block th:if="${editCompanyYn == 'Y'}">
				<p>This product from <span th:text="${companyNameFull}"></span> contains the open source software detailed below. Please refer to the indicated open source licenses (as are included following this notice) for the terms and conditions of their use.</p>
			</th:block>
			<th:block th:if="${editCompanyYn != 'Y'}">
				<p>This product contains the open source software detailed below. Please refer to the indicated open source licenses (as are included following this notice) for the terms and conditions of their use.</p>
			</th:block>

			<th:block th:if="${disclosureObligationSize != 0}">
				<div style="padding:10px;max-width:800px;">
					<table class="gridtable" width="100%" aria-label="Open source lists under Copyleft license.">
						<caption>Open source lists under Copyleft license.</caption>
						<tr>
							<th width="182">Open Source</th>
							<th width="159">License</th>
							<th width="443">Copyright</th>
						</tr>
						<th:block th:if="${!#lists.isEmpty(disclosureObligationList)}">
							<tr th:each="closeSource : ${disclosureObligationList}">
								<td>
									<a th:if="${closeSource.homepage != ''}" th:href="${closeSource.homepage}" target="_blank" rel="noreferrer noopener">
										<span th:text="${closeSource.ossName}"></span>
										<span th:if="${hideOssVersionYn != 'Y'}" th:text="${closeSource.ossVersion}"></span>
									</a>
									<span th:unless="${closeSource.homepage != ''}">
                            			<span th:text="${closeSource.ossName}"></span>
                            			<span th:if="${hideOssVersionYn != 'Y'}" th:text="${closeSource.ossVersion}"></span>
                        			</span>
								</td>
								<td>
									<th:block th:each="licenseInfo : ${closeSource.ossComponentsLicense}">
										<p>
											<a th:href="'#' + ${licenseInfo.licenseName}" th:text="${licenseInfo.licenseName}"></a>
										</p>
									</th:block>
								</td>
								<td th:utext="${closeSource.copyrightText}"></td>
							</tr>
						</th:block>
					</table>
				</div>
				<p>
					<th:block th:if="${editCompanyYn == 'Y' && editDistributionSiteUrlYn == 'Y'}">
						The source code for the above may be obtained free of charge from <span th:text="${companyNameFull}"></span> at
						<a th:href="${distributionSiteUrl}" target="_blank" rel="noreferrer noopener">
							<span th:text="${distributionSiteUrl}"></span>
						</a>
					</th:block>
					<th:block th:if="${editCompanyYn == 'N' && editDistributionSiteUrlYn == 'Y'}">
						The source code for the above may be obtained free of charge from
						<a th:href="${distributionSiteUrl}" target="_blank" rel="noreferrer noopener">
							<span th:text="${distributionSiteUrl}"></span>
						</a>
					</th:block>
					<th:block th:if="${editDistributionSiteUrlYn == 'N'}"></th:block>
					<th:block th:if="${editDistributionSiteUrlYn == 'Y' && editEmailYn == 'Y'}">
						<th:block th:if="${editCompanyYn == 'Y'}">
							<span th:text="${companyNameFull}"></span>
						</th:block>
						<th:block th:if="${editCompanyYn == 'N'}">We</th:block>
						will also provide open source code to you on CD-ROM for a charge covering the cost of performing such distribution (such as the cost of media, shipping, and handling) upon email request to <span th:text="${email}"></span>. This offer is valid to anyone in receipt of this information for a period of three years after our last shipment of this product.
					</th:block>
					<th:block th:if="${editDistributionSiteUrlYn == 'N' && editEmailYn == 'Y'}">
						<th:block th:if="${editCompanyYn == 'Y'}">
							<span th:text="${companyNameFull}"></span>
						</th:block>
						<th:block th:if="${editCompanyYn == 'N'}">We</th:block>
						will provide open source code to you on CD-ROM for a charge covering the cost of performing such distribution (such as the cost of media, shipping, and handling) upon email request to <span th:text="${email}"></span>. This offer is valid to anyone in receipt of this information for a period of three years after our last shipment of this product.
					</th:block>
					<th:block th:if="${editEmailYn == 'N'}"></th:block>
					<br>
				</p>
			</th:block>

			<th:block th:if="${noticeObligationSize != 0}">
				<br>
				<p>Please be informed that
					<th:block th:if="${editCompanyYn == 'Y'}">
						<span th:text="${companyNameFull}"></span>
					</th:block>
					<th:block th:if="${editCompanyYn == 'N'}">this</th:block>
					product may contain open source software listed in the tables below.
				</p>
				<div style="padding:10px;max-width:800px;">
					<table width="100%" class="gridtable" aria-label="Open source lists under Permissive License.">
						<caption>Open source lists under Permissive License.</caption>
						<tr>
							<th width="182">Open Source</th>
							<th width="159">License</th>
							<th width="443">Copyright</th>
						</tr>
						<th:block th:if="${!#lists.isEmpty(noticeObligationList)}">
							<tr th:each="openSource : ${noticeObligationList}">
								<td>
									<a th:if="${openSource.homepage != ''}" th:href="${openSource.homepage}" target="_blank" rel="noreferrer noopener">
										<span th:text="${openSource.ossName}"></span>
										<span th:if="${hideOssVersionYn != 'Y'}" th:text="${openSource.ossVersion}"></span>
									</a>
									<span th:unless="${openSource.homepage != ''}">
                            			<span th:text="${openSource.ossName}"></span>
                            			<span th:if="${hideOssVersionYn != 'Y'}" th:text="${openSource.ossVersion}"></span>
                        			</span>
								</td>
								<td>
									<th:block th:each="licenseInfo : ${openSource.ossComponentsLicense}">
										<p>
											<a th:href="'#' + ${licenseInfo.licenseName}" th:text="${licenseInfo.licenseName}"></a>
										</p>
									</th:block>
								</td>
								<td>
									<p th:utext="${openSource.copyrightText}"></p>
								</td>
							</tr>
						</th:block>
					</table>
				</div>
			</th:block>

			<th:block th:if="${!#lists.isEmpty(attributionList) or !#lists.isEmpty(ossAttributionList)}">
				<th:block th:if="${!#lists.isEmpty(attributionList)}">
					<th:block th:each="attr : ${attributionList}">
						<th:block th:if="${isSimpleNotice != 'Y'}">
							<p class="bdTop"><b th:text="${attr.licenseName} + ' Attribution'"></b></p>
						</th:block>
						<th:block th:if="${isSimpleNotice != 'N'}">
							<p><b th:text="${attr.licenseName} + ' Attribution'"></b></p>
						</th:block>
						<p th:text="${attr.attribution}"></p>
					</th:block>
				</th:block>

				<th:block th:if="${!#lists.isEmpty(ossAttributionList)}">
					<th:block th:each="value : ${ossAttributionList}">
						<th:block th:with="ossname=${#strings.setSplit(value, '_')[0]}, attribution=${#strings.setSplit(value, '_')[1]}">
							<th:block th:if="${isSimpleNotice != 'Y'}">
								<p class="bdTop"><b th:text="${ossname} + ' Attribution'"></b></p>
							</th:block>
							<th:block th:if="${isSimpleNotice != 'N'}">
								<p><b th:text="${ossname} + ' Attribution'"></b></p>
							</th:block>
							<p th:text="${attribution}"></p>
						</th:block>
					</th:block>
				</th:block>
			</th:block>

			<!-- License Name, License text 	 -->
			<th:block th:each="license : ${licenseList}">
				<th:block th:if="${license.licenseName != ''}">
					<p class="bdTop license">
						<b th:id="${license.licenseName}" th:text="${license.licenseName}"></b><br><br>
						<br><span th:utext="${license.licenseText}"></span><br>
					</p>
				</th:block>
			</th:block>

			<th:block th:if="${!#lists.isEmpty(licenseListUrls)}">
				<p class="bdTop license"><b th:text="'License URLs'"></b><br></p>
				<ul class="bdTop2 license">
					<th:block th:each="license : ${licenseListUrls}">
						<th:block th:if="${license.licenseName != ''}">
							<li th:id="${license.licenseName}">
								<span th:text="${license.licenseName}"></span> :
								<a th:href="${license.webpage}" target="_blank" rel="noreferrer noopener" th:text="${license.webpage}"></a>
							</li>
						</th:block>
					</th:block>
				</ul>
			</th:block>

			<th:block th:if="${editAppendedYn == 'Y'}">
				<p th:utext="${appended}"></p>
			</th:block>
		</div>
	</body>
</html>