<table cellpadding="0" cellspacing="0" border="0">
<th:block th:each="mapEntry : ${noticeData.entrySet()}"><th:block th:with="binaryPathList=${mapEntry.key.split(',')}"><tr id="id$velocityCount"><td class="same-license">
<div class="label">Notices for file(s):</div>
<div class="file-list"><th:block th:each="binaryPath : ${binaryPathList}">
<span th:text="${binaryPath}"></span></th:block></div>
<pre class="license-text"><th:block th:each="ossInfo : ${mapEntry.value}">
<span th:text="${ossInfo.ossName} + '(' + ${ossInfo.licenseName} + ')'"></span>
<span th:utext="${ossInfo.copyrightText}"></span></th:block><th:block th:with="attributionCnt=0"><th:block th:each="ossInfo : ${mapEntry.value}"><th:block th:each="licenseInfo : ${ossInfo.componentLicenseList}"><th:block th:if="${licenseInfo.attribution != null and licenseInfo.attribution != ''}"><th:block th:with="attributionCnt=${attributionCnt + 1}"></th:block>
<span>------------------------</span>
<span th:text="${licenseInfo.licenseName} + ' Attribution'"></span>
<span th:utext="${licenseInfo.attribution}"></span></th:block></th:block></th:block><th:block th:each="ossInfo : ${mapEntry.value}"><th:block th:if="${ossInfo.attribution != null and ossInfo.attribution != ''}"><th:block th:with="attributionCnt=${attributionCnt + 1}"></th:block>
<span>------------------------</span>
<span th:text="${ossInfo.ossName} + ' Attribution'"></span>
<span th:utext="${ossInfo.attribution}"></span></th:block></th:block><th:block th:if="${attributionCnt > 0}">
<span>------------------------</span></th:block></th:block><th:block th:each="ossInfo : ${mapEntry.value}"><th:block th:each="licenseInfo : ${ossInfo.deduplicatedComponentLicenseList}"><th:block th:if="${licenseInfo.licenseText != '' and licenseInfo.obligationType == '10'}">
<span th:text="${licenseInfo.licenseName}"></span>
<span th:utext="${licenseInfo.licenseText}"></span></th:block></th:block></th:block><br/><br/><br/></pre></td></tr></th:block></th:block>
</table>