<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="LOG_LEVEL" source="logging.level.root"/>
	<springProperty scope="context" name="LOG_PATH" source="logging.path"/>
	<springProperty scope="context" name="LOG_FILE_NAME" source="logging.file"/>
	<property name="ERR_LOG_FILE_NAME" value="${LOG_FILE_NAME}_err"/>
	<property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{36}:%line] - %msg%n"/>
	<!-- Console Appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- File Appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/backup/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	
	<appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>error</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${LOG_PATH}/${ERR_LOG_FILE_NAME}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/backup/${ERR_LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
	</appender>
	
	<appender name="SCHEDULER_LOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender" includeLocation="true">
		<file>${LOG_PATH}/schedule.log</file>
		<append>true</append>
		<encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level [%F, %M\(\):%L] - %msg%n</pattern>
			<!-- <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%F, %M\(\):%L] %m %n</pattern> -->
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_PATH}/backup/schedule.%d{yyyyMMdd}.log</fileNamePattern>
			<!-- keep 60 days' worth of history -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>
	</appender>
	
	<appender name="BAT_LOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/bat.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern> -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level [%F, %M\(\):%L] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/backup/bat.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 60 days' worth of history -->
			<maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>
	
	<appender name="OSS_HISTORY_LOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/oss_history.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern> -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level [%F, %M\(\):%L] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/backup/oss_history.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 60 days' worth of history -->
			<maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>
	
	<appender name="OSS_AUTO_ANALYSIS_LOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/oss_auto_analysis.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern> -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level [%F, %M\(\):%L] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/backup/oss_auto_analysis.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 60 days' worth of history -->
			<maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>
	 
	<appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        Optionally add an encoder
        <encoder>
           <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
	
	<logger name="SCHEDULER_LOG" level="info" additivity="false">
		<appender-ref ref="SCHEDULER_LOG_APPENDER"/>
	</logger>
	
	<logger name="BAT_LOG" level="info" additivity="false">
		<appender-ref ref="BAT_LOG_APPENDER"/>
	</logger>
	
	<logger name="OSS_HISTORY_LOG" level="info" additivity="false">
		<appender-ref ref="OSS_HISTORY_LOG_APPENDER"/>
	</logger>
	
	<logger name="OSS_AUTO_ANALYSIS_LOG" level="info" additivity="false">
		<appender-ref ref="OSS_AUTO_ANALYSIS_LOG_APPENDER"/>
	</logger>
	
	<root level="info">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
		<appender-ref ref="Error"/>
		<springProfile name="stage">
			<appender-ref ref="Sentry"/>
		</springProfile>
		<springProfile name="prod">
			<appender-ref ref="Sentry"/>
		</springProfile>
	</root>
</configuration>