<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="contentScript">
<script th:inline="javascript">
$(document).ready(function() {
	evt_fn.init();
	Ctrl_fn.loadGridData();
});
var _popup = null;
var ossValidMsg;
var ossDiffMsg;
var ossDataList;
var commentId = "";
var referenceId = [[${projectInfo.prjId}]];
var referenceDiv = [[${projectInfo.referenceDiv}]];
var targetName = [[${projectInfo.targetName}]];
var userRole = [[${sessUserInfo.authority}]];

var evt_fn = {
	init : function(){
		$("#btnChangeOss").on("click", function(){
			Ctrl_fn.changeProc();				
		});

		$("#btnAddNickname").on("click", function(){
			Ctrl_fn.addProc();				
		});

		$("#btnAddURLNickname").on("click", function(){
			Ctrl_fn.addURLNicknameProc();
		});

	}
};

var Ctrl_fn = {
	loadGridData : function(){
		loading.show();
		
		var params = {};
		params["referenceId"] = referenceId;
		params["referenceDiv"] = referenceDiv;
		
		if ('identification' == targetName) {
			params["referenceDiv"] = params["referenceDiv"].split("-")[0];
		}
		
		$.ajax({
			url : '/oss/getCheckOssNameAjax/' + targetName,
			dataType : 'json',
			cache : false,
			data : params,
			contentType : 'application/json',
			success : function(resultData){
				ossValidMsg = resultData.validMap;
				ossDiffMsg = resultData.diffMap;
				ossDataList = resultData.list;

				grid_fn.load();
			},
			error : function(){
				alertify.error([[#{msg.common.valid2}]], 0);
			}
		});	
	},
	addURLNicknameProc : function(){
		loading.show();
		var target = $("#ossList");
		var result = [];
		var failFlag = false;
		var idArry = grid_fn.getCheckedRow("URL");

		var idArryOnlyInOssList = grid_fn.getCheckedRow("URL").filter(i => {
			if($("#ossList").getRowData(i)['redirectLocation'] != "") {
				let input = $("#ossList").getRowData(i)['checkName'];
				let regexp = /^(<a).*(<\/a>)/;
				return regexp.test(input);
			}
		});

		if (idArryOnlyInOssList.length > 0) {
			window.setTimeout(function(){
				for(var i = 0 ; i < idArryOnlyInOssList.length ; i++) {
					var rowId = idArryOnlyInOssList[i];

					cleanErrMsg("ossList", rowId);

					var rowdata = target.getRowData(rowId);
					rowdata["checkName"] = rowdata["checkName"].split("redirect")[0];
					rowdata["checkName"] = rowdata["checkName"].replace(/(<([^>]+)>)/ig, "");
					rowdata["recommendedNickname"] = rowdata["recommendedNickname"].replace(/(<([^>]+)>)/ig, "");
					rowdata["componentIdList"] = rowdata["componentIdList"].split(",");

					$.ajax({
						url: '/oss/saveOssURLNickName',
						type: 'POST',
						data: JSON.stringify(rowdata),
						dataType: 'json',
						cache: false,
						async: false,
						contentType: 'application/json',
						success: function (resultData) {
							if(resultData.isValid == "true"){
								$("#ossList").jqGrid('setCell', idArryOnlyInOssList[i], 'urlFlag', 'Y');
								$("#ossList").jqGrid('setCell', idArryOnlyInOssList[i], 'result', 'Y');
							} else {
								$("#ossList").jqGrid('setCell', idArryOnlyInOssList[i], 'urlFlag', 'N');
								$("#ossList").jqGrid('setCell', idArryOnlyInOssList[i], 'result', 'N');
								failFlag = true;
							}
							result.push(resultData);
							if(result.length == idArryOnlyInOssList.length){
								if(!failFlag){
									alertify.success([[#{msg.oss.change.success}]]);
								}
								loading.hide();
							}
						},
						error: function () {
							loading.hide();
						}
					});
				}
			},0);
		} else if (idArry.length > 0){
			alertify.error([[#{msg.oss.warn.unregistered}]]);
			loading.hide();
		} else {
			alertify.alert([[#{msg.oss.required.change}]], function(){});
			loading.hide();
		}
	},
	changeProc : function(){
		loading.show();
		
		var target = $("#ossList");
		var result = [];
		var failFlag = false;
		var idArry = grid_fn.getCheckedRow("CHANGE");
			
		if (idArry.length > 0){
			window.setTimeout(function(){
				for(var i = 0 ; i < idArry.length ; i++){
					var rowId = idArry[i];
					
					cleanErrMsg("ossList", rowId);
					
					var rowdata = target.getRowData(rowId);
 					rowdata["checkName"] = rowdata["checkName"].split("redirect")[0];
 					if (rowdata["checkName"].indexOf("<div") > -1) {
						var checkName = rowdata["checkName"];
						var divHtml = checkName.substr(checkName.indexOf("<div"), checkName.indexOf("</div>"));
						checkName = checkName.replace(divHtml, "");
						rowdata["checkName"] = checkName;
					}
 					rowdata["checkName"] = rowdata["checkName"].replace(/(<([^>]+)>)/ig,"");
					rowdata["componentIdList"] = rowdata["componentIdList"].split(",");
					
					if ('identification' == targetName) {
						rowdata["refPrjId"] = rowdata["referenceId"];
						rowdata["referenceId"] = commentId;
						rowdata["referenceDiv"] = referenceDiv.split("-")[0];
					}
					
					if ('partner' == targetName) {
						rowdata["referenceId"] = rowdata["referenceId"];
						rowdata["refPrjId"] = commentId;
						rowdata["referenceDiv"] = referenceDiv;
					}
					
					$.ajax({
						url : '/oss/saveOssCheckName/' + targetName,
						type : 'POST',
						data : JSON.stringify(rowdata),
						dataType : 'json',
						cache : false,
						async: false,
						contentType : 'application/json',
						success: function(resultData){
							if(resultData.isValid == true){
								$("#ossList").jqGrid('setCell', idArry[i], 'changeFlag', 'Y'); // popup grid Data change => success
								$("#ossList").jqGrid('setCell', idArry[i], 'result', 'Y');
							} else {
								$("#ossList").jqGrid('setCell', idArry[i], 'changeFlag', 'N');
								$("#ossList").jqGrid('setCell', idArry[i], 'result', 'N');
								alertify.error([[#{msg.common.valid2}]], 0);
								failFlag = true;
							}
							
							result.push(resultData);
							
							if ('identification' == targetName || 'partner' == targetName) {
								commentId = resultData.commentId;
							}
							
							if (result.length == idArry.length){
								if (!failFlag){
									var successMsg = [[#{msg.project.check.oss.name.success}]];
									
									if ("self" == targetName) {
										opener.location.href = '/selfCheck/edit/' + rowdata["referenceId"];
									} else if ("partner" == targetName) {
										opener.location.href = '/partner/edit/' + rowdata["referenceId"];
									} else {
										var identificationTabOrder;

										/**
										 * params["referenceDiv"] is id of identification type
										 * 3RD, DEP, SRC, BIN, BIN-Android, BOM
										 * 10 (3RD) -> tab index: 0
										 * 16 (DEP) -> tab index: 1
										 * 11 (SRC) -> tab index: 2
										 * 15 (BIN) -> tab index: 3
										 * 14 (ANDROID) -> tab index: 4
										 * 13 (BOM) -> tab index: 5
										 */
										switch(rowdata["referenceDiv"]) {
											case "10":    opener.party_evt.getPartGridData();			break;
											case "16":    opener.dep_fn.getDepGridData();				break;
									  		case "11":    opener.src_fn.getSrcGridData();   			break;
									    	case "15":    opener.bin_fn.getBinGridData(); 	 			break;
									    	case "14":    opener.binAndroid_fn.getBinAndroidGridData();	break;
									    	case "13":    opener.bom_data.getJqGrid();    				break;
										}
									}
									
									alertify.success(successMsg, 5); // 5sec동안 message 출력
								}
								
								loading.hide();
							}
						},
						error: function(resultData){}
					});
				}
			}, 0);
		} else {
			alertify.alert([[#{msg.oss.required.change}]], function(){});
			loading.hide();
		}
	},
	addProc : function(){
		loading.show();
		
		var target = $("#ossList");
		var result = [];
		var failFlag = false;
		var idArry = grid_fn.getCheckedRow("ADD");

		var idArryOnlyInOssList = grid_fn.getCheckedRow("ADD").filter(i => {
			let input = $("#ossList").getRowData(i)['checkName'];
			let regexp = /^(<a).*(<\/a>)/;
			return regexp.test(input);
		});

		if(idArryOnlyInOssList.length > 0){
			window.setTimeout(function(){
				for(var i = 0 ; i < idArryOnlyInOssList.length ; i++){
					var rowId = idArryOnlyInOssList[i];

					cleanErrMsg("ossList", rowId);
					
					var rowdata = target.getRowData(rowId);
					rowdata["checkName"] = rowdata["checkName"].split("redirect")[0].split("Invalid")[0];
					rowdata["checkName"] = rowdata["checkName"].replace(/(<([^>]+)>)/ig,"");
					rowdata["componentIdList"] = rowdata["componentIdList"].split(",");

					$.ajax({
						url : '/oss/saveOssNickname',
						type : 'POST',
						data : JSON.stringify(rowdata),
						dataType : 'json',
						cache : false,
						async: false,
						contentType : 'application/json',
						success: function(resultData){
							if(resultData.isValid == "true"){
								$("#ossList").jqGrid('setCell', idArryOnlyInOssList[i], 'addFlag', 'Y');
								$("#ossList").jqGrid('setCell', idArryOnlyInOssList[i], 'result', 'Y');
							}
							else {
								$("#ossList").jqGrid('setCell', idArryOnlyInOssList[i], 'addFlag', 'N');
								$("#ossList").jqGrid('setCell', idArryOnlyInOssList[i], 'result', 'N');
								alertify.error([[#{already.added.nickname}]], 0);
								failFlag = true;
							}
							
							result.push(resultData);
													
							if(result.length == idArryOnlyInOssList.length){
								if(!failFlag){
									alertify.success([[#{msg.oss.change.success}]]);
									opener.location.reload();
								}
								
								loading.hide();
							}
						},
						error: function(resultData){}
					});
				}
			}, 0);
		} else if(idArry.length > 0){
			alertify.error([[#{msg.oss.warn.unregistered}]]);
			loading.hide();
		} else {
			alertify.alert([[#{msg.oss.required.change}]], function(){});
			loading.hide();
		}
	},
	showOssViewPage : function(ossName){
		if(ossName!=""){
			onAjaxLoadingHide = true;
			$.ajax({
				url : '/oss/checkExistsOssByname',
				type : 'GET',
				dataType : 'json',
				cache : false,
				async: false,
				data : {ossName : ossName},
				contentType : 'application/json',
				success : function(data){
					if(data.isValid == 'true') {
						var _encUrl = "ossName="+Ctrl_fn.replaceGetParamChar(ossName);
						
						if(_popup == null || _popup.closed) {
							_popup = window.open("/oss/osspopup?" + _encUrl, "ossViewPopup_"+ossName, "width=900, height=700, toolbar=no, location=no, left=100, top=100");

							if(!_popup || _popup.closed || typeof _popup.closed=='undefined') {
								alertify.alert([[#{msg.common.window.allowpopup}]], function(){});
							}
						} else {
							_popup.close();
							
							_popup = window.open("/oss/osspopup?" + _encUrl, "ossViewPopup_"+ossName, "width=900, height=700, toolbar=no, location=no, left=100, top=100");
						}
					}
				},
				error : function(){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		}
	},
	replaceGetParamChar : function(_param) {
		_param = _param.replace(/&/g,"%26");
		_param = _param.replace(/\+/g,"%2B"); 
		
		 return _param;
	}
};

var grid_fn = {
		load : function(){
			var colModels = [];
			var colModel = {name: 'gridId', index: 'gridId', hidden:true, key:true};
			colModels.push(colModel);
			colModel = {name: 'result', index: 'result', align: 'center',editable: false, formatter: grid_fn.displayStatus, unformatter: grid_fn.unformatter, sortable:false};
			if ('ROLE_ADMIN' == userRole) {
				colModel['width'] = 35;
			} else {
				colModel['width'] = 12;
			}
			colModels.push(colModel);
			colModel = {name: 'downloadLocation', index: 'downloadLocation', width: 90, align: 'left',editable: false, formatter:grid_fn.displayDownloadLocation, sortable:false};
			colModels.push(colModel);
			colModel = {name: 'ossName', index: 'ossName', width: 50, align: 'left',editable: false, sortable:false};
			colModels.push(colModel);
			colModel = {name: 'checkName', index: 'checkName', width: 90, align: 'left',editable: false, formatter:grid_fn.displayCheckName, sortable:false};
			colModels.push(colModel);
			colModel = {name: 'changeFlag', index: 'changeFlag', width: 50, hidden:true, sortable:false};
			colModels.push(colModel);
			colModel = {name: 'addFlag', index: 'addFlag', width: 50, hidden:true, sortable:false};
			colModels.push(colModel);
			colModel = {name: 'referenceId', index: 'referenceId', width: 50, hidden: true, sortable: false};
			colModels.push(colModel);
			colModel = {name: 'referenceDiv', index: 'referenceDiv', width: 50, hidden: true, sortable: false};
			colModels.push(colModel);
			colModel = {name: 'componentIdList', index: 'componentIdList', width: 50, hidden: true, sortable: false};
			colModels.push(colModel);
			colModel = {name: 'redirectLocation', index: 'redirectLocation', width: 50, hidden: true, sortable: false};
			colModels.push(colModel);
			colModel = {name: 'urlFlag', index: 'urlFlag', width: 50, hidden: true, sortable: false};
			colModels.push(colModel);
			colModel = {name: 'recommendedNickname', index: 'recommendedNickname', width: 50, hidden: true, sortable: false};
			colModels.push(colModel);
			
			$('#ossList').jqGrid({
				datatype: 'local',
				data : ossDataList,
				colNames: ['ID','Result','Download location','OSS name (now)', 'Registered OSS name<br>(to be changed)', 'changeFlag', 'addFlag', 'referenceId', 'referenceDiv', 'componentIdList', 'redirectLocation', 'urlFlag', 'recommendedNickname'],
				colModel: colModels,
				autoencode: true,
				autowidth: true,
				gridview: true,
				editurl:'clientArray',
				loadonce: true,
				height: 'auto',
				rowNum: [[${@CommonFunction.getCoConstDefVal("DISP_PAGENATION_MAX")}]],
				multiselect: true,
				multiselectWidth: 35,
				loadComplete: function(data){
					if(data.total > 0){
						$("#btnChangeOss").show();
						$("#btnAddNickname").show();
						$("#btnAddURLNickname").show();
						
						var datas = data.rows, rows=this.rows, row, className, rowsCount=rows.length,rowIdx=0;
						for(var _idx=0;_idx<rowsCount;_idx++) {
							row = rows[_idx];
							className = row.className;
							
							if (className.indexOf('jqgrow') !== -1) {
								rowid = row.id;
								rowData = data.rows[rowIdx++];
								var dataObject = datas.filter(function(a){return a.componentId==rowid})[0];
								
								if(dataObject.checkName.indexOf("|") > -1) {
									className= className + ' excludeRow';
								}
								
								row.className = className;
							} else if(className.indexOf('ui-subgrid') !== -1){
								rowIdx++;
							}
						}
					}
					
/* 					if ("identification" == targetName && referenceDiv.startsWith("16")) {
						$("#btnChangeOss").removeClass('red');
						$("#btnChangeOss").addClass('gray disabled');
						$("#btnChangeOss").attr('disabled', true);
					} */
					
					loading.hide();

					if(ossValidMsg) {
						gridValidMsgNew(ossValidMsg, "ossList", "SELF");
					}
					
					if(ossDiffMsg){
						gridDiffMsg(ossDiffMsg, "ossList", "SELF");
					}
					
				},
				onSelectRow: function(rowid){},
				gridComplete:function (){},
				onCellSelect: function(rowid,iCol,cellcontent,e) {
					if (iCol=="5") {
						var popupVisible = $(".sheetSelectPop").is(':visible');
						if (cellcontent.indexOf("<br>") > -1 && !popupVisible){
							var checkNameArr = cellcontent.split("<br>");
							for(var i=0; i < checkNameArr.length; i++){
								$('#sheetBody').append('<tr><td style="border-top: 0px;" class="text-center"><input type="checkbox" name="checkNameSelect" id="checkName'+i+'" value="'+rowid+'" class="form-check-input">'
										+'<label for="checkName'+i+'" class="form-check-label text-blue-gray"></label></td><td style="border-top: 0px;" class="text-left">'+checkNameArr[i]+'</td></tr>');
							}

							$('input:checkbox[name=checkNameSelect]').click(function(){
								if($(this).prop('checked')){
									$('input:checkbox[name=checkNameSelect]').prop('checked', false);
									$(this).prop('checked', true);
								}
							});
							
							const sheetHtml = $(".sheetSelectPop").html();
							$("#sheetBody").empty();
							
							if (!alertify.checkOssNameSelectSheet){
								alertify.dialog('checkOssNameSelectSheet', function() {
									return {
										setup: function() {
											var settings = alertify.confirm().settings;
											
											for (var prop in settings) {
												this.settings[prop] = settings[prop];
											}
											
											var setup = alertify.confirm().setup();
											setup.buttons = [];
											setup.focus.element = 1;
											
											return setup;
										},
									    hooks: {
									    	onshow: function() {
									        	this.elements.dialog.style.maxWidth = 'none';
									          	this.elements.dialog.style.width = '400px';
									        }
										}
									};
								}, false, 'alert');
		                	}
							
							alertify.checkOssNameSelectSheet(sheetHtml).set('title', 'Select, To Be Changed OSS Name');
						}
					}
				}
			});
		},
		displayStatus : function(cellvalue, options, rowObject){
			var display = "";
			var changeFlag = rowObject.changeFlag || rowObject[6];
			var addFlag = rowObject.addFlag || rowObject[7];
			var urlFlag = rowObject.urlFlag || rowObject[12];
			
			if (changeFlag == "Y"){
				display += "<a class='btnPG wAnd onAnd'>Changed</a>";
			}

			if ('ROLE_ADMIN' == [[${sessUserInfo.authority}]]){
				if ("Y" == addFlag) {
					display += "<a class='btnPG wAnd onAnd'>Added N</a>";
				}

				if ("Y" == urlFlag) {
					display += "<a class='btnPG wAnd onAnd'>Added U</a>";
				}
			}
			
			return display;
		},
		displayCheckName : function(cellvalue, options, rowObject){
			var display = "";
			var checkName = rowObject["checkName"];
			var checkOssList = rowObject["checkOssList"];
			var returnValue;

			display = checkName.split("|");

			for (var i in display) {
				display[i] = checkOssList == "Y" ?
						"<a href='#' onclick='Ctrl_fn.showOssViewPage(\"" + display[i] + "\")' style='color:#2883f3;text-decoration:underline;'>" + display[i] + "</a>"
						: display[i];
			}

			if(checkOssList == "I") {
				returnValue = display.join("<br>") + "<div style='color: red !important; font-size: 11px; padding-top: 2px; white-space: pre-wrap'>Invalid download location.</div>";
			} else {
				returnValue = typeof rowObject["redirectLocation"] == "undefined" ? display.join("<br>")
						: display.join("<br>") + "<div style='color: blue !important; font-size: 11px; padding-top: 2px; white-space: pre-wrap'>" + "redirect url:\n" +
						"https://" + rowObject["redirectLocation"] + "</div>";
			}

			return returnValue;
		},
		displayDownloadlocation: function (cellvalue, options, rowObject) {
           	var downloadLocation = rowObject["downloadLocation"];
           	var customDownloadLocation = '';
           	
           	if (typeof downloadLocation !== 'undefined' && '' != downloadLocation) {
           		var display = downloadLocation.split(",");
           		customDownloadLocation = display.map(link => `<a class='urlLink' target='_blank' href='${link.trim()}' title='${link.trim()}'>${link.trim()}</a>`).join("");
           	} 
           	
           	return customDownloadLocation;
        },
		unformatter : function(cellvalue, options, rowObject){
			return cellvalue;
		},
		getCheckedRow : function(processType){
			var seq;
			switch(processType) {
				case "CHANGE" :
					seq = 6;
					break;
				case "ADD" :
					seq = 7;
					break;
				case "URL" :
					seq = 12;
					break;
			}
			return $("#ossList").jqGrid ('getGridParam', 'selarrrow').reduce(function(arr, item) {
			    if(!$("#"+item).hasClass("excludeRow") && $("#"+item+" > td:eq("+seq+")").text() != "Y"){
			        arr.push(item);
			    }
			    
			    return arr;
			}, []);
		},
		selectChangedOssName : function(){
			var param = $("#ossList").jqGrid('getGridParam', 'data');
			var rowId = $('input:checkbox[name=checkNameSelect]:checked').val();
			var checkedValue = $('input:checkbox[name=checkNameSelect]:checked').parent().next().text();

			for (var i=0; i<param.length; i++){
				if (param[i]["componentId"] == rowId){
					param[i]["checkName"] = checkedValue;
				}
			}

			$('#ossList').jqGrid('GridUnload');

			ossDataList = param;
			grid_fn.load();

			$('#'+rowId).removeClass('excludeRow');

			grid_fn.closeAlertify();
		},
		closePop : function(){
			$('input:checkbox[name=ossNameSelect]').prop('checked', false);
			$('.sheetNameArea').empty();
			$('.sheetSelectPop').hide();
		},
		closeAlertify : function() {
			$(".ajs-close").trigger("click");
		}
};
</script>
</th:block>
</html>