<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
    <th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
    <th:block th:replace="oss/edit-script :: contentScript"></th:block>
    <body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <div class="content-wrapper custom-layout">
            <input type="hidden" name="ossLicensesJson"/>
            <input type="hidden" name="ossId"/>
            <input type="hidden" name="licenseType" id="licenseType" />
            <input type="hidden" name="obligationType" id="obligationType" />
            <input type="hidden" name="comment"/>
            <input type="hidden" name="ossType" value="${ossType}"/>
            <input type="hidden" name="validationType"/>
            <input type="hidden" name="downloadLocation"/>
            <input type="hidden" name="licenseId" value=""/>
            <input type="hidden" name="deactivateFlag" value="N"/>
            <input type="hidden" name="renameFlag" value="N"/>
            <input type="hidden" name="ossCopyFlag" value="N"/>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">

                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form name="ossForm" id="ossForm">
                    <div class="row">
                    <div class="col-md-9">
                        <div class="card card-secondary submit-form">
                            <div class="card-header">
                                <h3 class="card-title text-white">Form</h3>

                                <div class="card-tools">
                                    <button class="btn btn-tool text-white" data-card-widget="collapse" title="Collapse"
                                            type="button">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="licenseName" th:text="#{msg.common.field.OSS.name}"><span class="text-orange">*</span></label>
                                    <input type="text" class="form-control autoComLicenseLong" name="ossName" id="licenseName" th:value="${ossName}"/>
                                </div>
                                <div class="form-group tag-form" name="append-stag-form">
                                    <label th:text="#{msg.common.field.nickname}"></label>
                                    <div class="input-group">
                                        <input class="form-control" id="input_licenseNicknames" type="text" onblur="oss_edit_fn.checkNickName(this)">
                                        <div class="input-group-append">
                                            <button class="btn btn-default" id="licenseNicknames" name="addTagButton" type="button">
                                                Add
                                            </button>
                                        </div>
                                        <!-- /btn-group -->
                                    </div>
                                </div>
                                <div class="form-group d-flex" id="appendArea_licenseNicknames"></div>
                                <div class="form-group">
                                    <label th:text="#{msg.common.field.OSS.type}"></label>
                                    <span name="ossType"></span>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{msg.common.field.declaredLicense}"><span class="text-orange">*</span></label>
                                    <input type="hidden" name="licenseDiv"/>
                                    <div class="jqGridSet">
                                        <table id="_licenseChoice"><tr><td></td></tr></table>
                                        <div id="_licenseChoicePager"></div>
                                    </div>
                                <div id="disp_licenseText" style="display: none;"></div>
                                </div>
                                <div class="form-group tag-form" name="append-stag-form">
                                    <label th:text="#{msg.common.field.detectedLicense}"></label>
                                    <div class="input-group">
                                        <input class="form-control" id="input_detectedLicense" type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-default" id="detectedLicense" name="addTagButton"  type="button">
                                                Add
                                            </button>
                                        </div>
                                        <!-- /btn-group -->
                                    </div>
                                </div>
                                <div class="form-group d-flex" id="appendArea_detectedLicense"></div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label th:text="#{msg.common.field.obligation}"></label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group mb-0">
                                            <div class="custom-control custom-switch">
                                                <input class="custom-control-input" id="customSwitch1" type="checkbox">
                                                <label class="custom-control-label" for="customSwitch1">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{msg.common.field.downloadLocation}"></label>
                                    <input class="form-control" name="downloadLocations" id="inputName" type="text">
                                </div>
                                <div class="form-group">
                                    <label th:text="#{msg.common.field.homepage}">홈페이지</label>
                                    <input class="form-control" name="downloadLocations" th:value="${homepage}">
                                </div>
                                <div class="form-group">
                                    <label th:text="#{msg.common.field.summaryDescription}">요약 설명</label>
                                    <textarea class="form-control" rows="5" th:text="${summaryDescription}"></textarea>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{msg.common.field.attribution}">Attribution 고지</label>
                                    <textarea class="form-control" rows="5" th:text="${attribution}"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Comment</label>
                                    <textarea class="form-control" id="compose-textarea" rows="3" style="height: 800px"></textarea>
                                </div>
                            </div>
                            <div class="card-footer clearfix">
                                <a class="btn btn-secondary float-left" href="javascript:void(0)">Delete</a>
                                <a class="btn btn-teal-01 float-right" href="javascript:void(0)">Save</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-lg-red">
                            <div class="card-header">
                                <h3 class="card-title">Comment</h3>
                                <div class="card-tools">
                                    <button class="btn btn-tool" data-card-widget="collapse" title="Collapse"
                                            type="button">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <!-- <thead>
                                              <tr>
                                                <th>File Name</th>
                                                <th>File Size</th>
                                                <th></th>
                                              </tr>
                                            </thead> -->
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="post">
                                                        <div class="user-block">
                                <span class="username">
                                  <a href="#">Jonathan Burke Jr.</a>
                                </span>
                                                            <span class="description ml-0">Shared publicly - 7:45 PM today</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum represents a long-held tradition for designers,
                                                            typographers and the like. Some people hate it and argue for
                                                            its demise, but others ignore.
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="text-right py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        <a class="btn btn btn-default" data-target="#modal-comment" data-toggle="modal"
                                                           href="#"><i
                                                                class="fas fa-pencil-alt"></i></a>
                                                        <a class="btn btn-lg-red" href="#"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="post">
                                                        <div class="user-block">
                                <span class="username">
                                  <a href="#">Jonathan Burke Jr.</a>
                                </span>
                                                            <span class="description ml-0">Shared publicly - 7:45 PM today</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum represents a long-held tradition for designers,
                                                            typographers and the like. Some people hate it and argue for
                                                            its demise, but others ignore.
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="text-right py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        <a class="btn btn btn-default" data-target="#modal-comment" data-toggle="modal"
                                                           href="#"><i
                                                                class="fas fa-pencil-alt"></i></a>
                                                        <a class="btn btn-lg-red" href="#"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="post">
                                                        <div class="user-block">
                                <span class="username">
                                  <a href="#">Jonathan Burke Jr.</a>
                                </span>
                                                            <span class="description ml-0">Shared publicly - 7:45 PM today</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum represents a long-held tradition for designers,
                                                            typographers and the like. Some people hate it and argue for
                                                            its demise, but others ignore.
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="text-right py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        <a class="btn btn btn-default" data-target="#modal-comment" data-toggle="modal"
                                                           href="#"><i
                                                                class="fas fa-pencil-alt"></i></a>
                                                        <a class="btn btn-lg-red" href="#"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="post">
                                                        <div class="user-block">
                                <span class="username">
                                  <a href="#">Jonathan Burke Jr.</a>
                                </span>
                                                            <span class="description ml-0">Shared publicly - 7:45 PM today</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum represents a long-held tradition for designers,
                                                            typographers and the like. Some people hate it and argue for
                                                            its demise, but others ignore.
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="text-right py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        <a class="btn btn btn-default" data-target="#modal-comment" data-toggle="modal"
                                                           href="#"><i
                                                                class="fas fa-pencil-alt"></i></a>
                                                        <a class="btn btn-lg-red" href="#"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="post">
                                                        <div class="user-block">
                                <span class="username">
                                  <a href="#">Jonathan Burke Jr.</a>
                                </span>
                                                            <span class="description ml-0">Shared publicly - 7:45 PM today</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum represents a long-held tradition for designers,
                                                            typographers and the like. Some people hate it and argue for
                                                            its demise, but others ignore.
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="text-right py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        <a class="btn btn-default" data-target="#modal-comment" data-toggle="modal"
                                                           href="#"><i
                                                                class="fas fa-pencil-alt"></i></a>
                                                        <a class="btn btn-lg-red" href="#"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="post">
                                                        <div class="user-block">
                                <span class="username">
                                  <a href="#">Jonathan Burke Jr.</a>
                                </span>
                                                            <span class="description ml-0">Shared publicly - 7:45 PM today</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum represents a long-held tradition for designers,
                                                            typographers and the like. Some people hate it and argue for
                                                            its demise, but others ignore.
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="text-right py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        <a class="btn btn-default" href="#"><i
                                                                class="fas fa-pencil-alt"></i></a>
                                                        <a class="btn btn-lg-red" href="#"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </section>
            <!-- modal -->
            <div class="modal fade" id="modal-comment">
                <!-- modal dialog -->
                <div class="modal-dialog modal-lg">
                    <!-- modal-content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Comment</h4>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
             	 <textarea class="form-control" id="commpose-textarea-02" rows="3" style="height: 800px">
                        <ul>
                            <li>List item one</li>
                            <li>List item two</li>
                            <li>List item three</li>
                            <li>List item four</li>
                        </ul>
                    </textarea>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-primary" type="button">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</th:block>