<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<th:block th:replace="oss/edit-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <div class="content-wrapper custom-layout" style="height: auto">
            <section class="content-header">
                <div class="container-fluid"></div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card card-secondary submit-form">
                                <div class="card-header">
                                    <h3 class="card-title text-white"></h3>
                                    <div class="card-tools">
                                        <button class="btn btn-tool text-white" data-card-widget="collapse" title="Collapse" type="button"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <form id="ossForm" name="ossForm">
                    			<input type="hidden" name="ossLicensesJson"/>
                    			<input type="hidden" name="ossId"/>
                    			<input type="hidden" name="licenseType" id="licenseType"/>
                    			<input type="hidden" name="obligationType" id="obligationType"/>
                    			<input type="hidden" name="comment"/>
                    			<input type="hidden" name="ossType" th:value="${detail?.ossType}"/>
                    			<input type="hidden" name="validationType"/>
                    			<input type="hidden" name="downloadLocation"/>
                    			<input type="hidden" name="licenseId"/>
                    			<input type="hidden" name="deactivateFlag" value="N"/>
                    			<input type="hidden" name="renameFlag" value="N"/>
                    			<input type="hidden" name="ossCopyFlag" th:value="N" />
                                <div class="card-body">
                                    <div class="row form-group">
                                    	<div class="col-12">
                                    		<label th:text="#{msg.common.field.OSS.name}"></label><span class="text-orange">*</span>
                                        	<input class="form-control autoComOss" name="ossName" th:value="${detail?.ossName}" type="text" />
                                    	</div>
                                    	<div class="col-12 required">
                                    		<span class="retxt text-danger text-sm"></span>
                                    	</div>
                                    </div>
                                    <div class="row form-group">
                                    	<div class="col-12">
                                    		<label th:text="#{msg.common.field.nickname}"></label>
                                      		<div class="input-group">
                                        		<input class="form-control" id="input_ossNicknames" th:onblur="fn.checkNickName(this)" type="text">
                                           		<div class="input-group-append">
                                            		<button class="btn btn-default" id="nickAdd" name="addTagButton" type="button" th:text="Add"></button>
                                          		</div>
                                      		</div>
                                    	</div>
                                    	<div class="col-12">
                                    		<div class="row multiTxtSet"></div>
                                    	</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-1">
                                            <label th:text="#{msg.common.field.OSS.type}"></label>
                                        </div>
                                        <div class="col-10" id="ossTypeDiv"></div>
                                    </div>
                                    <div class="row form-group">
                                    	<div class="col-12">
                                    		<label for="ossVersion" th:text="#{msg.common.field.OSS.version}"></label><span class="text-orange">*</span>
                                        	<input class="form-control" id="ossVersion" name="ossVersion" th:value="${detail?.ossVersion}" type="text"/>
                                    	</div>
                                    	<div class="col-12 required">
                                    		<span class="retxt text-danger text-sm"></span>
                                    	</div>
                                    </div>
                                    <div class="form-group required">
                                        <label th:text="#{msg.common.field.declaredLicense}"></label><span class="text-orange">*</span>
                                        <input type="button" class="btn btn-info btn-xs mx-3 mb-1 px-3 py-0" id="btnShowLicenseText" value="Show license text">
                                        <input type="hidden" name="licenseDiv" />
                                        <div class="licenseMulti">
                                       		<div class="mark"></div>
                                       		<div class="jqGridSet mt-1 mt5">
                                            	<table id="_licenseChoice"><tr><td></td></tr></table>
                                            	<div id="_licenseChoicePager"></div>
                                        	</div>
                                        </div>
                                        <div id="disp_licenseText" style="display: none;"></div>
                                    </div>
                                    <div class="row form-group" name="append-stag-form">
                                    	<div class="col-12">
                                    		<label th:text="#{msg.common.field.detectedLicense}"></label>
                                        	<div class="input-group">
                                        		<input class="form-control autoComOssLicense" id="input_detectedLicense" type="text"/>
                                           		<div class="input-group-append">
                                            		<button class="btn btn-default" id="detectedLicenseAdd" name="addTagButton" type="button" th:text="Add"></button>
                                            	</div>
                                     		</div>
                                    	</div>
                                     	<div class="col-12">
                                    		<div class="row detectedLicensesDiv"></div>
                                    	</div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{msg.common.field.Copyright}"></label>
                                        <textarea class="form-control" name="copyright" rows="5" th:text="${detail?.copyright}"/></textarea>
                                    </div>
                                    <div class="form-group row">
                                    	<div class="col-1">
                                    		<label th:text="#{msg.common.field.licenseType}"></label>
                                    	</div>
                                    	<div id="ltDiv" class="col-1"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1">
                                            <label th:text="#{msg.common.field.obligation}"></label>
                                        </div>
                                        <div id="obDiv" class="col-1"></div>
                                    </div>
                                    <div class="row form-group">
                                    	<div class="col-12">
                                    		<label th:text="#{msg.common.field.downloadLocation}"></label>
                                        	<div class="input-group">
                                        		<input class="form-control" id="input_downloadLocations" type="text"/>
                                           		<div class="input-group-append">
                                            		<button class="btn btn-default" id="downloadLocationAdd" type="button" th:text="Add"></button>
                                            	</div>
                                     		</div>
                                    	</div>
                                    	<div class="col-12 multiDownloadLocationSet">
                                    	</div>
                                    </div>
                                    <div class="row form-group">
                                    	<div class="col-12">
                                    		<label th:text="#{msg.common.field.homepage}"></label>
                                        	<input class="form-control" name="homepage" th:value="${detail?.homepage}" placeholder="http://" type="text"/>
                                    	</div>
                                        <div class="col-12 required">
                                        	<span class="urltxt"></span>
                                    	</div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{msg.common.field.summaryDescription}"></label>
                                        <textarea class="form-control" rows="5" th:text="${summaryDescription}"/></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{msg.common.field.attribution}"></label>
                                        <textarea class="form-control" rows="5" th:text="${attribution}"/></textarea>
                                    </div>
                                    <div class="form-group" th:if="${ossId != null && projectListFlag}">
                                    	<label th:text="Project"></label><button type="button" class="btn btn-info btn-xs mx-3 mb-1 px-3 py-0" id="listMore" th:text="'List more'"></button>
                                    	<div class="jqGridSet mt-1 mt5">
                                    		<table id="_projectList" style="border-collapse: initial;"><tr><td></td></tr></table>
                                    	</div>
                                    </div>
                                    <div class="form-group" th:if="${ossId != null && projectListFlag}">
                                    	<label th:text="'3rd Party'"></label><button type="button" class="btn btn-info btn-xs mx-3 mb-1 px-3 py-0" id="listMore3rd" th:text="'List more'"></button>
                                    	<div class="jqGridSet mt-1 mt5">
                                    		<table id="_partnerList" style="border-collapse: initial;"><tr><td></td></tr></table>
                                    	</div>
                                    </div>
                                    <div class="form-group" th:if="${ossId != null && vulnInfoList != null}">
                                    	<label th:text="#{msg.common.field.vulnerability}"></label>
                                    	<div class="jqGridSet mt-1 mt5">
                                            <table id="_vulnInfoList" style="border-collapse: initial;"><tr><td></td></tr></table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    	<label for="inputName" th:text="#{msg.common.field.comment}"></label>
                                    	<textarea class="form-control" id="commentCont" name='commentInput' rows="3" style="height: 800px"></textarea>
                                  	</div>
                                </div>
                                </form>
                                <div class="card-footer clearfix">
                                	<button th:if="${ossId != null}" type="button" class="btn btn-secondary float-left" id="delete" th:text="Delete"></button>
                                	<button type="button" class="btn btn-teal-01 float-right mx-1" id="save" th:text="Save"></button>
                                   	<button th:if="${ossId != null}" type="button" class="btn btn-default float-right mx-1" id="copy" th:text="Copy"></button>
                                   	<button th:if="${ossId != null}" type="button" class="btn btn-default float-right mx-1" id="sync" th:text="Sync"></button>
                              	</div>
                            </div>
                        </div>
                        <div class="col-md-3 commentList" th:if="${ossId != null}">
							<div class="card card-lg-red" style="position:sticky;top:10px;">
                            	<div class="card-header">
                                	<h3 class="card-title" th:text="Comment"></h3>
                                    <div class="card-tools">
                                    	<button class="btn btn-tool text-white" data-card-widget="collapse" title="Collapse" type="button"><i class="fas fa-minus"></i></button>
                                  	</div>
                              	</div>
                                <div class="card-body pt-0" style="padding-bottom: 0;">
                                    <div clas="col-md-12">
                                        <table class="table">
                                       		<tbody id="commentListBody"></tbody>
                                        </table>
                                    </div>
                               	</div>
                          	</div>
                      	</div>
                    </div>
            </section>
            <!-- loading bar -->
            <th:block th:replace="oss/fragments/ossSelectPopup"></th:block>
            <th:block th:replace="oss/fragments/mergeOssCheckPopup"></th:block>
            <th:block th:replace="fragments/common-fragments :: loadingWrapFragment"></th:block>
            <!-- /. loading bar -->
        </div>
    </div>
</body>
</html>