<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
    <th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
    <th:block th:replace="fragments/gridCommonFn :: gridCommonFn"></th:block>
    <th:block th:replace="oss/list-script :: script"></th:block>
    <body class="hold-transition sidebar-mini" style="height: 100%;">
    <div class="wrapper">
        <div class="content-wrapper custom-layout">
            <form id="ossSearch" name="ossSearch">
                <section class="content-header"></section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-dark card-outline collapsed-card search-form mb-3">
                                    <!-- <div class="card collapsed-card search-form"> -->
                                    <div class="card-header" style="border-bottom: none;">
                                        <div class="row">
                                            <div class="col-md-1 d-flex align-items-center">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="ossNameAllSearchFlag"
                                                           th:checked="${searchBean.ossNameAllSearchFlag eq 'Y' }"
                                                           type="checkbox">
                                                    <label class="custom-control-label text-blue-gray"
                                                           for="ossNameAllSearchFlag"
                                                           style="font-weight: normal;">Exact Match</label>
                                                    <input name="ossNameAllSearchFlag"
                                                           th:value="${searchBean.ossNameAllSearchFlag}"
                                                           type="hidden"/>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row">
                                                    <form action="simple-results.html">
                                                        <div class="input-group">
                                                            <input class="form-control autoComOss" name="ossName"
                                                                   placeholder="Oss Name"
                                                                   type="text">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-default" id="search"
                                                                        type="submit">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-2 d-flex justify-content-start mx-2">
                                                <div class="input-group-appen d-flex align-items-center">
                                                    <a class="text-blue-gray" data-card-widget="collapse"
                                                       style="font-size: 1rem;" title="Collapse">
                                                        <!-- <i class="fas fa-cart-plus fa-lg mr-2"></i> -->
                                                        + advanced Search
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body py-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input text-orange"
                                                               id="licenseNameAllSearchFlag"
                                                               th:checked="${searchBean.licenseNameAllSearchFlag eq 'Y'}"
                                                               type="checkbox">
                                                        <label class="form-check-label text-lg-gray"
                                                               for="licenseNameAllSearchFlag">Exact Match</label>
                                                        <input class="form-check-input text-orange"
                                                               name="licenseNameAllSearchFlag"
                                                               th:value="${searchBean.licenseNameAllSearchFlag}"
                                                               type="hidden">
                                                    </div>
                                                    <input class="form-control autoComLicense" name="licenseName"
                                                           placeholder="License Name"
                                                           th:value="${searchBean.licenseName}"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-check text-orange">
                                                        <input class="form-check-input text-orange"
                                                               id="homepageAllSearchFlag"
                                                               th:checked="${searchBean.homepageAllSearchFlag eq 'Y'}"
                                                               type="checkbox">
                                                        <label class="form-check-label text-lg-gray"
                                                               for="homepageAllSearchFlag">Exact Match</label>
                                                        <input class="form-check-input text-orange"
                                                               name="homepageAllSearchFlag"
                                                               th:value="${searchBean.homepageAllSearchFlag}"
                                                               type="hidden">
                                                    </div>
                                                    <input class="form-control" name="homepage"
                                                           placeholder="Website" th:value="${searchBean.homepage}"
                                                           type="text">
                                                </div>
                                            </div>

                                            <div class="col-md-4 mt-4">
                                                <div class="form-group mb-1">
                                                    <textarea class="form-control" name="copyrights"
                                                              placeholder="Copyright Text"
                                                              rows="1"
                                                              th:text="${searchBean.copyright}"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group mb-1">
                                                    <textarea class="form-control" name="summaryDescription"
                                                              placeholder="Copyright Text"
                                                              rows="1"
                                                              th:text="${searchBean.summaryDescription}"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        Deactivate
                                                    </div>
                                                    <div class="col-md-3 d-flex">
                                                        <input data-bootstrap-switch id="deactivateFlag"
                                                               name="my-checkbox"
                                                               th:checked="${searchBean.deactivateFlag eq 'Y'}"
                                                               type="checkbox">
                                                        <input name="deactivateFlag" type="hidden"
                                                               value="${searchBean.deactivateFlag}"/>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row px-1">
                            <div class="col-md-6">
                                <div class="row">
                                    <button class="btn btn-yellow-03 btn-sm width-10rem mr-xm px-3" onclick="oss_lst_fn.deleteOss()"
                                            type="button">Delete
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row float-right">
                                    <button class="btn btn-teal-01 btn-sm width-10rem mr-xm px-3"
                                            onclick="callCreateTabInFrame('BulkReg_License', '/oss/ossBulkReg', 'oss-bulkReg', true)"
                                            type="button">Bulk
                                        Registration
                                    </button>
                                    <button class="btn btn-teal-01 btn-sm width-6rem mr-xm px-3"
                                            type="button"><i
                                            class="far fa-file-excel mr-2"></i>Export
                                    </button>
                                    <button class="btn btn-dark-01 btn-sm width-6rem mr-xm px-3"
                                            onclick="callCreateTabInFrame('New_OpenSource', '/oss/edit', 'oss-edit', true)"
                                            type="button">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3" style="overflow-x: scroll;">
                                <div class="jqGridSet">
                                    <table id="list">
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <div id="pager"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- loading bar -->
                    <th:block th:replace="fragments/common-fragments :: loadingWrapFragment"></th:block>
                    <!-- /. loading bar -->
                </section>
            </form>
        </div>
    </div>
    </body>
</th:block>
