<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="partner/edit-header :: headerFragment"></th:block>
<th:block th:replace="fragments/gridCommonFn :: gridCommonFn"></th:block>
<th:block th:replace="partner/edit-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper custom-layout">
            <section class="content-header">
                <div class="container-fluid">
                	<div class="row">
                        <div class="col-sm-8 text-left mt-2"></div>
                        <div class="col-sm-4 float-right" th:if="${!#strings.equals(detail.viewOnlyFlag, 'Y') and !#strings.equals(detail.loginUserRole, 'ROLE_VIEWER')}">
                        	<div class="float-right">
                        		<button type="button" th:if="${#strings.equals(detail.status, 'CONF')}" class="btn btn-dark-03 btn-sm width-8rem mr-xm px-3" id="createProject" th:text="'Create Project for OSS Notice'"></button>
                        		<button type="button" th:if="${not @CommonFunction.isAdmin() and (#strings.equals(project.completeYn, 'Y') or #strings.equals(project.distributeDeployYn, 'Y') or #strings.equals(project.identificationStatus, 'REV'))}"
                        				class="btn btn-dark-03 btn-sm width-6rem mr-xm px-3" th:onclick="|fn.reject()|" th:text="Reject"></button>
                        		<button type="button" th:if="${#strings.equals(detail.loginUserRole, 'ROLE_ADMIN') and #strings.equals(detail.status, 'REV')}" 
                        				class="btn btn-dark-04 btn-sm width-6rem px-3 confirm" th:onclick="|fn.confirm()|" th:text="Confirm"></button>
                                <button type="button" th:if="${#strings.equals(detail.loginUserRole, 'ROLE_ADMIN') and (#strings.equals(detail.status, 'REV' or #strings.equals(detail.status, 'CONF'))}" 
                                		class="btn btn-dark-03 btn-sm width-6rem mr-xm px-3 reject" th:onclick="|fn.reject()|" th:text="Reject"></button>
                                <button type="button" th:if="${#strings.equals(detail.loginUserRole, 'ROLE_ADMIN') and #strings.equals(detail.status, 'PROG')}" 
                                		class="btn btn-dark-04 btn-sm width-6rem px-3 review" th:onclick="|fn.requestReview()|" th:text="Request"></button>
                                <button type="button" th:if="${#strings.equals(detail.loginUserRole, 'ROLE_ADMIN') and #strings.equals(detail.status, 'REQ')}" 
                                		class="btn btn-dark-04 btn-sm width-8rem px-3 restart" th:onclick="|fn.reviewStart()|" th:text="'Review Start'"></button>
                        	</div>
                        	<div class="float-right" th:if="${!#strings.equals(detail.loginUserRole, 'ROLE_ADMIN')}">
                            	<button type="button" th:if="${#strings.equals(detail.status, 'REQ') or #strings.equals(detail.status, 'CONF')}" 
                            			class="btn btn-dark-03 btn-sm width-6rem mr-xm px-3 reject" th:onclick="|fn.reject()|" th:text="Reject"></button>
                            	<button type="button" th:if="${#strings.equals(detail.status, 'PROG')}" class="btn btn-dark-04 btn-sm width-6rem px-3 review" th:onclick="|fn.requestReview()|" th:text="Request"></button>
                            </div>
                        </div>
                	</div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-dark card-tabs">
                        <div class="card-header p-0 pt-1" style="display:inline-block;">
                        	<div class="float-left" style="display:inline;">
                        		<ul class="nav nav-tabs" id="menu-tab" role="tablist">
                                	<li class="nav-item">
                                		<a class="nav-link active" id="tabMenuParty" data-toggle="pill" href="#menu-party" role="tab" aria-controls="menu-party" aria-selected="true" th:text="'3rd party'"></a>
                                	</li>
                                	<li class="nav-item" th:if="${batFlag}">
                                    	<a class="nav-link" id="tabMenuBat" data-toggle="pill" href="#menu-bat" role="tab" aria-controls="menu-bat" aria-selected="false" th:text="Bat"></a>
                                	</li>
                            	</ul>
                        	</div>
                            <div class="float-right mr-3" style="margin-top: .35rem">
                                <button type="button" class="btn btn-purple btn-xs px-3 btnCommentHistory" data-toggle="on" th:text="'Show Comment History'"></button>
                                <button type="button" class="btn btn-default btn-xs px-3 commentBtn" data-toggle="off" th:text="'Comment Edit'"></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                <!-- 3rd party -->
                                <div class="tab-pane fade show active" id="menu-party" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                <form id="partnerForm">
                                <input type="hidden" id="partnerId" name="partnerId" th:value="${detail.partnerId}"/>
								<input type="hidden" id="status" name="status" th:value="${detail != null} ? ${detail.status} : 'PROG'"/>
								<input type="hidden" id="ossComponentsStr" name="ossComponentsStr"/>
								<input type="hidden" id="ossComponentsLicenseStr" name="ossComponentsLicenseStr"/>
								<input type="hidden" id="userComment" name="userComment" th:value="${detail.userComment}"/>
								<input type="hidden" id="description" name="description"/>
								<input type="hidden" id="delDocumentsFile" name="delDocumentsFile"/>
                                    <div class="row mt-4 submit-form">
                                        <div class="col-md-5 px-5">
                                            <div class="form-group">
                                                <label for="partnerName" th:text="#{msg.common.field.3rdParty.name}"><span class="text-orange" th:text="*"></span></label>
                                                <input type="text" id="partnerName" name="partnerName" class="form-control autoComParty" th:disabled="${detail.status == 'CONF'} ? 'disabled'"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="softwareName" th:text="#{msg.common.field.3rdParty.softwareName}"><span class="text-orange" th:text="*"></span></label>
                                                <input type="text" id="softwareName" name="softwareName" class="form-control autoComSwNm" th:disabled="${detail.status == 'CONF'} ? 'disabled'"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="softwareVersion" th:text="#{msg.common.field.3rdParty.softwareVersion}"></label>
                                                <input type="text" id="softwareVersion" name="softwareVersion" class="form-control" th:value="${detail != null ? detail.softwareVersion : ''}" th:disabled="${detail.status == 'CONF'} ? 'disabled'"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName" th:text="#{msg.common.field.deliveryForm}">
                                                    <br />
                                                    <span class="text-smaller text-blue-gray" style="font-weight: normal;" th:text="#{msg.partner.deliveryForm.notice}"></span>
                                                </label>
                                                <select class="form-control select" id="deliveryForm" name="deliveryForm" style="width: 100%;" th:disabled="${detail.status == 'CONF'} ? 'disabled'">
                                                    <th:block th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_PARTNER_DELIVERY_FORM'))}">
                                                    	<option th:value="${option.cdDtlNo}" th:text="${option.cdDtlNm}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12 mb-0">
                                                        <label for="inputName" th:text="#{msg.common.field.permission}"></label>
                                                        <div class="form-group mb-0">
                                                            <button type="button" class="btn btn-sm clear1 text-gray text-bold" th:text="view"></button>
                                                            <div class="col-sm-12">
                                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                    <label class="btn btn-sm btn-onOff px-3">
                                                                        <input type="radio" name="publicYn" id="permissionRadio1" autocomplete="off" value="Y" th:text="Everyone"
                                                                        		th:checked="${(detail != null && detail.publicYn != 'N') || detail == null} ? 'checked'" th:disabled="${detail.status == 'CONF'} ? 'disabled'" />
                                                                    </label>
                                                                    <label class="btn btn-sm btn-onOff active px-3">
                                                                        <input type="radio" name="publicYn" id="permissionRadio2" autocomplete="off" value="N" th:text="'Creator & Watcher'"
                                                                        		th:checked="${detail != null && detail.publicYn == 'N'} ? 'checked'" th:disabled="${detail.status == 'CONF'} ? 'disabled'" />
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-12">
                                                        <label for="inputName" th:text="#{msg.common.field.description}"></label>
                                                        <textarea class="form-control" id="descriptionTextarea" name="descriptionTextarea" rows="5"></textarea>
                                                        <div class="row" th:if="${(detail.viewOnlyFlag ne 'Y') and (detail.partnerId != null)}">
                                                            <div class="col-12 mt-1">
                                                                <button class="btn btn-secondary btn-sm px-3 float-right" th:text="Save" th:onclick="|fn.editDescription()|"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 px-5">
                                            <div class="form-group">
                                                <label for="inputName" th:text="#{msg.common.field.Agreement}"></label>
                                                <div class="row">
                                                    <div class="col-10 mb-2 d-flex" th:if="${confirmationFile == null}">
                                                        <div class="float-left" id="confirmationFile" th:style="${isCommited} ? 'max-width: 100%; display:none;' : 'max-width: 100%;'"></div>
                                                        <input type="hidden" id="confirmationFileId" name="confirmationFileId"/>
                                                    </div>
                                                    <div class="col-10 mb-2 d-flex" th:if="${confirmationFile != null}">
                                                    	<ul class="confirmationFileArea">
                                                        	<li>
                                                            	<a class="ajax-file-upload-filename" th:text="${confirmationFile.origNm}" th:href="@{'/download/' + ${confirmationFile.fileSeq} + '/' + ${confirmationFile.logiNm}}"></a>
                                                                <span th:if="${detail.viewOnlyFlag != 'N'}" class="badge bg-danger" style="cursor:pointer;" th:onclick="|fn.deleteConfirmationFile(this)|" th:text="X"></span>
                                                                <input type="hidden" id="confirmationFileId" name="confirmationFileId" th:value="${confirmationFile.fileSeq}"/>
                                                                <br>[[${confirmationFile.createdDate}]]
                                                        	</li>
                                                   		</ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName" th:text="#{msg.common.field.OSSChecklist} + '(Open Source List)'"></label>
                                                <div class="row">
                                                    <div class="col-10 mb-2 d-flex" th:if="${ossFile == null}">
                                                        <div class="float-left" id="ossFile" th:style="${isCommited} ? 'max-width: 100%; display:none;' : 'max-width: 100%;'"></div>
                                                        <input type="hidden" id="ossFileId" name="ossFileId"/>
                                                    </div>
                                                    <div class="col-10 mb-2 d-flex" th:if="${ossFile != null}">
                                                    	<ul class="ossFileArea">
                                                        	<li>
                                                            	<a class="ajax-file-upload-filename" th:text="${ossFile.origNm}" th:href="@{'/download/' + ${ossFile.fileSeq} + '/' + ${ossFile.logiNm}}"></a>
                                                                <span th:if="${detail.viewOnlyFlag != 'N'}" class="badge bg-danger" style="cursor:pointer;" th:onclick="|fn.deleteOssFile(this)|" th:text="X"></span>
                                                                <input type="hidden" id="ossFileId" name="ossFileId" th:value="${ossFile.fileSeq}"/>
                                                                <br>[[${ossFile.createdDate}]]
                                                        	</li>
                                                   		</ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName" th:text="'fosslight_binary.txt'"></label>
                                                <div class="row">
                                                    <div class="col-10 mb-2 d-flex" th:if="${binaryFile == null}">
                                                        <div class="float-left" id="partnerBinaryFile" th:style="${isCommited} ? 'max-width: 100%; display:none;' : 'max-width: 100%;'"></div>
                                                        <input type="hidden" id="binaryFileId" name="binaryFileId"/>
                                                    </div>
                                                    <div class="col-10 mb-2 d-flex" th:if="${binaryFile != null}">
                                                    	<ul class="binaryFileArea">
                                                        	<li>
                                                            	<a class="ajax-file-upload-filename" th:text="${binaryFile.origNm}" th:href="@{'/download/' + ${binaryFile.fileSeq} + '/' + ${binaryFile.logiNm}}"></a>
                                                                <span class="badge bg-danger" th:style="cursor:pointer; ${isCommited} ? 'display:none'" th:onclick="|fn.deleteBinaryFile(this)|" th:text="X"></span>
                                                                <input type="hidden" id="binaryFileId" name="binaryFileId" value="${binaryFile.fileId}"/>
                                                                <br>[[${binaryFile.createdDate}]]
                                                        	</li>
                                                   		</ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName" th:text="#{msg.common.field.relatedDocuments}"></label>
                                                <div class="row">
                                                    <div class="col-10 mb-2 d-flex">
                                                        <div class="float-left" id="documentsFile" th:style="${isCommited} ? 'max-width: 100%; display:none;' : 'max-width: 100%;'"></div>
                                                        <ul class="documentsFileArea" th:each="documentsFile : ${detail.documentsFile}">
                                                        	<li>
                                                            	<a class="ajax-file-upload-filename" th:text="${documentsFile.origNm}" th:href="@{'/download/' + ${documentsFile.fileSeq} + '/' + ${documentsFile.logiNm}}"></a>
                                                                <span class="badge bg-danger" th:style="${isCommited} ? 'cursor:pointer; display:none;' : 'cursor:pointer;'" th:onclick="|fn.deleteDocumentsFile(this)|" th:text="X"></span>
                                                                <input type="hidden" th:value="${documentsFile.fileSeq}"/>
                                                                <br>[[${documentsFile.createdDate}]]
                                                        	</li>
                                                        </ul>
                                                    </div>
                                                    <input type="hidden" id="documentsFileId" name="documentsFileId" th:value="${detail.documentsFileId}" />
                                                </div>
                                            </div>
                                            <div class="form-group" th:if="${detail.viewOnlyFlag ne 'Y' and !#lists.isEmpty(prjList)}">
                                            	<label for="inputName" th:text="#{msg.common.field.project}"></label>
                                            	<div class="row">
                                            		<div class="col-10 mb-2 d-flex">
                                            			<table id="_projectList"><tr><td></td></tr></table>
                                            		</div>
                                            	</div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Watcher" th:text="Watcher"></label>
                                                	<div class="row">
                                                    	<div class="col-4">
                                                        	<select class="form-control select" id="userDivision" th:onchange="|fn.selectDivision()|" style="width: 100%;">
                                                            	<option th:value="''" th:text="'Select Division'"></option>
                                                            	<th:block th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_USER_DIVISION'))}">
                                            						<option th:value="${option.cdDtlNo}" th:text="${option.cdDtlNm}"></option>
                                            					</th:block>
                                                        	</select>
                                                    	</div>
                                                    	<div class="col-7">
                                                        	<select class="form-control select" id="userName" style="width: 100%;">
                                                            	<option th:text="'Select User'"></option>
                                                        	</select>
                                                    	</div>
                                                    	<div class="col-1">
                                                        	<button id="addWatcher" type="button" class="btn btn-default" th:text="Add"></button>
                                                    	</div>
                                                	</div>
                                                	<div class="row my-1">
                                                    	<div class="col-4">
                                                        	<input type="text" id="adId" name="adId" class="form-control" placeholder="Input email" th:onKeypress="|fn.CheckChar()|"/>
                                                    	</div>
                                                   		<div class="col-7" th:with="useDomainFlag=${(@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_REGIST_DOMAIN')) != null 
                                        												&& #lists.size(@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_REGIST_DOMAIN'))) > 0) ? true : false}">
                                                        	<th:block th:if="${useDomainFlag}">
                                                        		<select class="form-control select" id="domain" name="domain" style="width: 100%;">
                                        							<th:block th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_REGIST_DOMAIN'))}">
                                        								<th:block th:if="${#strings.contains(option.cdDtlNm, '직접입력')}">
                                        									<option th:value="${option.cdDtlNo}" th:text="${option.cdDtlNm}"></option>
                                        								</th:block>
                                        								<th:block th:if="${!#strings.contains(option.cdDtlNm, '직접입력')}">
                                        									<option th:value="${option.cdDtlNo}" th:text="|@${option.cdDtlNm}|"></option>
                                        								</th:block>
                                        							</th:block>
                                            					</select>
                                            					<input type="text" id="emailTemp" class="w220" style="display:none;" th:onKeypress="|fn.CheckChar()|" placeholder="Input your Email Domain"
                                            							th:value="${@CoCodeManager.getCodeExpString(@CommonFunction.getCoConstDefVal('CD_REGIST_DOMAIN'), @CommonFunction.getCoConstDefVal('CD_DTL_DEFAULT_DOMAIN'))}" />
                                                        	</th:block>
                                                        	<th:block th:if="${!useDomainFlag}">
                                                        		<input class="form-control" type="text" id="emailTemp" name="emailTemp" placeholder="Input your Email Domain" th:onKeypress="|fn.CheckChar()|">
                                                        	</th:block>
                                                    	</div>
                                                    	<div class="col-1">
                                                        	<button id="addEmail" type="button" class="btn btn btn-default" th:text="Add"></button>
                                                    	</div>
                                                	</div>
                                                	<div class="row">
                                        				<div class="col-4">
                                            				<select id="listKind" class="form-control select" style="width: 100%;">
                                            					<option th:value="''" th:text="'Select List'"></option>
                                                				<option th:if="${projectFlag}" th:text="'Project List'" th:value="prj"></option>
                                                				<option th:value="par" th:text="'3rd Party List'"></option>
                                                				<option th:if="${batFlag}" th:text="'BAT List'" th:value="bat"></option>
                                            				</select>
                                        				</div>
                                        				<div class="col-7">
                                            				<input class="form-control" type="text" id="listId" name="listId" placeholder="Input ID you want to copy"/>
                                        				</div>
                                        				<div class="col-1">
                                            				<button id="addList" type="button" class="btn btn-default">Add</button>
                                        				</div>
                                    				</div>
                                    				<div class="form-group mt-2">
                                        				<div id="multiDiv" class="external-events pl-3 multiTxtSet2">
                                        				</div>
                                    				</div>
                                                
                                            </div>
                                            <div class="form-group" th:if="${detail.partnerId != null}">
                                                <label for="inputName" th:text="#{msg.common.field.creator}"><span class="text-orange" th:text="'*'"></span></label>
                                                <input type="text" name="creatorNm" class="form-control autoComCreatorDivision" th:value="''" th:disabled="${@CommonFunction.isAdmin() and detail.status != 'CONF'} ? 'disabled'" />
												<input type="hidden" name="creator" th:value="${detail != null ? detail.creator : ''}" />
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName" th:text="#{msg.common.field.division}"></label>
                                                <select class="form-control select" id="division" name="division" style="width: 100%;" th:disabled="${detail.viewOnlyFlag != 'N'} ? 'disabled'">
                                                    <option th:value="''" th:text="'Select Division'"></option>
                                                    <th:block th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_USER_DIVISION'))}">
                                            			<option th:value="${option.cdDtlNo}" th:text="${option.cdDtlNm}" th:selected="${option.cdDtlNo} == ${detail.division}"></option>
                                            		</th:block>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName" th:text="#{msg.common.field.reviewer}"></label>
                                                <input type="text" name="reviewerName" class="form-control" th:value="${detail.reviewerName}" th:disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>

                                <div class="tab-pane fade show" id="menu-bat" role="tabpanel"
                                    aria-labelledby="custom-tabs-four-home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-4">
                                                    <div class="icheck-secondary d-inline">
                                                        <input type="radio" id="radio_bat-01" name="r6" checked>
                                                        <label for="radio_bat-01">
                                                            Upload
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="icheck-secondary d-inline">
                                                        <input type="radio" id="radio_bat-02" name="r6">
                                                        <label for="radio_bat-02">
                                                            Url
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 offset-md-2">
                                            <div class="float-right">
                                                <button type="button" class="btn btn-teal-01 btn-xm active"
                                                    data-toggle="on">Show Comment
                                                    History</button>
                                                <button type="button" class="btn btn-teal-01 btn-xm"
                                                    data-toggle="off">Comment
                                                    Edit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-3">

                                    <div id="content_bat">
                                        <div name="content_bat" id="content_bat-01">
                                            <div class="row">
                                                <div class="col-md-2 pl-3 mt-1">
                                                    <p class="text-blue-gray">Please select a file to upload</strong>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-1">
                                                        </div>
                                                        <div class="col-11" style="display: flex;">
                                                            <div class="fileuploader" id="binaryFile">Upload</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div name="content_bat" id="content_bat-02" style="display: none;">
                                            <div class="row">
                                                <div class="col-md-2 pl-3 mt-1">
                                                    <p class="text-blue-gray">Enter the link of the source to be
                                                        analyzed</p>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-1"></div>
                                                        <div class="col-5">
                                                            <div class="input-group input-group-md">
                                                                <input type="text" class="form-control">
                                                                <span class="input-group-append">
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-flat">Sends</button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3" id="content-bat">
                                        <div class="col-12">

                                        </div>
                                        <div class="col-12 mt-5">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header text-bold">
                                                            Loaded List
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="innerJqGridSet">

                                                                <table id="_binaryFileList">
                                                                    <tr>
                                                                        <td></td>
                                                                    </tr>
                                                                </table>
                                                                <!-- <div id="sub_pager_e3"></div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pl-2" name="gridArea" id="girdAreaParty" style="width: 100%;">
                        <!-- buttons -->
                        <div class="col-md-12 mb-3 pl-2">
                            <div class="row">
                            	<div class="col-md-4">
                            		<div class="row float-left">
                             			<th:block th:if="${detail != null and detail.status != 'REQ' and detail.status != 'CONF' and (detail.loginUserRole == 'ROLE_ADMIN' or (detail.loginUserRole != 'ROLE_ADMIN' and detail.status != 'REV')) and detail.viewOnlyFlag != 'Y'}">
                            				<button id="partyDelete" type="button" class="btn btn-lg-gray btn-sm width-6rem mr-xm px-3" th:onclick="|fn.delete()|" th:text="Delete"></button>
                            				<button id="partyBulkEdit" type="button" class="btn btn-yellow-04 btn-sm width-6rem mr-xm px-3" th:onclick="|fn.bulkEdit()|" th:text="'Bulk Edit'"></button>
                          				</th:block>
                            			<button th:if="${detail.partnerId != null and @CommonFunction.isAdmin()}" type="button" class="btn btn-yellow-04 btn-sm width-6rem mr-xm px-3" 
                            					th:onclick="fn_grid_com.ossBulkReg([[${detail.partnerId}]],'20')" th:text="'OSS bulk registration'"></button>
                            		</div>
                            	</div>
                            	<div class="col-md-8">
                            		<div class="row float-right">
                                   		<button type="button" th:if="${detail.partnerId != null}" class="btn btn-yellow-04 btn-sm width-10rem mr-xm px-3" th:onclick="|fn.shareUrl()|" th:text="'Share URL'"></button>
                                   		<button type="button" th:if="${detail.partnerId != null and @CommonFunction.isAdmin()}" class="btn btn-yellow-04 btn-sm width-10rem mr-xm px-3" th:onclick="fn.binaryDBSave([[${detail.partnerId}]])" th:text="'Save (Binary DB)'"></button>
                                    	<th:block th:if="${detail.partnerId != null}">
                                            <div class="btn-group mr-xm">
                                                <button type="button" class="btn btn-yellow-04 btn-sm">Export</button>
                                                <button type="button" class="btn btn-yellow-04 btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item" th:onclick="|fn.selectDownloadFile('report_sub')|" th:text="'FOSSLight Report (Spreadsheet)'"></a>
                                                    <a class="dropdown-item" th:onclick="|fn.selectDownloadFile('YAML')|" th:text="'FOSSLight Report (YAML)'"></a>
                                                    <a class="dropdown-item" th:onclick="|fn.selectDownloadFile('Spreadsheet_sub')|" th:text="'SPDX (Spreadsheet)'"></a>
                                                    <a class="dropdown-item" th:onclick="|fn.selectDownloadFile('RDF_sub')|" th:text="'SPDX (RDF)'"></a>
                                                    <a class="dropdown-item" th:onclick="|fn.selectDownloadFile('TAG_sub')|" th:text="'SPDX (TAG)'"></a>
                                                    <a class="dropdown-item" th:onclick="|fn.selectDownloadFile('JSON_sub')|" th:text="'SPDX (JSON)'"></a>
                                                    <a class="dropdown-item" th:onclick="|fn.selectDownloadFile('YAML_sub')|" th:text="'SPDX (YAML)'"></a>
                                                </div>
                                            </div>
                                    	</th:block>
                                    	<th:block th:if="${detail.status != 'REQ' and detail.status != 'CONF' and  (detail.loginUserRole == 'ROLE_ADMIN' or (detail.loginUserRole == 'ROLE_ADMIN' and detail.status != 'REV')) and detail.viewOnlyFlag != 'Y'}">
                                    		<button type="button" class="btn btn-yellow-04 btn-sm width-6rem mr-xm px-3" th:onclick="|fn.CheckOssViewPage('PARTNER')|" th:text="'Check OSS Name'"></button>
                                    		<button type="button" class="btn btn-yellow-04 btn-sm width-6rem mr-xm px-3" th:onclick="|fn.CheckOssLicenseViewPage('PARTNER')|" th:text="'Check License'"></button>
                                    		<button type="button" class="btn btn-lg-gray btn-sm width-6rem mr-xm px-3" th:onclick="|fn.reset()|" th:text="Reset"></button>
                                    		<button type="button" class="btn btn-teal-01 btn-sm width-6rem px-3" th:onclick="|fn.save()|" th:text="Save"></button>
                                    	</th:block>
                            		</div>
                            	</div>
                            </div>
                        </div>
                        <div class="col-md-12 outerJqGridSet">
                            <table id="list"><tr><td></td></tr></table>
                            <div id="pager"></div>
                        </div>
                    </div>
                    <div class="row pl-2" name="gridArea" id="girdAreaBat" style="width: 100%;display: none;">
                       
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>