<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="partner/list-header :: headerFragment"></th:block>
<th:block th:replace="partner/list-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <div class="custom-layout bg-white">
        <!-- Content Header (Page header) -->
        <section class="content-header"></section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form id="3rdSearch" name="3rdSearch">
                    <input name="act" type="hidden" value="search"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-dark card-outline collapsed-card search-form mb-3">
                                <div class="card-header" style="border-bottom: none;">
                                    <div class="row">
                                        <div class="col-md-7 d-flex">
                                            <div class="row" style="width: 100%;">
                                                <div class="col-12">
                                                    <div class="input-group">
                                                        <input class="save-value" name="defaultSearchType" th:value="THIRD_PARTY" type="hidden"/>
                                                        <button type="button" class="btn btn-lg-red btn-sm width-5rem text-md fw-4 mr-xm" th:onclick="|createTabInFrame('New_3rdParty', '/partner/edit')|" th:text="|+ Add|"></button>
                                                        <input type="text" name="partnerName" class="form-control autoComParty save-value" style="border-right: 0px solid #fff;" placeholder="Partner ID or Partner Name" th:value="${searchBean?.partnerName}">
                                                        <div class="input-group-append">
                                                    		<span class="input-group-text pr-3" style="padding-left: 2.2rem; background-color: #fff; border-left: 0px solid #fff;">
                                                    			<input class="form-check-input save-value" id="checkbox3" name="publicYn" th:checked="${searchBean?.publicYn == null or searchBean?.publicYn == 'N'}" type="checkbox">
                                                				<label class="form-check-label text-blue-gray text-sm" for="checkbox3" th:text="'My Project'"></label>
                                                    		</span>
                                                    	</div>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default" id="search" type="submit"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 pl-3 d-flex justify-content-start">
                                            <div class="input-group-append d-flex align-items-center">
                                            	<a class="text-blue-gray" data-card-widget="collapse" style="font-size: 1rem;" title="Collapse">
                                            		<span class="row" th:text="'+ Advanced Search'"></span><span class="row ml-3 text-lg-red text-xs optionSelected" style="display: none;" th:text="'option selected'"></span>
                                            	</a>
                                           	</div>
                                        </div>
                                        <div th:if="${@environment.getProperty('fosslight.suffix') != null}" class="col-md-2">
                                            <div class="helpLink f-left dropdown float-right mt-1">
                                                <a class="help-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
                                                <div class="dropdown-menu mt-0">
                                                    <a class="dropdown-item" href="#" th:onclick="|openHelpGuideLink('Party_List_Main')|">How to use FossLight Hub</a>
                                                </div>
                                            </div>
                                     	</div>
                                    </div>
                                </div>
                                <div class="card-body py-1">
                                    <form action="enhanced-results.html">
                                        <div class="row">
                                            <!-- <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control save-value" id="partnerId" name="partnerId" placeholder="Partner ID" th:value="${searchBean?.partnerId}" type="text">
                                                </div>
                                            </div> -->
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control save-value" name="softwareName" placeholder="3rd Party Software Name" th:value="${searchBean?.softwareName}" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control save-value" name="softwareVersion" placeholder="3rd Party Software Version" th:value="${searchBean?.softwareVersion}" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="input-group" style="width: 100%;">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-calendar-alt"></i>
                                                            </span>
                                                        </div>
                                                        <input class="form-control" id="schDateRange" placeholder="Created Date" type="text">
                                                        <input class="save-value" id="createdDate1" name="createdDate1" th:value="${searchBean?.createdDate1}" type="hidden"/>
                                                        <input class="save-value" id="createdDate2" name="createdDate2" th:value="${searchBean?.createdDate2}" type="hidden"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <select class="form-control select2 save-value" id="division" name="division" style="width: 100%;">
                                                        <option value=""></option>
                                                        <th:block th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_USER_DIVISION'))}">
                                                            <option th:value="${option.cdDtlNo}" th:text="${option?.cdDtlNm}" th:selected="${#strings.equals(option.cdDtlNo, searchBean?.division)}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <th:block th:with="statusArray=${#strings.arraySplit(searchBean.status, ',')}">
                                                        <select class="form-control select2 save-value" id="parStatusSelect" multiple="multiple" name="status" style="width: 100%;">
                                                            <option th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_IDENTIFICATION_STATUS'))}"
                                                                    th:text="${option.cdDtlNm}"
                                                                    th:value="${option.cdDtlNo}"
                                                                    th:selected="${statusArray != null and #arrays.contains(statusArray, option.cdDtlNo)}">
                                                            </option>
                                                        </select>
                                                    </th:block>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control save-value" name="watchers" placeholder="Watcher" th:value="${searchBean.watchers != null} ? ${searchBean.watchers[0]}" type="text"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control autoComCreatorDivision save-value" name="creator" placeholder="Creator" th:value="${searchBean?.creator}" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control autoComReviewer save-value" name="reviewer" placeholder="Reviewer" th:value="${searchBean?.reviewer}" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input type="text" name="licenseName" class="form-control autoComLicense" placeholder="License Name" th:value="${searchBean?.licenseName}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input type="text" name="ossName" class="form-control autoComOss" placeholder="OSS Name" th:value="${searchBean?.ossName}" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input type="text" name="ossVersion" class="form-control autoComOss" placeholder="OSS Version" th:value="${searchBean?.ossVersion}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="binaryName" placeholder="Binary Name" rows="3" th:utext="${searchBean?.binaryName}"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="userComment" placeholder="Comment" rows="3" th:utext="${searchBean?.comment}"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="description" placeholder="Description" rows="3" th:utext="${searchBean?.description}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                               				<div class="col-md-12">
                               					<div class="p-2 text-center">
                                         			<button class="btn btn-ivory btn-sm btn-icon" th:onclick="|updateSearchCondition('3rdSearch')|" data-toggle="tooltip" data-placement="right" type="button">
                                              			<i class="fa fa-download mr-xm"></i> save conditions
                                         			</button>
                                           			<button class="btn btn-ivory btn-sm btn-icon ml-2" th:onclick="|resetForm('3rdSearch')|" data-toggle="tooltip" data-placement="right" type="button">
                                              			<i class="fa fa-undo mr-xm"></i> reset
                                           			</button>
                                       			</div>
                               				</div>
                               			</div>
                                </div>
                            </div>
                        </div>
                	</div>
                </form>

            <div class="row px-1">
                <div class="col-md-6">
                    <div class="row float-left">
                        <div class="btn-group btn-group-sm width-10rem mr-xm" id="ChangeContainer">
                            <button type="button" class="btn btn-outline-dark px-3 ml-2" th:text="Change"></button>
                            <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                <span class="sr-only" th:text="'Toggle Dropdown'"></span>
                            </button>
                            <div class="dropdown-menu" id="ChangeList" role="menu">
                                <a class="dropdown-item" href="#" th:onclick="|fn.changeDivision()|" th:text="Division"></a>
                                <a class="dropdown-item" href="#" th:onclick="|fn.changeWatcher()|" th:text="Watcher"></a>
                            </div>
                        </div>
                    </div>
                </div>
<!--           	<div class="col-md-6">
                    <div class="row float-right" style="margin-right: .1rem;">
                        <button class="btn btn-lg-light-gray btn-sm width-6rem mr-xm px-3" th:onclick="|fn.downloadExcel()|"  type="button"><i class="far fa-file-excel mr-2"></i>Export</button>
                        <button class="btn btn-lg-teal btn-sm width-6rem mr-xm px-3 btnAdd" th:onclick="|createTabInFrame('New_3rdParty', '/partner/edit')|" th:text="Add" type="button"></button>
                    </div>
                </div> -->
            </div>

            <div class="row">
                <div class="col-12 mt-3">
                    <div class="col-sm-12 jqGridSet">
                        <table id="list">
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                        <div id="pager"></div>
                    </div>
                </div>
            </div>
     	</div>
     	<th:block th:replace="fragments/common-fragments :: loadingWrapFragment"></th:block>       
        </section>
    </div>
</div>
</body>
</html>