<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonScriptFragment">
<link rel="stylesheet" th:href="@{/css/jqgrid4.7/ui.jqgrid.css}" />
<link rel="stylesheet" th:href="@{/css/commonIframe.css}" />
<link rel="stylesheet" th:href="@{/css/uploadFile/uploadfile.css}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.css">

<script src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script th:src="@{/js/jqgrid4.7/js/i18n/grid.locale-en.js}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-file-upload/4.0.11/jquery.uploadfile.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script th:src="@{/js/jqgrid4.7/js/jquery.jqGrid.js}"></script>
<script th:src="@{/js/ckeditor/ckeditor.js}"></script>
<script th:src="@{/js/basic_editor.js}"></script>

<script type="text/javascript">
	$.jgrid.no_legacy_api = true;
	$.jgrid.useJSON = true;
</script>

</th:block>
</html>