<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commentAreaFragment">
    <div>
        <div class="row" id="commentAreaFragment">
            <th:block th:if="${!#lists.isEmpty(commentList)}">
                <div class="col-md-12">
                    <table class="table">
                        <tbody>
                        <th:block th:each="comment, status : ${commentList}">
                            <tr>
                                <td>
                                    <div class="post">
                                        <div class="row mb-1">
                                            <th:block th:if="${not #strings.isEmpty(@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment?.referenceDiv))}">
                                                <th:block th:if="${comment.referenceDiv == '10'}">
                                                    <span class="badge badge-orange">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
                                                    <th:block th:if="${not #strings.isEmpty(comment.expansion1)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.expansion1}]]</span>
                                                    </th:block>
                                                    <th:block th:if="${not #strings.isEmpty(comment.status)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.status}]]</span>
                                                    </th:block>
                                                </th:block>
                                                <th:block th:if="${comment.referenceDiv == '12'}">
                                                    <span class="badge badge-success">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
                                               		<th:block th:if="${not #strings.isEmpty(comment.expansion1)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.expansion1}]]</span>
                                                    </th:block>
                                                    <th:block th:if="${not #strings.isEmpty(comment.status)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.status}]]</span>
                                                    </th:block>
                                                </th:block>
                                                <th:block th:if="${comment.referenceDiv == '19'}">
                                                    <span class="badge badge-primary">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
                                                	<th:block th:if="${not #strings.isEmpty(comment.expansion1)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.expansion1}]]</span>
                                                    </th:block>
                                                    <th:block th:if="${not #strings.isEmpty(comment.status)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.status}]]</span>
                                                    </th:block>
                                                </th:block>
                                                <th:block th:if="${comment.referenceDiv == '60'}">
                                                    <span class="badge badge-dark">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
                                                	<th:block th:if="${not #strings.isEmpty(comment.expansion1)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.expansion1}]]</span>
                                                    </th:block>
                                                    <th:block th:if="${not #strings.isEmpty(comment.status)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.status}]]</span>
                                                    </th:block>
                                                </th:block>
                                                <th:block th:unless="${comment.referenceDiv == '10' or comment.referenceDiv == '12' or comment.referenceDiv == '19' or comment.referenceDiv == '60'}">
                                                    <span class="badge badge-ivory">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
                                                	<th:block th:if="${not #strings.isEmpty(comment.expansion1)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.expansion1}]]</span>
                                                    </th:block>
                                                    <th:block th:if="${not #strings.isEmpty(comment.status)}">
                                                    	<span class="badge badge-outline-dark-blue hover-light-btn ml-1">[[${comment.status}]]</span>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                        </div>
                                        <div class="user-block">
                                            <span class="username">
                                              <a href="#" th:text="${comment.creator}"></a>
                                            </span>
                                            <span class="description ml-0" th:text="${comment.createdDate}"></span>
                                        </div>
                                        <div th:utext="${comment.contents}"></div>
                                    </div>
                                </td>
                                <td class="text-right py-0 align-middle">
                                <td class="text-right py-0 align-middle">
                                    <div class="btn-group btn-group-sm" th:if="${comment.creator == comment.loginUserName}">
                                        <button class="btn btn btn-default" type="button" th:data-commId="${comment.commId}" th:data-referenceDiv="${comment.referenceDiv}" name="commentModifyBtn">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button class="btn btn-lg-red" th:data-commId="${comment.commId}" name="commentDeleteBtn" type="button">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </th:block>
            <th:block th:if="${#lists.isEmpty(commentList)}">
                <div class="col-md-12 mt-3">
                    <strong class="text-lg-gray">No comments were registered.</strong>
                </div>
            </th:block>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function() {
            const commentCnt = [[ ${commentListCnt} ]];
            const moreYn = [[ ${moreYn} ]];

            if(commentCnt > 5 && !moreYn) {
                $("#moreListDiv").show();
            }else{
                $("#moreListDiv").hide();
            }
        });
    </script>
</th:block>
<th:block th:fragment="commentHistoryAreaFragment">
    <th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
    <div class="custom-layout" id="commentHistoryAreaFragment">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <th:block th:if="${#strings.equals(basicInfo.referenceDiv, 'prj')}">
                        <div class="col-sm-7 text-left mt-3">
                            <span class="description-percentage text-lg text-dark-gray text-bold">
                                <b>[<span th:text="${project.prjId}"></span>]<span class="ml-1" th:text="${project.prjName}"></span></b>
                            </span>
                            <span class="text-lg-gray text-smaller ml-2">
                                    <span class="badge badge-info text-md px-2 py-1">B</span>
                                    <span class="badge badge-orange text-md px-2 py-1">I</span>
                                    <th:block th:if="${project.identificationStatus == 'CONF' and project.verificationStatus != 'NA'}">
                                         <span class="badge badge-success text-md px-2 py-1">P</span>
                                    </th:block>
                                    <th:block th:if="${project.verificationStatus == 'CONF' and project.destributionStatus != 'NA'}">
                                         <span class="badge badge-danger text-md px-2 py-1">D</span>
                                    </th:block>
                            </span>
                        </div>
                    </th:block>
                    <th:block th:if="${#strings.equals(basicInfo.referenceDiv, '3rd')}">
                        <div class="col-sm-7 text-left mt-3">
                            <span class="description-percentage text-lg text-dark-gray text-bold">
                                <b>[<span th:text="${partner.partnerId}"></span>]<span class="ml-1" th:text="${partner.partnerName}"></span></b>
                            </span>
                            <span class="description-percentage text-md text-bold text-blue-gray ml-1">
                                <span th:text="${partner.softwareName}"></span><span th:if="${partner.softwareVersion}">(<span th:text="${partner.softwareVersion}"></span>)</span>

                                   <span class="text-lg-gray text-smaller ml-2">
                                <span class="btn btn-teal-01 btn-sm text-smaller ml-1" style="padding: 1px; width: 35px;" th:text="3rd"></span>
                            </span>
                        </div>


                    </th:block>
                    <div class="col-sm-5">
                        <form class="mb-0" id="commentSchForm" onkeydown="javascript: if(event.keyCode==13) { fn_commemt.getCommentList(); return false; }">
                            <div class="row mt-3">
                                <div class="col-4 px-0">
                                    <th:block th:if="${#strings.equals(basicInfo.referenceDiv, 'prj')}">
                                        <select class="custom-select float-right" data-placeholder="Section" id="schReferenceDiv" name="schReferenceDiv">
                                            <option disabled hidden selected>Section</option>
                                            <option th:value="${@CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_PROJECT_HIS')}">
                                                [[
                                                ${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'),
                                                @CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_PROJECT_HIS'))} ]]
                                            </option>
                                            <option th:value="${@CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_IDENTIFICAITON_HIS')}">
                                                [[
                                                ${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'),
                                                @CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_IDENTIFICAITON_HIS'))} ]]
                                            </option>
                                            <option th:value="${@CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_PACKAGING_HIS')}">
                                                [[
                                                ${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'),
                                                @CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_PACKAGING_HIS'))} ]]
                                            </option>
                                            <option th:value="${@CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_DISTRIBUTION_HIS')}">
                                                [[
                                                ${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'),
                                                @CommonFunction.getCoConstDefVal('CD_DTL_COMMENT_DISTRIBUTION_HIS'))} ]]
                                            </option>
                                        </select>
                                    </th:block>
                                </div>
                                <div class="col-8 px-0">
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="schKeyword" name="schKeyword" autocomplete="off">
                                        <div class="input-group-append">
                                            <button class="btn btn-default" id="search" type="button"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <input name="referenceDiv" th:value="${basicInfo.referenceDiv}" type="hidden">
                                    <input name="referenceId" th:value="${basicInfo.referenceId}" type="hidden">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="content mt-1">
            <div class="container-fluid">
                <div class="card card-lg-red">
                    <div class="card-header">
                        <h3 class="card-title">Comment</h3>
                        <!-- <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                            title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div> -->
                    </div>
                    <div class="card-body pt-0" scroll="auto" style="height: auto">
                        <div class="commentBack" id="commentListArea"><div></div></div>
                    </div>
                </div>
                <div class="btnLayout" id="moreListDiv"
                     style="text-align: center; display: none; padding: 0 0; margin-top: 10px;">
<!--						<span>-->
<!--							<input class="btn btn-outline-secondary btn-lg text-lg mb-3" onclick="fn_comment.getMoreCommentList()" type="button"-->
<!--                                   value="More" style="width: 20%"/>-->
<!--						</span>-->
                    <a class="small-box-footer mb-3" href="#" id="moreInfoBtn" onclick="fn_comment.getMoreCommentList()">More <i
                            class="fas fa-arrow-circle-down"></i></a>
                </div>
            </div>
        </section>
    </div>
    <script th:inline="javascript">
        //<![CDATA[
        /*global $ */
        $(document).ready(function () {
            fn_comment.getCommentList();

            $('#search').on('click', function (e) {
                event.preventDefault();
                fn_comment.getCommentList();
            });

            $('.callOpener').on('click', function (e) {
                try {
                    var paramId = "";

                    if ([[${basicInfo.referenceDiv}]] == 'prj') {
                        paramId = [[ ${project?.prjId} ]];
                    } else if ([[${basicInfo.referenceDiv}]] == '3rd') {
                        paramId = [[ ${partner?.partnerId} ]];
                    }

                    opener.moveTabInFrameByCommentPopup2(paramId, $(this).attr('id'));
                    window.focus();
                } catch (e) {
                }
            });
        });

        const fn_comment = {
            getCommentList: function () {
                $.ajax({
                    url: "/comment/getCommentList",
                    type: 'GET',
                    dataType: 'html',
                    cache: false,
                    data: $('#commentSchForm').serialize(),
                    success: function (res) {
                        $('#commentListArea div').replaceWith(res);
                        $("button[name='commentModifyBtn']").on("click", function (e){
                            e.preventDefault();
                            const commId = $(this).attr("data-commId");
                            const referenceDiv = $(this).attr("data-referenceDiv");
                            fn_comment.handleCommentPopupOpen(commId, referenceDiv);
                        });
                        $("button[name='commentDeleteBtn']").on("click", function (e){
                            e.preventDefault();
                            const commId = $(this).attr("data-commId");
                            fn_comment.deleteComment(commId);
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alertify.error([[ #{msg.common.valid2} ]], 0);
                    }
                });
            },
            deleteComment: function (_commId) {
                if (!confirm(String([[#{msg.oss.confirm.delete.comment} ]]))) {
                    return;
                }

                postAjaxData({'commId': _commId}, "/comment/deleteComment", "json", function (data) {
                    alertify.error(String([[ #{msg.common.success}]]));
                    fn_comment.getCommentList();
                }, function () {
                    alertify.error(String([[ #{msg.common.valid2} ]]), 0);
                });
            },
            getMoreCommentList: function () {
                $.ajax({
                    url: "/comment/getMoreCommentList",
                    type: 'GET',
                    dataType: 'html',
                    cache: false,
                    data: $('#commentSchForm').serialize(),
                    success: function (data) {
                        $('#commentListArea').append(data);
                    },
                    error: function () {
                        alertify.error([[ #{msg.common.valid2} ]], 0);
                    }
                });
            },
            handleCommentPopupOpen: function (_commId, _referenceDiv)  {
                getAjaxJsonData({commId : _commId, referenceDiv: _referenceDiv}, "/comment/getDivCommentByCommId", "html", function (res) {
                    alertify.confirm(res, function (e) {
                        if(e) {
                            fn_comment.editComment();
                        } else {
                            return false;
                        }
                    }).set('resizable', true)
                        .resizeTo('680px', '335px');
                }, null, function () {
                    $("#modifiedCommentEditor").summernote({
                        height: 100,
                        callbacks: {
                            onInit: function() {
                                const contents = $("#contents").val();
                                $(this).summernote('code', contents);
                            }
                        }
                    });
                });
            },
            editComment: function () {
                const commId = $("#modifiedCommentId").val();
                const referenceId = $('input[name=ossId]').val();
                const referenceDiv = $("#referenceDiv").val();
                const contents = $('#modifiedCommentEditor').summernote('code');
                const param = {
                    'commId': commId,
                    'contents': contents,
                    'referenceDiv': referenceDiv,
                    'referenceId': referenceId
                };

                postAjaxData(param, "/comment/updateComment", "json", function () {
                    alertify.success(String([[ #{msg.common.success} ]]), 0);
                }, function () {
                    alertify.error(String([[ #{msg.common.valid2} ]]), 0);
                }, function () {
                    fn_comment.getCommentList();
                });
            }
        }
        //]]>
    </script>
</th:block>
<th:block th:fragment="commentPopupFragment">
    <div class="comment-popup">
        <div class="row mt-2">
            <div class="col-12">
                <input type="hidden" id="modifiedCommentId" th:value="${commId}">
                <input type="hidden" id="contents" th:value="${contents}">
                <input type="hidden" id="referenceDiv" th:value="${referenceDiv}">
                <textarea class="form-control" id="modifiedCommentEditor" name="commentInput" rows="3" style="height: 800px"></textarea>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="userCommentPopupFragment">
    <div class="comment-popup">
        <div class="row mt-2">
            <div class="col-12">
                <input type="hidden" id="contents" th:value="${contents}">
                <textarea class="form-control" id="modifiedCommentInPjtEditor" name="commentInput" rows="3" style="margin:0 auto;"></textarea>
                <div class="row">
                    <div class="col-12 my-2">
                        <input type="button" value="Save draft" class="btn btn-default btn-sm float-right" onclick="fn.saveEditor();"/>
                        <input type="button" value="Save & Send comment" class="btn btn-info btn-sm float-right mx-1" onclick="fn.sendEditor('WR');"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
