<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="iframeFragment">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
      <div class="nav navbar navbar-expand bg-grayish-blue border-bottom p-0">
        <div class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Close</a>
          <div class="dropdown-menu mt-0">
            <a class="dropdown-item" href="#" data-widget="iframe-close" data-type="all">Close All</a>
            <a class="dropdown-item" href="#" data-widget="iframe-close" data-type="all-other">Close All Other</a>
          </div>
        </div>
        <a class="nav-link bg-grayish-blue text-white" href="#" data-widget="iframe-scrollleft"><i class="fas fa-angle-double-left"></i></a>
        <ul class="navbar-nav overflow-hidden" id="navbarNav" role="tablist"></ul>
        <a class="nav-link bg-grayish-blue text-white" href="#" data-widget="iframe-scrollright"><i class="fas fa-angle-double-right"></i></a>
        <a class="nav-link bg-grayish-blue text-white" href="#" data-widget="iframe-fullscreen"><i class="fas fa-expand"></i></a>
      </div>
      <div class="tab-content">
        <div class="tab-empty">
          <h2 class="display-4">No tab selected!</h2>
        </div>
        <div class="tab-loading" style="height: auto;">
          <div>
            <h2 class="display-4">Tab is loading <i class="fa fa-sync fa-spin"></i></h2>
          </div>
        </div>
        
        
        
      </div>
    </div>
  <script>
	
  var observer = new MutationObserver(function (mutationsList) {
		for (var mutation of mutationsList) {
			if (mutation.type === 'childList' && mutation.addedNodes.length > 0) {
				handleTabShown();
				break;
			}
		}
	});

	var targetNode = document.getElementById('navbarNav');
	observer.observe(targetNode, {childList: true});

	function handleTabShown() {
		$('#navbarNav').off('shown.bs.tab').on('shown.bs.tab', function (e) {
			tabNumber = $(e.target).closest('li').index();

			if (selectTab != tabNumber) {
				lastTab = selectTab;
				selectTab = tabNumber;
				moveNavbar();
			}
		});
	}

	$(document).on('click', '.btn-iframe-close', function (e) {
		var tabItem = $(e.target).closest('li');
		var tabIndex = tabItem.index();

		// 1. When closing the active tab -> activate lastTab.
		if (tabIndex === selectTab) {
			e.stopPropagation();
			e.preventDefault();

			if (lastTab !== null) {
				// 1-1. If lastTab exists, activate lastTab
				const lastTabElement = $('#navbarNav').find('.nav-link').eq(lastTab);

				if (lastTabElement.length) {
					setTimeout(() => {
						lastTabElement.trigger('click');
						selectTab = $('#navbarNav').find('.nav-link.active').closest('li').index();
					}, 0);
				} else {
					// 1-2. If lastTab no longer exists, activate the tab immediately before lastTab. -> according to the admin LTE event
					console.log("lastTab no longer exists");
				}
			}
		} else {
			e.stopPropagation();
			e.preventDefault();

			// 2. When closing an inactive tab -> keep the current page
			// If a tab with a number greater than the current page is closed, decrement selectTab by 1
			// If a tab with a number less than the current page is closed, keep selectTab unchanged
			if (tabIndex < selectTab) {
				selectTab -= 1;
			} else {
				selectTab = lastTab;
			}

			setTimeout(() => {
				$('#navbarNav').find('.nav-link').eq(selectTab).trigger('click');
				selectTab = $('#navbarNav').find('.nav-link.active').closest('li').index();
			}, 0);
		}
	});

	function moveNavbar() {
		var navbarNav = document.getElementById("navbarNav");
		var activeElement = navbarNav.querySelector('.active');
		if (activeElement) {
			var navbarRect = navbarNav.getBoundingClientRect();
			var activeRect = activeElement.getBoundingClientRect();
			var scrollLeft = activeRect.left - navbarRect.left - (navbarRect.width - activeRect.width) / 2;
			navbarNav.scrollLeft = scrollLeft;
		}
	}

    $("#navbarNav").on("click", ".btn-iframe-close", function() {
    	var tabNm = $(this).next().text();
    	if ("Project" == tabNm) {
    		localStorage.removeItem("projectSearchConditions");
    	} else if ("Open Source" == tabNm) {
    		localStorage.removeItem("ossSearchConditions");
    	} else if ("License" == tabNm) {
    		localStorage.removeItem("licenseSearchConditions");
    	} else if ("3rd Party" == tabNm) {
    		localStorage.removeItem("partnerSearchConditions");
    	} else if ("Self-Check" == tabNm) {
    		localStorage.removeItem("selfCheckSearchConditions");
    	} else if ("BAT" == tabNm) {
    		localStorage.removeItem("batSearchConditions");
    	}
    });
  </script>
</th:block>
</html>