<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="loadingWrapFragment">
  <div id="loading_wrap" class="loading" style="display:none;">
    <div class="loadingBlind"></div>
    <img src="/images/loading.gif" alt="loading" />
  </div>
</th:block>
<th:block th:fragment="promptPopupFragment">
  <div id="promptPopup">
    [[ ${data.context} ]]
    <div class="row mt-3">
      <div class="col-12">
        <textarea class="form-control" id="editor" rows="5"></textarea>
      </div>
    </div>
  </div>
</th:block>
</html>