<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
      <img th:src="@{/images/logo_s.png}" alt="FOSSLight hub Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light" th:text="'FOSSLight'"></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar index">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-2 pb-1 mb-3 text-center">
        <div class="info" style="width: 100%;">
          <div class="row">
            <div class="col-6">
              <span class="text-right">
                <i class="fas fa-user-circle text-light mr-1 fa-xs"></i>
                <a th:onclick="|createTabNew('configuration_edit', '/configuration/edit')|" style="cursor: pointer;" th:text="${@CommonFunction.loginUserName()}" ></a>
              </span>
            </div>
            <div class="col-1">
              <span class="text-center"><a href="#">|</a></span>
            </div>
            <div class="col-4">
              <span class="text-left">
                <i class="fas fa-sign-out-alt text-light mr-1 fa-xs"></i>
                <a class="text-right" th:href="@{/session/logout}" th:text="Logout"></a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item" th:if="${dashboardFlag}">
            <a th:href="@{/dashboard/list}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              	<p th:text="Dashboard"></p>
            </a>
          </li>
          <li class="nav-item">
          	<a th:href="@{/license/list}" class="nav-link" id="license-list">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'License List'"></p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/oss/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'OSS List'"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${projectFlag}">
            <a th:href="@{/project/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'Project List'"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${partnerFlag}">
            <a th:href="@{/partner/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'3rd Party List'"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${batFlag}">
            <a th:href="@{/bat/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'BAT List'"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${binarydbFlag}">
            <a th:href="@{/binary}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'Binary DB'"></p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/vulnerability/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="Vulnerability"></p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/selfCheck/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'Self-Check List'"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${complianceStatusFlag and (projectFlag or partnerFlag)}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'Compliance Status'"></p></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" th:if="${projectFlag}">
                <a th:href="@{/compliance/modelStatus}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'MODEL(S/W) OSC Status'"></p>
                </a>
              </li>
              <li class="nav-item" th:if="${partnerFlag}">
                <a th:href="@{/compliance/3rdList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p th:text="'3rd Party Status'"></p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" th:if="${externalLinkFlag and @CoCodeManager.getCodeValues(@CommonFunction.getCoConstDefVal('CD_EXTERNAL_LINK')) != null}">
            <a th:href="@{/external/external}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
	          	<p th:text="'External Link'"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${@CommonFunction.isAdmin()}">
            <a th:href="@{/system/configuration}" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
	          	<p th:text="Configuration"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${@CommonFunction.isAdmin()}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              	<p th:text="System"><i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" th:if="${statisticsFlag}">
                <a th:href="@{/statistics/view}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="Statistics"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/code}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'Code management'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/user}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'User management'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/history}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'History List'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/notice}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="Notification"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/sentMail}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'Sent Mail List'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/processGuide}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'Help & Guide'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/vulnerabilityHistory}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'Vulnerability Log'"></p>
                </a>
              </li>
              <li class="nav-item" th:if="${binarydbFlag}">
                <a th:href="@{/system/binaryDataHistory}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'BinaryDB Log'"></p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    <div class="sidebar copyright p-3">
      <strong>Version 3.2.0</strong><br />
      Copyright &copy; 2021 LG Electronics.<br />
      All rights reserved.
    </div>
  </aside>
</th:block>
</html>