<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
      <img th:src="@{/images/logo_s.png}" alt="FOSSLight hub Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light" th:text="'FOSSLight'"></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar index">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-2 pb-1 mb-3 text-center">
        <div class="info" style="width: 100%;">
          <div class="row">
            <div class="col-6">
              <span class="text-right">
                <i class="fas fa-user-circle text-light mr-1 fa-xs"></i>
                <a th:onclick="|createTabNew('configuration_edit', '/configuration/edit')|" style="cursor: pointer;" th:text="${@CommonFunction.loginUserName()}" ></a>
              </span>
              <input type="hidden" id="defaultTabAnchorArr" th:value="${sessUserInfo.defaultTabAnchor}" />
            </div>
            <div class="col-1">
              <span class="text-center"><a href="#">|</a></span>
            </div>
            <div class="col-4">
              <span class="text-left">
                <i class="fas fa-sign-out-alt text-light mr-1 fa-xs"></i>
                <a class="text-right" th:href="@{/session/logout-proc}" th:text="Logout"></a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul id="sidebar" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li th:if="${dashboardFlag}" class="nav-item">
            <a th:href="@{/dashboard/list}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              	<p th:text="Dashboard"></p>
            </a>
          </li>
          <li class="nav-item">
          	<a th:href="@{/license/list}" class="nav-link" id="license-list">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'License List'"></p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/oss/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'OSS List'"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${projectFlag}">
            <a th:href="@{/project/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'Project List'"></p>
            </a>
          </li>
          <li th:if="${partnerFlag}" class="nav-item">
            <a th:href="@{/partner/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'3rd Party List'"></p>
            </a>
          </li>
          <li th:if="${batFlag}" class="nav-item">
            <a th:href="@{/bat/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'BAT List'"></p>
            </a>
          </li>
          <li th:if="${binarydbFlag}" class="nav-item">
            <a th:href="@{/binary}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'Binary DB'"></p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/vulnerability/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="Vulnerability"></p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/selfCheck/list}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'Self-Check List'"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${complianceStatusFlag and (projectFlag or partnerFlag)}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              	<p th:text="'Compliance Status'"></p></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" th:if="${projectFlag}">
                <a th:href="@{/compliance/modelStatus}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'MODEL(S/W) OSC Status'"></p>
                </a>
              </li>
              <li class="nav-item" th:if="${partnerFlag}">
                <a th:href="@{/compliance/3rdList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p th:text="'3rd Party Status'"></p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" th:if="${externalLinkFlag and @CoCodeManager.getCodeValues(@CommonFunction.getCoConstDefVal('CD_EXTERNAL_LINK')) != null}">
            <a th:href="@{/external/external}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
	          	<p th:text="'External Link'"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${@CommonFunction.isAdmin()}">
            <a th:href="@{/system/configuration}" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
	          	<p th:text="Configuration"></p>
            </a>
          </li>
          <li class="nav-item" th:if="${@CommonFunction.isAdmin()}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              	<p th:text="System"><i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" th:if="${statisticsFlag}">
                <a th:href="@{/statistics/view}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="Statistics"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/code}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'Code management'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/user}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'User management'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/history}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'History List'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/notice}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="Notification"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/sentMail}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'Sent Mail List'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/processGuide}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'Help & Guide'"></p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/system/vulnerabilityHistory}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'Vulnerability Log'"></p>
                </a>
              </li>
              <li class="nav-item" th:if="${binarydbFlag}">
                <a th:href="@{/system/binaryDataHistory}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p th:text="'BinaryDB Log'"></p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    <div class="sidebar copyright p-3">
      <strong>Version 3.2.0</strong><br />
      Copyright &copy; 2021 LG Electronics.<br />
      All rights reserved.
    </div>
  </aside>
  	<script th:inline="javascript">
  	var _initTabs = new Array();
  	
  	window.onload = function() {
  		try {
  			initTab();
  		} finally {
  			var config = { attributes: true, childList: true, characterData: true };
  			var sidebar = $("#sidebar").find(".nav-link");
  			
  			$(sidebar).each(function () {
  			  	var target = this;
  			  	var observer = new MutationObserver(function(mutations) {
  			    	mutations.forEach(function(mutation) {
  			      		if ($(mutation.target).attr("class").indexOf("active") > -1) {
  			      			var src = $(mutation.target).attr("href");
  			      			var pId = $("iframe[src='"+src+"']").parent().attr("id");
  			      			if (typeof pId !== "undefined") {
  			      				var tabName = "#tab--" + pId.substring(7, pId.length);
  			      				$(tabName).focus();
  			      			}
  			      		}
  			    	});
  				});
  			  	observer.observe(target, config);
  			});
  		}
  	}

  	function initTab() {
  		var query = window.location.search;
  	   	var param = new URLSearchParams(query);
  	   	var id = param.get("id");
  	   	var prjFlag = param.get("project");
  	   	if (id != null && prjFlag != null) {
  	    	createTabNew(prjFlag == 'true' ? id + "_Project" : id + "_3rdParty", prjFlag == 'true' ? "/project/edit/" + id : "/partner/edit/" + id);
  	   	} else {
          var _defaultTabStr = $("#defaultTabAnchorArr").val() || "";
          var _sidebar = $("#sidebar").find(".nav-link");
          var _defaultTabs = _defaultTabStr.split(',');

          if(_defaultTabs.length > 0) {
            $('.tab-empty').hide();

            _defaultTabs.forEach(function(tabUrl, index) {
              if (tabUrl.includes('/license/list')) {
                createTab_new('License List', '/license/list', 'license-list', true);
              } else if (tabUrl.includes('/oss/list')) {
                createTab_new('OSS List', '/oss/list', 'oss-list', true);
              } else if (tabUrl.includes('/project/list')) {
                createTab_new('Project List', '/project/list', 'project-list', true);
              } else if (tabUrl.includes('/partner/list')) {
                createTab_new('3rd Party List', '/partner/list', 'partner-list', true);
              } else if (tabUrl.includes('/system/bat')) {
                createTab_new('Binary DB', '/binary', 'binary', true);
              } else if (tabUrl.includes('/vulnerability/list')) {
                createTab_new('Vulnerability', '/vulnerability/list', 'vulnerability-list', true);
              } else if (tabUrl.includes('/selfCheck/list')) {
                createTab_new('Self-Check List', '/selfCheck/list', 'selfCheck-list', true);
              }

              /* the last default tab gives an open event when the sidebar is clicked */
              if (index === _defaultTabs.length - 1) {
                $.each(_sidebar, function(idx, val){
                  var _href = $(this).attr("href");
                  if ("#" != _href && !_href.startsWith("/system")) {
                    if (tabUrl.indexOf(_href) != -1) {
                      $(this).trigger("click");
                    }
                  }
                });
              }
            });
          }

          // $.each(_sidebar, function(idx, val){
          // 		var _href = $(this).attr("href");
          // 		if ("#" != _href && !_href.startsWith("/system")) {
          // 			if (_defaultTabStr.indexOf(_href) != -1) {
          // 				_initTabs.push($(this));
          // 			}
          // 		}
          // 	});
  		}
  	}
  	</script>
</th:block>
</html>