<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="./index.html" class="brand-link">
      <img th:src="@{/images/logo_s.png}" alt="FOSSLight hub Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">FOSSLight Hub</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar index">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-2 pb-1 mb-3 text-center">
        <div class="info" style="width: 100%;">
          <div class="row">
            <div class="col-6">
              <strong class="text-right"><a th:text="${@CommonFunction.loginUserName()}"></a></strong>
            </div>
            <div class="col-1">
              <span class="text-center"><a href="#">|</a></span>
            </div>
            <div class="col-4">
              <span class="text-left"><a class="text-right" th:href="@{/session/logout-proc}">Logout</a></span>
            </div>
          </div>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/license/list" class="nav-link" id="license-list">
              <i class="nav-icon fas fa-th"></i>
              <p>
                License List
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/oss/list" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                OSS List
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/project/list" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Project List
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="./view/partner/partner-list.html" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                3rd Party List
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="./view/partner/partner-add.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>3rd Party Add</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/binary" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Binary DB
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="./view/vulnerability/vulnerabliity.html" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Vulnerability
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="./view/selfCheck/selfCheck-list.html" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Self-Check List
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="./view/selfCheck/selfCheck-add.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Self-Check Add</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Compliance Status
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="./view/compliance/oscSt-list.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>MODEL(S/W) OSC Status</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./view/compliance/partySt-list.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>3rd Party Status</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="./view/configuration/configuration.html" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Configuration
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                System
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Statistics</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/system/code" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Code management</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/system/user" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>User management</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/system/history" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>History List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/system/notice" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Notification</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/system/sentMail" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sent Mail List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/system/processGuide" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Help & Guide</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/system/vulnerabilityHistory" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Vulnerability Log</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/system/binaryDataHistory" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>BinaryDB Log</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    <div class="sidebar copyright p-3">
      <strong>Version 3.2.0</strong><br />
      Copyright &copy; 2021 LG Electronics.<br />
      All rights reserved.
    </div>
  </aside>

  <script type="text/javascript">
    $(document).ready(function () {
    });
  </script>
</th:block>
</html>