<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="contentScript">
    <script th:inline="javascript">
        $(function () {
        	fn.progProjectCnt();
        	
        	if ([[${projectFlag}]] || [[${partnerFlag}]]) {
        		list.getJobsList();
        		list.getCommentsList();
        		list.getDiscoveredMailList();
        	}
        	
        	list.getNvdDashboardList();
        	
			// word cloud
            const words = [
                { text: 'AFL-1.1', size: 65 },
                { text: 'AFL-1', size: 65 },
                { text: 'AML', size: 52 },
                { text: 'Curl License', size: 52 },
                { text: 'ICU License', size: 42 },
                { text: 'Info-ZIP', size: 38 },
                { text: 'Unicode-DFS-2016', size: 38 },
                { text: 'Unicode-DFS-2023', size: 38 },
                { text: 'OpenSSH License', size: 24 },
                { text: 'STLport Licenser', size: 24 },
                { text: 'Netperf License', size: 24 },
                { text: 'Colt License', size: 24 },
                { text: 'Matplotlib License', size: 24 },
                { text: 'DBAD', size: 24 },
                { text: 'AFL v6.0', size: 16 },
                { text: '3GPP license', size: 16 },
                { text: 'CPOL-1.02', size: 16 },
                { text: 'ISC', size: 16 },
                { text: 'HPND', size: 16 },
                { text: '3GPP license', size: 16 },
                { text: 'APAFML', size: 16 },
                { text: 'TEST12', size: 16 },
                { text: 'TEST123', size: 16 },
                { text: 'TEST1234', size: 16 },
                { text: 'TEST12345', size: 16 },
                { text: 'TEST_122', size: 16 },
                { text: 'TEST_12345', size: 16 },
                { text: 'TEST_123456', size: 16 },
                { text: 'TEST_12345_1207', size: 16 },
                { text: 'TEST_12345_12256', size: 16 },
                { text: 'TEST_12345_ABC', size: 16 },
            ];

            const width = 700;
            const height = 365;
            const margin = { left: 10, right: 10, top: 10, bottom: 10 };
            const svgWidth = width + margin.left + margin.right;
            const svgHeight = height + margin.top + margin.bottom;

            const svg = d3.select('#wordcloud')
                .append('svg')
                .attr('width', svgWidth)
                .attr('height', svgHeight)
                .append('g')
                .attr('transform', `translate(${(svgWidth / 2)}, ${(svgHeight / 2)})`);

            const cloud = d3.layout.cloud()
                .size([width, height])
                .words(words)
                .padding(3)
                .rotate(function () { return Math.random() < 0.5 ? 0 : 90; })
                .fontSize(function (d) { return d.size; })
                .on('end', draw);

            cloud.start();

            function draw(words) {
                const textElements = svg.selectAll('text')
                    .data(words)
                    .enter().append('text')
                    .style('font-size', function (d) { return d.size + 'px'; })
                    .style('font-weight', function (d) {
                        if (d.size > 28) return '1000';
                        if (d.size > 24) return '800';
                        return '600';
                    })
                    .style('fill', function (d) {
                        if (d.size > 60) return '#6C0707FF';
                        else if(d.size > 50) return '#BB1B22FF';
                        else if(d.size > 40) return '#a87e1c';
                        else if(d.size > 30) return '#A30427FF';
                        else if (d.size > 24) return '#AA5032FF';
                        return '#b24201';
                    })
                    .style('text-anchor', 'middle')
                    .attr('transform', function (d) {
                        const rotation = d.rotate === 0 ? 0 : 90;
                        return 'translate(' + [d.x, d.y] + ')rotate(' + rotation + ')';
                    })
                    .text(function (d) { return d.text; });
            }

            // pie plot
            const donutData = [
                {
                    label: '<span class="badge badge-dark">CRITICAL</span>',
                    data: 20809,
                    color: '#000'
                },
                {
                    label: '<span class="badge badge-danger">HIGH</span>',
                    data: 56039,
                    color: '#dc3545'
                },
                {
                    label: '<span class="badge badge-orange">MEDIUM</span>',
                    data: 54548,
                    color: '#fc4e2a'
                },
                {
                    label: '<span class="badge badge-warning">LOW</span>',
                    data: 2360,
                    color: 'orange'
                }
            ]

            $.plot('#donut-chart', donutData, {
                series: {
                    pie: {
                        show: true,
                        radius: 0.8,
                        innerRadius: 0.3,
                        label: {
                            show: true,
                            radius: 2 / 3,
                            formatter: labelFormatter,
                            threshold: 0.1
                        }
                    }
                },
                legend: {
                    show: false
                }
            })

            function updateDataTable() {
                var dataTable = $('#data-table tbody');
                dataTable.empty();

                for (var i = 0; i < donutData.length; i++) {
                    var dataItem = donutData[i];
                    dataTable.append(
                        '<tr><td>' +
                        dataItem.label +
                        '</td><td>' +
                        dataItem.data +
                        '</td><td>'
                    );
                }
            }

            function labelFormatter(label, series) {
                updateDataTable();
                return "";
                //   return '<div style="font-size:8pt; text-align:center; padding:2px; color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
            }

            // Summernote
            $('#commpose-textarea-02').summernote();
        });
        
        var fn = {
        	progProjectCnt : function() {
        		$.ajax({
    				url : '/dashboard/progProjectCnt',
    				type : 'GET',
    				dataType : 'json',
    				cache : false,
    				success : function(data){
    					var cntList = new Array();
    					cntList = data;
    					
    					var hTag;
    					var pTag;
    					
    					if (cntList.length > 0) {
    						for (var i in cntList) {
    							var status = cntList[i].status;
    							var cnt = cntList[i].statusCnt;
    							switch (status) {
    								case "PROG" :
    									hTag = document.createElement("h3");
    									pTag = document.createElement("p");
    									hTag.innerText = cnt;
    									pTag.innerText = "Progress";
    									
    									$("#progressView .bg-success .inner").empty();
    									$("#progressView .bg-success .inner").append(hTag);
    									$("#progressView .bg-success .inner").append(pTag);
    									break;
    								case "REV" :
    									hTag = document.createElement("h3");
    			    					pTag = document.createElement("p");
    									hTag.innerText = cnt;
    									pTag.innerText = "Review";
    									
    									$("#progressView .bg-warning .inner").empty();
    									$("#progressView .bg-warning .inner").append(hTag);
    									$("#progressView .bg-warning .inner").append(pTag);
    									break;
    							}
    						}
    					} else {
    						hTag = document.createElement("h3");
	    					pTag = document.createElement("p");
							hTag.innerText = "0";
							pTag.innerText = "Progress";
							
							$("#progressView .bg-success .inner").empty();
							$("#progressView .bg-success .inner").append(hTag);
							$("#progressView .bg-success .inner").append(pTag);
							
							hTag = document.createElement("h3");
							pTag = document.createElement("p");
							hTag.innerText = "0";
							pTag.innerText = "Review";
							
							$("#progressView .bg-warning .inner").empty();
							$("#progressView .bg-warning .inner").append(hTag);
							$("#progressView .bg-warning .inner").append(pTag);
    					}
    				}
        		});
        	},
        	discoveredEmlMessage : function(obj) {
        		var sndSeq = $(obj).find('input').val();
        		$.ajax({
    				url : '/dashboard/discoveredEmlMessage',
    				type : 'POST',
    				data: JSON.stringify({"sndSeq" : sndSeq}),
    				dataType : 'json',
    				cache : false,
					contentType : 'application/json',
    				success : function(data){
    					$("#discoveredEmlView").empty();
    					if ("" != data.emlMessage) {
    						$("#discoveredEmlView").html(data.emlMessage);
    					}
    				}
        		});
        	}
        }
        
        var list = {
            getJobsList : function() {
            		
            },
            getCommentsList : function() {
            	$.ajax({
    				url : '/dashboard/commentsListAjax',
    				type : 'GET',
    				dataType : 'json',
    				cache : false,
    				success : function(data){
    					var commentList = new Array();
    					commentList = data.rows;
    					if (commentList.length > 0) {
    						$("#dashboardComments").empty();
    						
    						var idx = 0;
    						for (var i in commentList) {
    							var tr = document.createElement('tr');
    							var td = document.createElement('td');
    							if (i == 0) $(td).css("border-top", "none");
    							
    							var row = document.createElement('div');
    							$(row).addClass("row");
    							$(row).addClass("commentsRow");
    							
    							var colspanDiv = document.createElement('div');
    							$(colspanDiv).addClass("col-md-9");
    							var div = document.createElement('div');
    							$(div).addClass("post");
    							var div2 = document.createElement('div');
    							$(div2).addClass("user-block");
    							var usernameSpan = document.createElement('span');
    							$(usernameSpan).addClass("username");
    							usernameSpan.textContent = commentList[i].creator;
    							var createDateSpan = document.createElement('span');
    							$(createDateSpan).addClass("description");
    							$(createDateSpan).addClass("ml-0");
    							createDateSpan.textContent = commentList[i].createdDate;
    							
    							div2.appendChild(usernameSpan);
    							div2.appendChild(createDateSpan);
    							div.appendChild(div2);
    							var content = document.createElement('p');
    							content.innerHTML = commentList[i].contents;
    							
    							div.appendChild(content);
    							colspanDiv.appendChild(div);
    							row.appendChild(colspanDiv);
    							    							
    							var colspanDiv2 = document.createElement('div');
    							$(colspanDiv2).addClass("col-md-3");
    							var tdBtn = document.createElement('td');
    							$(tdBtn).addClass("text-right py-0 align-middle");
    							$(tdBtn).css("border-top", "none");
    							var divBtn = document.createElement('div');
    							$(divBtn).addClass("btn-group btn-group-sm");
    							var editBtn = document.createElement('button');
    							$(editBtn).addClass("btn btn btn-default");
    							var editBtnItag = document.createElement('i');
    							$(editBtnItag).addClass("fas fa-pencil-alt");
    							editBtn.appendChild(editBtnItag);
    							var delBtn = document.createElement('button');
    							$(delBtn).addClass("btn btn-lg-red");
    							var delBtnItag = document.createElement('i');
    							$(delBtnItag).addClass("fas fa-trash");
    							delBtn.appendChild(delBtnItag);
    							
    							divBtn.appendChild(editBtn);
    							divBtn.appendChild(delBtn);
    							tdBtn.appendChild(divBtn);
    							colspanDiv2.appendChild(tdBtn);
    							row.appendChild(colspanDiv2);
    							td.appendChild(row);
    							tr.appendChild(td);
    							
    							$("#dashboardComments").append(tr);
    							idx++;
    						}
    					} else {
    						var tr = document.createElement('tr');
    						var td = document.createElement('td');
    						var content = document.createElement('p');
    						$(content).css('margin','0');
    						content.textContent = 'No comments were registered.';
    						
    						td.appendChild(content);
    						tr.appendChild(td);
    						
    						$("#dashboardComments").append(tr);
    					}
    				}
            	});
            },
            getDiscoveredMailList : function () {
            	$.ajax({
    				url : '/dashboard/discoveredEmlList',
    				type : 'GET',
    				dataType : 'json',
    				cache : false,
    				success : function(data){
    					var discoveredMailList = new Array();
    					discoveredMailList = data;
    					if (discoveredMailList.length > 0) {
    						for (var i in discoveredMailList) {
    							var tr = document.createElement('tr');
								var tdDate = document.createElement('td');
								$(tdDate).addClass("text-center");
								var tdTitle = document.createElement('td');
								$(tdTitle).addClass("text-left");
								tdDate.innerText = discoveredMailList[i].lastUpdateDate;
							
								var span = document.createElement('span');
								span.setAttribute("style", "cursor:pointer;");
								span.setAttribute("onclick", "fn.discoveredEmlMessage(this)");
								
								var input = document.createElement('input');
								input.setAttribute("type", "hidden");
								input.value = discoveredMailList[i].sndSeq;
								
								span.innerText = discoveredMailList[i].emlTitle;
								span.appendChild(input);
								
								tdTitle.appendChild(span);
								tr.appendChild(tdDate);
								tr.appendChild(tdTitle);
								$("#discoveredSndMail").append(tr);
    						}
    						
    						$("#discoveredSndMail > tr:first").find("span").trigger("click");
    					} else {
    						
    					}
    				}
            	});
            },
            getNvdDashboardList : function () {
            	$.ajax({
    				url : '/dashboard/nvdDashboardList',
    				type : 'GET',
    				dataType : 'json',
    				cache : false,
    				success : function(data){
    					
    				}
            	});
            }
     	}
        
        window.onload = function() {
        	var width = $("#dashboardCommentsTable").parent().parent().parent().width();
        	$(".commentsRow").width(width);
        }
    </script>
</th:block>