<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="contentScript">
<script th:inline="javascript" src="https://code.highcharts.com/highcharts.src.js"></script>
    <script th:inline="javascript">
        $(function () {
        	if ([[${projectFlag}]] || [[${partnerFlag}]]) {
        		// progress List
        		list.progProjectCnt();
        		
        		// Job List
        		list.getJobsList();
        	}
        	
        	// Discovered Mail List
        	list.getDiscoveredMailList();
        	
        	// NVD Dashboard
        	list.getNvdDashboardList();
        	
        	// Last 20 Scored Vulnerability
        	list.getLastScoredVulnerability();
        	
        	// OSS & License related
        	chart_fn.mostUsedOssChartOpen();
        	chart_fn.mostUsedLicenseChartOpen();
        	
        	common_fn.bindEvent();
        });
        
        let _rowPrjId;
        let _rowPrjDivision;
        let _referenceDiv;
        
        $(document).on('click', '#jobListTable > tbody > tr', function(event) {
        	var rowData = $("#jobListTable").DataTable().row($(this)).data();
        	_rowPrjId = rowData.prjId;
        	_rowPrjDivision = rowData.prjDivision;
			var param = {"prjId" : rowData.prjId, "prjDivision" : rowData.prjDivision};
			fn_comment.getCommentsList(param);
        });
        
        $(document).on("click", "[name ='commentModifyBtn']", function (e){
        	e.preventDefault();
        	_referenceDiv = $(this).nextAll('input').val();
        	var successCallbackParam = {"prjId" : _rowPrjId, "prjDivision" : _rowPrjDivision};
        	fn_comment.editComments($(this).attr("data-commId"), _rowPrjId, _referenceDiv, successCallbackParam);
        });
        
        $(document).on("click", "[name ='commentDeleteBtn']", function (e){
        	e.preventDefault();
        	var successCallbackParam = {"prjId" : _rowPrjId, "prjDivision" : _rowPrjDivision};
        	fn_comment.deleteComments($(this).attr("data-commId"), successCallbackParam);
        });
        
        var list = {
      	  	progProjectCnt : function() {
               	$.ajax({
           			url : '/dashboard/progProjectCnt',
           			type : 'GET',
           			dataType : 'json',
           			cache : false,
           			success : function(data){
           				var cntList = new Array();
           				cntList = data;
           				
           				var hTag;
           				var pTag;
           				
           				if (cntList.length > 0) {
           					for (var i in cntList) {
           						var status = cntList[i].status;
           						var cnt = cntList[i].statusCnt;
           						switch (status) {
           							case "PROG" :
           								hTag = document.createElement("h3");
           								pTag = document.createElement("p");
           								hTag.innerText = cnt;
           								pTag.innerText = "Progress";
           								
           								$("#progressView .bg-success .inner").empty();
           								$("#progressView .bg-success .inner").append(hTag);
           								$("#progressView .bg-success .inner").append(pTag);
           								break;
           							case "REV" :
           								hTag = document.createElement("h3");
           		    					pTag = document.createElement("p");
           								hTag.innerText = cnt;
           								pTag.innerText = "Review";
           								
           								$("#progressView .bg-warning .inner").empty();
           								$("#progressView .bg-warning .inner").append(hTag);
           								$("#progressView .bg-warning .inner").append(pTag);
           								break;
           						}
           					}
           				} else {
           					hTag = document.createElement("h3");
            				pTag = document.createElement("p");
        					hTag.innerText = "0";
        					pTag.innerText = "Progress";
        					
        					$("#progressView .bg-success .inner").empty();
        					$("#progressView .bg-success .inner").append(hTag);
        					$("#progressView .bg-success .inner").append(pTag);
        					
        					hTag = document.createElement("h3");
        					pTag = document.createElement("p");
        					hTag.innerText = "0";
        					pTag.innerText = "Review";
        					
        					$("#progressView .bg-warning .inner").empty();
        					$("#progressView .bg-warning .inner").append(hTag);
        					$("#progressView .bg-warning .inner").append(pTag);
           				}
           			}
               	});
           	},
            getJobsList : function() {
               	$.ajax({
        			url : '/dashboard/jobsListAjax',
        			type : 'GET',
        			dataType : 'json',
        			cache : false,
        			success : function(data){
        				if (data.records > 0) {
        					$('#jobListTable').DataTable({
                        		paging : true,
                        		searching : true,
                        		info : true,
                        		autoWidth : false,
                        		responsive : true,
                        		lengthChange : true,
                        		lengthMenu : [ 10, 30, 50 ],
                        		ordering : true,
                        		data : data.rows,
                        		columns : [ {
                        				data : "prjDivisionId"
                        			}, {
                        		  		data : "prjName"
                        			}, {
                        		 		data : "status",
                        				render : function(data){
                        					var rtnDisplay = "";
                        					switch(data) {
                        						case "Progress" :
                        							rtnDisplay = '<span class="badge badge-success">' + data + '</span>';
                        							break;
                        						case "Request" :
                        							rtnDisplay = '<span class="badge badge-pink">' + data + '</span>';
                        							break;
                        						case "Review" :
                        							rtnDisplay = '<span class="badge badge-orange">' + data + '</span>';
                        							break;
                        						case "Complete" :
                        							rtnDisplay = '<span class="badge badge-info">' + data + '</span>';
                        							break;
                        					}
                        					return rtnDisplay;
                        				}
                        			}, {
                        		 		data : "stage",
                        				render : function(data){
        	           						var rtnDisplay = "";
        	           						switch(data) {
        	           							case "I" :
        	           								rtnDisplay = '<span class="badge badge-outline-orange">Identification</span>';
        	           								break;
        	           							case "P" :
        	           								rtnDisplay = '<span class="badge badge-outline-green">Packaging</span>';
        	           								break;
        	           						}
        	           						return rtnDisplay;
        	           					}
                        			}, {
                        				data : "creator"
                        			}, {
                        				data : "reviewerName"
                        			} ],
                        		columnDefs : [
            	            		{
            	            			targets : [0],
            	            			className : "text-center"
            	            		},
            	            		{
            	            			targets : [2],
            	            			className : "text-center"
            	            		},
            	            		{
            	            			targets : [3],
            	            			className : "text-center"
            	            		},
            	            		{
            	            			targets : [4],
            	            			className : "text-center"
            	            		},
            	            		{
            	            			targets : [5],
            	            			className : "text-center"
            	            		}
            	            	]
            	            });
        					
        					$('#jobListTable > tbody > tr:first').trigger('click');
        				}
        			}
                });
          	},
            getDiscoveredMailList : function () {
            	$.ajax({
        			url : '/dashboard/discoveredEmlList',
        			type : 'GET',
        			dataType : 'html',
        			cache : false,
        			success : function(data){
        				$("#discoveredSndMail").empty();
        				$("#discoveredSndMail").html(data);
        				$("#discoveredSndMail > tr:first").find("span").trigger("click");
        			}
                });
         	},
            getNvdDashboardList : function () {
            	$.ajax({
        			url : '/dashboard/nvdDashboardList',
        			type : 'GET',
        			dataType : 'html',
        			cache : false,
        			success : function(res){
        				$("#nvdDashboardArea").html(res);
        				
        				let donutDatas = [];
        				$(".severityCnt").each(function(index) {
        					let donutData = {};
        					donutData["data"] = $(this).text();
        					if (index == 0) {
        						donutData["color"] = "#343a40";
        					} else if (index == 1) {
        						donutData["color"] = "#dc3545";
        					} else if (index == 2) {
        						donutData["color"] = "#ffa500";
        					} else {
        						donutData["color"] = "#ffc107";
        					}
        					donutDatas.push(donutData);
        				});
        				
        				$.plot('#severityChart', donutDatas, {
    		                series: {
    		                    pie: {
    		                        show: true,
    		                        radius: 0.8,
    		                        innerRadius: 0.3,
    		                        label: {
    		                            show: true,
    		                            radius: 2 / 3,
    		                            threshold: 0.1
    		                        }
    		                    }
    		                },
    		                legend: {
    		                    show: false
    		                }
    		            });
        			}
                });
           	},
            getLastScoredVulnerability : function () {
               	$.ajax({
        			url : '/dashboard/latestScoredVulns',
        			type : 'GET',
        			dataType : 'html',
        			cache : false,
        			success : function(data){
        				$("#latestVulns").empty();
        				$("#latestVulns").html(data);
        			}
               	});
            }
      	}

        var chart_fn = {
          	mostUsedOssChartOpen : function(){
               	var params = {};
           		params["startDate"] = $("#startDate").val();;
           		params["endDate"] = $("#endDate").val();
           		params["divisionNo"] = "";
           		params["pieSize"] = $("#mostUsedOssChartPieSize").val();
           		params["chartType"] = "OSS";
           		params["isRawData"] = "N";
           		
           		$.ajax({
           			url : '/statistics/mostUsedChart',
           			type : 'GET',
           			dataType : 'json',
           			cache : false,
           			data : params,
           			success : function(data){
           				var data = data.chartData;
           				var obj = new Object();
           				var chartData = new Array();
           				var idx = 0;
           				for(var i in data){
           					var result = {
           						name: data[i].columnName
           						, y: data[i].columnCnt
           					}
           					chartData.push(result);
          					idx++;
          				}
           					
           				obj["chartId"] = 'mostUsedOssChart';
           				obj["chartData"] = chartData;
           					
           				getPieChart(obj);
       				},
       				error: function(data){
        				alertify.error([[#{msg.common.valid2}]], 0);
        			}
        		});
       		},
           	mostUsedLicenseChartOpen : function(){
        		var params = {};
        		params["startDate"] = $("#startDate").val();
        		params["endDate"] = $("#endDate").val();
        		params["divisionNo"] = "";
        		params["pieSize"] = $("#mostUsedLicenseChartPieSize").val();
        		params["chartType"] = "LICENSE";
        		params["isRawData"] = "N";
        		
        		$.ajax({
        			url : '/statistics/mostUsedChart',
        			type : 'GET',
        			dataType : 'json',
        			cache : false,
        			data : params,
        			success : function(data){
        				var data = data.chartData;
        				var obj = new Object();
        				var chartData = new Array();
        				var idx = 0;
        				for(var i in data){
        					var result = {
        						name: data[i].columnName
        					  	, y: data[i].columnCnt
        					}

        					chartData.push(result);
        					idx++;
        				}
        				
        				obj["chartId"] = 'mostUsedLicenseChart';
        				obj["chartData"] = chartData;
        					
        				getPieChart(obj);
        			},
        			error: function(data){
        				alertify.error([[#{msg.common.valid2}]], 0);
        			}
        		});
        	}
        }
        
        var common_fn = {
        	bindEvent : function(){
        		$("#mostUsedOssChartPieSize").on("change", function(){
        			chart_fn.mostUsedOssChartOpen();
        		});

        		$("#mostUsedLicenseChartPieSize").on("change", function(){
        			chart_fn.mostUsedLicenseChartOpen();
        		});
        	},
        	discoveredEmlMessage : function(obj) {
        		var sndSeq = $(obj).next().val();
        		$.ajax({
    				url : '/dashboard/discoveredEmlMessage',
    				type : 'POST',
    				data: JSON.stringify({"sndSeq" : sndSeq}),
    				dataType : 'json',
    				cache : false,
					contentType : 'application/json',
    				success : function(data){
    					$("#discoveredEmlView").empty();
    					if ("" != data.emlMessage) {
    						$("#discoveredEmlView").html(data.emlMessage);
    					}
    				}
        		});
        	}
        }
        
        var fn_comment = {
        	getCommentsList : function(param) {
               	$.ajax({
        			url : '/dashboard/commentsListAjax',
        			type : 'POST',
        			dataType : 'html',
        			data : JSON.stringify(param),
        			cache : false,
        			contentType : 'application/json',
        			success : function(res){
        				$("#dashboardComments").html(res);
        			}
               	});
          	},
        	getMoreCommentsList : function(prjId, prjDivision, obj) {
        		var param = {
        			"prjId" : prjId,
        			"prjDivision" : prjDivision,
        			"moreYn" : "Y"
        		};
        		
        		$.ajax({
    				url : '/dashboard/commentsListAjax',
    				type : 'POST',
    				data : JSON.stringify(param),
    				dataType : 'html',
    				cache : false,
    				contentType : 'application/json',
    				success : function(res){
    					$("#dashboardComments").html(res);
    				}
            	});
        	},
        	editComments : function (_commId, _prjId, _referenceDiv, successCallbackParam) {
        		$.ajax({
        			url : '/comment/getEditPopup',
    				type : 'POST',
    				data : {'commId' : _commId},
    				dataType : 'html',
    				cache : false,
    				success : function(res){
    					if(!alertify.editComments){
    						alertify.dialog('editComments', function() {
    							return {
    								setup: function() {
    									var settings = alertify.confirm().settings;
    									
    									for (var prop in settings) {
    										this.settings[prop] = settings[prop];
    									}
    									
    									var setup = alertify.confirm().setup();
    									setup.buttons = [];
    									setup.focus.element = 1;
    									
    									return setup;
    								},
    							    hooks: {
    							    	onshow: function() {
    							        	this.elements.dialog.style.maxWidth = 'none';
    							          	this.elements.dialog.style.width = '750px';
    							        }
    								}
    							};
    						}, false, 'alert');
                    	}
    					
    					alertify.editComments(res).set('title', 'Edit Comments');
    					$("#updateComments").attr("onclick", "fn_comment.updateComments("+_commId+", "+_referenceDiv+", "+_prjId+", "+successCallbackParam+")");
    					$(".row.custom-layout").attr("style", "margin-top: 10px")
    					$("#commentEdit").summernote({minHeight: 200, maxHeight: 800, lang: "ko-KR"});
    				}
        		});
        	},
        	updateComments : function (_commId, _referenceId, _referenceDiv, successCallbackParam) {
        		var param = {commId : _commId, contents : replaceWithLink($("#commentEdit").summernote('code')), referenceDiv: _referenceDiv, referenceId: _referenceId};
        		
        		$.ajax({
                	url : '/comment/updateComment',
                    type : 'POST',
                    dataType : 'json',
                    cache : false,
                    data : param,
                    success : function(json){
                        alertify.success([[#{msg.common.success}]]);
            			fn_comment.getCommentsList(successCallbackParam);
                    },
                    error : function(){
                        alertify.error([[#{msg.common.valid2}]], 0);
                    }
                });
        	},
        	deleteComments : function (_commId, successCallbackParam) {
        		alertify.confirm([[#{msg.oss.confirm.delete.comment}]], function (e) {
            		if (e) {
            			$.ajax({
            	        	url : '/comment/deleteComment',
            	            type : 'POST',
            	            dataType : 'json',
            	            cache : false,
            	            data : {'commId' : _commId},
            	            success : function(data){
            	                alertify.success([[#{msg.common.success}]]);
            	                fn_commemt.getCommentList(successCallbackParam);
            	            },
            	            error : function(){
            	                alertify.error([[#{msg.common.valid2}]], 0);
            	            }
            	        });
            		} else {
            			return false;
            		}
            	});
        	},
        	closeAlertifyView : function () {
        		$(".ajs-close").trigger("click");
        	}
        }
    </script>
</th:block>