<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="contentScript">
    <script th:inline="javascript">
        var totalRow = 0;
        //const G_ROW_CNT = "*{gRowCnt}";

        $(window).load(function () {
            license_edit_data.init();

            if($('input[name=licenseId]').val()) {
                license_edit_commemt.getCommentList();
            }
        });

        const license_edit_data = {
            detail : /*[[${detail}]]*/ null,
            init: function () {
                $('#licenseTypeSelect').select2({
                    placeholder: "License Type",
                    allowClear: true,
                });

                $("#restrictionSelect").select2({
                    placeholder: "Restriction",
                    allowClear: true,
                });

                $("[name='commentInput']").summernote();

                $("[name='addTagButton']").click(function (e) {
                    const elId = this.id;
                    appendSingleTag(e, elId);

                    // $("[name='deleteTagButton']").on("click", function () {
                    //     $(this).closest(".tag-container").remove();
                    // });
                });

                //save license
                $("#save").on('click',function(){
                    alertify.confirm(String(/*[[#{msg.common.confirm.save}]]*/), function (e) {
                        if (e) {
                            license_edit_fn.registSubmit();
                        } else {
                            return false;
                        }
                    });
                });

                //delete license
                $('#delete').on('click', function(){
                    var editorVal = CKEDITOR.instances.editor.getData();

                    if(editorVal == "") {
                        alertify.alert(String(/*[[#{msg.license.confirm.delete.required.comment}]]*/), function(){});
                        return false;
                    }

                    alertify.confirm(String(/*[[#{msg.license.confirm.delete}]]*/), function (e) {
                        if (e) {
                            $('input[name=comment]').val(editorVal);
                            deleteSubmit();
                        } else {
                            return false;
                        }
                    });
                });
            }
        }

        const license_edit_fn = {
            registSubmit: function () {
                $("#licenseForm").ajaxForm({
                    url :"/license/validation",
                    type : 'POST',
                    dataType:"json",
                    cache : false,
                    success: license_edit_fn.onValidSuccess,
                    error : license_edit_fn.onError
                }).submit();
            },
            onValidSuccess: function (json, status) {
                if (json.isValid == 'false') {
                    license_edit_fn.createValidMsgComplex(json);
                    alertify.error(String(/*[[#{msg.common.valid}]]*/), 0);
                } else if (json.isValid == 'true') {
                    loading.show();

                    var editorVal = $('#commentInput').summernote('code');
                    $('input[name=comment]').val(replaceWithLink(editorVal));

                    var pData = $('#licenseForm').serializeObject();

                    if (pData.restrictions != null) {
                        pData.restrictions = JSON.stringify(pData.restrictions);
                        $('input[name=restriction]').val(pData.restrictions.replace(/\"|\[|\]/gi, ""));
                        console.log("restric ::" + pData.restrictions);
                    } else {
                        $('input[name=restriction]').val('');
                    }

                    $("#licenseForm").ajaxForm({
                        url: "/license/saveAjax",
                        type: 'POST',
                        dataType: "json",
                        cache: false,
                        success: license_edit_fn.onRegistSuccess,
                        error: license_edit_fn.onError
                    }).submit();
                }
            },
            onRegistSuccess: function(json, status){
                loading.hide();

                if(json.resCd == '10') {
                    alertify.alert(String(/*[[#{msg.common.success}]]*/), function(){
                        callDeleteTabInFrame("license-edit_" + json.licenseId);
                        callReloadTabInframe("/license/list", "license-list");
                    });
                } else {
                    alertify.error(String(/*[[#{msg.common.valid2}]]*/), 0);
                }
            },
            onError: function(data, status){
                alertify.error(String(/*[[#{msg.common.valid2}]]*/), 0);
            },
            createValidMsgComplex: function(msgData){
                license_edit_fn.hideErrMsg();

                $.each(msgData,function(key,value) {
                    if("isValid" != key && "validMsg" != key) {
                        if(key.indexOf(".") > -1 ){
                            var seqSuffix = key.split(".");
                            var targetId = seqSuffix[1] + "_" + seqSuffix[0];

                            if(seqSuffix[0]=='licenseNicknames'){
                                $('input[name=licenseNicknames]:eq('+(Number(seqSuffix[1])-1)+')').focus().parent().next("span.retxt").html(value).show();
                            }

                            if($('input[id='+targetId+']').length > 0) {
                                $('input[id='+targetId+']').focus().after(makeErrMsg(value)).show();
                            } else if($('textarea[id='+targetId+']').length > 0) {
                                $('textarea[id='+targetId+']').focus().after(makeErrMsg(value)).show();
                            } else if($('select[id='+targetId+']').length > 0) {
                                $('select[id='+targetId+']').focus().after(makeErrMsg(value)).show();
                            }
                        } else {
                            if(key == 'licenseNicknames'){
                                $('input[name=licenseNicknames]').focus().parent().next("span.retxt").html(value).show();
                            }

                            if(key == 'validMsgModelList') {
                                $('#validMsgModelList').html(value).show();
                            }

                            if($('input[name='+key+']').length > 0) {
                                $('input[name='+key+']').focus().next("span.retxt,div.retxt").html(value).show();
                            } else if($('textarea[name='+key+']').length > 0) {
                                $('textarea[name='+key+']').focus().next("span.retxt,div.retxt").html(value).show();
                            } else if($('select[name='+key+']').length > 0) {
                                $('select[name='+key+']').focus().parent().siblings("span.retxt,div.retxt").html(value).show();
                            }
                        }
                    }
                });
            },
            hideErrMsg: function () {
                $("div.retxt").hide();
                $("span.retxt").hide();
            }
        };

        const license_edit_commemt = {
            getCommentList: function () {
                $.ajax({
                    url: "/comment/getCommentList",
                    type: 'GET',
                    dataType: 'html',
                    cache: false,
                    data: {
                        referenceId: license_edit_data.detail.licenseId,
                        referenceDiv: 'license'
                    },
                    success: function (res) {
                        $('#commentAreaFragment').replaceWith(res);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alertify.error(String(/*[[#{msg.common.valid2}]]*/), 0);
                    }
                });
            },
            deleteComment: function (event) {
                const commId = event.getAttribute('data-commId');
                if (!confirm("Are you sure you want to delete this comment?")) {
                    return;
                }

                $.ajax({
                    url: "/comment/deleteComment",
                    type: 'POST',
                    dataType: 'json',
                    cache: false,
                    data: {'commId': commId},
                    success: function (data) {
                        alertify.error(String(/*[[#{msg.common.success}]]*/));
                        license_edit_commemt.getCommentList();
                    },
                    error: function () {
                        alertify.error(String(/*[[#{msg.common.valid2}]]*/), 0);
                    }
                });
            },
            handleModalOpen: function (event) {
                const commId = event.getAttribute('data-commId');
                const contents = event.getAttribute('data-contents');

                $("#updateCommId").val(commId);
                $('#updateContents').summernote('code', contents);
            },
            editComment: function () {
                const commId = $("#updateCommId").val();
                const referenceId = $('input[name=licenseId]').val();
                const contents = $('#updateContents').summernote('code');
                const param = {
                    'commId': commId,
                    'contents': contents,
                    'referenceDiv': '30',
                    'referenceId': referenceId
                };

                $.ajax({
                    url: "/comment/updateComment",
                    type: 'POST',
                    dataType: 'json',
                    cache: false,
                    data: param,
                    success: function (json) {
                        alertify.success(String(/*[[#{msg.common.success}]]*/), 0);
                    },
                    error: function () {
                        alertify.error(String(/*[[#{msg.common.valid2}]]*/), 0);
                    },
                    complete: function () {
                        license_edit_commemt.getCommentList();
                    }
                });

                return false;

            },
            createNonToolbarEditor: function (_commId) {
                var _editor = CKEDITOR.instances['comm_editor_' + _commId];

                if (_editor) {
                    _editor.destroy();
                }

                if ($('#comm_editor_' + _commId).html().length > 0) {
                    CKEDITOR.replace('comm_editor_' + _commId, {customConfig: '<c:url value="/js/customEditorConf_Comment.js"/>'});
                }
            }
        }


    </script>
</th:block>