<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="contentScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var initParam = {};
        var totalRow = 0;
        //const G_ROW_CNT = "*{gRowCnt}";

        $(window).load(function () {
            license_edit_data.init();
        });

        const license_edit_data = {
            init: function () {
                $('#licenseTypeSelect').select2({
                    placeholder: "License Type",
                    allowClear: true,
                });

                $("#restrictionSelect").select2({
                    placeholder: "Restriction",
                    allowClear: true,
                });

                $("[name='commentInput']").summernote();

                $("[name='addTagButton']").click(function (e) {
                    const elId = this.id;
                    appendSingleTag(e, "word_" + elId, "appendTagArea_" + elId);

                    $("[name='deleteTagButton']").on("click", function () {
                        $(this).closest(".external-event").remove();
                    });
                });

                //save license
                $("#save").on('click',function(){
                    alertify.confirm('<spring:message code="msg.common.confirm.save" />', function (e) {
                        if (e) {
                            license_edit_fn.registSubmit();
                        } else {
                            return false;
                        }
                    });
                });

                //delete license
                $('#delete').on('click', function(){
                    var editorVal = CKEDITOR.instances.editor.getData();

                    if(editorVal == "") {
                        alertify.alert('<spring:message code="msg.license.confirm.delete.required.comment" />', function(){});
                        return false;
                    }

                    alertify.confirm('<spring:message code="msg.license.confirm.delete" />', function (e) {
                        if (e) {
                            $('input[name=comment]').val(editorVal);
                            deleteSubmit();
                        } else {
                            return false;
                        }
                    });
                });

            }
        }

        const license_edit_fn = {
            registSubmit: function () {
                $("#licenseForm").ajaxForm({
                    url :"/license/validation",
                    type : 'POST',
                    dataType:"json",
                    cache : false,
                    success: license_edit_fn.onValidSuccess,
                    error : license_edit_fn.onError
                }).submit();
            },
            onValidSuccess: function (json, status) {
                if (json.isValid == 'false') {
                    license_edit_fn.createValidMsgComplex(json);

                    alertify.error('<spring:message code="msg.common.valid" />', 0);
                } else if (json.isValid == 'true') {
                    loading.show();

                    var editorVal = CKEDITOR.instances.editor.getData();
                    $('input[name=comment]').val(replaceWithLink(editorVal));

                    var pData = $('#licenseForm').serializeObject();

                    if (pData.restrictions != null) {
                        pData.restrictions = JSON.stringify(pData.restrictions);
                        $('input[name=restriction]').val(pData.restrictions.replace(/\"|\[|\]/gi, ""));
                    } else {
                        $('input[name=restriction]').val('');
                    }

                    $("#licenseForm").ajaxForm({
                        url: '<c:url value="/license/saveAjax"/>',
                        type: 'POST',
                        dataType: "json",
                        cache: false,
                        success: onRegistSuccess,
                        error: onError
                    }).submit();
                }
            },
            onError: function(data, status){
                alertify.error('<spring:message code="msg.common.valid2" />', 0);
            },
            createValidMsgComplex: function(msgData){
                license_edit_fn.hideErrMsg();

                $.each(msgData,function(key,value) {
                    if("isValid" != key && "validMsg" != key) {
                        if(key.indexOf(".") > -1 ){
                            var seqSuffix = key.split(".");
                            var targetId = seqSuffix[1] + "_" + seqSuffix[0];

                            if(seqSuffix[0]=='licenseNicknames'){
                                $('input[name=licenseNicknames]:eq('+(Number(seqSuffix[1])-1)+')').focus().parent().next("span.retxt").html(value).show();
                            }

                            if($('input[id='+targetId+']').length > 0) {
                                $('input[id='+targetId+']').focus().after(makeErrMsg(value)).show();
                            } else if($('textarea[id='+targetId+']').length > 0) {
                                $('textarea[id='+targetId+']').focus().after(makeErrMsg(value)).show();
                            } else if($('select[id='+targetId+']').length > 0) {
                                $('select[id='+targetId+']').focus().after(makeErrMsg(value)).show();
                            }
                        } else {
                            console.log(key);

                            if(key == 'licenseNicknames'){
                                $('input[name=licenseNicknames]').focus().parent().next("span.retxt").html(value).show();
                            }

                            if(key == 'validMsgModelList') {
                                $('#validMsgModelList').html(value).show();
                            }

                            if($('input[name='+key+']').length > 0) {
                                $('input[name='+key+']').focus().next("span.retxt,div.retxt").html(value).show();
                            } else if($('textarea[name='+key+']').length > 0) {
                                $('textarea[name='+key+']').focus().next("span.retxt,div.retxt").html(value).show();
                            } else if($('select[name='+key+']').length > 0) {
                                $('select[name='+key+']').focus().parent().siblings("span.retxt,div.retxt").html(value).show();
                            }
                        }
                    }
                });
            },
            hideErrMsg: function () {
                $("div.retxt").hide();
                $("span.retxt").hide();
            }
        };

        const license_edit_grid = {

        }


        /*]]>*/
    </script>
</th:block>