<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<th:block th:replace="license/edit-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper custom-layout" style="height: auto">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                </div><!-- /.container-fluid -->
            </section>
            <section class="content">
                <form action="" id="licenseForm" method="post" name="licenseForm">
                    <input name="licenseId" th:value="${detail?.licenseId}" type="hidden"/>
                    <input name="comment" type="hidden"/>
                    <input name="restriction" type="hidden"/>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="card card-secondary submit-form">
                                <div class="card-header">
                                    <div class="card-tools">
                                        <button class="btn btn-tool text-white" data-card-widget="collapse" title="Collapse" type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="licenseNameInput" th:text="#{msg.common.field.licenseName}"></label><span class="text-orange">*</span>
                                        <input class="form-control autoComLicenseLong" id="licenseNameInput" name="licenseName" th:value="${detail?.licenseName}" type="text"/>
                                        <span class="retxt text-danger text-sm"></span>
                                    </div>
                                    <div class="row form-group">
                                    	<div class="col-12">
                                    		<label for="licenseTypeSelect" th:text="#{msg.common.field.licenseType}"></label><span class="text-orange">*</span>
                                        	<select class="select2" id="licenseType" name="licenseType" style="width: 100%;">
                                            	<option value="" disabled selected> </option>
                                            	<th:block th:each="code : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_LICENSE_TYPE'))}">
                                                	<option th:selected="${#strings.equals(code.cdDtlNo, detail?.licenseType)}" th:text="${code.cdDtlNm}" th:value="${code.cdDtlNo}"></option>
                                            	</th:block>
                                       		</select>
                                    	</div>
                                        <span class="col-12 retxt text-danger text-sm"></span>
                                    </div>
                                    <div class="row form-group">
                                    	<div class="col-12">
                                    		<label th:text="#{msg.common.field.restriction}"></label>
                                        	<select class="select2" id="restrictionSelect" multiple="multiple" name="restriction" style="width: 100%;" th:disabled="${not @CommonFunction.isAdmin()}">
                                            	<option th:each="code : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_LICENSE_RESTRICTION'))}"
                                                    	th:text="${code.cdDtlNm}"
                                                    	th:value="${code.cdDtlNo}"
                                                    	th:selected="${detail?.restrictionCdNoList != null and #arrays.contains(detail.restrictionCdNoList, code.cdDtlNo)}" th:disabled ="${not @CommonFunction.isAdmin()}">
                                            	</option>
                                        	</select>
                                    	</div>
                                        <span class="col-12 retxt text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="row">
                                            <div class="col-2">
                                                <label th:text="#{msg.common.field.obligation}"></label>
                                            </div>
                                            <div class="col-10">
                                                <div class="icheck-primary d-inline mx-3">
                                                    <input id="obligationNotificationYn" class="oblicationChk"
                                                           name="obligationNotificationYn" th:checked="${#strings.equals(detail?.obligationNotificationYn, 'Y')}" type="checkbox"
                                                           value="Y" th:disabled ="${not @CommonFunction.isAdmin()}">
                                                    <label class="text-lg-gray" for="obligationNotificationYn" th:text="Notice"></label>
                                                </div>
                                                <div class="icheck-primary d-inline  mx-3">
                                                    <input id="obligationDisclosingSrcYn" class="oblicationChk"
                                                           name="obligationDisclosingSrcYn" th:checked="${#strings.equals(detail?.obligationDisclosingSrcYn, 'Y')}" type="checkbox"
                                                           value="Y" th:disabled ="${not @CommonFunction.isAdmin()}">
                                                    <label class="text-lg-gray" for="obligationDisclosingSrcYn" th:text="'Source Code'"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="shortIdentifierInput" th:text="#{msg.common.field.SPDX}"></label>
                                        <input type="text" class="form-control" id="shortIdentifierInput" name="shortIdentifier" th:value="${detail?.shortIdentifier}" th:disabled ="${not @CommonFunction.isAdmin()}">
                                        <span class="retxt text-danger text-sm"></span>
                                    </div>
                                   	<div class="form-group tag-form">
                                    	<label th:text="#{msg.common.field.nickname}"></label>
                                        <div class="input-group" th:if="${@CommonFunction.isAdmin()}">
                                           	<input type="text" class="form-control" id="input_licenseNicknames">
                                            <div class="input-group-append">
                                            	<button class="btn btn-default" id="licenseNicknames" name="addTagButton" type="button" th:text="Add"></button>
                                           	</div>
                                       	</div>
                                   	</div>
                                    <div class="row form-group">
                                    	<div class="col-12">
                                    		<div class="row multiTxtSet">
                                    			<div class="col-2" th:each="licenseNickname : ${detail?.licenseNicknames}" th:if="${!#strings.isEmpty(licenseNickname)}">
                                        			<div class="input-group card-tools">
                                           				<input class="form-control" type="type" name="licenseNicknames" th:value="${licenseNickname}" />
                                            			<button th:if="${@CommonFunction.isAdmin()}" type="button" class="btn btn-tool" th:onclick="|fn.removeTag(this)|"><i class="fas fa-times"></i></button>
                                        				<span class="retxt text-danger text-sm"></span>
                                        			</div>
                                      			</div>
                                    		</div>
                                    	</div>
                                    </div>
                                    <div class="form-group tag-form" name="append-stag-form">
                                        <label th:text="#{msg.common.field.licenseWebsite}"></label>
                                        <div class="input-group">
                                            <input class="form-control" id="input_webpages" type="text" placeholder="http://">
                                            <div class="input-group-append">
                                            	<button class="btn btn-default" id="webpageAdd" type="button" th:text="Add"></button>
                                           	</div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-12 multiWebPageSet">
                                        	<div class="input-group card-tools" th:each="webpage : ${detail?.webpages}" th:if="${!#strings.isEmpty(webpage)}">
                                           		<input class="form-control" name="webpages" th:value="${webpage}" type="type" placeholder="http://"/>
                                                <button th:if="${@CommonFunction.isAdmin()}" type="button" class="btn btn-tool" th:onclick="|fn.removeTag(this)|"><i class="fas fa-times"></i></button>
                                                <span class="urltxt text-danger text-sm"></span>
                                           	</div>
                                    	</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="licenseUserGuide" th:text="#{msg.common.field.userGuide}"></label>
                                        <textarea class="form-control" id="licenseUserGuide" name="description" rows="4" th:text="${detail?.description}" th:disabled ="${not @CommonFunction.isAdmin()}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="licenseTextInput" th:text="#{msg.common.field.licenseText}"></label><span class="text-orange">*</span>
                                        <textarea class="form-control" id="licenseTextInput" name="licenseText" rows="4" th:text="${detail?.licenseText}" th:disabled ="${not @CommonFunction.isAdmin()}"></textarea>
                                        <span class="retxt text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="attributionInput" th:text="#{msg.common.field.attribution}"></label>
                                        <textarea class="form-control" id="attributionInput" name="attribution" rows="4" th:text="${detail?.attribution}" th:disabled ="${not @CommonFunction.isAdmin()}"></textarea>
                                    </div>
                                    <div class="form-group">
                                    	<label for="commentInput" th:text="Comment"></label>
                                      	<textarea class="form-control" id="commentInput" name='commentInput' rows="3" style="height: 800px" th:disabled ="${not @CommonFunction.isAdmin()}"></textarea>
                                  	</div>
                                </div>
                                <div class="card-footer clearfix">
                                	<a class="btn btn-secondary float-left" href="javascript:void(0)" id="delete" th:text="Delete"></a>
                                    <a class="btn btn-teal-01 float-right" href="javascript:void(0)" id="save" th:text="Save"></a>
                              	</div>
                            </div>
                        </div>
                        <div class="col-md-3" th:if="${licenseInfo != null && licenseInfo.licenseId != null}">
                         	<div class="card card-lg-red" style="position:sticky; top:10px;">
                            	<div class="card-header">
                                	<h3 class="card-title" th:text="Comment"></h3>
                                    <div class="card-tools">
                                    	<button class="btn btn-tool text-white" data-card-widget="collapse" title="Collapse" type="button"><i class="fas fa-minus"></i></button>
                                  	</div>
                              	</div>
                                <div class="card-body pt-0" style="padding-bottom: 0;">
                                    <div clas="col-md-12">
                                        <table class="table">
                                       		<tbody id="commentListBody"></tbody>
                                        </table>
                                    </div>
                               	</div>
                           	</div>
                       	</div>
                    </div>
                </form>
            </section>
            <!-- loading bar -->
            <th:block th:replace="fragments/common-fragments :: loadingWrapFragment"></th:block>
            <!-- /. loading bar -->
        </div>
    </div>
    </body>
</html>