<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<th:block th:replace="license/licenseBulkReg-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
  	<div class="wrapper">
  		<div class="content-wrapper custom-layout">
  			<section class="content">
      			<div class="container-fluid">
        			<div class="row">
          				<div class="col-12 mt-3 d-flex">
            				<div id="bulkRestFile"></div>
          				</div>
        			</div>
        			<div class="row mt-3">
        				<div class="col-12">
							<a href="javascript:void(0);" style="margin-left: 5px;" th:onclick="|fn.downloadBulkSample()|">
								<i class="far fa-file-excel hover-icon fa-1-7x mr-1 text-primary" style="font-size: .8rem;" title="FOSSLight Report" th:text="Sample"></i>
							</a>
						</div>
          				<div class="col-12">
            				<div class="jqGridSet">
              					<table id="list"><tr><td></td></tr></table>
              					<div id="pager"></div>
            				</div>
          				</div>
          				<div class="col-12 float-left custom-layout p-2">
							<button type="button" id="btn" class="btn btn-outline-lg-red btn-sm width-5rem mr-xm px-3" th:text="Save"></button>
						</div>
        			</div>
      			</div>
      		<th:block th:replace="fragments/common-fragments :: loadingWrapFragment"></th:block>
    		</section>
  		</div>
  	</div>
</body>
</html>