<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var initParam = {};
        var totalRow = 0;
        //const G_ROW_CNT = "*{gRowCnt}";

        $(window).load(function () {
            license_list_data.init();
        });

        const license_list_data = {
            typeCodes: [],
            tooltipCont: "<div class=\"tooltipData\"><dl><dt><span class=\"iconSet ops\">Notice Obligation</span>Notice Obligation</dt><dd></dd></dl><dl><dt><span class=\"iconSet man\">Source Code Obligation</span>Source Code Obligation</dt><dd></dd></dl></div>",
            existTooltip: false,
            init: function () {
                license_list_evt.init();
                $('[data-toggle="tooltip"]').tooltip();
            }
        }

        const license_list_evt = {
            init: function () {
                // Initialize Select2 Elements
                $('#restrictionSelect').select2({
                    placeholder: "Restriction",
                    allowClear: true,
                });

                $('#licenseTypeSelect').select2({
                    placeholder: "License Type",
                    allowClear: true,
                });

                $('#obligationTypeSelect').select2({
                    placeholder: "Obligation Type",
                    allowClear: true,
                });

                $("#licenseNameAllSearchFlag").on("change", function(e){
                    $("[name='licenseNameAllSearchFlag']").val($(this).prop("checked") ? "Y" : "N");
                });

                // Auto complete
                const licenseNameList = ["Artistic License 1.0 (Perl)", "Artistic License 1.0", "Artistic License 2.0", "Australian Public Licence B 1.0", "GNU General Public License v2.0 w/Linux Syscall Note", "CeCILL-B Free Software License Agreement"];
                const autocompleteLicenseName = $('#autocomplete-license-name');
                autocompleteLicenseName.on('focus', function () {
                    autocompleteLicenseName.typeahead('open');
                });
                // autocompleteLicenseName.typeahead({ source: licenseNameList });

                $('#search').on('click', function (e) {
                    console.log("111");
                    e.preventDefault();

                    var postData = license_list_fn.setGridParam();
                    postData.ignoreSearchFlag = "N";
                    $("#list").jqGrid('setGridParam', {postData: postData, page: 1}).trigger('reloadGrid');
                    resizingOuterJqGidSet();
                });

                license_list_grid.load();

            },
        }

        const license_list_fn = {
            setGridParam: function () {
                var paramData = $('#licenseSearch').serializeObject();

                if (paramData.restrictions != null) {
                    paramData.restrictions = JSON.stringify(paramData.restrictions);
                    paramData.restrictions = paramData.restrictions.replace(/\"|\[|\]/gi, "");
                } else {
                    paramData.restrictions = "";
                }

                return paramData;
            },

            licenseNameFormatter: function (cellvalue, options, rowObject) {
                var display = "";

                var _frameId = options.rowId + "_License";
                var _frameTarget = "#${suffixUrl}/license/edit/" + options.rowId;
                display = "<a class='urlLink' href=\"javascript:;\" onclick=\"createTabInFrame('" + _frameId + "','" + _frameTarget + "')\" >" + cellvalue + "</a>";
                return display;
            },

        }

        const license_list_grid = {
            load: function () {
                $("#list").jqGrid({
                    url: "/license/listAjax",
                    datatype: 'json',
                    postData: initParam,
                    jsonReader: {
                        repeatitems: false,
                        id: 'licenseId',
                        root: function (obj) {
                            return obj.rows;
                        },
                        page: function (obj) {
                            return obj.page;
                        },
                        total: function (obj) {
                            return obj.total;
                        },
                        records: function (obj) {
                            return obj.records;
                        }
                    },
                    colNames: ['ID', 'License Name', 'Identifier', 'License Type', 'Restriction', 'Obligation', 'Website', 'User Guide'],
                    colModel: [
                        {name: 'licenseId', index: 'licenseId', width: 40, align: 'center', sorttype: 'int'}
                        , {
                            name: 'licenseName',
                            index: 'licenseName',
                            width: 200,
                            align: 'left',
                            formatter: license_list_fn.licenseNameFormatter
                        }
                        , {name: 'shortIdentifier', index: 'shortIdentifier', width: 100, align: 'left'}
                        , {name: 'licenseType', index: 'licenseType', width: 70, align: 'center'}
                        , {
                            name: 'restriction',
                            index: 'restriction',
                            width: 70,
                            align: 'center',
                            formatter: fn_grid_com.displayLicenseRestriction,
                            unformat: fn_grid_com.unformatter,
                            sortable: false,
                            search: false
                        }
                        , {name: 'obligation', index: 'obligation', width: 60, align: 'left'}
                        , {name: 'webpage', index: 'webpage', width: 60, align: 'left', formatter: 'link2'}
                        , {name: 'description', index: 'description', width: 150, align: 'left'}
                    ],
                    rowNum: 20,
                    rowList: ['20', '40', '60'],
                    autowidth: true,
                    pager: '#pager',
                    gridview: true,
                    sortable: function (permutation) { },
                    sortname: 'licenseId',
                    viewrecords: true,
                    sortorder: 'desc',
                    loadComplete: function (result) {
                        totalRow = result.records;

                        if (totalRow == 0) {
                            var cStartDate = $("#cStartDate").val() || 0;
                            var cEndDate = $("#cEndDate").val() || 0;
                            var diffNum = +cStartDate - +cEndDate;


                            var mStartDate = $("#mStartDate").val() || 0;
                            var mEndDate = $("#mEndDate").val() || 0;
                            var diffNum2 = +mStartDate - +mEndDate;

                            if ((diffNum > 0 && cEndDate > 0)
                                || (diffNum2 > 0 && mEndDate > 0)) {
                                alertify.alert('<spring:message code="msg.common.search.check.date" />', function () { });
                            }
                        }
                    },
                    gridComplete: function () {
                        resizingOuterJqGidSet();
                    }
                });
            }
        }

        /*]]>*/
    </script>
</th:block>