<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<th:block th:replace="fragments/gridCommonFn :: gridCommonFn"></th:block>
<th:block th:replace="license/list-script :: script"></th:block>
	<body class="hold-transition sidebar-mini" style="height: 100%;">
        <div class="wrapper">
            <div class="content-wrapper custom-layout">
            	<section class="content-header"></section>
                <section class="content">
                	<div class="container-fluid">
                    	<form id="licenseSearch" name="licenseSearch">
                    	<input name="act" type="hidden" value="search"/>
                           	<div class="row">
                               	<div class="col-md-12">
                                   	<div class="card card-dark card-outline collapsed-card search-form mb-3">
                                       	<div class="card-header" style="border-bottom: none;">
                                           	<div class="row">
                                               	<div class="col-md-7 d-flex">
													<div class="form-check width-8rem p-2 pl-3" style="font-size: .9rem; margin-left: 0.3rem">
														<input class="form-check-input" id="licenseNameAllSearchFlag" th:checked="${searchBean.licenseNameAllSearchFlag == 'Y'} ? 'checked'" type="checkbox" value="Y">
														<label class="form-check-label text-blue-gray" for="licenseNameAllSearchFlag" style="font-weight: normal;" th:text="'Exact Match'"></label>
														<input type="hidden" name="licenseNameAllSearchFlag" th:value="${searchBean.licenseNameAllSearchFlag}" />
													</div>
													<div class="w-100">
														<div class="input-group">
															<input class="form-control autoComLicense" name="licenseName" placeholder="Licence Name" th:value="${searchBean.licenseName}" type="search">
															<div class="input-group-append">
																<button class="btn btn-default" id="search" type="submit"><i class="fa fa-search"></i></button>
															</div>
														</div>
													</div>
                                               	</div>
                                               	<div class="col-md-3 d-flex justify-content-start pl-3">
                                                   	<div class="input-group-append d-flex align-items-center">
                                                       	<a class="text-blue-gray" data-card-widget="collapse" id="advancedSearchBnt" style="font-size: 1rem;" th:text="'+ Advanced Search'"></a>
                                                   	</div>
                                               	</div>
												<div class="col-md-2">
													<div class="btn-group float-right mt-1">
														<button type="button" class="btn btn-danger px-3 btn-sm helpBtnL"><strong>Help</strong></button>
														<button type="button" class="btn btn-danger btn-sm dropdown-toggle dropdown-icon helpBtnR" data-toggle="dropdown">
															<span class="sr-only">Toggle Dropdown</span>
														</button>
														<div class="dropdown-menu" role="menu">
															<a class="dropdown-item" href="#" th:onclick="|openHelpGuideLink('License_List_Main')|">How to use FossLight Hub</a>
														</div>
													</div>
												</div>
                                           	</div>
                                       	</div>
                                       	<div class="card-body py-1">
                                           	<div class="row">
                                               	<div class="col-md-3">
                                                   	<div class="form-group mb-2">
														<select class="select2" id="licenseTypeSelect" name="licenseType" style="width: 100%; color: gray;">
															<option value=""></option>
															<th:block th:each="code : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_LICENSE_TYPE'))}">
																<option th:selected="${#strings.equals(code.cdDtlNo, searchBean?.licenseType)}" th:text="${code.cdDtlNm}" th:value="${code.cdDtlNo}"></option>
															</th:block>
														</select>
                                                   	</div>
                                               	</div>
                                               	<div class="col-md-3">
                                                   	<div class="form-group mb-2">

														<select class="select2" id="obligationTypeSelect" name="obligationType" style="width: 100%; color: gray;">
															<option value=""></option>
															<th:block th:each="code : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_OBLIGATION_TYPE'))}">
																<option th:selected="${#strings.equals(code.cdDtlNo, searchBean?.obligationType)}" th:text="${code.cdDtlNm}" th:value="${code.cdDtlNo}"></option>
															</th:block>
														</select>
                                                   	</div>
                                               	</div>
                                               	<div class="col-md-4">
                                                   	<div class="form-group mb-2">
                                                   		<input type="text" class="form-control" name="webpage" placeholder="Website" th:value="${searchBean.webpage}">
                                                   	</div>
                                               	</div>
                                           	</div>
											<div class="row">
												<div class="col-md-10">
													<div class="form-group mb-2">
														<select class="select2" id="restrictionSelect" multiple="multiple"  name="restrictions" style="width: 100%;">
															<option th:each="code : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_LICENSE_RESTRICTION'))}"
																	th:text="${code.cdDtlNm}"
																	th:value="${code.cdDtlNo}"
																	th:selected="${searchBean?.restrictions != null and #arrays.contains(searchBean.restrictions, code.cdDtlNo)}">
															</option>
														</select>
													</div>
												</div>
											</div>
                                           	<div class="row">
                                               	<div class="col-md-5">
                                                   	<div class="form-group mb-2">
                                                   		<textarea class="form-control" name="licenseText" placeholder="License Text" rows="3" th:text="${searchBean.licenseText}"></textarea>
                                                   	</div>
                                               	</div>
                                               	<div class="col-md-5">
                                                   	<div class="form-group mb-2">
                                                   		<textarea class="form-control" name="description" placeholder="User Guide" rows="3" th:text="${searchBean.description}"></textarea>
                                                   	</div>
                                               	</div>
                                           	</div>
											<th:block th:if="${@CommonFunction.isAdmin()}">
												<a href="#" class="small-box-footer mb-2" id="moreInfoBtn">More <i class="fas fa-arrow-circle-down"></i></a>
												<div class="more-search" id="moreSearchContent" style="display: none">
													<div class="row">
														<div class="col-md-3">
															<div class="form-group mb-2">
																<select class="select2" id="creatorSelect" name="creator" style="width: 100%;">
																	<option value=""></option>
																	<th:block th:utext="${@CommonFunction.genOptionUsers('ROLE_ADMIN')}"></th:block>
																	<option th:value="NONE" th:text="None"></option>
																</select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group mb-2">
																<input class="form-control" id="createdDate" type="text"/>
																<input class="form-control" name="cStartDate" type="hidden"/>
																<input class="form-control" name="cEndDate" type="hidden"/>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group mb-2">
																<select class="select2" id="modifierSelect" name="modifier" style="width: 100%;">
																	<option value=""></option>
																	<th:block th:utext="${@CommonFunction.genOptionUsers('ROLE_ADMIN')}"></th:block>
																	<option th:value="NONE" th:text="None"></option>
																</select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group mb-2">
																<input class="form-control" id="modifiedDate" placeholder="Modified Date" type="text"/>
																<input class="form-control" name="mStartDate" type="hidden" th:value="${searchBean.mStartDate}"/>
																<input class="form-control" name="mEndDate" type="hidden" th:value="${searchBean.mEndDate}"/>
															</div>
														</div>
													</div>
												</div>
											</th:block>
                                       	</div>
                                  	</div>
                               	</div>
                           	</div>
                   		</form>
                        <div class="row px-1">
                        	<div class="col-md-6"></div>
                            <div class="col-md-6">
                            	<div class="row float-right nav-item">
                                	<button class="btn btn-teal-01 btn-sm width-10rem mr-xm px-3" type="button" th:text="'Bulk Registration'" th:onclick="|callCreateTabInFrame('BulkReg_License', '/license/licenseBulkReg', 'license-bulkReg', true)|"></button>
                                    <button class="btn btn-teal-01 btn-sm width-6rem mr-xm px-3" type="button" th:onclick="|fn.downloadExcel()|"><i class="far fa-file-excel mr-2"></i>Export</button>
                                    <button type="button" class="btn btn-dark-01 btn-sm width-6rem mr-xm px-3 btn-transition-page"
											th:onclick="|callCreateTabInFrame('New_License', '/license/edit', 'license-edit', true)|" th:text="Add"></button>
                                </div>
                            </div>
                     	</div>
                        <div class="row">
                	    	<div class="col-12 mt-3">
                            	<div class="jqGridSet" id="licenseGrid">
                                	<table id="list"><tr><td></td></tr></table>
                                   	<div id="pager"></div>
                                </div>
                            </div>
                        </div>

                    </div>
            	</section>
            </div>
        </div>
    </body>
</html>