<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="script">
    <script th:inline="javascript">
        var initParam = {};
        var totalRow = 0;

        $(window).load(function () {
            lic_lst_data.init();
        });

        const lic_lst_data = {
            typeCodes: [],
            tooltipCont: "<div class=\"tooltipData\"><dl><dt><span class=\"iconSet ops\">Notice Obligation</span>Notice Obligation</dt><dd></dd></dl><dl><dt><span class=\"iconSet man\">Source Code Obligation</span>Source Code Obligation</dt><dd></dd></dl></div>",
            existTooltip: false,
            init: function () {
                lic_lst_evt.init();
                $('[data-toggle="tooltip"]').tooltip();
            }
        }

        const lic_lst_evt = {
            init: function () {
                // Initialize Select2 Elements
                $('#restrictionSelect').select2({
                    placeholder: "Restriction",
                    allowClear: true,
                });

                $('#licenseTypeSelect').select2({
                    placeholder: "License Type",
                    allowClear: true,
                });

                $('#obligationTypeSelect').select2({
                    placeholder: "Obligation Type",
                    allowClear: true,
                });

                $("#licenseNameAllSearchFlag").on("change", function(e){
                    $("[name='licenseNameAllSearchFlag']").val($(this).prop("checked") ? "Y" : "N");
                });

                $('#search').on('click', function (e) {
                    e.preventDefault();

                    var postData = lic_lst_fmt.setGridParam();
                    postData.ignoreSearchFlag = "N";
                    $("#list").jqGrid('setGridParam', {postData: postData, page: 1}).trigger('reloadGrid');
                    resizingJqGidSet();
                });

                lic_lst_grid.load();
            },
        }


        const lic_lst_grid = {
            load: function () {
                $("#list").jqGrid({
                    url: "/license/listAjax",
                    datatype: 'json',
                    postData: initParam,
                    jsonReader: {
                        repeatitems: false,
                        id: 'licenseId',
                        root: function (obj) {
                            return obj.rows;
                        },
                        page: function (obj) {
                            return obj.page;
                        },
                        total: function (obj) {
                            return obj.total;
                        },
                        records: function (obj) {
                            return obj.records;
                        }
                    },
                    colNames: ['ID', 'License Name', 'Identifier', 'License Type', 'Restriction', 'Obligation', 'Website', 'User Guide'],
                    colModel: [
                        {name: 'licenseId', index: 'licenseId', width: 40, align: 'center', sorttype: 'int'}
                        , {
                            name: 'licenseName',
                            index: 'licenseName',
                            width: 200,
                            align: 'left',
                            formatter: lic_lst_fmt.licenseNameFormatter
                        }
                        , {name: 'shortIdentifier', index: 'shortIdentifier', width: 100, align: 'left'}
                        , {name: 'licenseType', index: 'licenseType', width: 70, align: 'center'}
                        , {
                            name: 'restriction',
                            index: 'restriction',
                            width: 70,
                            align: 'center',
                            formatter: lic_lst_fmt.displayLicenseRestriction,
                            unformat: lic_lst_fmt.unformatter,
                            sortable: false,
                            search: false
                        }
                        , {name: 'obligation', index: 'obligation', width: 60, align: 'left'}
                        , {name: 'webpage', index: 'webpage', width: 60, align: 'left', formatter: 'link2'}
                        , {name: 'description', index: 'description', width: 150, align: 'left', formatter: common_fmt.truncateText, maxlength: 20 }
                    ],
                    rowNum: [[${@CommonFunction.getCoConstDefVal("DISP_PAGENATION_DEFAULT")}]],
                    rowList: stringToArray([[${@CommonFunction.getCoConstDefVal("DISP_PAGENATION_LIST_STR")}]]),
                    autowidth: true,
                    pager: '#pager',
                    gridview: true,
                    sortable: function (permutation) { },
                    sortname: 'licenseId',
                    viewrecords: true,
                    sortorder: 'desc',
                    loadComplete: function (result) {
                        totalRow = result.records;

                        if (totalRow == 0) {
                            var cStartDate = $("#cStartDate").val() || 0;
                            var cEndDate = $("#cEndDate").val() || 0;
                            var diffNum = +cStartDate - +cEndDate;

                            var mStartDate = $("#mStartDate").val() || 0;
                            var mEndDate = $("#mEndDate").val() || 0;
                            var diffNum2 = +mStartDate - +mEndDate;

                            if ((diffNum > 0 && cEndDate > 0)
                                || (diffNum2 > 0 && mEndDate > 0)) {
                                alertify.alert(String([[#{msg.common.search.check.date}]]), function () { });
                            }
                        }
                    },
                    onSelectRow: function(id){
                        $('#'+id+'description').width(130).height(140);
                    },
                    ondblClickRow: function(rowid,iRow,iCol,e) {
                        var rowData = $("#list").jqGrid('getRowData',rowid);
                        callCreateTabInFrame(rowData['licenseId']+'_License', "/license/edit/"+ rowData['licenseId'], 'license-edit_' + rowData['licenseId'], true);
                    },
                    gridComplete: function () {
                        resizingJqGidSet();
                    }
                });
            }
        }
    </script>
</th:block>