<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<th:block th:replace="system/binaryDataHistory-script :: script"></th:block>
<body class="hold-transition sidebar-mini" style="height: 100%;">
    <div class="wrapper">
        <div class="custom-layout vulnerability bg-white">
            <section class="content-header"></section>
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                    	<form id="binaryDbLog" name="binaryDbLog">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-dark card-outline collapsed-card search-form mb-3">
                                    <div class="card-header" style="border-bottom: none">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                	<div class="col-12">
                                                    	<div class="input-group">
                                                        	<input class="form-control" name="fileName" placeholder="Binary Name" type="text"/>
                                                        	<div class="input-group-append">
                                                            	<button class="btn btn-default" id="search" type="submit"><i class="fa fa-search"></i></button>
                                                        	</div>
                                                    	</div>
                                                   	</div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 d-flex justify-content-start mx-2">
                                                <div class="input-group-append d-flex align-items-center">
                                                    <a class="text-blue-gray" data-card-widget="collapse" style="font-size: 1rem" title="Collapse" th:text="'+ Advanced Search'"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body py-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="parentname" placeholder="Partner Name" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input class="form-control autoComOss" name="ossName" placeholder="OSS Name" type="text"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="input-group" style="width: 100%">
                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-calendar-alt"></i>
                                                                </span>
                                                        </div>
                                                        <input class="form-control" id="updateRange" placeholder="Updated Date" type="text"/>
                                                        <input type="hidden" name="schStartDate"/>
                                                        <input type="hidden" name="schEndDate"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="platformName" placeholder="Platform Name" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input class="form-control" name="ossVersion" placeholder="OSS Version" type="text"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="tlsh" placeholder="TLSH" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="platformVersion" placeholder="Platform Version" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="license" placeholder="License Name" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group mb-1">
                                                    <input class="form-control" name="checkSum" placeholder="Checksum" type="text"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="filters" name="filters"/>
						</form>
<!-- 
                        <div class="row px-1">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="row float-right">
                                    <button class="btn btn-dark-01 btn-sm width-8rem mr-xm px-3" th:onclick="|fn.downloadExcel()|" type="button" th:text="'Excel download'"></button>
                                </div>
                            </div>
                        </div>
 -->
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="jqGridSet">
                                    <table id="list"><tr><td></td></tr></table>
                                    <div id="pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</body>
</html>