<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<th:block th:replace="system/code-script :: script"></th:block>
<body class="hold-transition sidebar-mini" style="height: 100%;">
    <div class="wrapper">
        <div class="content-wrapper custom-layout bg-white">
            <form>
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-dark card-outline collapsed-card search-form mb-3">
                                    <div class="card-header" style="border-bottom: none;">
                                        <form id="codeSearch" >
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <div class="form-group" style="margin-top: .5rem; margin-bottom: .5rem;">
                                                     	<input class="form-control autoComCodeNo" placeholder="Code No" type="text" id="codeNo" name="cdNo">
                                                 	</div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group" style="margin-top: .5rem; margin-bottom: .5rem;">
                                                    	<input class="form-control autoComCodeNm" placeholder="Code Name" id="codeName" name="cdNm" type="text">
                                                   	</div>
                                                </div>
                                                <div class="col-md-1">
                                                	<div class="form-group" style="margin-top: .5rem; margin-bottom: .5rem;">
                                                   		<button class="btn btn-default" type="submit" id="search"><i class="fa fa-search"></i></button>
                                                 	</div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 mb-2">
                            <div class="col-md-12 jqGridSet">
                                <table id="list"><tr><td></td></tr></table>
                                <div id="pager"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pr-3">
                                <button id="btnSaveCodeDetail" class="btn btn-info btn-sm float-right" style="width: 6rem;" type="button" th:text="Save"></button>
                            </div>
                        </div>
                        <div class="row" id="divisionLine" style="display: none;">
                            <div class="col-12 pr-3">
                                <hr class="my-3">
                            </div>
                        </div>
                        <div class="row mt-2" style="width: 100%;">
                            <div class="col-md-12 jqGridSet">
                                <table id="list2"><tr><td></td></tr></table>
                                <div id="pager2"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>

        </div>
    </div>
</body>
</html>