<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="script">
    <script th:inline="javascript">
        let lastsel;

        $(window).load(function () {
            notice_grid.load();
        });

        const history_init = {
            init: function () {
                $('.select2').select2();
            }
        }

        const code_fn = {}

        const notice_grid = {
                modifyRowId: [],		// 수정된 모든 rowid
                deleteRowList: [],		// 삭제할 LIST
                lastEditRowId: "",		// 마지막 수정된 rowid 저장 변수
                lastIdNo: "",			// 서버에서 가져온 마지막 id

                load: function(){
                    notice_grid.modifyRowId = [];
                    notice_grid.deleteRowList = [];
                    notice_grid.lastEditRowId = "";

                    $("#list").jqGrid({
                        url: "/system/notice/listAjax"
                        , datatype: 'json'
                        , jsonReader: {
                            repeatitems: false,
                            id:'gridId',
                            root:function(obj){return obj.rows;},
                            page:function(obj){return obj.page;},
                            total:function(obj){return obj.total;},
                            records:function(obj){return obj.records;}
                        }
                        , colNames: ['gridId', 'Notice No', 'Title', 'Notice', 'notice', 'Start Date', 'End Date', 'Publish']
                        , colModel: [
                            {name: 'gridId', index: 'gridId', key:true, editable:false, hidden:true},
                            {name: 'seq', index: 'seq', width: 50, align: 'center', editable:true},
                            {name: 'title', index: 'title', width: 200, align: 'left', editable:true, editrules : {required: true}},
                            {name: 'replaceNotice', index: 'replaceNotice', width: 400, align: 'left', editable:false},
                            {name: 'notice', index: 'notice', editable:true, hidden:true},
                            {name: 'sDate', index: 'sDate', width: 50, align: 'center', editable:true, editrules : {required: true},
                                editoptions:{
                                    size:20,
                                    dataInit:function(el){
                                        $(el).datepicker({dateFormat:'yy-mm-dd'});
                                    },
                                    defaultValue: function(){
                                        var currentTime = new Date();
                                        var month = parseInt(currentTime.getMonth() + 1);
                                        month = month <= 9 ? "0"+month : month;
                                        var day = currentTime.getDate();
                                        day = day <= 9 ? "0"+day : day;
                                        var year = currentTime.getFullYear();
                                        return year+"-"+month + "-"+day;
                                    }
                                }
                            },
                            {name: 'eDate', index: 'eDate', width: 50, align: 'center', editable:true, editrules : {required: true},
                                editoptions:{
                                    size:20,
                                    dataInit:function(el){
                                        $(el).datepicker({dateFormat:'yy-mm-dd'});
                                    },
                                    defaultValue: function(){
                                        var currentTime = new Date();
                                        var month = parseInt(currentTime.getMonth() + 1);
                                        month = month <= 9 ? "0"+month : month;
                                        var day = currentTime.getDate();
                                        day = day <= 9 ? "0"+day : day;
                                        var year = currentTime.getFullYear();
                                        return year+"-"+month + "-"+day;
                                    }
                                }
                            },
                            {name: 'publishYn', index: 'publishYn', width: 50, align: 'center', editable:true, edittype:"checkbox", editoptions: {value: "Y:N:N"}}
                        ]
                        , emptyrecords: "Nothing to display"
                        , autoencode: true
                        , editurl: 'clientArray'
                        , rowNum: [[${@CommonFunction.getCoConstDefVal("DISP_PAGENATION_DEFAULT")}]]
                        , rowList: stringToArray([[${@CommonFunction.getCoConstDefVal("DISP_PAGENATION_LIST_STR")}]])
                        , autowidth: true
                        , pager: '#pager'
                        , gridview: true
                        , sortable: function (permutation) {}
                        , sortname: 'seq'
                        , sortorder: 'desc'
                        , viewrecords: true
                        , height: 'auto'
                        , loadonce: false
                        // 데이터 로딩 후
                        , loadComplete: function(data) {}
                    });

                    $("#list").jqGrid('navGrid', "#pager", {edit:true, add:true, del:true, search:false, refresh:false}, noticeDialogEdit, noticeDialogAdd, noticeDialogDel);
                }
            };

        const noticeDialogAdd = {
                url: "/system/notice/saveAjax"
                , closeAfterAdd: true
                , reloadAfterSubmit: true
                , modal: true
                , serializeDelData: function(postdata) {
                    return JSON.stringify(postdata);
                }
                , beforeShowForm: function(formid) {
                    $("#tr_seq", formid).css("display", "none");
                    var appendHtml = '<div id="noticeEdit" style="width:600px; height:225px;"></div>';
                    $("#tr_notice", formid).show();
                    $("#notice", formid).hide();
                    $("#tr_notice", formid).children().eq(1).append(appendHtml);

                    if(CKEDITOR.instances.noticeEdit) {
                        var _editor = CKEDITOR.instances.noticeEdit;
                        if(_editor) {
                            _editor.destroy();
                        }
                    }

                    CKEDITOR.replace('noticeEdit', {});
                }
                , onClose: function() {
                    if(CKEDITOR.instances.noticeEdit) {
                        var _editor = CKEDITOR.instances.noticeEdit;
                        if(_editor) {
                            _editor.destroy();
                        }
                    }

                    $("#tr_contents", "list").children().eq(1).remove();
                }
                , afterSubmit: function(response, postdata) {
                    if(CKEDITOR.instances.noticeEdit) {
                        var _editor = CKEDITOR.instances.noticeEdit;
                        if(_editor) {
                            _editor.destroy();
                        }
                    }

                    if("false" == response.responseJSON.isValid) {
                        onError();
                        createValidMsg('FrmGrid_list', response.responseJSON);

                        return [false, '[[ #{msg.common.valid} ]]', ""]
                    } else {
                        onSuccess();

                        return [true,"",""]
                    }

                    noticeList.load();
                }
                , beforeSubmit: function(postdata, formid) {
                    postdata.notice = CKEDITOR.instances.noticeEdit.getData();
                    $("span.retxt", formid).remove();

                    return [true];
                }
                ,width: "600"
        }

        const noticeDialogEdit = {
            url: "/system/notice/saveAjax"
            , closeAfterEdit: true
            , reloadAfterSubmit: true
            , modal: true
            , serializeDelData: function(postdata) {
                return JSON.stringify(postdata);
            }
            , beforeShowForm: function(formid) {
                var appendHtml = '<div id="noticeEdit" style="width:600px; height:225px;">'+$("#notice", formid).val()+'</div>';
                $("#tr_notice", formid).show();
                $("#notice", formid).hide();
                $("#tr_notice", formid).children().eq(1).append(appendHtml);

                if(CKEDITOR.instances.noticeEdit) {
                    var _editor = CKEDITOR.instances.noticeEdit;
                    if(_editor) {
                        _editor.destroy();
                    }
                }

                CKEDITOR.replace('noticeEdit', {});
            }
            , onClose: function() {
                if(CKEDITOR.instances.noticeEdit) {
                    var _editor = CKEDITOR.instances.noticeEdit;
                    if(_editor) {
                        _editor.destroy();
                    }
                }

                $("#tr_contents", "list").children().eq(1).remove();
            }
            , afterSubmit: function(response, postdata) {
                if(CKEDITOR.instances.noticeEdit) {
                    var _editor = CKEDITOR.instances.noticeEdit;
                    if(_editor) {
                        _editor.destroy();
                    }
                }

                if("false" == response.responseJSON.isValid) {
                    onError();
                    createValidMsg('FrmGrid_list', response.responseJSON);

                    return [false, [[ #{msg.common.valid} ]], ""]
                } else {
                    onSuccess();

                    return [true,"",""]
                }

                notice_grid.load();
            }
            , beforeSubmit: function(postdata, formid) {
                postdata.notice = CKEDITOR.instances.noticeEdit.getData();
                $("span.retxt", formid).remove();

                return [true];
            }
            ,width: "600"
            ,viewPagerButtons: false
        }

        const noticeDialogDel = {
            url: "/system/notice/saveAjax"
            , closeAfterDel: true
            , reloadAfterSubmit: true
            , modal: true
            , onclickSubmit: function(params, rowid) {
                var rowData = $("#list").jqGrid("getRowData", rowid);

                return rowData;
            }
            , afterSubmit: function(response, postdata) {
                if("false" == response.responseJSON.isValid) {
                    onError();

                    return [false, '[[ #{msg.common.valid} ]]', ""]
                } else {
                    onSuccess();

                    return [true,"",""]
                }
            }
        };

    </script>
</th:block>