<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<th:block th:replace="fragments/gridCommonFn :: gridCommonFn"></th:block>
<th:block th:replace="system/notice-script :: script"></th:block>
<body class="hold-transition sidebar-mini jq-dialog__editor" style="height: 100%;">
	<div class="wrapper">
		<div class="custom-layout bg-white">
      		<section class="content-header">
        		<div class="container-fluid">
          			<div class="row my-3" style="width: 100%;">
            			<div class="col-md-12 jqGridSet">
              				<table id="list"><tr><td></td></tr></table>
              				<div id="pager"></div>
            			</div>
          			</div>
        		</div>
      		</section>
    	</div>
  	</div>
  	
  	<div class="modal fade" id="noticeModal" tabindex="-1">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
            	<div class="modal-header">
                	<h5 class="modal-title">Notice</h5>
                	<button class="close" data-dismiss="modal">×</button>
            	</div>
            	<div class="modal-body">
            		<form id="noticeForm">
            			<input type="hidden" id="seq" name="seq">
		                <div class="form-group" id="noticeNoDiv">
	                    	<label>Notice No</label>
	                    	<input id="noticeNo" class="form-control">
	                	</div>
	                	<div class="form-group">
	                    	<label>Title</label>
	                    	<input id="title" class="form-control">
	               		</div>
		                <div class="form-group">
		                    <label>Notice</label>
	                    	<textarea id="noticeTextarea"></textarea>
		                </div>
		                <div class="form-row">
		                    <div class="col">
		                        <label>Start Date</label>
		                        <input type="text" id="sDate" class="form-control" autocomplete="off">
	                    	</div>
	                    	<div class="col">
	                        	<label>End Date</label>
	                        	<input type="text" id="eDate" class="form-control" autocomplete="off">
	                    	</div>
	                	</div>
	                	<div class="form-row mt-3">
						    <div class="col-md-6">
						        <div class="border rounded p-3">
						            <div class="custom-control custom-switch">
						                <input type="checkbox" class="custom-control-input" id="publish">
						                <label class="custom-control-label" for="publish">Publish</label>
						            </div>
						            <small class="text-muted" th:text="|Display this notice to users.|"></small>
						        </div>
						    </div>
							<div class="col-md-6">
				        		<div class="border rounded p-3">
            						<div class="custom-control custom-switch">
                						<input type="checkbox" class="custom-control-input" id="fixed">
                						<label class="custom-control-label" for="fixed">Fixed</label>
            						</div>
            						<small class="text-muted" th:text="|Pin this notice to the top.|"></small>
        						</div>
    						</div>
						</div>
            		</form>
	            </div>
	            <div class="modal-footer">
	                <button id="noticeSave" class="btn btn-primary" th:text="Save"></button>
					<button class="btn btn-secondary" data-dismiss="modal" th:text="Close"></button>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>