<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
<th:block th:replace="fragments/gridCommonFn :: gridCommonFn"></th:block>
<th:block th:replace="system/restriction-script :: script"></th:block>
<body class="hold-transition sidebar-mini" style="height: 100%;">
    <div class="wrapper">
        <div class="content-wrapper custom-layout bg-white">
          	<section class="content-header">
            	<div class="container-fluid">
                  	<div class="row mt-3 mb-2">
                  		<div class="col-md-12">
                  			<button type="button" id="btnSaveCodeDetail" class="btn btn-outline-dark btn-sm width-6rem px-3 mr-xm mb-2 float-right" th:text="Save"></button>
                  		</div>
                      	<div class="col-md-12 jqGridSet">
                         	<table id="list"><tr><td></td></tr></table>
                         	<div id="pager"></div>
                     	</div>
                  	</div>
              	</div>
         	</section>
        </div>
    </div>
</body>
</html>