<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
    <th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
    <th:block th:replace="binary/list-script :: script"></th:block>

    <body class="hold-transition sidebar-mini" style="height: 100%;">
    <div class="wrapper">
        <div class="content-wrapper custom-layout bg-white">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-dark card-outline collapsed-card search-form mb-3">
                                <!-- <div class="card collapsed-card search-form"> -->
                                <div class="card-header" style="border-bottom: none;">
                                    <form action="simple-results.html">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row pl-3">
                                                    <form action="simple-results.html">
                                                        <div class="input-group">
                                                            <input type="search" class="form-control"
                                                                   placeholder="Code No">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row pl-3">

                                                    <div class="input-group">
                                                        <input type="search" class="form-control"
                                                               placeholder="Code Name">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3" style="width: 100%;">
                        <div class="col-md-12 jqGridSet">
                            <table id="jqGrid_01">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <div id="pager_01"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pr-3">
                            <button class="btn btn-teal-01 btn-sm float-right" type="button"
                                    style="width: 8rem;">Save</button>
                        </div>
                    </div>
                    <div class="row" id="divisionLine" style="display: none;">
                        <div class="col-12 pr-3">
                            <hr class="my-3">
                        </div>
                    </div>


                    <div class="row mt-2" style="width: 100%;">
                        <div class="col-md-12 jqGridSet">
                            <table id="jqGrid_02">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <div id="pager_02"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </body>


</th:block>
