<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<style>
		.marker{background-color: Yellow;}
	</style>
	<title>FOSSLight Hub</title>
</head>
	<body>
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:'arial,sans-serif'">
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td width="60" th:style="'background:#f9f9f9'"></td>
				<td>
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" height="25" th:style="'background:#c00c3f'">
								<h1 th:style="'margin:0;padding-left:5px;font-size:14px;color:white'" th:text="'FOSSLight Hub Notification'"></h1>
							</td>
						</tr>
						<tr>
							<td width="1" th:style="'background:#ddd'"></td>
							<td th:style="'padding:40px;'">
								<div th:if="${contentsTitle != null && contentsTitle != ''}" th:style="'padding-bottom:10px;font-size:16px;font-weight:bold;'" th:text="${contentsTitle}"></div>
								<div th:if="${contentsSubTitle != null && contentsSubTitle != ''}" th:style="'font-size:12px;'" th:text="${contentsSubTitle}"></div>
								<h2 th:style="'margin:20px 0 0;padding:10px;font-size:16px;'" th:text="'« User Information »'"></h2>
								<div th:if="${changed_user_info != null}">
									<table cellspacing="0" cellpadding="0" width="100%" border="1" th:style="'font-size:12px;border-color:#ddd;'">
										<tr>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:text="'ID'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:text="'Name Changed'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:text="'Modified Date'"></th>
										</tr>
										<tr th:each="userInfo : ${changed_user_info}">
											<td th:style="'padding:5px;'" th:text="${userInfo.userId}"></td>
											<td th:style="'padding:5px;'" th:text="${userInfo.userName}"></td>
											<td th:style="'padding:5px;'" th:text="${userInfo.modifiedDate}"></td>
										</tr>
									</table>
								</div>
								<br />
								<div th:if="${retiree_user_info != null}">
									<table cellspacing="0" cellpadding="0" width="100%" border="1" th:style="'font-size:12px;border-color:#ddd;'">
										<tr>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:text="'ID'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:text="'Name'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:text="'Use YN'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:text="'Modified Date'"></th>
										</tr>
										<tr th:each="userInfo : ${retiree_user_info}">
											<td th:style="'padding:5px;'" th:text="${userInfo.userId}"></td>
											<td th:style="'padding:5px;'" th:text="${userInfo.userName}"></td>
											<td th:style="'padding:5px;'" th:text="${userInfo.useYn}"></td>
											<td th:style="'padding:5px;'" th:text="${userInfo.modifiedDate}"></td>
										</tr>
									</table>
								</div>
								<br />
								<div th:style="'margin:20px 0;border:1px dashed #666;'"></div>
								<div th:if="${domain != null && domain != ''}">
									<div th:assign="shortDomain=${domain.replaceAll('(http|https)://', '')}" th:style="'font-size:12px;'" th:text="'* This mail was sent by ' + ${shortDomain}"></div>
								</div>
							</td>
							<td width="1" th:style="'background:#ddd'"></td>
						</tr>
						<tr>
							<td colspan="3" height="1" th:style="'background:#ddd'"></td>
						</tr>
					</table>
				</td>
				<td width="60" th:style="'background:#f9f9f9'"></td>
			</tr>

			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
		</table>
		
	</body>
</html>
