<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html lang="ko">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style>
        .marker{background-color: Yellow;}
    </style>
    <title>FOSSLight Hub</title>
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0" style="font-family:'arial,sans-serif'">
    <tr>
        <td colspan="3" height="28" style="background:#f9f9f9"></td>
    </tr>
    <tr>
        <td width="60" style="background:#f9f9f9"></td>
        <td>
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td colspan="3" height="25" style="background:#c00c3f">
                        <h1 style="margin:0;padding-left:5px;font-size:14px;color:white">FOSSLight Hub Notification</h1>
                    </td>
                </tr>
                <tr>
                    <td width="1" style="background:#ddd"></td>
                    <td style="padding:40px;">
                        #if( $contentsTitle )
                        <div style="padding-bottom:10px;font-size:16px;font-weight:bold;">$!contentsTitle</div>
                        #end
                        #if( $contentsSubTitle )
                        <p style="font-size:12px;">$!contentsSubTitle</p>
                        #end
                        <h2 style="margin:20px 0 0;padding:10px;font-size:16px;">&laquo; Recalculated List &raquo;</h2>
                        <table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
                            #if($vulnerability_sync_info_recalculated)
                            <tr>
                                <th style="padding:5px;background:#f0f0f0;">#</th>
                                <th style="padding:5px;background:#f0f0f0;">Name (ver)</th>
                                <th style="padding:5px;background:#f0f0f0;">prev CVE ID</th>
                                <th style="padding:5px;background:#f0f0f0;">prev CVSS</th>
                                <th style="padding:5px;background:#f0f0f0;">now CVE ID</th>
                                <th style="padding:5px;background:#f0f0f0;">now CVSS</th>
                                <th style="padding:5px;background:#f0f0f0;">Modified date</th>
                            </tr>
                            #foreach( $recInfo in $vulnerability_sync_info_recalculated )
                            <tr>
                                <td style="padding:5px;">$!recInfo.OSS_ID</td>
                                <td style="padding:5px;">$!recInfo.OSS_NAME</td>
                                <td style="padding:5px;">$!recInfo.CVE_ID</td>
                                <td style="padding:5px;">$!recInfo.CVSS_SCORE</td>
                                <td style="padding:5px;">$!recInfo.CVE_ID_TO</td>
                                <td style="padding:5px;">$!recInfo.CVSS_SCORE_TO</td>
                                <td style="padding:5px;">$!recInfo.REG_DT</td>
                            </tr>
                            #end
                            #end
                        </table>
                        <h2 style="margin:20px 0 0;padding:10px;font-size:16px;">&laquo; Discovered List &raquo;</h2>
                        <table cellspacing="0" cellpadding="0" width="80%" border="1" style="font-size:12px;border-color:#ddd;">
                            #if($vulnerability_sync_info_discovered)
                            <tr>
                                <th style="padding:5px;background:#f0f0f0;">#</th>
                                <th style="padding:5px;background:#f0f0f0;">Name</th>
                                <th style="padding:5px;background:#f0f0f0;">now CVE ID</th>
                                <th style="padding:5px;background:#f0f0f0;">now CVSS</th>
                                <th style="padding:5px;background:#f0f0f0;">Modified date</th>
                            </tr>

                            #foreach( $disInfo in $vulnerability_sync_info_discovered )
                            <tr>
                                <td style="padding:5px;">$!disInfo.OSS_ID</td>
                                <td style="padding:5px;">$!disInfo.OSS_NAME</td>
                                <td style="padding:5px;">$!disInfo.CVE_ID</td>
                                <td style="padding:5px;">$!disInfo.CVSS_SCORE_TO</td>
                                <td style="padding:5px;">$!disInfo.REG_DT</td>
                            </tr>
                            #end
                            #end
                        </table>

                        #if($vulnerability_sync_info_result.success)
                        <div style="padding:10px;font-size:18px;">Nvd Vulnerability Result -> $!vulnerability_sync_info_result.success</div>
                        #else
                        <div style="padding:10px;font-size:18px;">Nvd Vulnerability Result -> $!vulnerability_sync_info_result.msg</div>
                        #end

                        <div style="margin:20px 0;border:1px dashed #666;"></div>
                        #set($shortDomain = $domain.replaceAll("(http|https)://", ""))
                        <div style="font-size:12px;">* This mail was sent by <a href="$domain" target="_blank">$shortDomain</a></div>
                    </td>
                    <td width="1" style="background:#ddd"></td>
                </tr>
                <tr>
                    <td colspan="3" height="1" style="background:#ddd"></td>
                </tr>
            </table>
        </td>
        <td width="60" style="background:#f9f9f9"></td>
    </tr>
    <tr>
        <td colspan="3" height="28" style="background:#f9f9f9"></td>
    </tr>
</table>

</body>
</html>
