<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<style>
			.marker{background-color: Yellow;}
		</style>
		<title>FOSSLight Hub</title>
	</head>
	<body>
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:'arial,sans-serif'">
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td width="60" style="background:#f9f9f9"></td>
				<td>
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" height="25" style="background:#c00c3f">
								<h1 style="margin:0;padding-left:5px;font-size:14px;color:white">FOSSLight Hub Notification</h1>
							</td>
						</tr>
						<tr>
							<td width="1" style="background:#ddd"></td>
							<td style="padding:40px;">
								<div style="padding-bottom:10px;font-size:16px;font-weight:bold;" th:if="${contentsTitle}" th:utext="${contentsTitle}"></div>
								<p style="font-size:12px;" th:if="${contentsSubTitle}" th:utext="${contentsSubTitle}"></p>
								<th:block th:if="${comment != null and comment != '' and (mailType == '19' or mailType == '10' or mailType == '13' or mailType == '131')}">
									<h2 style="margin:0; padding:25px 10px 0; font-size:14px;">Comment</h2>
									<div style="padding:10px; font-size:12px;" th:utext="${comment}"></div>
								</th:block>
								<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
									<col style="width:40%">
        							<col style="width:60%">
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">&nbsp;</th>
										<th style="padding:5px;background:#f0f0f0;">Registered Data</th>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">OSS Name</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.ossName}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Nickname</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.ossNickname}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">OSS Version</th>
										<td style="padding:5px;">
											<span th:text="${oss_basic_info?.ossVersion}"></span>
											<span th:if="${oss_basic_info != null and oss_basic_info.ossType != null and oss_basic_info.ossType.contains('M')}">
												<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAARCAIAAABfOGuuAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADcSURBVDhPY/z//39v39o7d58zEAdUlCWLi4JZgCygHg1NK4goQXDj+jEgyQThkApQtP3+/evTp7fv3j0DkkA2GheqCAxAjoSD798/11a5QtjNbbuBJDKXlVUYwgYCFNv+/PkJZTEwAC0BIigHVQoIcPqtvyceiKAcDECNIIGDlLQ+NAYawK6Nlw/qezgDDWDXxsnJCww6IAIyoEKoAEUbCws7hAFUzccnDERwbXApCECJN4glEAYuEQhAsY2VlQ1iCZCBSwQCsPuNICA54ygrSZYUB4O0QQWIBwwMAJhcWykW5ke4AAAAAElFTkSuQmCC"/>
											</span>
											<span th:if="${oss_basic_info != null and oss_basic_info.ossType != null and oss_basic_info.ossType.contains('D')}">
												<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAARCAIAAABfOGuuAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD6SURBVDhPY/z///+WnpUv7zxlIA6Iq0j7lISzAFlAPYaa+hBRguD89YtAkgnCIRWgaPv1+9fbT++evXsBQUA2UAQqhwpAjoSDz9+/uNaGQjlgsK5qgZSQOBsrG5QPAyi2/fwDNXth4ZTlZbOAjKC2hGfvXmLaid1vwnyCimKycJ1AV0DE4QBnkAAdxsvJDWHDXQEH1AhJZAD0z+fvXyFsdha8QQIHbz+9v//qcWRXGpANDExeTh6IOBygRADc1Pj+HAgDVwSgaAOaurt5NTwAgKZg1QMEKI4EqhDmE5ISkoAgIBurHiAgMyRJzzjKUj6lESBtUAHiAQMDAJyXY/B57xmtAAAAAElFTkSuQmCC"/>
											</span>
												<span th:if="${oss_basic_info != null and oss_basic_info.ossType != null and oss_basic_info.ossType.contains('V')}">
												<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAARCAIAAABfOGuuAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADZSURBVDhPY/z///+GWY3PH95kIA5IyqsHpNWzAFlAPYE29hBRgmD9kYNAkgnCIRWga/v56/er95+ACMhAZkOlYQBd28ev3/WiSoEIyEBmQ6VhAIttcAYyG8KAA3Rt7GysEAbEeRA2XBAO0LXxc3PunVoDZHgXdgARkAHkAgXBkgiAxTY+bi4oBwyAXMK2AQGaIkw9QIBFG9ydQIDVhUCA3TZRQX4IG8gg1jYgANpwaVk3EGG1CgiwawPaICbIB0RYrQIC7NoIApIzjoS8WmBaA0gbVIB4wMAAAOuvYrotinxoAAAAAElFTkSuQmCC"/>
											</span>
										</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">OSS Version Alias</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.ossVersionAlias}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Include Cpe</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.includeCpe}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Exclude Cpe</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.excludeCpe}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Declared License Name (Type)</th>
										<td style="padding:5px;" th:text="${oss_basic_info?.licenseName} + ' (' + ${oss_basic_info?.licenseType} + ')'"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Detected License Name</th>
										<td style="padding:5px;">
											<span th:each="detectedLicense, iterStat : ${oss_basic_info?.detectedLicenses}">
												<span th:utext="${detectedLicense}"></span>
												<span th:if="${iterStat.last == false}">, </span>
											</span>
										</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Restriction</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.restriction}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Obligation</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.obligation}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Copyright</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.copyright}"></td>
									</tr>
									<th:block th:if="${oss_basic_info != null and (#strings.contains(oss_basic_info?.ossType, 'M') or #strings.contains(oss_basic_info?.ossType, 'D'))}">
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">License Copyright</th>
											<td>
												<table cellspacing="3" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
													<tr th:each="ossLicense : ${oss_basic_info.ossLicenses}">
														<td th:utext="${ossLicense?.ossLicenseComb}"></td>
														<td th:utext="${ossLicense?.licenseName}"></td>
														<td th:utext="${ossLicense?.ossCopyright}"></td>
													</tr>
												</table>
											</td>
										</tr>
									</th:block>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Homepage</th>
										<td style="padding:5px;">
											<span th:if="${oss_basic_info?.homepage != null and not #strings.isEmpty(oss_basic_info?.homepage)}">
												<a th:href="${oss_basic_info?.homepage}" target="_blank" th:utext="${oss_basic_info?.homepage}"></a>
											</span>
										</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Download Location</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.downloadLocation}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Package Url</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.purl}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Summary Description</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.summaryDescription}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Attribution</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.attribution}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Created Date / Creator</th>
										<td style="padding:5px;" th:utext="${oss_basic_info?.createdDate} + ' / ' + ${oss_basic_info?.creator}"></td>
									</tr>
								</table>
								<div th:if="${comment != null and comment != '' and mailType == '19' and mailType == '10' and mailType == '13' and mailType == '131'}">
									<h2 style="margin:0;padding:25px 10px 0;font-size:14px;">Comment</h2>
									<p style="padding:10px;font-size:12px;" th:utext="${comment}"></p>
								</div>

								<div th:if="${projectList != null and not #lists.isEmpty(projectList)}">
									<br />
									<h2 style="margin:20px 0 0;padding:10px;font-size:16px;">&laquo; Project List &raquo;</h2>
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<thead>
										<tr>
											<th style="padding:5px;background:#f0f0f0;">ID</th>
											<th style="padding:5px;background:#f0f0f0;">Project Name</th>
											<th style="padding:5px;background:#f0f0f0;">Project Version</th>
											<th style="padding:5px;background:#f0f0f0;">Distribution Type</th>
											<th style="padding:5px;background:#f0f0f0;">Creator</th>
											<th style="padding:5px;background:#f0f0f0;">Created Date</th>
											<th style="padding:5px;background:#f0f0f0;">Reviewer</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="project : ${projectList}">
											<td style="padding:5px;" th:utext="${project?.prjId}"></td>
											<td style="padding:5px;" th:utext="${project?.prjName}"></td>
											<td style="padding:5px;" th:utext="${project?.prjVersion}"></td>
											<td style="padding:5px;" th:utext="${project?.distributionType}"></td>
											<td style="padding:5px;" th:utext="${project?.creator}"></td>
											<td style="padding:5px;" th:utext="${project?.createdDate}"></td>
											<td style="padding:5px;" th:utext="${project?.reviewer}"></td>
										</tr>
										</tbody>
									</table>
								</div>
								<div th:if="${versionDiffInfoList != null and not #lists.isEmpty(versionDiffInfoList)}">
									<br />
									<h2 style="margin:20px 0 0;padding:10px;font-size:16px;">V-Diff Declared License Info</h2>
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<col style="width:40%">
										<col style="width:60%">
										<tr>
											<td style="padding:5px;background:#f0f0f0;">OSS Name (version)</td>
											<td style="padding:5px;background:#f0f0f0;">Declared License</td>
										</tr>
										<tr th:each="versionDiffInfo : ${versionDiffInfoList}">
											<td style="padding:5px;" th:utext="${versionDiffInfo?.ossNameInfo}"></td>
											<td style="padding:5px;" th:utext="${versionDiffInfo?.licenseInfo}"></td>
										</tr>
									</table>
								</div>

								
								<div style="margin:20px 0;border:1px dashed #666;"></div>
								<div th:with="shortDomain=${#strings.replace(domain, '(http|https)://', '')}"
									 style="font-size:12px;">
									* This mail was sent by <a th:href="${domain}" target="_blank" th:utext="${shortDomain}"></a>
								</div>
							</td>
							<td width="1" style="background:#ddd"></td>
						</tr>
						<tr>
							<td colspan="3" height="1" style="background:#ddd"></td>
						</tr>
					</table>
				</td>
				<td width="60" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
		</table>
		
	</body>
</html>