<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html lang="ko">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<style>
			.marker{background-color: Yellow;}
		</style>
		<title>FOSSLight System</title>
	</head>
	<body>
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:'arial,sans-serif'">
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td width="60" style="background:#f9f9f9"></td>
				<td>
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" height="25" style="background:#c00c3f">
								<h1 style="margin:0;padding-left:5px;font-size:14px;color:white">FOSSLight System Notification</h1>
							</td>
						</tr>
						<tr>
							<td width="1" style="background:#ddd"></td>
							<td style="padding:40px;">
							#if( $contentsTitle )
								<div style="padding-bottom:10px;font-size:16px;font-weight:bold;">$!contentsTitle</div>
							#end
							#if( $contentsSubTitle )
								<p style="font-size:12px;">$!contentsSubTitle</p>
							#end
							
							#if( $comment )
								<h2 style="margin:0;padding:25px 10px 0;font-size:16px;">Comment</h2>
								<div style="padding:10px;font-size:12px;">$!comment</div>
							#end
								<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">&nbsp;</th>
										<th style="padding:5px;background:#f0f0f0;">Before Change</th>
										<th style="padding:5px;background:#f0f0f0;">After Change</th>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">OSS Name</th>
										<td style="padding:5px;">$!before.ossName</td>
										<td style="padding:5px;">$!after.ossName</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Nickname</th>
										<td style="padding:5px;">#foreach( $nickName in $before.ossNicknames )$!nickName <br />#end</td>
										<td style="padding:5px;">#foreach( $nickName in $after.ossNicknames )$!nickName <br />#end</td>
									</tr>
									
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">OSS Version</th>
										<td style="padding:5px;">$!before.ossVersion #if($before.ossVersion != '' && $before.ossType != '') / #end
									#if($!before.ossType.contains("M")) <span class="iconSet multi">Multi</span> #end
									#if($!before.ossType.contains("D")) <span class="iconSet dual">Dual</span> #end
									#if($!before.ossType.contains("V")) <span class="iconSet vdif">v-Diff</span> #end
										</td>
										<td style="padding:5px;">$!after.ossVersion #if($after.ossVersion != '' && $after.ossType != '') / #end
									#if($!after.ossType.contains("M")) <span class="iconSet multi">Multi</span> #end
									#if($!after.ossType.contains("D")) <span class="iconSet dual">Dual</span> #end
									#if($!after.ossType.contains("V")) <span class="iconSet vdif">v-Diff</span> #end
										</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Declared License Name / Type</th>
										<td style="padding:5px;">$!before.licenseName ($!before.licenseType)</td>
										<td style="padding:5px;">$!after.licenseName ($!after.licenseType)</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Detected License Name</th>
										<td style="padding:5px;">#foreach( $beforeDetectedLicense in $!before.detectedLicenses )$!beforeDetectedLicense #end</td>
										<td style="padding:5px;">#foreach( $afterDetectedLicense in $!after.detectedLicenses )$!afterDetectedLicense #end</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Copyright</th>
										<td style="padding:5px;">$!before.copyright</td>
										<td style="padding:5px;">$!after.copyright</td>
									</tr>
									#if($before.multiLicenseFlag == "M" || $after.multiLicenseFlag == "M")
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">License Copyright</th>
										<td>
											#if($before.multiLicenseFlag == "M")
											<table cellspacing="3" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
												#foreach( $ossLicense in $before.ossLicenses )
												<tr>
													<td>$!ossLicense.ossLicenseComb</td>
													<td>$!ossLicense.licenseName</td>
													<td>$!ossLicense.ossCopyright</td>
												</tr>
												#end
											</table>
											#end
										</td>
										<td>
											#if($after.multiLicenseFlag == "M")
											<table cellspacing="3" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
												#foreach( $ossLicense in $after.ossLicenses )
												<tr>
													<td>$!ossLicense.ossLicenseComb</td>
													<td>$!ossLicense.licenseName</td>
													<td>$!ossLicense.ossCopyright</td>
												</tr>
												#end
											</table>
											#end
										</td>
									</tr>
									#end
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Obligation</th>
										<td style="padding:5px;">$!before.obligation</td>
										<td style="padding:5px;">$!after.obligation</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Homepage</th>
										<td style="padding:5px;">#if( $before.homepageLinkFormat )$!before.homepageLinkFormat#end</td>
										<td style="padding:5px;">#if( $after.homepageLinkFormat )$!after.homepageLinkFormat#end</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Download Location</th>
										<td style="padding:5px;">#if( $before.downloadLocationLinkFormat )$!before.downloadLocationLinkFormat#end</td>
										<td style="padding:5px;">#if( $after.downloadLocationLinkFormat )$!after.downloadLocationLinkFormat#end</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Summary Description</th>
										<td style="padding:5px;">$!before.summaryDescription</td>
										<td style="padding:5px;">$!after.summaryDescription</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Attribution</th>
										<td style="padding:5px;">$!before.attribution</td>
										<td style="padding:5px;">$!after.attribution</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Last Modified Date / Last Modifier</th>
										<td style="padding:5px;">$!before.modifiedDate / $!before.modifier </td>
										<td style="padding:5px;">$!after.modifiedDate / $!after.modifier </td>
									</tr>
								</table>

								#if( $projectList )
									<br />
									<h2 style="margin:20px 0 0;padding:10px;font-size:16px;">&laquo; Project List &raquo;</h2>
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<tr>
											<th style="padding:5px;background:#f0f0f0;">ID</th>
											<th style="padding:5px;background:#f0f0f0;">Project Name</th>
											<th style="padding:5px;background:#f0f0f0;">Project Version</th>
											<th style="padding:5px;background:#f0f0f0;">Distribution Type</th>
											<th style="padding:5px;background:#f0f0f0;">Creator</th>
											<th style="padding:5px;background:#f0f0f0;">Created Date</th>
											<th style="padding:5px;background:#f0f0f0;">Reviewer</th>
										</tr>
										#foreach( $project in $projectList )
										<tr>
											<td style="padding:5px;">$!project.prjId</td>
											<td style="padding:5px;">$!project.prjName</td>
											<td style="padding:5px;">$!project.prjVersion</td>
											<td style="padding:5px;">$!project.distributionType</td>
											<td style="padding:5px;">$!project.creator</td>
											<td style="padding:5px;">$!project.createdDate</td>
											<td style="padding:5px;">$!project.reviewer</td>
										</tr>
										#end
									</table>
								#end
								<div style="margin:20px 0;border:1px dashed #666;"></div>
								#set($shortDomain = $domain.replaceAll("(http|https)://", ""))
								<div style="font-size:12px;">* This mail was sent by <a href="$domain">$shortDomain</a></div>
							</td>
							<td width="1" style="background:#ddd"></td>
						</tr>
						<tr>
							<td colspan="3" height="1" style="background:#ddd"></td>
						</tr>
					</table>
				</td>
				<td width="60" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
		</table>
		
	</body>
</html>