<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<style>
		.marker{background-color: Yellow;}
	</style>
	<title>FOSSLight Hub</title>
</head>
	<body>
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:'arial,sans-serif'">
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td width="60" style="background:#f9f9f9"></td>
				<td>
					<table cellspacing="0" cellpadding="0" border="0">
						<tr> 
							<td colspan="3" height="25" style="background:#c00c3f">
								<h1 style="margin:0;padding-left:5px;font-size:14px;color:white">FOSSLight Hub Notification</h1>
							</td>
						</tr>
						<tr>
							<td width="1" style="background:#ddd"></td>
							<td style="padding:40px;">
								<div th:if="${contentsTitle}" style="padding-bottom:10px;font-size:16px;font-weight:bold;" th:text="${contentsTitle}"></div>

								<pre>
								<th:block th:if="${mailType == '810'}" th:text="|The file, ${fileName}, has been uploaded to Project ID ${prjId}.|"></th:block>
								<th:block th:if="${mailType == '810'}" th:text="|Failed to upload file for Project ID ${prjId}.|">
									<ul>
										<li th:text="|File name attempted to upload: ${fileName}|"></li>
										<li th:text="|Failure message: ${errorMsg}|"></li>
									</ul>
								</th:block>
								</pre>
								<div style="margin:20px 0;border:1px dashed #666;"></div>
								<div th:with="shortDomain=${#strings.replace(domain, '(http|https)://', '')}"
									 style="font-size:12px;">
									* This mail was sent by <a th:href="${domain}" target="_blank" th:utext="${shortDomain}"></a>
								</div>
							</td>
							<td width="1" style="background:#ddd"></td>
						</tr>
						<tr>
							<td colspan="3" height="1" style="background:#ddd"></td>
						</tr>
					</table>
				</td>
				<td width="60" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
		</table>
		
	</body>
</html>