<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<style>
		.marker{background-color: Yellow;}
	</style>
	<title>FOSSLight Hub</title>
</head>
<body>
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:'arial,sans-serif'">
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td width="60" style="background:#f9f9f9"></td>
				<td>
					<table cellspacing="0" cellpadding="0" border="0">
						<tr> 
							<td colspan="3" height="25" style="background:#c00c3f">
								<h1 style="margin:0;padding-left:5px;font-size:14px;color:white">FOSSLight Hub Notification</h1>
							</td>
						</tr>
						<tr>
							<td width="1" style="background:#ddd"></td>
							<td style="padding:40px;">
								<div th:if="${contentsTitle != null && contentsTitle != ''}" style="padding-bottom:10px;font-size:16px;font-weight:bold;" th:utext="${contentsTitle}"></div>
								<p th:if="${mailType != '38' && contentsSubTitle != null && contentsSubTitle != ''}" style="font-size:12px;" th:utext="${contentsSubTitle}"></p>
								<div th:if="${comment != null && comment != '' and (mailType == '51' or mailType == '50' or mailType == '40' or mailType == '41' or mailType == '68' or mailType == '38' or mailType == '33' or mailType == '46' or mailType == '100')}">
									<h2 style="margin:0;padding:25px 10px 0;font-size:16px;">Comment</h2>
									<div style="padding:10px;font-size:12px;" th:utext="${comment}"></div>
								</div>

								<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
									<col style="width:40%">
        							<col style="width:*">
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">&nbsp;</th>
										<th style="padding:5px;background:#f0f0f0;">Registered Data</th>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Project Name</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.prjName}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Project Version</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.prjVersion}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Security Mail</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.secMailYn / ${project_basic_info?.secMailDesc}}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Operating System</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.osType}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Distribution Type / Network Service Only? </th>
										<td style="padding:5px;" th:utext="|${project_basic_info?.distributionType} / ${project_basic_info?.networkServerType}|"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Distribution Site</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.distributeTarget}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">OSS Notice</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.noticeType}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Priority</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.priority}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Creator</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.creator}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Division</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.division}"></td>
									</tr>
									<tr th:if="${project_basic_info?.reviewer}">
										<th align="left" style="padding:5px;background:#f0f0f0;">Reviewer</th>
										<td style="padding:5px;" th:utext="${project_basic_info?.reviewer}"></td>
									</tr>
								</table>
								<th:block th:if="${disclosure_oss_info != null}">
									<h2 style="margin:20px 0 0;padding:10px;font-size:16px;">&laquo; OSS List to Disclose &raquo;</h2>
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<tr>
											<th style="padding:5px;background:#f0f0f0;">OSS Name</th>
											<th style="padding:5px;background:#f0f0f0;">OSS Version</th>
											<th style="padding:5px;background:#f0f0f0;">License Name</th>
										</tr>
										<tr th:each="oss : ${disclosure_oss_info}">
											<td style="padding:5px;" th:utext="${oss.ossName}"></td>
											<td style="padding:5px;" th:utext="${oss.ossVersion}"></td>
											<td style="padding:5px;" th:utext="${oss.licenseName}"></td>
										</tr>
									</table>
								</th:block>

								<th:block th:if="${bom_oss_info != null}">
									<h2 style="margin:20px 0 0;padding:10px;font-size:16px;">&laquo; OSS List &raquo;</h2>
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<tr>
											<th style="padding:5px;background:#f0f0f0;">OSS Name</th>
											<th style="padding:5px;background:#f0f0f0;">OSS Version</th>
											<th style="padding:5px;background:#f0f0f0;">License Name</th>
										</tr>
										<tr th:each="oss : ${bom_oss_info}">
											<td style="padding:5px;" th:utext="${oss.ossName}"></td>
											<td style="padding:5px;" th:utext="${oss.ossVersion}"></td>
											<td style="padding:5px;" th:utext="${oss.licenseName}"></td>
										</tr>
									</table>
								</th:block>

								<th:block th:if="${distribution_info != null}">
									<h2 style="margin:20px 0 0;padding:10px;font-size:16px;">&laquo; Distribution Information &raquo;</h2>
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">&nbsp;</th>
											<th style="padding:5px;background:#f0f0f0;">Registered Data</th>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Description</th>
											<td style="padding:5px;" th:utext="${distribution_info.distributeName}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Master Category</th>
											<td style="padding:5px;" th:utext="${distribution_info.distributeMasterCategory}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Distribution Site</th>
											<td style="padding:5px;" th:utext="${distribution_info.distributeTarget}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">OSS Notice</th>
											<td style="padding:5px;" th:utext="${distribution_info.noticeFileId}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">OSS Package</th>
											<td style="padding:5px;">
												<p th:if="${distribution_info.packageFileId != null && distribution_info.packageFileId != ''}" th:utext="${distribution_info.packageFileId}" style="margin:0"></p>
												<p th:if="${distribution_info.packageFileId2 != null && distribution_info.packageFileId2 != ''}" th:utext="${distribution_info.packageFileId2}" style="margin:0"></p>
												<p th:if="${distribution_info.packageFileId3 != null && distribution_info.packageFileId3 != ''}" th:utext="${distribution_info.packageFileId3}" style="margin:0"></p>
												<p th:if="${distribution_info.packageFileId4 != null && distribution_info.packageFileId4 != ''}" th:utext="${distribution_info.packageFileId4}" style="margin:0"></p>
											</td>
										</tr>
									</table>
								</th:block>

								<th:block th:if="${model_info != null}">
									<h2 style="margin:20px 0 0;padding:10px;font-size:16px;">&laquo; Model Information &raquo;</h2>
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<tr>
											<th style="padding:5px;background:#f0f0f0;">Category</th>
											<th style="padding:5px;background:#f0f0f0;">Model Name</th>
											<th style="padding:5px;background:#f0f0f0;">Release Date</th>
											<th style="padding:5px;background:#f0f0f0;">Last Modified</th>
											<th style="padding:5px;background:#f0f0f0;">Updated Date</th>
										</tr>
										<tr th:each="model : ${model_info}">
											<td style="padding:5px;" th:utext="${model.category}"></td>
											<td style="padding:5px;" th:utext="${model.modelName}"></td>
											<td style="padding:5px;" th:utext="${model.releaseDate}"></td>
											<td style="padding:5px;" th:utext="${model.modifier}"></td>
											<td style="padding:5px;" th:utext="${model.modifiedDate}"></td>
										</tr>
									</table>
								</th:block>

								<th:block th:if="${vulnerability_prj_oss_info != null}">
									<h2 th:style="'margin:20px 0 0;padding:10px;font-size:16px;'" th:utext="'« Vulnerability Information »'"></h2>
									<table cellspacing="0" cellpadding="0" width="100%" border="1" th:style="'font-size:12px;border-color:#ddd;'">
										<tr>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:utext="'OSS Name'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:utext="'OSS Version'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:utext="'CVE ID'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:utext="'Score'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:utext="'Summary'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:utext="'Published Date'"></th>
											<th th:style="'padding:5px;background:#f0f0f0;'" th:utext="'Modified Date'"></th>
										</tr>
										<tr th:each="vulnerability : ${vulnerability_prj_oss_info}">
											<td th:style="'padding:5px;'" th:utext="${vulnerability.ossName}"></td>
											<td th:style="'padding:5px;'" th:utext="${vulnerability.ossVersion}"></td>
											<td th:style="'padding:5px;'"><span th:utext="${vulnerability.cveId}"></span></td>
											<td th:style="'padding:5px;'" th:utext="${vulnerability.cvssScore}"></td>
											<td th:style="'padding:5px;'" th:utext="${vulnerability.vulnSummary}"></td>
											<td th:style="'padding:5px;'" th:utext="${vulnerability.publishedDate}"></td>
											<td th:style="'padding:5px;'" th:utext="${vulnerability.modifiedDate}"></td>
										</tr>
									</table>
								</th:block>

								<th:block th:if="${vulnerability_prj_recalc_oss_info != null}">
									<h2 style="margin:20px 0 0;padding:10px;font-size:16px;">&laquo; Vulnerability Information &raquo;</h2>
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">&nbsp;</th>
											<th style="padding:5px;background:#f0f0f0;">Before Change</th>
											<th style="padding:5px;background:#f0f0f0;">After Change</th>
										</tr>
										<th:block th:each="vulnerability_reCalc: ${vulnerability_prj_recalc_oss_info}">
											<tr>
												<th align="left" style="padding:5px;background:#f0f0f0;">OSS Name</th>
												<td style="padding:5px;" colspan="2" th:text="${vulnerability_reCalc.ossName}"></td>
											</tr>
											<tr>
												<th align="left" style="padding:5px;background:#f0f0f0;">OSS Version</th>
												<td style="padding:5px;" colspan="2" th:text="${vulnerability_reCalc.ossVersion}"></td>
											</tr>
											<tr>
												<th align="left" style="padding:5px;background:#f0f0f0;">CVE ID</th>
												<td style="padding:5px;"><a th:href="'https://nvd.nist.gov/vuln/detail/' + ${vulnerability_reCalc.cveId}" target="_blank" th:text="${vulnerability_reCalc.cveId}"></a></td>
												<td style="padding:5px;">
													<th:block th:unless="${vulnerability_reCalc.cveIdTo == 'NONE'}">
														<a th:href="'https://nvd.nist.gov/vuln/detail/' + ${vulnerability_reCalc.cveIdTo}" target="_blank" th:text="${vulnerability_reCalc.cveIdTo}"></a>
													</th:block>
													<th:block th:if="${vulnerability_reCalc.cveIdTo == 'NONE'}">
														<span th:text="${vulnerability_reCalc.cveIdTo}"></span>
													</th:block>
												</td>
											</tr>
											<tr>
												<th align="left" style="padding:5px;background:#f0f0f0;">Score</th>
												<td style="padding:5px;" th:utext="${vulnerability_reCalc.cvssScore}"></td>
												<td style="padding:5px;" th:utext="${vulnerability_reCalc.cvssScoreTo}"></td>
											</tr>
										</th:block>
									</table>
								</th:block>
								<br />
								<div th:if="${comment != null && comment != '' and (mailType != '51' and mailType != '50' and mailType != '30' and mailType != '99' and mailType != '40' and mailType != '41' 
												and mailType != '68' and mailType != '38' and mailType != '33' and mailType != '46' and mailType != '90' and mailType != '92' and mailType != '94' and mailType != '100')}">
									<h2 th:style="'margin:0;padding:25px 10px 0;font-size:16px;'" th:utext="'Comment'"></h2>
									<div th:style="'padding:10px;font-size:12px;'" th:utext="${comment}"></div>
								</div>

								<!--<div style="margin:20px 0;border:1px dashed #666;"></div>
								<div th:with="shortDomain=${#strings.replace(domain, '(http|https)://', '')}"
									 style="font-size:12px;">
									* This mail was sent by <a th:href="${domain}" target="_blank" th:utext="${shortDomain}"></a>
								</div>-->
							</td>
							<td width="1" style="background:#ddd"></td>
						</tr>
						<tr>
							<td colspan="3" height="1" style="background:#ddd"></td>
						</tr>
					</table>
				</td>
				<td width="60" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
		</table>
		
	</body>
</html>
