<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:'arial,sans-serif'">
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td width="60" style="background:#f9f9f9"></td>
				<td>
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td colspan="3" height="25" style="background:#c00c3f">
								<h1 style="margin:0;padding-left:5px;font-size:14px;color:white">FOSSLight Hub Notification</h1>
							</td>
						</tr>
						<tr>
							<td width="1" style="background:#ddd"></td>
							<td style="padding:40px;">
								<div th:if="${contentsTitle != null && contentsTitle != ''}" style="padding-bottom:10px;font-size:16px;font-weight:bold;" th:utext="${contentsTitle}"></div>
								<p th:if="${contentsSubTitle != null && contentsSubTitle != ''}" style="font-size:12px;" th:utext="${contentsSubTitle}"></p>
								<div th:if="${comment != null && comment != ''}">
									<h2 style="margin:0;padding:25px 10px 0;font-size:16px;">Comment</h2>
									<div style="padding:10px;font-size:12px;" th:utext="${comment}"></div>
								</div>
								<!-- <p style="font-size:12px;">▶Created : $!before.createdDate / $!before.creator</p> -->
								<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">&nbsp;</th>
										<th style="padding:5px;background:#f0f0f0;">Before Change</th>
										<th style="padding:5px;background:#f0f0f0;">After Change</th>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Project Name</th>
										<td style="padding:5px;" th:utext="${before.prjName}"></td>
										<td style="padding:5px;" th:utext="${after.prjName}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Project Version</th>
										<td style="padding:5px;" th:utext="${before.prjVersion}"></td>
										<td style="padding:5px;" th:utext="${after.prjVersion}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Operating System</th>
										<td style="padding:5px;" th:utext="${before.osType}"></td>
										<td style="padding:5px;" th:utext="${after.osType}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Distribution Type / Network Service Only?</th>
										<td style="padding:5px;" th:utext="|${before.distributionType} / ${before.networkServerType}|"></td>
										<td style="padding:5px;" th:utext="|${after.distributionType} / ${after.networkServerType}|"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Distribution Site</th>
										<td style="padding:5px;" th:utext="${before.distributeTarget}"></td>
										<td style="padding:5px;" th:utext="${after.distributeTarget}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">OSS Notice</th>
										<td style="padding:5px;" th:utext="${before.noticeType}"></td>
										<td style="padding:5px;" th:utext="${after.noticeType}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Priority</th>
										<td style="padding:5px;" th:utext="${before.priority}"></td>
										<td style="padding:5px;" th:utext="${after.priority}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Security Mail</th>
										<td style="padding:5px;" th:utext="${before.secMailYn}"></td>
										<td style="padding:5px;" th:utext="${after.secMailYn}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Reason</th>
										<td style="padding:5px;" th:utext="${before.secMailDesc}"></td>
										<td style="padding:5px;" th:utext="${after.secMailDesc}"></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Model Information</th>
										<td style="padding:5px;">
											<span th:each="modelInfo : ${before.modelListInfo}" th:utext="${modelInfo}"></span><br />
										</td>
										<td style="padding:5px;">
											<span th:each="modelInfo : ${after.modelListInfo}" th:utext="${modelInfo}"></span><br />
										</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Additional Information</th>
										<td style="padding:5px;"><span th:utext="${before.comment}"></span></td>
										<td style="padding:5px;"><span th:utext="${after.comment}"></span></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Last Modified Date / Last Modifier</th>
										<td style="padding:5px;">
											<span th:utext="${before.modifiedDate}"></span> / <span th:utext="${before.modifier}"></span>
										</td>
										<td style="padding:5px;">
											<span th:utext="${after.modifiedDate}"></span> / <span th:utext="${after.modifier}"></span>
										</td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Reviewer</th>
										<td style="padding:5px;"><span th:utext="${before.reviewer}"></span></td>
										<td style="padding:5px;"><span th:utext="${after.reviewer}"></span></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Division</th>
										<td style="padding:5px;"><span th:utext="${before.division}"></span></td>
										<td style="padding:5px;"><span th:utext="${after.division}"></span></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Creator</th>
										<td style="padding:5px;"><span th:utext="${before.creator}"></span></td>
										<td style="padding:5px;"><span th:utext="${after.creator}"></span></td>
									</tr>
									<tr>
										<th align="left" style="padding:5px;background:#f0f0f0;">Watcher</th>
										<td style="padding:5px;">
											<div th:each="watcherInfo : ${before.watcherListInfo}" th:utext="${watcherInfo}"></div>
										</td>
										<td style="padding:5px;">
											<div th:each="watcherInfo : ${after.watcherListInfo}" th:utext="${watcherInfo}"></div>
										</td>
									</tr>
								</table>
								<div style="margin:20px 0;border:1px dashed #666;"></div>
								<div th:with="shortDomain=${#strings.replace(domain, '(http|https)://', '')}" style="font-size:12px;">
									* This mail was sent by <a th:href="${domain}" target="_blank" th:utext="${shortDomain}"></a>
								</div>
							</td>
							<td width="1" style="background:#ddd"></td>
						</tr>
						<tr>
							<td colspan="3" height="1" style="background:#ddd"></td>
						</tr>
					</table>
				</td>
				<td width="60" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
		</table>
</body>
</html>