<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html lang="ko">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<style>
			.marker{background-color: Yellow;}
		</style>
		<title>FOSSLight Hub</title>
	</head>
	<body>
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:'arial,sans-serif'">
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td width="60" style="background:#f9f9f9"></td>
				<td>
					<table cellspacing="0" cellpadding="0" border="0">
						<tr> 
							<td colspan="3" height="25" style="background:#c00c3f">
								<h1 style="margin:0;padding-left:5px;font-size:14px;color:white">FOSSLight Hub Notification</h1>
							</td>
						</tr>
						<tr>
							<td width="1" style="background:#ddd"></td>
							<td style="padding:40px;">
								<div th:if="${contentsTitle}" style="padding-bottom:10px;font-size:16px;font-weight:bold;" th:text="${contentsTitle}"></div>
								<p th:if="${contentsSubTitle}" style="font-size:12px;" th:text="${contentsSubTitle}"></p>

								<th:block th:if="${project_basic_info}">
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<col style="width:40%">
										<col style="width:*">
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">&nbsp;</th>
											<th style="padding:5px;background:#f0f0f0;">Registered Data</th>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Project Name</th>
											<td style="padding:5px;"><span th:text="|(${selfcheck_basic_info.prjId}) ${project_basic_info.prjName}|"></span></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Project Version</th>
											<td style="padding:5px;" th:text="${project_basic_info.prjVersion}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Operating System</th>
											<td style="padding:5px;" th:text="${project_basic_info.osType}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Distribution Type / Network Service Only?</th>
											<td style="padding:5px;" th:text="${project_basic_info.distributionType} / ${project_basic_info.networkServerType}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Distribution Site</th>
											<td style="padding:5px;" th:text="${project_basic_info.distributeTarget}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">OSS Notice</th>
											<td style="padding:5px;" th:text="${project_basic_info.noticeType}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Priority</th>
											<td style="padding:5px;" th:text="${project_basic_info.priority}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Additional Information</th>
											<td style="padding:5px;" th:text="${project_basic_info.comment}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Creator</th>
											<td style="padding:5px;" th:text="${project_basic_info.creator}"></td>
										</tr>
										<th:block th:if="${project_basic_info.reviewer}">
											<tr>
												<th align="left" style="padding:5px;background:#f0f0f0;">Reviewer</th>
												<td style="padding:5px;" th:text="${project_basic_info.reviewer}"></td>
											</tr>
										</th:block>
									</table>
								</th:block>

								<th:block th:if="${selfcheck_basic_info}">
									<table cellspacing="0" cellpadding="0" width="100%" border="1" style="font-size:12px;border-color:#ddd;">
										<col style="width:40%">
										<col style="width:*">
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">&nbsp;</th>
											<th style="padding:5px;background:#f0f0f0;">Registered Data</th>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Self-Check Project Name</th>
											<td style="padding:5px;"><span th:text="|(${selfcheck_basic_info.prjId}) ${selfcheck_basic_info.prjName}|"></span></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Self-Check Project Version</th>
											<td style="padding:5px;" th:text="${selfcheck_basic_info.prjVersion}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Operating System</th>
											<td style="padding:5px;" th:text="${selfcheck_basic_info.osType}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Distribution Type</th>
											<td style="padding:5px;" th:text="${selfcheck_basic_info.distributionType}"></td>
										</tr>
										<tr>
											<th align="left" style="padding:5px;background:#f0f0f0;">Creator</th>
											<td style="padding:5px;" th:text="${selfcheck_basic_info.creator}"></td>
										</tr>
									</table>
								</th:block>

								<div style="margin:20px 0;border:1px dashed #666;"></div>
								<div th:with="shortDomain=${#strings.replace(domain, '(http|https)://', '')}"
									 style="font-size:12px;">
									* This mail was sent by <a th:href="${domain}" target="_blank" th:utext="${shortDomain}"></a>
								</div>
							</td>
							<td width="1" style="background:#ddd"></td>
						</tr>
						<tr>
							<td colspan="3" height="1" style="background:#ddd"></td>
						</tr>
					</table>
				</td>
				<td width="60" style="background:#f9f9f9"></td>
			</tr>
			<tr>
				<td colspan="3" height="28" style="background:#f9f9f9"></td>
			</tr>
		</table>
		
	</body>
</html>