{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^(?![.]/)$", "^[.]/"],
  "importOrderSortSpecifiers": true
}
