<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="changePathPop" class="pop changePathPop">
		<div class="card card-dark custom-layout m-3 p-4">
			<div class="col-12">
				<div class="row">
					<div class="col-md-3">
						<label th:text="'Change Path'"></label>
					</div>
					<div class="col-md-9">
						<div id="verificationFile"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<button type="button" class="btn btn-lg-gray btn-sm width-6rem mr-xm px-3 float-right" style="margin-left: 3px;" id="btnChangePathCancel" th:text="Cancel"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>