<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="sheetSelectPop" style="display: none;">
		<div class="row" style="width: 300px;">
			<div class="col-12">
				<div class="card card-dark p-2" style="background-color: #f5f4f3; margin-top: 1rem;">
        			<div class="row">
    					<div class="col-12">
							<table class="table table-hover text-nowrap sheetTable">
								<thead>
									<tr>
                       					<th class="text-center"></th>
                        				<th class="text-left" th:text="sheetName"></th>
                   					</tr>
								</thead>
								<tbody id="sheetBody"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row custom-layout" style="width: 300px;">
			<div class="col-12">
				<button type="button" class="btn btn-outline-dark btn-sm width-6rem mr-xm px-3 float-right btnCancel" style="margin-left: 3px;" th:text="Cancel" th:onclick="|com_fn.closeAlertifyView()|"></button>
				<button type="button" class="btn btn-dark btn-sm width-6rem px-3 float-right sheetApply" id="sheetApply" th:text="OK" th:onclick="|fn.getSheetData()|"></button>
			</div>
		</div>
	</div>
</body>
</html>