<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headFragment"></th:block>
<th:block th:replace="fragments/script :: scriptFragment"></th:block>
<body id="login_before">
	<!-- Notice -->
	<div class="pops" style="width: 600px;">
	</div>
    <!-- Login -->
	<div id="login" class="loginArea">
		<div class="back">
			<div class="box">
				<fieldset>
					<div>
						<h1><img src="../images/img_login_logo1.png" alt="FOSSLIGHT" /></h1>
						<form name="loginForm" id="loginForm">
							<dl>
								<dt><label for="accountInput">ID</label></dt>
								<dd class="required">
									<input type="text" name="un" placeholder="foss.kim" />
								</dd>
								<dt><label for="passwordInput">Password</label></dt>
								<dd class="required">
									<input type="password" name="up"/>
								</dd>
							</dl>
							<input type="button" value="LOGIN" class="btnlogin" id="btn_login" />
							<span class="joinGo">
								<span class="checkSet"><input type="checkbox" id="saveID" /><label for="saveID">SAVE ID</label></span>
								<span class="options">
									<strong><a class="btnRegist" id="btnRegist">SignUp</a></strong>
									<strong><a class="btnRegist" id="btnResetPwd">Reset Password</a></strong>
								</span>
							</span>
						</form>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	<script>
		
	</script>
	<!-- //Login -->
</body>
</html>
