<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<th:block th:if="${commentListCnt > 0}">
	<th:block th:each="comment, status : ${commentList}">
		<div class="card-body" style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">
			<div class="row">
				<div class="col-md-10">
					<div class="post">
						<div class="row">
							<th:block th:if="${comment.referenceDiv == '10'}">
								<span class="badge badge-orange">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
							</th:block>
							<th:block th:if="${comment.referenceDiv == '12'}">
								<span class="badge badge-success">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
							</th:block>
							<th:block th:if="${comment.referenceDiv == '19'}">
								<span class="badge badge-primary">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
							</th:block>
							<th:block th:if="${comment.referenceDiv == '60'}">
								<span class="badge badge-dark">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
							</th:block>
							<th:block th:unless="${comment.referenceDiv == '10' or comment.referenceDiv == '12' or comment.referenceDiv == '19' or comment.referenceDiv == '60'}">
								<span class="badge badge-ivory">[[${@CoCodeManager.getCodeString(@CommonFunction.getCoConstDefVal('CD_COMMENT_DIVISION'), comment.referenceDiv)}]]<th:block th:if="${comment.expansion1 != null}">([[${comment.expansion1}]])</th:block></span>
							</th:block>
						</div>
						<div class="row">
							<div class="user-block">
								<span class="username"><a href="#" th:text="${comment.creator}"></a></span>
                    			<span class="description ml-0" th:text="${comment.createdDate}"></span>
              				</div>
						</div>
						<div class="col-md-12">
							<p th:utext="${comment.contents}"></p>
						</div>
          			</div>
				</div>
				<div class="col-md-2">
					<div th:if="${comment.creator == comment.loginUserName}" class="btn-group btn-group-sm">
               			<button class="btn btn btn-default" type="button" th:onclick="fn_comment.editComments([[${comment.commId}]], [[${comment.referenceDiv}]], [[${comment.referenceId}]])"><i class="fas fa-pencil-alt"></i></button>
               			<button class="btn btn-lg-red" type="button" th:onclick="fn_comment.deleteComments([[${comment.commId}]])"><i class="fas fa-trash"></i></button>
         			</div>
				</div>
			</div>
      	</div>
	</th:block>
	<th:block th:if="${commentListCnt > 5 and #strings.equals(commentsHistory.moreFlag, 'N')}">
		<div class="card-body" style="padding: .75rem; vertical-align: top; border-top: 1px solid #dee2e6;">
			<div class="row">
				<div class="col-md-12 text-center">
					<button class="btn btn-lg-gray btn-sm width-6rem mr-xm px-3" type="button" th:onclick="fn_comment.getMoreCommentsList()" th:text="'More +'"></button>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
<th:block th:if="${commentListCnt == 0}">
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<strong class="text-lg-gray" th:text="'No comments were registered.'"></strong>
			</div>
		</div>
	</div>
</th:block>
</html>