<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="row" name="info-form">
	<div class="col-11">
       	<div class="p-3">
           	<div class="row">
               	<div class="col-6">
                 	<div class="row">
                      	<div class="col-3">
                          	<span class="text-bold" th:text="#{msg.common.field.project.name}"></span>
                      	</div>
                       	<div class="col-1">
                          	<span class="text-gray text-bold mr-3">|</span>
                     	</div>
                       	<div class="col-7">[[${project.prjName}]]</div>
                    </div>
            	</div>
               	<div class="col-6">
                  	<div class="row">
                       	<div class="col-3">
                           	<span class="text-bold" th:text="Created"></span>
                       	</div>
                       	<div class="col-1">
                          	<span class="text-gray text-bold mr-3">|</span>
                       	</div>
                      	<div class="col-7">    
                          	<span>[[${project.prjUserName}]] [[${project.prjDivisionName}]] ([[${@CommonFunction.formatDateSimple(project.createdDate)}]])</span>
                       	</div>
                	</div>
              	</div>
            </div>
           	<div class="row mt-3">
              	<div class="col-6">
                  	<div class="row">
                       	<div class="col-3">
                          	<span><span class="text-bold" style="padding-right:3px;" th:text="Comment">Comment</span>
                      	</div>
                       	<div class="col-1">
                         	<span class="text-gray text-bold mr-3">|</span>
                     	</div>
                       	<div class="col-7">    
                           	<span>[[${project.comment}]]</span>
                       	</div>
                 	</div>
            	</div>
         	</div>       
       	</div>
   	</div>
   	<div class="col-1 text-center mt-3">
      	<button class="btn btn-dark-01 btn-sm px-3" th:onclick="fn_self.modeChange([[${project.prjId}]], 'e')" th:text="Edit"></button>
 	</div>
</div>
</html>