<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="selfCheck/edit-header :: headerFragment"></th:block>
<th:block th:replace="fragments/gridCommonFn :: gridCommonFn"></th:block>
<th:block th:replace="selfCheck/edit-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper custom-layout">
            <section class="content-header">
                <div class="container-fluid">
                	<div class="card card-outline card-dark p-2" style="background-color: #f5f4f3;">
                        <div class="card-body p-1">
                            <div class="card">
                            	<div id="divViewMode"></div>
                            	<div id="divEditMode">
                            		<form name="projectForm" id="projectForm" method="post">
                            		<input type="hidden" name="prjId" />
									<input type="hidden" name="prjModelJson" />
									<input type="hidden" name="comment" />
									<input type="hidden" name="deleteMemo" id="deleteMemo" />
                                		<div class="row" name="info-form">
                                    		<div class="col-12">
                                        		<div class="p-3 mt-1">
                                            		<div class="form-group">
                                                		<label for="prjName" th:text="'Project Name'"><span class="text-orange">*</span></label>
                                                		<input type="text" id="prjName" name="prjName" class="form-control">
                                            		</div>
                                            		<div class="form-group">
                                                		<label for="prjVersion" th:text="#{msg.common.field.version}"></label>
                                                		<input type="text" id="prjVersion" name="prjVersion" class="form-control">
                                            		</div>
                                            		<div class="form-group">
                                                		<label for="inputName" th:text="#{msg.common.field.comment}"></label>
                                                		<textarea id="commentTextArea" class="form-control" rows="3" th:text="${project.comment}"></textarea>
                                            		</div>
                                        		</div>
                                    		</div>
                               			</div>
                                	</form>
                                	<div class="row">
                                		<div class="col-12" style="padding:0 1.75rem 1rem 1rem;">
                                			<div class="row float-right">
                                				<button th:if="${project.prjId != null}" type="button" class="btn btn-lg-gray btn-sm width-6rem mr-xm px-3" id="cancel" th:text="Cancel"></button>
                                        		<button type="button" class="btn btn-teal-01 btn-sm width-6rem px-3" id="save" th:text="save"></button>
                                			</div>
                                		</div>
                                	</div>
                                </div>
                            </div>
        
                            <div class="card mb-0">
                                <div class="card-header" style="border-bottom: none">
                                    <label class="mb-0" th:text="#{msg.common.field.watcher}"></label>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-4">
                                            <select class="form-control select2" style="width: 100%;" th:id="prjDivision" th:name="prjDivision" th:onchange="|fn.selectDivision()|">
                                                <option th:value="''" th:text="'Select Division'"></option>
                                                <th:block th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_USER_DIVISION'))}">
                                                    <option th:value="${option.cdDtlNo}" th:text="${option.cdDtlNm}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="col-7">
                                            <select class="form-control select2" style="width: 100%;" th:id="prjUserId" th:name="prjUserId">
                                                <option th:value="''" th:text="'Select User'"></option>
                                            </select>
                                        </div>
                                        <div class="col-1">
                                            <button id="addWatcher" type="button" class="btn btn-default" th:text="Add"></button>
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-4">
                                            <input type="text" class="form-control" id="adId" name="adId" placeholder="Input AD ID" th:onKeypress="|fn.CheckChar()|"/>
                                        </div>
                                        <div class="col-7" th:with="useDomainFlag=${(@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_REGIST_DOMAIN')) != null
                                        												&& #lists.size(@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_REGIST_DOMAIN'))) > 0) ? true : false}">
                                            <th:block th:if="${useDomainFlag}">
                                                <select class="form-control select2" id="domain" name="domain" style="width: 100%;">
                                                    <th:block th:each="option : ${@CoCodeManager.getCodeDtls(@CommonFunction.getCoConstDefVal('CD_REGIST_DOMAIN'))}">
                                                        <th:block th:if="${#strings.contains(option.cdDtlNm, '직접입력')}">
                                                            <option th:value="${option.cdDtlNo}" th:text="${option.cdDtlNm}"></option>
                                                        </th:block>
                                                        <th:block th:if="${!#strings.contains(option.cdDtlNm, '직접입력')}">
                                                            <option th:value="${option.cdDtlNo}" th:text="|@${option.cdDtlNm}|"></option>
                                                        </th:block>
                                                    </th:block>
                                                </select>
                                                <input type="text" id="emailTemp" name="emailTemp" class="form-control" style="display:none;"
                                                       th:value="${@CoCodeManager.getCodeExpString(@CommonFunction.getCoConstDefVal('CD_REGIST_DOMAIN'), @CommonFunction.getCoConstDefVal('CD_DTL_DEFAULT_DOMAIN'))}"/>
                                            </th:block>
                                            <th:block th:if="${!useDomainFlag}">
                                                <input class="form-control" type="text" id="emailTemp" name="emailTemp" placeholder="Input your Email Domain" th:onKeypress="|fn.CheckChar()|">
                                            </th:block>
                                        </div>
                                        <div class="col-1">
                                            <button id="addEmail" type="button" class="btn btn btn-default" th:text="'Add'"></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <select class="form-control select2" id="listKind" style="width: 100%;">
                                                <option th:value="''" th:text="'Select List'"></option>
                                                <option th:value="prj" th:text="'Project List'"></option>
                                                <option th:if="${partnerFlag}" th:value="par" th:text="'3rd Party List'"></option>
                                                <option th:if="${batFlag}" th:value="bat" th:text="'BAT List'" ></option>
                                            </select>
                                        </div>
                                        <div class="col-7">
                                            <input type="text" class="form-control" id="listId" name="listId" placeholder="Input ID you want to copy">
                                        </div>
                                        <div class="col-1">
                                            <button id="addList" type="button" class="btn btn-default" th:text="Add"></button>
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <div id="multiDiv" class="external-events pl-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content" th:if="${project.prjId != null}">
                <div class="container-fluid">
                    <div class="card card-dark card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="menu-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link main active" id="tabMenuOssList" data-toggle="pill" href="#menu-selfCheck" role="tab" aria-controls="menu-packaging" aria-selected="true" th:text="'OSS List'"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link main" id="tabMenuNotice" data-toggle="tab" href="#menu-notice" role="tab" aria-controls="notice" aria-selected="false" th:text="Notice"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                <div class="tab-pane active" id="menu-selfCheck" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-4">
                                                    <div class="icheck-secondary d-inline">
                                                        <input class="a1" type="radio" id="srcR1" name="srcSelectOption" value="1" th:onchange="fn.changeSelectOption(this)" th:checked="true">
                                                        <label for="srcR1" th:text="'Upload Analysis Result'"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="icheck-secondary d-inline">
                                                        <input class="a1" type="radio" id="2" name="srcSelectOption" value="2" th:onchange="fn.changeSelectOption(this)">
                                                        <label for="2" th:text="URL"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-3">
                                    <div id="content_bat">
                                        <div name="inputArea" id="inputAreaUpload" class="uploadSet" style="height: 100px;">
                                            <div class="row">
                                                <div class="col-md-2 pl-3 mt-1">
                                                    <p class="text-blue-gray" th:text="'Please select a file to upload'"></strong>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-1"></div>
                                                        <div class="col-11" style="display: flex;">
                                                            <div class="fileuploader" id="srcCsvFile" th:text="Upload"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                	<div class="ajax-file-upload-container" style="margin-top:0px; width:100%;">
                                                		<ul class="csvFileArea">
                                                			<th:block th:if="${project.csvFile != null}">
                                                        		<th:block th:each="csvFile : ${project.csvFile}">
                                                            		<li th:if="${csvFile.delYn eq 'N'}">
                                                                		<a class="ajax-file-upload-filename" th:text="${csvFile.origNm}" th:href="@{'/download/' + ${csvFile.fileSeq} + '/' + ${csvFile.logiNm}}"></a>
                                                                        	<input type="hidden" value="${csvFile.fileSeq}"/>
                                                                        	<span class="badge bg-danger" style="cursor:pointer;" th:onclick="|src_fn.deleteCsv(this, '1')|" th:text="X"></span>
                                                                        	<br>[[${csvFile.createdDate}]]
                                                               		</li>
                                                          		</th:block>
                                                     		</th:block>
                                                     	</ul>
                                                	</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div name="inputArea" id="wgetUrl_" class="wgetUrl" style="display: none;height: 100px;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                	<div class="row">
                                                		<p class="text-blue-gray" style="padding:0 0 0 1rem;" th:text="'Enter the link of the source to be analyzed'"></p>
                                                	</div>
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div class="input-group input-group-md">
                                                                <input type="text" class="form-control" id="sendWgetUrl" name="sendWgetUrl">
                                                                <span class="input-group-append">
                                                                    <button type="button" class="btn btn-primary btn-flat" th:onclick="|src_fn.uploadOSSByUrl()|" th:text="send"></button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="tab-pane fade" id="menu-notice" role="tabpanel" aria-labelledby="cnotice-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="icheck-primary my-3">
                                                <input type="radio" name="btnEditOssNotice" id="r1" th:checked="true" th:value="N"/>
                                                <label for="r1" th:text="'Request to generate a default OSS Notice. (Select this in most cases.)'"></label>
                                            </div>
                                            <div class="icheck-primary my-3">
                                                <input type="radio" name="btnEditOssNotice" id="r2" th:value="Y"/>
                                                <label for="r2" th:text="'Request to generate a modified OSS Notice. (Select this only in exceptional cases.)'"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-widget bg-ivory mt-1">
                                        <form id="noticeForm">
                                        <input type="hidden" id="editNoticeYn" name="editNoticeYn" th:value="${ossNotice.editNoticeYn}"/>
										<input type="hidden" id="editCompanyYn" name="editCompanyYn" th:value="${ossNotice.editCompanyYn}"/>
										<input type="hidden" id="editDistributionSiteUrlYn" name="editDistributionSiteUrlYn" th:value="${ossNotice.editDistributionSiteUrlYn}"/>
										<input type="hidden" id="editEmailYn" name="editEmailYn" th:value="${ossNotice.editEmailYn}"/>
										<input type="hidden" id="hideOssVersionYn" name="hideOssVersionYn" th:value="${ossNotice.hideOssVersionYn}"/>
										<input type="hidden" id="editAppendedYn" name="editAppendedYn" th:value="${ossNotice.editAppendedYn}"/>
										<input type="hidden" name="prjId" th:value="${project.prjId}"/>
										<input type="hidden" id="useCustomNoticeYn" name="useCustomNoticeYn" th:value="${project.useCustomNoticeYn}"/>
										<input type="hidden" id="noticeHtml" name="noticeHtml" th:value="''"/>
										<input type="hidden" name="noticeType" th:value="${project.noticeType}" />
										<input type="hidden" name="packageJson"/>
										<input type="hidden" name="packageFileId" id="packageFileId"/>
										<input type="hidden" name="userComment" />
										<input type="hidden" name="withoutVerifyYn" th:value="${project.withoutVerifyYn}"/>
										<input type="hidden" name="ignoreBinaryDbFlag" value=""/>
										<input type="hidden" id="appended" name="appended" value="" />
										<input type="hidden" id="appendedTEXT" name="appendedTEXT" value="" />
										<!-- 다운로드 허용 플래그 -->
										<input type="hidden" id="allowDownloadNoticeHTMLYn" name="allowDownloadNoticeHTMLYn" th:value="${project.allowDownloadNoticeHTMLYn}" />
										<input type="hidden" id="allowDownloadNoticeTextYn" name="allowDownloadNoticeTextYn" th:value="${project.allowDownloadNoticeTextYn}" />
										<input type="hidden" id="allowDownloadSimpleHTMLYn" name="allowDownloadSimpleHTMLYn" th:value="${project.allowDownloadSimpleHTMLYn}" />
										<input type="hidden" id="allowDownloadSimpleTextYn" name="allowDownloadSimpleTextYn" th:value="${project.allowDownloadSimpleTextYn}" />
										<input type="hidden" id="allowDownloadSPDXSheetYn" name="allowDownloadSPDXSheetYn" th:value="${project.allowDownloadSPDXSheetYn}" />
										<input type="hidden" id="allowDownloadSPDXRdfYn" name="allowDownloadSPDXRdfYn" th:value="${project.allowDownloadSPDXRdfYn}" />
										<input type="hidden" id="allowDownloadSPDXTagYn" name="allowDownloadSPDXTagYn" th:value="${project.allowDownloadSPDXTagYn}" />
										<input type="hidden" id="allowDownloadSPDXJsonYn" name="allowDownloadSPDXJsonYn" th:value="${project.allowDownloadSPDXJsonYn}" />
										<input type="hidden" id="allowDownloadSPDXYamlYn" name="allowDownloadSPDXYamlYn" th:value="${project.allowDownloadSPDXYamlYn}" />
										<input type="hidden" id="isSimpleNotice" name="isSimpleNotice">
										<input type="hidden" name="previewOnly" id="previewOnly" th:value="N"/>
										
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" id="companyName" th:value="${ossNotice.editCompanyYn}" checked>
                                                        <label for="companyName" class="custom-control-label" th:text="'Company Name'"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="editCompanyName" name="companyNameFull" disabled>
                                                </div>

                                                <div class="col-md-4 text-lg-gray text-bold">
                                                    <p class="mb-0" style="font-size: .8rem;" th:text="'* Deselect if the company name must be removed.'"></p>
                                                </div>
                                            </div>   
                                            <div class="row mt-3">
                                                <div class="col-md-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" id="ossDistributionSite" th:value="${ossNotice.editDistributionSiteUrlYn}" checked>
                                                        <label for="ossDistributionSite" class="custom-control-label" th:text="'OSS Distribution Site'"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="editOssDistributionSite" name="distributionSiteUrl" disabled>
                                                </div>
                                                <div class="col-md-4 text-lg-gray text-bold">
                                                    <p class="mb-0" style="font-size: .8rem;" th:text="'* Deselect if both OSS Package and OSS Notice are not registered on the OSS Distribution site.'"></p>
                                                </div>
                                            </div> 
                                            <div class="row mt-3">
                                                <div class="col-md-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" id="email" th:value="${ossNotice.editEmailYn}">
                                                        <label for="email" class="custom-control-label" th:text="'Email (Written Offer)'"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="editEmail" name="email" disabled>
                                                </div>
                                                <div class="col-md-4 text-lg-gray text-bold">
                                                    <p class="mb-0" style="font-size: .8rem;" th:text="'* Deselect if the written offer is not required(OSS Package is delivered directly to the recipient).'"></p>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" id="hideOssVersion" th:value="${ossNotice.hideOssVersionYn}">
                                                        <label for="hideOssVersion" class="custom-control-label" th:text="'Hide OSS Version'"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-lg-gray text-bold">
                                                    <p style="font-size: .8rem;" th:text="'* Select if all OSS version information must be removed.'"></p>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" id="append" th:value="${ossNotice.editAppendedYn}">
                                                        <label for="append" class="custom-control-label" th:text="Append"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-lg-gray text-bold">
                                                    <p style="font-size: .8rem;" th:text="'* Select if there is something to add to the OSS Notice.'"></p>
                                                    <div id ="editAppend">
                                                    	<textarea id="editor2" row="3" th:utext="${ossNotice.appended}"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="card card-widget bg-ivory mt-1">
                                    	<div class="card-body">
                                    		<div class="row mt-12">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-1 mx-0">
                                                            <button type="button" id="noticePreview" class="btn btn-block btn-default btn-xm ml-0 mr-1" th:text="Preview"></button>
                                                        </div>
                                                        <div class="col-md-2 mx-0">
                                                            <select class="custom-select rounded-0" id="docType" name="docType">
                                                                <option th:value="noticeDownload" th:text="'Default (html)'"></option>
                                                                <option th:if="${@CoCodeManager.getCodeExpString(@CommonFunction.getCoConstDefVal('CD_NOTICE_INFO'), @CommonFunction.getCoConstDefVal('CD_DTL_NOTICE_TEXT')) == 'Y'}" 
                                                                		value="noticeTextDownload" th:text="'Default (text)'"></option>
                                                                <option value="noticeSimpleDownload" th:text="'Simple (html)'"></option>
                                                                <option th:if="${@CoCodeManager.getCodeExpString(@CommonFunction.getCoConstDefVal('CD_NOTICE_INFO'), @CommonFunction.getCoConstDefVal('CD_DTL_NOTICE_TEXT')) == 'Y'}" 
                                                                		value="noticeTextSimpleDownload" th:text="'Simple (text)'"></option>
                                                            <th:block th:if="${@CoCodeManager.getCodeExpString(@CommonFunction.getCoConstDefVal('CD_NOTICE_INFO'), @CommonFunction.getCoConstDefVal('CD_DTL_NOTICE_SPDX')) == 'Y'}">
                                                               	<option value="spdxSpreadSheet" th:text="'SPDX (spreadsheet)'"></option>
                                                                <option value="spdxRdf" th:text="'SPDX (RDF)'"></option>
																<option value="spdxTag" th:text="'SPDX (TAG)'"></option>
																<option value="spdxJson" th:text="'SPDX (JSON)'"></option>
																<option value="spdxYaml" th:text="'SPDX (YAML)'"></option>
                                                     		</th:block>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1 mx-0">
                                                            <button type="button" id="packageDocDownload" class="btn btn-block btn-default btn-xm ml-0 mr-1" th:text="download"></button>
                                                        </div>
                                                        <div class="col-md-2" th:if="${isProgOrConfStat}">
                                                            <div class="form-check float-right mt-1">
                                                                <input type="checkbox" class="form-check-input" id="chkUseCustomNotice" th:checked="${project.useCustomNoticeYn == 'Y'} ? 'checked'">
                                                                <label class="form-check-label" for="chkUseCustomNotice" th:text="'Use the html editor'"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1" th:if="${isProgOrConfStat}">
                                                            <button type="button" id="noticeEditor" class="btn btn-block btn-default btn-xm" th:text="Edit" th:disabled="${project.useCustomNoticeYn != 'Y'} ? 'disabled'"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div name="gridArea" id="gridAreaOssList">
                        <div class="row my-3">
                            <div class="col-md-12">
                            	<div class="row float-left">
                            		<button type="button" id="delete" class="btn btn-lg-gray btn-sm width-6rem mr-xm px-3" th:text="Delete"></button>
                            	</div>
                                <div class="row float-right">
                                	<div id="ExportContainer" class="inblock" style="vertical-align:top; position: relative;">
                                		<button type="button" id="Export" class="btn btn-yellow-04 btn-sm width-6rem mr-xm px-3" th:text="Export" th:onclick="|fn.exportList()|"></button>
                                		<div id="ExportList" class="w200 tright" style="display: none; position: absolute; z-index: 1; right: 0;" th:onclick="|fn.selectDownloadFile()|">
											<a id="report_sub" style="display: block;" th:text="'FOSSLight Report (Spreadsheet)'"></a>
											<a id="YAML" style="display: block;" th:text="'FOSSLight Report (YAML)'"></a>
											<a id="Spreadsheet_sub" style="display: block;" th:text="'SPDX (Spreadsheet)'"></a>
											<a id="RDF_sub" style="display: block;" th:text="'SPDX (RDF)'"></a>
											<a id="TAG_sub" style="display: block;" th:text="'SPDX (TAG)'"></a>
											<a id="JSON_sub" style="display: block;" th:text="'SPDX (JSON)'"></a>
											<a id="YAML_sub" style="display: block;" th:text="'SPDX (YAML)'"></a>
										</div>
                                	</div>
                                    <button type="button" class="btn btn-yellow-04 btn-sm width-7rem mr-xm px-3" th:onclick="fn.bulkEdit()" th:text="'Bulk Edit'"></button>
                                    <button type="button" class="btn btn-yellow-04 btn-sm width-9rem mr-xm px-3" th:onclick="src_fn.CheckOssViewPage()" th:text="'Check OSS Name'"></button>
                                    <button type="button" class="btn btn-yellow-04 btn-sm width-8rem mr-xm px-3" th:onclick="src_fn.CheckOssLicenseViewPage()" th:text="'Check License'"></button>
                                    <button type="button" id="srcResetUp" class="btn btn-lg-gray btn-sm width-6rem mr-xm px-3" th:text="Reset"></button>
                                    <button type="button" id="srcSaveUp" class="btn btn-yellow-04 btn-sm width-6rem mr-xm px-3" th:text="Save"></button>
                                </div>
                            </div>
    
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-12 outerJqGridSet">
                                    <table id="srcList"><tr><td></td></tr></table>
                                    <div id="srcPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <th:block th:replace="selfCheck/view/sheetSelectView"></th:block>
</body>
</html>