<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="selfCheck/list-header :: headerFragment"></th:block>
<th:block th:replace="selfCheck/list-script :: contentScript"></th:block>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper custom-layout bg-white">
			<section class="content-header"></section>
			<section class="content">
                <div class="container-fluid">
                	<form id="projectSearch" name="projectSearch">
                		<input name="act" type="hidden" value="search"/>
                    	<div class="row">
                        	<div class="col-md-12">
                            	<div class="card card-dark card-outline collapsed-card search-form mb-3">
                                	<!-- <div class="card collapsed-card search-form"> -->
                                	<div class="card-header" style="border-bottom: none;">
                                        <div class="row">
											<div class="col-md-7 d-flex">
												<div class="input-group" style="width: 100%">
													<input type="search" class="form-control" name="prjName" placeholder="Project Name" th:value="${searchBean?.prjName}"/>
													<div class="input-group-append">
														<button id="search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
													</div>
												</div>
											</div>
											<div class="col-md-3 d-flex justify-content-start pl-3" style="z-index: 1021">
                                                <div class="input-group-append d-flex align-items-center">
                                                    <a class="text-blue-gray" data-card-widget="collapse" title="Collapse" style="font-size: 1rem;" th:text="'+ Advanced Search'"></a>
                                                </div>
											</div>
											<div class="col-md-2">
												<div class="btn-group float-right mt-1">
													<button type="button" class="btn btn-outline-danger px-3 btn-sm helpBtnL"><strong>Help</strong></button>
													<button type="button" class="btn btn-outline-danger btn-sm dropdown-toggle dropdown-icon helpBtnR" data-toggle="dropdown">
														<span class="sr-only">Toggle Dropdown</span>
													</button>
													<div class="dropdown-menu" role="menu">
														<a class="dropdown-item" href="#" th:onclick="|openHelpGuideLink('License_List_Main')|">How to use FossLight Hub</a>
													</div>
												</div>
											</div>
                                        </div>
                                	</div>
                                	<div class="card-body py-1">
                                		<div class="row">
                                    		<div class="col-4">
                                        		<div class="form-group">
													<input type="text" name="prjId" class="form-control" placeholder="ID" th:value="${searchBean?.prjId}"/>
                                            	</div>
                                      		</div>
                                        	<div class="col-4">
                                        		<div class="form-group">
                                            		<div class="form-group">
                                                		<input type="text" class="form-control autoComOss" name="ossName" placeholder="OSS Name" th:value="${searchBean?.ossName}"/>
                                            		</div>
                                         		</div>
                                  	 		</div>
                                       		<div class="col-4">
                                          		<div class="form-group">
                                             		<div class="input-group" style="width: 100%;">
                                               			<div class="input-group-prepend">
															<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
														</div>
                                                    	<input type="text" class="form-control" name="schDate" placeholder="Created Date" id="schDateRange"/>
                                                    	<input type="hidden" name="schStartDate"/>
                                                    	<input type="hidden" name="schEndDate"/>
                                               		</div>
                                           		</div>
                                      		</div>
                                      		<div class="col-4">
                                          		<div class="form-group">
                                              		<div class="form-group">
                                                   		<input type="text" name="licenseName" class="form-control autoComLicense" placeholder="License Name" th:value="${searchBean?.licenseName}"/>
                                               		</div>
                                           		</div>
                                       		</div>
                                       		<div class="col-4">
                                           		<div class="form-group">
                                              		<div class="form-group">
                                                  		<input type="text" class="form-control autoComCreatorDivision" name="creator" placeholder="Creator" th:value="${searchBean?.creator}"/>
                                               		</div>
                                          		</div>
                                      		</div>
                                   		</div>
                                	</div>
                            	</div>
                        	</div>
                    	</div>
					</form>
                    <div class="row px-1">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="row float-right">
                              	<button type="button" class="btn btn-lg-light-gray btn-sm width-6rem mr-xm px-3" th:onclick="|fn.downloadExcel()|"><i class="far fa-file-excel mr-2"></i>Export</button>
                               <button type="button" class="btn btn-lg-teal btn-sm width-6rem mr-xm px-3" th:onclick="|createTabInFrame('New_SelfCheck', '/selfCheck/edit')|" th:text="Add"></button>
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-12 mt-3">
                        	<div class="jqGridSet" id="selfCheckJqgridSet">
                            	<table id="list"><tr><td></td></tr></table>
                            	<div id="pager"></div>
                        	</div>
						</div>
                    </div>
                </div>
                
                <th:block th:replace="fragments/common-fragments :: loadingWrapFragment"></th:block>
            </section>
        </div>
    </div>
</body>

</html>