<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="contentScript">
<script th:inline="javascript">
//<![CDATA[
/*global $ */
/*jslint browser: true, nomen: true */
var lastsel;
var userList;
var userIdList;
var totalRow = 0;
var refreshParam = {};
const G_ROW_CNT = [[${@CoCodeManager.getCodeExpString(@CommonFunction.getCoConstDefVal('CD_EXCEL_DOWNLOAD'), @CommonFunction.getCoConstDefVal('CD_MAX_ROW_COUNT'))}]];

$(document).ready(function () {
	'use strict';
	setMaxRowCnt(G_ROW_CNT);
	evt.init();
	fn.getUserIdList();
	showHelpLink("Self-Check_List_Main");
});

//데이터 객체
var gridTooltip = {
	typeCodes : [],
    tooltipCont : "<div class=\"tooltipData\">"
	               +"<dl><dt><span class=\"downSet btnReport\">FOSSLight Report</span>FOSSLight Report</dt></dl><br>"
	               +"<dl><dt><span class=\"downSet btnNotice\">OSS Notice</span>OSS Notice</dt></dl><br>"
	               +"<dl><dt><span class=\"downSet btnPackage\">Packaging File</span>Packaging File</dt></dl><br>"
	               +"</div>",
	existTooltip : false,
	init : function(){
		list.load();	// Grid Load
	}
	
};	

//OSS 쪽에서 프로젝트 검색을 위한 데이터
var evt = {
	init : function(){
		refreshParam = $('#projectSearch').serializeObject();
		if($('#checkbox3').is(':checked')) {
			refreshParam.publicYn = 'N';
		} else {
			refreshParam.publicYn = 'Y';
		}
		
		$('select[name=distributionType]').val('${searchBean.distributionType}').trigger('change');
		$('select[name=prjDivision]').val('${searchBean.prjDivision}').trigger('change');
		
		$('#search').on('click',function(e){
			e.preventDefault();
			
			var exPostdata = $("#list").jqGrid('getGridParam','postData');
			exPostdata.ossId = ''; 
			var postData=$('#projectSearch').serializeObject();
			if($('#checkbox3').is(':checked')) {
				postData.publicYn = 'N';
			} else {
				postData.publicYn = 'Y';
			}
			$("#list").jqGrid('setGridParam', {postData:postData, page : 1}).trigger('reloadGrid');
		});

        var startDate = String([[${searchBean?.schStartDate}]]);
        var endDate = String([[${searchBean?.schEndDate}]]);

        if (startDate && startDate != 'null' && endDate && endDate != 'null') {
            var formattedStartDate = moment(startDate, 'YYYYMMDD').format('MM/DD/YYYY');
            var formattedEndDate = moment(endDate, 'YYYYMMDD').format('MM/DD/YYYY');
            $("#schDateRange").val(formattedStartDate + ' - ' + formattedEndDate);
        }
		
		$("#schDateRange").daterangepicker({
            autoUpdateInput: false
        }).on('apply.daterangepicker', function(ev, picker) {
		    $("input[name='schStartDate']").val(picker.startDate.format('YYYYMMDD'));
		    $("input[name='schEndDate']").val(picker.endDate.format('YYYYMMDD'));
		    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
		})
		.on('cancel.daterangepicker', function(ev, picker) {
			$("#schDateRange").val("");
			$("input[name='schStartDate']").val("");
		    $("input[name='schEndDate']").val("");
		    $('#schDateRange').attr('placeholder', 'Created Date');
		});
	}
}


var fn = {
	getUserIdList : function(){
		return $.ajax({
			type: 'GET',
			url: '/project/getUserIdList',
			data: {},
			success : function(data){
				if(data != null){
					userIdList = data.slice(0,-1);
					gridTooltip.init();
				}
			}
		});
	},
	// unformater
	unformatter : function(cellvalue, options, rowObject){
		return cellvalue;
	},
	// Grid download cell display
	displayReportDownload : function(cellvalue, options, rowObject){
		var display = "";

		if(rowObject.ossCount) {
			if(parseInt(rowObject.ossCount) > 0) {
				display = "<span style=\"cursor:pointer;\" onclick=\"fn.downloadReport(this)\"><i class=\"far fa-file-excel fa-lg ml-1\" title=\"FOSSLight Report\"></i></span>";
			}
		}
		
		return display;
	},
	// Grid vulnerability cell display
	displayVulnerability : function(cellvalue, options, rowObject){
		var display = "";

		if (parseInt(cellvalue) >= 9.0 ) {
			display = "<span class=\"badge badge-dark\" title=\"" + cellvalue + "\" style=\"cursor: pointer;\" onclick=\"openNVD('"+ rowObject.cveId +"')\">CRITICAL</span>";
		} else if (parseInt(cellvalue) >= 7.0 ) {
			display = "<span class=\"badge badge-danger\" title=\"" + cellvalue + "\" style=\"cursor: pointer;\" onclick=\"openNVD('"+ rowObject.cveId +"')\">HIGH</span>";
		} else if (parseInt(cellvalue) >= 4.0) {
			display = "<span class=\"badge badge-orange\" title=\"" + cellvalue + "\" style=\"cursor: pointer;\" onclick=\"openNVD('"+ rowObject.cveId +"')\">MEDIUM</span>";
		} else if (parseInt(cellvalue) > 0) {
			display = "<span class=\"badge badge-warning\" title=\"" + cellvalue + "\" style=\"cursor: pointer;\" onclick=\"openNVD('"+ rowObject.cveId +"')\">LOW</span>";
		} else {
			display = "<span style=\"font-size:0;\"></span>";
		}
		
		return display;
	},
	displayComment : function(cellvalue, options, rowObject){
		var display = "";
		
		if(cellvalue != ""){
			var tmpStr = new RegExp();
			tmpStr = /[<][^>]*[>]/gi;
			
			display ="<div style=\"height : 29px; overflow: hidden;\">"+cellvalue.replace(tmpStr , "")+"</div>";
		}
		
		return display;
	},
	downloadExcel : function(){
		if(isMaximumRowCheck(totalRow)){
			var data = JSON.stringify($('#projectSearch').serializeObject());
		
			$.ajax({
				type: "POST",
				url: '/exceldownload/getExcelPost',
				data: JSON.stringify({"type" : "selfCheckList", "parameter" : data}),
				dataType : 'json',
				cache : false,
				contentType : 'application/json',
				success: function (data) {
					if("false" == data.isValid) {
						alertify.error([[#{msg.common.valid2}]], 0);
					} else {
						window.location =  '/exceldownload/getFile?id='+data.validMsg;
					}
				},
				error: function(data){
					alertify.error([[#{msg.common.valid2}]], 0);
				}
			});
		}
	},
	downloadReport : function(obj){
		var prjId = $(obj).closest('tr').attr('id');
		
		$.ajax({
			type: "POST",
			url: '/exceldownload/getExcelPost',
			data: JSON.stringify({"type":"selfReport", "parameter":prjId}),
			dataType : 'json',
			cache : false,
			contentType : 'application/json',
			success: function (data) {
				if("false" == data.isValid) {
					alertify.error([[#{msg.common.valid2}]], 0);
				} else {
					window.location = '/exceldownload/getFile?id='+data.validMsg;
				}
			},
			error: function(data){
				alertify.error([[#{msg.common.valid2}]], 0);
			}
		});
	},
	displayProjectInfo : function(cellvalue, options, rowObject){
		var prjName = rowObject['prjName'];
		var prjVersion = rowObject['prjVersion']||'';
		
		if(prjVersion != ''){
			prjName += ' (' + prjVersion + ')';
		}
		
		return prjName;
	}
}

// jqGrid
var list = {
	load : function(){
		var rowStr = [[${@CommonFunction.getCoConstDefVal('DISP_PAGENATION_LIST_STR')}]];
		var rowList = rowStr.split(",");
		var rowNum = [[${@CommonFunction.getCoConstDefVal("DISP_PAGENATION_DEFAULT")}]];
		
		var colNameArr = ['ID', 'Project Name (Version)', 'Version', 'Operating System', 'Distribution Type', 'Download', '', 'Vulnerability', 'Division', 'Creator', 'Created Date', 'oss count'];
		var colModelArr = [];
		var colModelObj = {name: 'prjId', index: 'prjId', width: 50, align: 'center', sorttype: 'int'};
		colModelArr.push(colModelObj);
		colModelObj = {name: 'prjName', index: 'prjName', width: 300, align: 'left', formatter:fn.displayProjectInfo, unformatter:fn.unformatter};
		colModelArr.push(colModelObj);
		colModelObj = {name: 'prjVersion', index: 'prjVersion', width: 50, align: 'left',hidden:true};
		colModelArr.push(colModelObj);
		colModelObj = {name: 'osType', index: 'osTypeEtc', width: 100, align: 'left', sortable : true/* , formatter:fn.displayOsType */, hidden:true};
		colModelArr.push(colModelObj);
		colModelObj = {name: 'distributionType', index: 'destributionName', width: 100, align: 'left', sortable : true};
		if ([[${!distributionFlag}]]) {
			colModelObj["hidden"] = true;
		}
		colModelArr.push(colModelObj);
		colModelObj = {name: 'download', index: 'download', width: 50, align: 'center', formatter:fn.displayReportDownload, unformatter:fn.unformatter, sortable : false, title:false};
		colModelArr.push(colModelObj);
		colModelObj = {name: 'cveId', index: 'cveId', hidden:true};
		colModelArr.push(colModelObj);
		colModelObj = {name: 'cvssScore', index: 'cvssScore', width: 50, align: 'center', formatter:fn.displayVulnerability, unformatter:fn.unformatter, sortable : true};
		colModelArr.push(colModelObj);
		colModelObj = {name: 'division', index: 'division', width: 70, align: 'left', sortable : true};
		colModelArr.push(colModelObj);
		colModelObj = {name: 'creator', index: 'creator', width: 70, align: 'left'}
		colModelArr.push(colModelObj);
		colModelObj = {name: 'createdDate', index: 'createdDate', width: 80, align: 'center', formatter:'date', formatoptions: {srcformat: 'Y-m-d H:i:s.t', newformat: 'Y-m-d'}};
		colModelArr.push(colModelObj);
		colModelObj = {name: 'ossCount', index: 'ossCount', width: 50, align: 'left',hidden:true};
		colModelArr.push(colModelObj);
		
		$("#list").jqGrid({
			url:'/selfCheck/listAjax',
			datatype: 'json',
			jsonReader:{
				repeatitems: false,
				id:'prjId',
				root:function(obj){return obj.rows;},
				page:function(obj){return obj.page;},
				total:function(obj){return obj.total;},
				records:function(obj){return obj.records;}
			},
			colNames: colNameArr,
			colModel: colModelArr,
			rowNum: rowNum,
			rowList: rowList,
			editurl:'clientArray',
 			autowidth: true,
			pager: '#pager',
			gridview: true,
			sortable: function (permutation) {
			},
			sortname: 'prjId',
			viewrecords: true,
			sortorder: 'desc',
			height: 'auto',
			loadonce:false,
			loadComplete:function(data) {
				totalRow = data.records;
				lastsel=-1;
				
				// color 설정
				var target = $("#list");
				var arr = target.jqGrid('getDataIDs');
				var selectEl = "";
				var status ="";
				var rowid;
				
				$('input[id*="_releaseDate"]').attr('class', 'cal');

				if(totalRow == 0){
					var startDate = $("#schStartDate").val()||0;
					var endDate = $("#schEndDate").val()||0;
					var diffNum = +startDate - +endDate;
					
					if(diffNum > 0 && endDate > 0){
						alertify.alert([[#{msg.common.search.check.date}]], function(){});
					}
				}
				
				tableRefreshNew("list");
			},
			onCellSelect: function(rowid,iCol,cellcontent,e) {},
			ondblClickRow: function(rowid,iRow,iCol,e) {
				var rowData = $("#list").jqGrid('getRowData',rowid);
				var isAdmin = [[${@CommonFunction.isAdmin()}]];
				
				createTabInFrame(rowData['prjId']+'_selfCheck', '/selfCheck/edit/'+rowData['prjId']);
			},
			postData : refreshParam
		});
	}
};
//]]>
</script>
</th:block>