<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="headerFragment">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FOSSLight Hub</title>

    <!-- font css -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- jquery & jqgrid ui css-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.4.1/css/ui.jqgrid.css" />

    <!-- bootstrap & adminLTE css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/admin-lte@3.2.0/dist/css/adminlte.min.css">

	<link rel="stylesheet" th:href="@{/css/summernote/summernote-bs4.min.css}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs4.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css" rel="stylesheet" />

    <!-- localization file for custom UI css -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- jQuery - JavaScript Library -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- jQuery Migrate - JavaScript Library for jQuery Compatibility -->
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- jQuery UI - JavaScript Library for User Interface Widgets -->
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <!-- jQuery File Upload File Upload Plugin -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-file-upload/4.0.11/jquery.uploadfile.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <!-- moment min -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <!-- date-range-picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
       <!-- Localization File for English (jqGrid) -->
    <script th:src="@{/js/jqgrid4.7/js/i18n/grid.locale-en.js}"></script>
    <!-- jqGrid Library - jQuery Grid Plugin -->
    <script th:src="@{/js/jqgrid4.7/js/jquery.jqGrid.js}"></script>
    <script th:src="@{/js/jqgrid4.7/js/grid.custom.js}"></script>
    <!-- Bootstrap 4 - HTML, CSS, and JavaScript Framework -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE - JavaScript for AdminLTE Template -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2.0/dist/js/adminlte.min.js"></script>
    <script th:src="@{/js/summernote/summernote-bs4.min.js}"></script>
    <!-- Common function js -->
    <script th:src="@{/js/basic.js}"></script>
    <!-- Grid Common function js -->
    <script th:src="@{/js/grid.comonFunc.js}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>

    <!-- Configure jqGrid Settings -->
    <script type="text/javascript">
        $.jgrid.no_legacy_api = true;
        $.jgrid.useJSON = true;
    </script>
</head>
</th:block>
</html>