@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-tap-highlight {
    -webkit-tap-highlight-color: transparent; /* Safari and other WebKit-based browsers */
    tap-highlight-color: transparent; /* Most other browsers */
  }
}
