<div class="pop mergeOssCheckPop" style="width: 650px;position: fixed !important;">
    <h5 class="mt-3"><strong>Select OSS</strong></h5>
    <hr class="my-2"/>
    <div class="text-danger"><strong class="red">This OSS has multiple versions. </strong></div>
    <div class="text-lg-gray">All versions are deleted or merged. Please Check Again.</div>
    <div style="font-size: 25px;" id="div_mergeOssCheckPop_change"></div>
    <div class="popdata">
        <!-- 검색 리스트 -->
        <div class="my-2">
            <table id="_ossMergeCheckList"><tr><td></td></tr></table>
        </div>
        <!-- //검색 리스트 -->
    </div>
    <div class="pbtn">
        <input type="button" value="Cancel" class="btn btn-outline-dark btnCancel btnColor width-6rem" />
        <input type="button" value="OK" id="mergeOssSubmit" class="btn btn-dark btnColor red width-6rem" />
    </div>

    <th:block th:replace="fragments/common-fragments :: loadingWrapFragment"></th:block>
</div>