# OSS Name : peter-evans-docker-compose-actions-workflow
# SPDX-License-Identifier: MIT

name: Pull requests fosslight

on:
  pull_request:
    branches:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: docker-compose up --build -d
      - name: Sleep for 30 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '30s'
      - name: Check running containers
        run: docker-compose ps
      - name: Save docker-compose logs
        run: docker-compose logs --no-color web > docker-compose-web.log && docker-compose logs --no-color db > docker-compose-db.log
      - name: Check the site
        run: docker run --network container:fosslight_web appropriate/curl -s --retry 3 --retry-connrefused http://localhost:8180/session/login
      - name: Stop containers
        if: always()
        run: docker-compose down
      - name: Show db container log
        run: cat docker-compose-db.log
      - name: Show web container log
        run: cat docker-compose-web.log
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_IP }}
          username: ${{ secrets.REMOTE_SSH_ID }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          script: |
            whoami
            touch soim
