<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="script">
    <script th:inline="javascript">
        let ossNames = [];
        let objs = [];
        let licenseNames = [];
        let isAdmin = 'true';
        // [[ ${@CommonFunction.isAdmin() }]];
        let totalRow = 0;
        let G_ROW_CNT = [[ ${@CoCodeManager.getCodeExpString(@CommonFunction.getCoConstDefVal('CD_EXCEL_DOWNLOAD'), @CommonFunction.getCoConstDefVal('CD_MAX_ROW_COUNT')) }]];
        let selectedRow = new Array();
        let multiSelectFlag = false;
        let confirmFlag = false;

        $(window).load(function () {
            'use strict';

            setMaxRowCnt(G_ROW_CNT); // maxRowCnt 값 setting
            binary_evt.init();
            binary_grid.load();
        });

        const binary_evt = {
            init: function () {
                $('#updateRange').daterangepicker();

                $('#search').on('click', function (e) {
                    e.preventDefault();

                    var postData = $('#batSearch').serializeObject();
                    $("#list").jqGrid('setGridParam', {postData:postData, page : 1, url: "/binary/listAjax" }).trigger('reloadGrid');
                    resizingJqGidSet();
                });
            }
        }

        const binary_fn = {
            getMaxIdNo: function(){
                var ids = [];
                ids = $("#list").jqGrid('getDataIDs');

                return (ids.length == 0) ? 0 : Math.max.apply(Math, ids);
            },
        }

        const binary_grid = {
            modifyRowId: [],		//수정된 모든 rowID
            lastEditRowId: '',		//마지막 수정된 rowId 저장 변수
            lastIdNo: '',			//서버에서 가져온 마지막 ID
            load: function () {
                binary_grid.modifyRowId = [];
                binary_grid.lastEditRowId = "";

                //그리드 생성
                $('#list').jqGrid({
                    type:"GET"
                    , datatype: 'json'
                    , jsonReader: {
                        repeatitems: false,
                        id: 'batId',
                        root: function (obj) {
                            return obj.rows;
                        },
                        page: function (obj) {
                            return obj.page;
                        },
                        total: function (obj) {
                            return obj.total;
                        },
                        records: function (obj) {
                            return obj.records;
                        }
                    }
                    ,
                    colNames: ['batId', 'Binary File name', 'Binary location', 'Source path (Android models only)', 'OSS Name', 'OSS Version', 'License', 'Download Location', 'Project Name', 'Platform Name', 'Platform Version', 'Checksum', 'Tlsh', 'Update Date', 'Comment']
                    ,
                    colModel: [
                        {name: 'batId', index: 'batId', hidden: true, key: true},
                        {
                            name: 'fileName',
                            index: 'fileName',
                            width: 150,
                            allign: 'left',
                            editable: true,
                            template: searchStringOptions
                        },
                        {
                            name: 'pathName',
                            index: 'pathName',
                            width: 150,
                            allign: 'left',
                            editable: true,
                            template: searchStringOptions
                        },
                        {
                            name: 'sourcePath',
                            index: 'sourcePath',
                            width: 150,
                            allign: 'left',
                            editable: true,
                            template: searchStringOptions
                        },
                        {
                            name: 'ossName',
                            index: 'ossName',
                            width: 150,
                            allign: 'left',
                            editable: true,
                            template: searchStringOptions,
                            editoptions: {
                                dataInit:
                                    function (e) {
                                        // ossName auto complete
                                        $(e).autocomplete({
                                            source: ossNames
                                            , minLength: 3
                                            , open: function () {
                                                $(this).attr('state', 'open');
                                            }
                                            , close: function () {
                                                $(this).attr('state', 'closed');
                                            }
                                        }).focus(function () {
                                            if ($(this).attr('state') != 'open') {
                                                $(this).autocomplete("search");
                                            }
                                        }).on('autocompletechange', function () {
                                            if (e.value != "") {
                                                var rowid = (e.id).split('_')[0];
                                                fn.griOssVersions($('#ossVersion'), e.value, 'list');
                                            }
                                        });

                                        currentOssName = e.value;
                                    }
                            }
                        },
                        {
                            name: 'ossVersion',
                            index: 'ossVersion',
                            width: 80,
                            align: 'left',
                            editable: true,
                            template: searchStringOptions
                        },
                        {
                            name: 'license',
                            index: 'license',
                            width: 150,
                            align: 'left',
                            editable: true,
                            template: searchStringOptions,
                            editoptions: {
                                dataInit: function (e) {
                                    // licenseName auto complete
                                    $(e).autocomplete({
                                        source: licenseNames
                                        , minLength: 0
                                        , open: function () {
                                            $(this).attr('state', 'open');
                                        }
                                        , close: function () {
                                            $(this).attr('state', 'closed');
                                        }
                                    }).focus(function () {
                                        if ($(this).attr('state') != 'open') {
                                            $(this).autocomplete("search");
                                        }
                                    });

                                    // set license data
                                    $(e).on("autocompletechange", function () {
                                    });
                                }
                            }
                        },
                        {
                            name: 'downloadlocation',
                            index: 'downloadlocation',
                            width: 100,
                            align: 'left',
                            formatter: 'link',
                            formatoptions: {target: '_blank'},
                            editable: true,
                            template: searchStringOptions
                        },
                        {
                            name: 'parentName',
                            index: 'parentName',
                            width: 100,
                            align: 'left',
                            editable: true,
                            template: searchStringOptions
                        },
                        {
                            name: 'platformName',
                            index: 'platformName',
                            width: 100,
                            align: 'left',
                            editable: true,
                            template: searchStringOptions
                        },
                        {
                            name: 'platformVersion',
                            index: 'platformVersion',
                            width: 100,
                            align: 'left',
                            editable: true,
                            template: searchStringOptions
                        },
                        {
                            name: 'checkSum',
                            index: 'checkSum',
                            width: 150,
                            allign: 'center',
                            editable: true,
                            hidden: true
                        },
                        {
                            name: 'tlshCheckSum',
                            index: 'tlshCheckSum',
                            width: 150,
                            allign: 'center',
                            editable: true,
                            hidden: true
                        },
                        {
                            name: 'updateDate',
                            index: 'updateDate',
                            width: 100,
                            align: 'left',
                            editable: false,
                            formatoptions: {srcformat: 'Y-m-d H:i:s.t', newformat: 'Y-m-d'},
                            template: searchDateOptions
                        },
                        {
                            name: 'comment',
                            index: 'comment',
                            width: 150,
                            editable: true,
                            hidden: true,
                            edittype: 'textarea',
                            editoptions: {maxlength: 2048, rows: 5},
                            editrules: {edithidden: true},
                            template: searchStringOptions
                        }
                    ]
                    ,
                    editurl: 'clientArray'
                    ,
                    rowNum: [[${@CommonFunction.getCoConstDefVal("DISP_PAGENATION_DEFAULT")}]]
                    //           <c:if test="${ct:isAdmin() eq true}">
                    //             , rowList:	[${ct:getConstDef('DISP_BINARYDB_PAGENATION_LIST_STR')}]
                    //           </c:if>
                    // <c:if test="${ct:isAdmin() ne true}">
                    //   , rowList:	[${ct:getConstDef('DISP_PAGENATION_LIST_STR')}]
                    // </c:if>
                    ,
                    autowidth: true
                    ,
                    pager: '#pager'
                    ,
                    gridview: true
                    ,
                    sortable: function (permutation) {
                    }
                    ,
                    sortname: 'fileName'
                    ,
                    viewrecords: true
                    ,
                    sortorder: 'asc'
                    ,
                    loadonce: false
                    ,
                    height: 'auto'
                    ,
                    multiselect: true
                    ,
                    onSelectRow: function (rowid, iRow, iCol, e) {
                        // 마지막 수정된 row 저장
                        if (binary_grid.lastEditRowId && rowid != binary_grid.lastEditRowId) {
                            fn.saveLastRow();
                        }

                        binary_grid.lastEditRowId = rowid;
                    }
                    ,
                    loadComplete: function (data) {
                        totalRow = data.records;
                        // id(key값)의 max값을 lastIdNo에 설정
                        binary_grid.lastIdNo = binary_fn.getMaxIdNo();

                        confirmFlag = false;
                    },
                    ondblClickRow: function (rowid, iRow, iCol, e) {
                    }
                });

                $("#list").jqGrid('navGrid', "#pager", {
                    edit: isAdmin,
                    add: false,
                    del: isAdmin,
                    search: false,
                    refresh: false
                }, updateDialogEdit, null, updateDialogDel);

                $("#list").jqGrid('filterToolbar', {
                    stringResult: true,
                    searchOnEnter: true,
                    searchOperators: true,
                    defaultSearch: "cn"
                });
            }
        }

        const updateDialogEdit = {
            url:"/binary/modAjax"
            , closeAfterEdit: true
            , reloadAfterSubmit: true
            , modal: true
            , serializeEditData : function(postdata) {
                if(multiSelectFlag){
                    var postdataArr = new Array();

                    for( var i in selectedRow) {
                        var obj = $('#list').getRowData(selectedRow[i]);
                        var editRowId = $("#FrmGrid_list  #filename").attr("rowid");
                        var editRowData = $("#list").getRowData(editRowId);

                        if(postdata["ossName"] != editRowData["ossName"]){
                            obj["ossName"] 	= postdata["ossName"];
                        }

                        if(postdata["ossVersion"] != editRowData["ossVersion"]){
                            obj["ossVersion"] = postdata["ossVersion"];
                        }

                        if(postdata["license"] != editRowData["license"]){
                            obj["license"] 	= postdata["license"];
                        }

                        if(postdata["comment"] != editRowData["comment"]){
                            obj["comment"] 	= postdata["comment"];
                        }

                        obj["updateDate"]	= postdata["updateDate"];
                        obj["oper"]			= postdata["oper"];
                        // id => concat( filename , '-' , checksum, '-', COALESCE(ossname,''), '-', COALESCE(ossversion,''), '-', COALESCE(license,'') )
                        obj["id"]			= selectedRow[i];

                        postdataArr.push(obj);
                    }

                    return {"parameter":JSON.stringify(postdataArr)};
                } else {
                    return postdata;
                }
            }
            , beforeShowForm: function(formid) {
                fn.getSelectedRowCnt();

                if(multiSelectFlag){
                    $("#pathName", formid).attr("disabled","disabled");
                    $("#sourcePath", formid).attr("disabled","disabled");
                    $("#parentName", formid).attr("disabled","disabled");
                    $("#platformName", formid).attr("disabled","disabled");
                    $("#platformVersion", formid).attr("disabled","disabled");
                }

                $("#fileName", formid).attr("disabled","disabled");
                $("#checkSum", formid).attr("disabled","disabled");
                $("#tlshCheckSum", formid).attr("disabled","disabled");
                $("#downloadlocation", formid).attr("disabled","disabled");
            }
            , afterSubmit: function(response, postdata) {
                if("false" == response.responseJSON.isValid) {
                    onError();
                    createValidMsg('FrmGrid_list', response.responseJSON);

                    return [false, '[[ #{msg.common.valid} ]]', ""]
                } else {
                    onSuccess();

                    return [true,"",""]
                }
            }
            , beforeSubmit: function(postdata, formid) {
                $("span.retxt", formid).remove();

                if(multiSelectFlag && !confirmFlag){
                    var result = "";

                    alertify.confirm("More than one binary information will be modified.<br>Would you like to continue?"
                        , function(){
                            confirmFlag = true;
                            $("#sData").trigger("click");
                            result = [true];
                        }
                        , function(){
                            $("#cData").trigger("click");
                            result = [false];
                        });

                    return result;
                } else {
                    return [true];
                }
            }
        }

        const updateDialogDel = {
            url:"/binary/modAjax"
            , closeAfterDel: true
            , reloadAfterSubmit: true
            , modal: true
            , onclickSubmit: function(params, rowid) {
                var ajaxData = {};
                var list = $("#list");
                var selectedRow = list.jqGrid("getGridParam", "selarrrow");
                //ajaxData = {ids: selectedRow};
                return ajaxData;
            }
            , afterSubmit: function(response, postdata) {
                if("false" == response.responseJSON.isValid) {
                    onError();

                    return [false, '[[ #{msg.common.valid} ]]', ""]
                } else {
                    onSuccess();
                    $("#list").jqGrid().trigger('reloadGrid');

                    return [true,"",""]
                }
            }
        };

    </script>
</th:block>