<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
    <th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
    <th:block th:replace="binary/list-script :: script"></th:block>

    <body class="hold-transition sidebar-mini" style="height: 100%;">
    <div class="wrapper">
        <div class="content-wrapper custom-layout vulnerability bg-white">
            <section class="content-header"></section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <form class="mb-0" id="batSearch" name="batSearch" onsubmit="return false;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-dark card-outline collapsed-card search-form mb-3">
                                    <!-- <div class="card collapsed-card search-form"> -->
                                    <div class="card-header" style="border-bottom: none">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="input-group">
                                                        <input class="form-control" name="fileName"
                                                               placeholder="Binary Name" type="text" value=""/>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default" id="search" type="submit">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 d-flex justify-content-start mx-2">
                                                <div class="input-group-append d-flex align-items-center">
                                                    <a class="text-blue-gray" data-card-widget="collapse"
                                                       style="font-size: 1rem" title="Collapse">
                                                        <!-- <i class="fas fa-cart-plus fa-lg mr-2"></i> -->
                                                        + advanced Search
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body py-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="parentName"
                                                           placeholder="Project Name"
                                                           th:value="${searchBean.parentName}" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input class="form-control autoComOss" name="ossName"
                                                               placeholder="OSS Name"
                                                               th:value="${searchBean.ossName}" type="text"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="input-group" style="width: 100%">
                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-calendar-alt"></i>
                                                                </span>
                                                        </div>
                                                        <input class="form-control" id="updateRange"
                                                               placeholder="Updated Date" type="text"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="platformName"
                                                           placeholder="Platform Name" th:value="${searchBean.platformName}"
                                                           type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input class="form-control" name="ossVersion"
                                                               placeholder="OSS Version" th:value="${searchBean.ossVersion}"
                                                               type="text"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="tlshCheckSum" placeholder="TLSH"
                                                           th:value="${searchBean.tlshCheckSum}" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group mb-1">
                                                    <input class="form-control" name="platformVersion"
                                                           placeholder="Platform Version"
                                                           th:value="${searchBean.platformVersion}" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group mb-1">
                                                    <input class="form-control" name="license"
                                                           placeholder="License Name" th:value="${searchBean.license}"
                                                           type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group mb-1">
                                                    <input class="form-control" name="checkSum" placeholder="Checksum"
                                                           th:value="${searchBean.checkSum}" type="text"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12 mt-3" style="overflow-x: scroll">
                            <div class="jqGridSet">
                                <table id="list">
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>
                                <div id="pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row px-1 mt-2">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="row float-right nav-item">
                            <button class="btn btn-teal-01 btn-sm width-6rem mr-xm px-3" type="button" onclick="fn.downloadExcel()">Export</button>
                            <button th:if="${@CommonFunction.isAdmin()}" type="button" class="btn btn-dark-01 btn-sm width-6rem mr-xm px-3 btn-transition-page" id="btnSaveBat" href="javascript:;">Save</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </body>
</th:block>
