<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
    <th:block th:replace="fragments/detail-script :: detailScriptFragment"></th:block>
    <th:block th:replace="binary/list-script :: script"></th:block>

    <body class="hold-transition sidebar-mini" style="height: 100%;">
    <div class="wrapper">
        <div class="content-wrapper custom-layout vulnerability bg-white">
            <form id="batSearch" name="batSearch">
                <section class="content-header"></section>
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-dark card-outline collapsed-card search-form mb-3">
                                    <!-- <div class="card collapsed-card search-form"> -->
                                    <div class="card-header" style="border-bottom: none">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="input-group">
                                                        <input class="form-control" name="fileName"
                                                               placeholder="Binary Name" type="text"/>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-default" type="submit">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 d-flex justify-content-start mx-2">
                                                <div class="input-group-append d-flex align-items-center">
                                                    <a class="text-blue-gray" data-card-widget="collapse"
                                                       style="font-size: 1rem" title="Collapse">
                                                        <!-- <i class="fas fa-cart-plus fa-lg mr-2"></i> -->
                                                        + advanced Search
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body py-1">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Project Name"
                                                           type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input class="form-control autoComOss" placeholder="OSS Name"
                                                               type="text"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="input-group" style="width: 100%">
                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-calendar-alt"></i>
                                                                </span>
                                                        </div>
                                                        <input class="form-control" id="updateRange" name="schStartDate"
                                                               placeholder="Updated Date" type="text"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="platformName"
                                                           placeholder="Platform Name" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input class="form-control" name="ossVersion"
                                                               placeholder="OSS Version" type="text"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="tlshCheckSum" placeholder="TLSH"
                                                           type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="platformVersion"
                                                           placeholder="Platform Version" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input class="form-control" placeholder="Platform Version"
                                                               type="text"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="license"
                                                           placeholder="License Name" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group mb-1">
                                                    <input class="form-control" name="checkSum" placeholder="Checksum"
                                                           type="text"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row px-1">
                            <div class="col-md-6">
                                <div class="row">
                                    <!-- <button type="button"
                                    class="btn btn-yellow-01 btn-sm width-10rem mr-xm px-3">Bulk Registration</button>
                                <button type="button"
                                    class="btn btn-yellow-01 btn-sm width-6rem mr-xm px-3">Export</button>
                                <button type="button"
                                    class="btn btn-yellow-01 btn-sm width-6rem mr-xm px-3">Add</button>
                                <button type="button"
                                    class="btn btn-yellow-01 btn-sm width-6rem mr-xm px-3">
                                    <i class="far fa-file-excel mr-2"></i>Export</button>
                                <button type="button"
                                    class="btn btn-yellow-03 btn-sm width-6rem mr-xm px-3">Add</button>
                                <button type="button"
                                    class="btn btn-yellow-03 btn-sm width-6rem mr-xm px-3">Export</button> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row float-right">
                                    <button class="btn btn-dark-01 btn-sm width-6rem mr-xm px-3"
                                            onclick="location.href='license-add.html'" type="button">
                                        Export
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mt-3" style="overflow-x: scroll">
                                <div class="jqGridSet">
                                    <table id="list">
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <div id="pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
    </body>


</th:block>
